<template>
    <flex-grid v-bind="$props" class="cds-flex" :class="classStyles">
        <slot></slot>
    </flex-grid>
</template>

<script>
import FlexGrid from './FlexGrid';
export default {
    name: 'flex-grid-layout',
    mixins: [FlexGrid],
    components: {
        FlexGrid
    },
    props: {
        margin_top: { default: '12' },
        margin_bottom: { default: '12' },
        padding_left: { default: '12' },
        padding_right: { default: '12' },
    },
}

</script>