<template>
    <primitive-flex-grid-item v-bind="$props" width="1/4">
        <slot></slot>
    </primitive-flex-grid-item>
</template>

<script>
import PrimitiveFlexGridItem from './PrimitiveFlexGridItem';

export default {
    name: 'flex-grid-fourth',
    mixins: [PrimitiveFlexGridItem],
    components: { PrimitiveFlexGridItem },
}
</script>