<template>
    <primitive-flex-grid-item v-bind="$props" width="1/5">
        <slot></slot>
    </primitive-flex-grid-item>
</template>

<script>
import PrimitiveFlexGridItem from './PrimitiveFlexGridItem';
export default {
    name: 'flex-grid-fifth',
    mixins: [PrimitiveFlexGridItem],
    components: { PrimitiveFlexGridItem },
    props: {
        sm_width: { default: '1/4' },
    },
}
</script>