<template>
    <primitive-flex-grid-item v-bind="$props" width="5/6">
        <slot></slot>
    </primitive-flex-grid-item>
</template>

<script>
import PrimitiveFlexGridItem from './PrimitiveFlexGridItem';
export default {
    name: 'flex-grid-five-sixths',
    components: { PrimitiveFlexGridItem },
    mixins: [PrimitiveFlexGridItem],
    props: {
        sm_width: { default: '3/4' },
    },
}
</script>