<template>
    <primitive-flex-grid-item 
        v-bind="$props"
        class="cds-flex-grow-0"
        width="full"
    >
        <slot></slot>
    </primitive-flex-grid-item>
</template>

<script>
import PrimitiveFlexGridItem from './PrimitiveFlexGridItem';
export default {
    name: 'flex-grid-full',
    mixins: [PrimitiveFlexGridItem],
    components: { PrimitiveFlexGridItem },
    data() {
        return {
            classStyles: [
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getDimensionStyles(),
                ...this.getFontStyles(),
                ...this.getBorderStyles(),
                ...this.getPositionStyles(),
                ...this.getSpacingStyles(),
            ],
        }
    }
}
</script>