<template>
    <div v-bind="$attrs" class="cds-flex" :class="classStyles"><slot/></div>
</template>

<script>
import ComponentBase from '../../../lib/1.0.0/ComponentBase';
export default {
    name: 'flex-grid',
    mixins: [ComponentBase],
    props: {
        width: { default: 'full' },
        direction: { default: 'row' },
        sm_direction: { default: 'col' },
        wrap: { default: 'wrap' },
    },

    data() {
        return {
            classStyles: [
                ...this.getFlexStyles(),
                ...this.getDimensionStyles(),
                ...this.getBorderStyles(),
                ...this.getOpacityStyles(),
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getBgStyles(),
                ...this.getPositionStyles(),
                ...this.getSpacingStyles(),
            ],
        }
    },
}

</script>