<template>
    <primitive-flex-grid-item v-bind="$props" width="2/5">
        <slot></slot>
    </primitive-flex-grid-item>
</template>

<script>
import PrimitiveFlexGridItem from './PrimitiveFlexGridItem';
export default {
    name: 'flex-grid-two-fifths',
    mixins: [PrimitiveFlexGridItem],
    components: { PrimitiveFlexGridItem },
}
</script>