<template>
    <div :class="classStyles"><slot></slot></div>
</template>

<script>
import ComponentBase from '../../../lib/1.0.0/ComponentBase';

export default {
    name: 'primitive-flex-grid-item',
    mixins: [ComponentBase],
    props: {
        width: { default: 'full' },
        sm_width: { default: '' },
        disabled: Boolean,
        // TODO: refactor: remove these defaults, make a new component that uses them
        // margin_top: { default: '12' },
        // margin_bottom: { default: '12' },
        // sm_margin_top: { default: '12' },
        // sm_margin_bottom: { default: '12' },
        // xxl_margin_top: { default: '18' },
        // xxl_margin_bottom: { default: '18' },

        // padding_left: { default: '12' },
        // padding_right: { default: '12' },
        // sm_padding_left: { default: '10' },
        // sm_padding_right: { default: '10' },
        // xxl_padding_left: { default: '12' },
        // xxl_padding_right: { default: '12' },
    },
    data() {
        return {
            classStyles: [
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getDimensionStyles(),
                ...this.getFontStyles(),
                ...this.getBorderStyles(),
                ...this.getPositionStyles(),
                ...this.getFlexStyles(),
                ...this.getOpacityStyles(),
                ...this.getSpacingStyles(),
            ],
        }
    },
}
</script>