<template>
    <flex-cell class="button-tab-item" direction="col" tabindex="-1" @mouseover.stop v-bind="$props">
        <primitive-div v-if="isCurrentTab" v-bind="navCursorBoxProps" :key="navCursorBoxProps" class="cds-flex-center">
            <simple-divider v-bind="navcursor_props" />
        </primitive-div>
        <flex-cell height="auto" direction="row" tabindex="-1" @mouseover.stop role="menu">
            <component v-bind="button?.item_styles" @mouseover="captureHover" @mouseout="loseHover"
                :is="button.component"
                :glyph="button?.glyph" 
                :placeIcon="button?.placeIcon"
                :class="selectedStyles"
                padding_y="4" icon_padding_x="4"
                :margin_left="button.lastItem ? '8px' : ''"
                sm_margin_left="0"
                @click="button.callback"
                @keydown.self.enter.exact="button.callback"
                @focus="[buttonGroupCaptureHover($event, button?.sub_menu_items), checkWidget()]"
				margin_right="0px"
                :aria-current="button?.is_current_tab || selected"
                :aria-controls="button?.controls"
                :aria-haspopup="hasPopup(button)"
                :aria-expanded="isExpanded(button)"
                role="menuitem"
            >
                {{button.content}}
            </component>
        </flex-cell>
            <!-- dropdown -->
            <slot />
    </flex-cell>
</template>

<script>
import ComponentBase from '../../../lib/1.0.0/ComponentBase';
import SelectableBase from '../../../lib/1.0.0/SelectableBase';
import HoverBase from '../../../lib/1.0.0/HoverBase';
import { defineAsyncComponent } from 'vue';
const FlexCell = defineAsyncComponent(() => import('../../../flex/1.0.0/cell/FlexCell'));
const ButtonTabItemType = defineAsyncComponent(() => import('../lib/ButtonTabItemType'));
const SimpleDivider = defineAsyncComponent(() => import('../../../dividers/1.0.0/SimpleDivider'));
const PrimitiveDiv = defineAsyncComponent(() => import('../../../lib/1.0.0/PrimitiveDiv'));
const PrimitiveButton = defineAsyncComponent(() => import('../primitive/PrimitiveButton'));
const PrimitiveCompactButton = defineAsyncComponent(() => import('../primitive/PrimitiveCompactButton'));
const PrimaryButton = defineAsyncComponent(() => import('../primary/PrimaryButton'));
const PrimaryCompactButton = defineAsyncComponent(() => import('../primary/PrimaryCompactButton'));
const SecondaryButton = defineAsyncComponent(() => import('../secondary/SecondaryButton'));
const SecondaryCompactButton = defineAsyncComponent(() => import('../secondary/SecondaryCompactButton'));
const TextButton = defineAsyncComponent(() => import('../text/TextButton'));
const TextCompactButton = defineAsyncComponent(() => import('../text/TextCompactButton'));
const TextButtonSmall = defineAsyncComponent(() => import('../text/TextButtonSmall'));
export default {
    name: 'button-tab-item',
    components: {
        FlexCell,
        SimpleDivider,
        PrimitiveDiv,
        PrimitiveButton,
        PrimitiveCompactButton,
        PrimaryButton,
        PrimaryCompactButton,
        SecondaryButton,
        SecondaryCompactButton,
        TextButton,
        TextCompactButton,
        TextButtonSmall,
    },
    mixins: [ComponentBase, SelectableBase, HoverBase],
    emits: ['tabItemClick', 'contactModal'],
    computed: {
        selectedStyles() {
            const selected = (this.selected || this.button?.is_current_tab);
            const selectedbg = this.button?.item_styles?.selected_bgcolor 
                                ? this.button?.item_styles?.selected_bgcolor 
                                : this.selected_bgcolor;

            const selected_border_color = this.button?.item_styles?.selected_border_color 
                                        ? this.button?.item_styles?.selected_border_color 
                                        : this.selected_border_color;

            const selected_border_width = this.button?.item_styles?.selected_border_width
                                        ? this.button?.item_styles?.selected_border_width
                                        : this.selected_border_width;

            const selected_ring_width = this.button?.item_styles?.selected_ring_width
                                        ? this.button?.item_styles?.selected_ring_width
                                        : this.selected_ring_width;

            const selected_ring_color = this.button?.item_styles?.selected_ring_color
                                        ? this.button?.item_styles?.selected_ring_color
                                        : this.selected_ring_color;

            const selected_text_color = this.button?.item_styles?.selected_text_color
                                        ? this.button?.item_styles?.selected_text_color
                                        : this.selected_text_color;

            const bgcolor = selected ? selectedbg : this.button?.item_styles?.bgcolor;
            
            const hoverbg = this.button?.item_styles?.hoverbg;
            const focusbg = selected ? selectedbg : this.button?.item_styles?.focusbg;
            const activebg = selected ? selectedbg : this.button?.item_styles?.activebg;
            
            const border_color = selected ? selected_border_color : this.button?.item_styles?.border_color;
            const border_width = selected ? selected_border_width : this.button?.item_styles?.border_width;
            const ring_width = selected ? selected_ring_width : this.button?.item_styles?.ring_width;
            const ring_color = selected ? selected_ring_color : this.button?.item_styles?.ring_color;
            const text_color = selected ? selected_text_color : this.button?.item_styles?.text_color;
            
            return [
                this.getBgColor('', false, bgcolor),
                this.getBgColor('hover', false, hoverbg),
                this.getBgColor('focus', false, focusbg),
                this.getBgColor('active', false, activebg),
                this.getBorderColor('', this.disabled, border_color),
                this.getBorderWidth('', this.disabled, border_width),
                this.getBorderColor('hover', this.disabled, this.button?.item_styles?.hover_border_color),
                this.getBorderWidth('hover', this.disabled, this.button?.item_styles?.hover_border_width),
                this.getBorderColor('active', this.disabled, border_color),
                this.getBorderWidth('active', this.disabled, border_width),
                this.getBorderColor('focus', this.disabled, border_color),
                this.getBorderWidth('focus', this.disabled, border_width),

                this.getTextColor('', text_color),
                this.getBorderRingWidth('', this.disabled, ring_width),
                this.getBorderRingColor('', this.disabled, ring_color),
            ];
        },
        isCurrentTab() {
            return (this.button?.is_current_tab | this.selected | this.on);
        },
        navCursorBoxProps() {
            let props = {...this.nav_cursor_box_props};
            // when hover causes button tab item height changes, the cursor position must also change
            // this property allows specific overriding for this purpose, but these styles shouldn't be merged
            const hoverTop = this.navcursor_box_props?.hover_top ?? '64px';
            props.top = this.hovering ? hoverTop : '64px';
            return props;
        },
    },
    props: {
        navcursor_props: { default: {} },
        navcursor_box_props: { default: {} },
        disabled: Boolean,
        button: ButtonTabItemType,
        bgcolor: { default: 'transparent' },
        z_index: { default: '99999' },
        position: { default: 'relative' },
        selected_bgcolor: { default: 'transparent' },
        selected_border_color: { default: 'transparent' },
        selected_border_width: { default: '0' },
        selected_ring_color: { default: 'transparent' },
        selected_ring_width: { default: '0' },
        selected_text_color: { default: 'snow' },
    },
    data() {
        return {
            showing: false,
            widget_hovering: false,
            nav_cursor_box_props: {
                width: 'full',
                height: 'full',
                position: 'relative',
                left: this.button.lastItem ? null : '-3px',
                sm_left: this.button.lastItem ? null : '-8px',
            },
        }
    },
    methods: {
        hasPopup(button) {
            if (!button?.sub_menu_items) {
                return null;
            }
            return (button?.sub_menu_items?.length > 1);
        },
        isExpanded(button) {
            if (!button?.sub_menu_items) {
                return null;
            }
            return (button?.sub_menu_items && (this.showing || this.widget_hovering))
        },
    },
}
</script>