<template>
    <flex-cell class="focus:cds-outline-none" v-bind="boxProps" direction="col" width="full" 
        @mouseleave="buttonGroupLoseHover" tabindex="-1"
    >
        <flex-cell tabindex="-1" direction="row" align_items="center" justify_content="start" 
            rounded="DEFAULT" width="full" :height="boxHeight" role="menu"
        >
            <button-tab-item ref="menuItem" class="focus:cds-outline-none cds-rounded-t"
                id_prefix="button-tabs"
                :disabled="disabled"
                v-for="(button, index) in buttons"
                :key="index"
                :button="button"
                v-bind="buttonProps"
                :navcursor_props="cursorProps"
                :navcursor_box_props="cursorBoxProps"
                :aria-haspopup="(button?.sub_menu_items?.length > 1)"
                :aria-expanded="button?.sub_menu_items?.length && showing"
                @click.stop="moreButton($event, buttons, button?.lastItem)"
                @keyup.self.enter.exact.stop="moreButton($event, buttons, button?.lastItem)"
                @keyup.self.shift.tab.exact.stop="focusMore"
                @keyup.enter.exact.stop="[accessible(button?.lastItem)]"
				:bgcolor="tab_color"
				rounded="none" hover_rounded="DEFAULT"
                role="menuitem"
            >
                <primitive-div v-bind="dropdownProps" tabindex="-1"
                    @keyup.esc.exact.stop="[accessibleEsc($event)]"
                    v-if="button?.sub_menu_items?.length && button?.lastItem"
                    class="focus:cds-outline-none" 
                >
                    <transition name="cds-dropdown">
                        <dropdown v-if="button?.sub_menu_items?.length && showing"
                            :id="dropdownId"
                            :menu_items="button.sub_menu_items"
                            :item_props="itemProps()"
                            :list_item_props="Object.assign(itemProps(), listItemProps)"
                            @click.stop="buttonGroupLoseHover"
                            @keyup.enter.exact.stop="buttonGroupLoseHover"
                            @closedropdown="[tabCloseWidget($event)]"
                        />
                    </transition>
                </primitive-div>
            </button-tab-item>
        </flex-cell>
        <!-- nav bar -->
        <flex-cell v-if="showCursor" v-bind="navBarBoxProps" :bgcolor="tab_color">
            <simple-divider v-bind="barProps" />
        </flex-cell>
    </flex-cell>
</template>

<script>
import ComponentBase from '../../../lib/1.0.0/ComponentBase';
import ButtonBase from '../lib/ButtonBase';
import HoverBase from '../../../lib/1.0.0/HoverBase';
import ToggleBase from '../../../lib/1.0.0/ToggleBase';
import { defineAsyncComponent } from 'vue';
const FlexCell = defineAsyncComponent(() => import('../../../flex/1.0.0/cell/FlexCell'));
const ButtonTabItem = defineAsyncComponent(() => import('./ButtonTabItem'));
const SimpleDivider = defineAsyncComponent(() => import('../../../dividers/1.0.0/SimpleDivider'));
const PrimitiveDiv = defineAsyncComponent(() => import('../../../lib/1.0.0/PrimitiveDiv'));
const Dropdown = defineAsyncComponent(() => import('../../../dropdown/1.0.0/Dropdown'));
export default {
    name: 'button-tab-group',
    components: {
        FlexCell,
        ButtonTabItem,
        SimpleDivider,
        PrimitiveDiv,
        Dropdown,
    },
    mixins: [ComponentBase, ButtonBase, HoverBase, ToggleBase],
    emits: ['tabItemClick', 'zTop', 'contactModal'],
    props: {
        tab_cursor: { default: true },
        group_props: Object,
        dropdown_props: Object,
        item_props: Object,
        navbar_props: Object,
        navcursor_props: Object,
        navcursor_box_props: Object,
		tab_color: { default: 'transparent' },
        buttons: { default: [] },
    },
    created() {
        window.addEventListener('click', this.clickOutside);
    },
    unmounted() {
        window.removeEventListener('click', this.clickOutside);
    },
    computed: {
        showCursor() {
            return this.tab_cursor;
        },
        boxHeight() {
            return !this.showCursor ? 'full' : 'auto';
        },
        cursorBoxProps() {
            return this.navcursor_box_props;
        },
    },
    methods: {
        clickOutside(event) {
            this.tabCloseWidget(event);
        },
        focusMore() {
            this.$refs.menuItem.$el.firstElementChild.firstElementChild.focus();
        },
        checkTabs(event, clickOut = true) {
            // prevents double toggle from both click and focus events
            // must be able to read the click event since the button may already be in focus
            if (event.type === 'click' || (event.type === 'keyup')) {
                // closes all other tab groups first
                if (clickOut) document.body.click();
                if (!this.showing) {
                    this.toggleWidget();
                }
            }
        },
        accessible(lastItem) {
            if (!lastItem) return;
            setTimeout(() => {
                this.captureHover();
                this.$emit('zTop', true);
            }, 250);
            this.$refs.menuItem.$el.click();
            setTimeout(() => {
                document.getElementById(this.dropdownId)?.getElementsByTagName('li')[0]?.getElementsByTagName('button')[0]?.focus();
            }, 350);
        },
        accessibleEsc(event) {
            this.focusMore();
            this.tabCloseWidget(event);
            this.loseHover();
        },
        itemProps() {
            return {
                width: '220px',
                min_width: '220px',
                max_width: '220px',
                focus_visible_width: '128px',
                focus_visible_min_width: '128px',
                focus_visible_max_width: '128px',
            }
        },
        groupProps() {
            return {
                gap_x: this.gap_x ?? '10',
            }
        },
        menuProps() {
            return {
                width: 'auto',
                position: 'absolute',
                top: '30px',
                left: '-144px',
                sm_left: '-133px',
                overflow_y: 'hidden',
                overflow_x: 'visible',
                margin_top: '0',
                margin_bottom: '0',
                margin_x: '0',
                bgcolor: 'snow',
                selected_bgcolor: 'fullFathom',
                selected_border_color: 'tranquilSea',
                selected_border_width: '1px',
                selected_ring_color: 'transparent',
                selected_ring_width: '0',
                selected_text_color: 'snow',
                rounded: 'DEFAULT',
            }
        },
        moreButton(event, buttons, lastItem) {
            if (!lastItem) return;
            this.buttonGroupCaptureHover(event, buttons);
            this.checkTabs(event, false);
            return false;
        },
        navBarProps() {
            return {
                display: 'flex',
                border_width: '4',
                rounded: '4', 
                border_color: 'winterNoon', 
                width: 'full',
            }
        },
        navCursorProps() {
            return {
                min_width: '120px',
                sm_min_width: '124px',
                border_color: 'winterEvening',
                border_width: '8',
                rounded: '8',
                position: 'absolute',
                top: '-6px',
                left: '3px',
            }
        },
    },
    data() {
        return {
            navBarBoxProps: {
                width: 'full',
                sm_width: 'full',
                direction: 'row',
                justify_content: 'center',
                align_items: 'center', 
            },
            listItemProps: {
                position: 'relative',
                z_index: '9999',
            },
            dropdownId: this.getId('tabs'),
            boxProps: Object.assign(this.groupProps(), this.group_props),
            buttonProps: Object.assign(this.itemProps(), this.item_props),
            dropdownProps: Object.assign(this.menuProps(), this.dropdown_props),
            barProps: Object.assign(this.navBarProps(), this.navbar_props),
            cursorProps: Object.assign(this.navCursorProps(), this.navcursor_props),
        }
    },
}
</script>