<template>
    <secondary-button class="focus:cds-outline-none cds-subpixel-antialiased cds-whitespace-nowrap cds-ring-inset cds-overflow-ellipsis cds-overflow-hidden"
        :class="classStyles"
        v-bind="selectedProps"
        :bgcolor="isCurrentTab ? selected_bgcolor : bgcolor"
        :autofocus="autoFocus"
        role="tab"
        :aria-controls="button?.controls"
		:aria-selected="selected"
		:aria-disabled="ariaDisabled"
		:disabled="ariaDisabled"
		:aria-label="ariaLabel"
        :glyph="button?.glyph" 
        :placeIcon="button?.placeIcon"
        @click.stop="[button.callback($event), tabItemClicked(button?.content)]"
        @tabItemClick="$emit('tabItemClick', $event)"
        tabindex="0"
        :title="button?.content ?? ' '"
    >
        {{ button?.content }}
    </secondary-button>
</template>

<script>
import { defineAsyncComponent, inject } from 'vue';
import ButtonBase from '../lib/ButtonBase';
import SelectableBase from '../../../lib/1.0.0/SelectableBase';
const SecondaryButton = defineAsyncComponent(() => import('../../../buttons/1.0.0/secondary/SecondaryButton'));
const ButtonTabItemType = defineAsyncComponent(() => import('../lib/ButtonTabItemType'));

export default {
    name: 'button-segment',
    components: {
        SecondaryButton,
    },
    mixins: [ButtonBase, SelectableBase],
    emits: ['tabItemClick'],
    props: {
        control_length: { default: 0 },
        current_item: { default: 0 },
        dropdown_label: { default: '' },
        button: ButtonTabItemType,
        multiple: { default: false },
        vertical: { default: false },
        height: { default: '40px' },
        min_height: { default: '40px' },
        max_height: { default: '40px' },
    },
    methods: {
        tabItemClicked(event) {
            if (event !== this.dropdown_label) {
                this.toggle();
                this.$emit('tabItemClick', event);
            }
        },
    },
    computed: {
        getButton() {
            return this.button;
        },
        getSegmentLimit() {
            return this.currentBreakpoint === 'sm' ? 2 : 12;
        },
        selectedProps() {
            const isSelect = Boolean(this.isCurrentTab);
            return {
                bgcolor: isSelect ? this.selected_bgcolor : this.bgcolor,
                hoverbg: this.hoverbg,
                focusbg: isSelect ? this.selected_bgcolor : this.focusbg,
                activebg: isSelect ? this.selected_bgcolor : this.activebg,
                disabledbg: isSelect ? this.selected_bgcolor : this.disabledbg,
                border_color: isSelect ? this.selected_border_color : this.border_color,
                hover_border_color: isSelect ? this.selected_border_color : this.hover_border_color,
                active_border_color: isSelect ? this.selected_border_color : this.active_border_color,
                focus_border_color: isSelect ? this.selected_border_color : this.focus_border_color,
                disabled_border_color: isSelect ? this.selected_border_color : this.disabled_border_color,
                ring_width: isSelect ? this.selected_ring_width : this.ring_width,
                ring_color: isSelect ? this.selected_ring_color : this.ring_color,

                text_color: isSelect ? this.selected_text_color : this.text_color,
                hover_text_color: isSelect ? this.selected_text_color : this.hover_text_color,
                active_text_color: isSelect ? this.selected_text_color : this.active_text_color,
                focus_text_color: isSelect ? this.selected_text_color : this.focus_text_color,
                disabled_text_color: this.disabled_text_color,

                leading: this.leading,
                tracking: this.tracking,
                font_family: this.font_family,
                font_weight: this.font_weight,

                direction: this.direction,
                justify_content: this.justify_content,
                align_items: this.align_items,
                width: this.width,
                sm_width: this.sm_width,
                height: this.height,
                sm_height: this.sm_height,
                min_height: this.min_height,
                padding_y: this.padding_y,
                padding_top: this.padding_top,
                padding_bottom: this.padding_bottom,
                border_style: this.border_style,
                hover_border_style: this.hover_border_style,
                active_border_style: this.active_border_style,
              
                hover_ring_width: this.hover_ring_width,
                focus_ring_width: this.focus_ring_width,
                focus_visible_ring_width: this.focus_visible_ring_width,
                active_ring_width: this.active_ring_width,
                disabled_ring_width: this.disabled_ring_width,
                rounded: this.rounded,
            }
        },
        isCurrentTab() {
            let current = ((this.selected & this.on) | (this.button?.is_current_tab | this.on));
            if (this.multiple) {
                current = this.selected | this.on;
            }
            return Boolean(current);
        },
        classStyles() {
            const width = this.isCurrentTab ? this.selected_border_width : '1';
            const rightOn = this.lastItem || this.vertical ? width : '0';
            const topRounded = this.firstItem && this.vertical ? '6' : '';
            const bottomRounded = this.lastItem && this.vertical ? '6' : '';
            const rightRounded = this.lastItem && !this.vertical ? '6' : '';
            const leftRounded = this.firstItem && !this.vertical ? '6' : '';
            const rightSide = this.isCurrentTab || this.vertical ? '1' : '0';
            return [
                this.getBorderWidth('', false, width, width, 'l'),
                this.getBorderWidth('', false, width, width, 't'),
                this.getBorderWidth('', false, width, width, 'b'),
                this.getBorderWidth('', false, rightSide, rightSide, 'r'),
                this.getBorderWidth('hover', false, width, width, 'l'),
                this.getBorderWidth('hover', false, width, width, 't'),
                this.getBorderWidth('hover', false, width, width, 'b'),
                this.getBorderWidth('active', false, width, width, 'l'),
                this.getBorderWidth('active', false, width, width, 't'),
                this.getBorderWidth('active', false, width, width, 'b'),
                this.getBorderWidth('focus', false, width, width, 'l'),
                this.getBorderWidth('focus', false, width, width, 't'),
                this.getBorderWidth('focus', false, width, width, 'b'),
                this.getBorderWidth('', false, rightOn, rightOn, 'r'),
                this.getBorderRadius('', leftRounded, leftRounded, 'l'),
                this.getBorderRadius('', rightRounded, rightRounded, 'r'),
                this.getBorderRadius('', topRounded, topRounded, 't'),
                this.getBorderRadius('', bottomRounded, bottomRounded, 'b'),
            ];
        },
        firstItem() {
            return this.current_item === 0;
        },
        lastItem() {
            return this.current_item === (this.control_length - 1);
        },
    },
    watch: {
        on() {
            this.selected = this.on;
        },
    },
    data() {
        return {
            currentBreakpoint: inject('currentBreakpoint'),
            selected: false,
        }
    },
    mounted() {
        this.selected = Boolean(this.getButton?.is_current_tab);
    },
}
</script>