<template>
    <flex-cell v-bind="boxProps" :key="currentBreakpoint" role="menu" aria-hidden="false">
        <button-group-item
            id_prefix="button-group"
            :disabled="disabled"
            v-for="(button, index) in buttons"
            :key="index"
            :button="button"
            v-bind="buttonProps"
            :list_item_props="dropdownListProps"
            :display="index > columns ? 'hidden' : ''"
            role="menuitem"
        />
    </flex-cell>
</template>

<script>
import ComponentBase from '../../../lib/1.0.0/ComponentBase';
import ButtonBase from '../lib/ButtonBase';
import { defineAsyncComponent, inject } from 'vue';
const FlexCell = defineAsyncComponent(() => import('../../../flex/1.0.0/cell/FlexCell'));
const ButtonGroupItem = defineAsyncComponent(() => import('./ButtonGroupItem'));
export default {
    name: 'button-group',
    components: {
        FlexCell,
        ButtonGroupItem,
    },
    mixins: [ComponentBase, ButtonBase],
    props: {
        role: { default: 'menu' },
        buttons: { default: [] },
        group_limit: { default: 7 },
        disabled: Boolean,
        group_props: Object,
        item_props: Object,
		sm_col: {default: 0},
		md_col: {default: 2},
		lg_col: {default: 4},
		xl_col: {default: 6},
		xxl_col: {default: 7},
    },
    computed: {
        columns() {
            let columns;
            switch(this.currentBreakpoint) {
                case 'sm': {
                    columns = this.smCols;
                    break;
                }
                case 'md': {
                    columns = this.mdCols;
                    break;
                }
                case 'lg': {
                    columns = this.lgCols;
                    break;
                }
                case 'xl': {
                    columns = this.xlCols;
                    break;
                }
                case 'xxl': {
                    columns = this.xxlCols;
                    break;
                }
                default: {
                    columns = 0;
                }
            }
            return this.groupItemWidth(columns);
        },
    },
    methods: {
        /**
         * Set the number of columns the grid can have
         * 
         * @param length number
         * @returns string
         */
        groupItemWidth(length = 7) {
            length = (length <= this.group_limit) ? length : this.group_limit;
            return String(length);
        },
        groupProps() {
            return {
                gap_x: this.gap_x ?? '10',
                margin: this.margin,
                margin_top: this.margin_top,
                margin_bottom: this.margin_bottom,
                sm_margin: this.sm_margin,
                sm_margin_top: this.sm_margin_top,
                sm_margin_bottom: this.sm_margin_bottom,
                xxl_margin: this.xxl_margin, 
                xxl_margin_top: this.xxl_margin_top, 
                xxl_margin_bottom: this.xxl_margin_bottom,
                padding: this.padding, 
                padding_left: this.padding_left, 
                padding_right: this.padding_right,
                sm_padding: this.sm_padding, 
                sm_padding_left: this.sm_padding_left, 
                sm_padding_right: this.sm_padding_right,
                xxl_padding: this.xxl_padding, 
                xxl_padding_left: this.xxl_padding_left, 
                xxl_padding_right: this.xxl_padding_right,
            }
        },
        itemProps() {
            return {
            }
        },
    },
    data() {
        return {
            dropdownListProps: {
                hoverbg: 'snow',
                focusbg: 'snow',
                activebg: 'snow',
            },
            currentBreakpoint: inject('currentBreakpoint'),
            smCols: this.groupItemWidth(this.sm_col),
            mdCols: this.groupItemWidth(this.md_col),
            lgCols: this.groupItemWidth(this.lg_col),
            xlCols: this.groupItemWidth(this.xl_col),
            xxlCols: this.groupItemWidth(this.xxl_col),
            boxProps: Object.assign(this.groupProps(), this.group_props),
            buttonProps: Object.assign(this.itemProps(), this.item_props),
        }
    },
}
</script>