<template>
    <flex-cell class="button-group-item" v-bind="$props" @mouseleave="buttonGroupLoseHover">
        <flex-cell class="cds-flex-right-center cds-relative" role="menu">
            <component ref="menuItem" :class="selectedStyles" class="cds-flex-center"
                :is="button.component" v-bind="button?.item_styles"
                :aria-haspopup="hasPopup(button)"
                :aria-expanded="isExpanded(button)"
                @click="button.callback"
                @keydown.self.enter.exact="button.callback"
                @mouseover="[buttonGroupCaptureHover($event, button?.sub_menu_items), checkWidget()]"
                @focus="[buttonGroupCaptureHover($event, button?.sub_menu_items), checkWidget()]"
                @keydown.self.shift.tab.exact="[tabCloseWidget($event)]"
                :aria-controls="button?.controls"
                aria-live="polite"
                role="menuitem"
            >
                {{button.content}}
            </component>
            <flex-cell v-bind="dropdownBoxProps"
                @focus="[widgetCaptureHover(), checkWidget()]"
                @mouseover="[widgetCaptureHover(), checkWidget()]"
                @blur="widgetLoseHover"
                v-if="button?.sub_menu_items?.length"
            >
                <transition name="cds-dropdown">
                    <dropdown v-if="showing || widget_hovering"
                        :menu_items="button?.sub_menu_items" 
                        @blur="widgetLoseHover"
                        @mouseleave="widgetLoseHover"
                        @closedropdown="[tabCloseWidget($event)]"
                    />
                </transition>
            </flex-cell>
        </flex-cell>
    </flex-cell>
</template>

<script>
import ComponentBase from '../../../lib/1.0.0/ComponentBase';
import SelectableBase from '../../../lib/1.0.0/SelectableBase';
import HoverBase from '../../../lib/1.0.0/HoverBase';
import { defineAsyncComponent } from 'vue';
const FlexCell = defineAsyncComponent(() => import('../../../flex/1.0.0/cell/FlexCell'));
const Dropdown = defineAsyncComponent(() => import('../../../dropdown/1.0.0/Dropdown'));
const PrimitiveButton = defineAsyncComponent(() => import('../primitive/PrimitiveButton'));
const PrimitiveCompactButton = defineAsyncComponent(() => import('../primitive/PrimitiveCompactButton'));
const PrimaryButton = defineAsyncComponent(() => import('../primary/PrimaryButton'));
const PrimaryCompactButton = defineAsyncComponent(() => import('../primary/PrimaryCompactButton'));
const SecondaryButton = defineAsyncComponent(() => import('../secondary/SecondaryButton'));
const SecondaryCompactButton = defineAsyncComponent(() => import('../secondary/SecondaryCompactButton'));
const TextButton = defineAsyncComponent(() => import('../text/TextButton'));
const TextCompactButton = defineAsyncComponent(() => import('../text/TextCompactButton'));
const TextButtonSmall = defineAsyncComponent(() => import('../text/TextButtonSmall'));
const ButtonGroupItemType = defineAsyncComponent(() => import('../lib/ButtonGroupItemType'));

export default {
    name: 'button-group-item',
    components: {
        FlexCell,
        Dropdown,
        PrimitiveButton,
        PrimitiveCompactButton,
        PrimaryButton,
        PrimaryCompactButton,
        SecondaryButton,
        SecondaryCompactButton,
        TextButton,
        TextCompactButton,
        TextButtonSmall,
    },
    mixins: [ComponentBase, SelectableBase, HoverBase],
    computed: {
        selectedStyles() {
            const selectedOrDropdown = (this.selected || 
                (this.button.is_current_page && (!this.hovering && !this.widget_hovering)));
            const selectedbg = this.button?.item_styles?.selected_bgcolor 
                                ? this.button?.item_styles?.selected_bgcolor 
                                : this.selected_bgcolor;

            const selected_border_color = this.button?.item_styles?.selected_border_color 
                                        ? this.button?.item_styles?.selected_border_color 
                                        : this.selected_border_color;

            const selected_border_width = this.button?.item_styles?.selected_border_width
                                        ? this.button?.item_styles?.selected_border_width
                                        : this.selected_border_width;

            const selected_ring_width = this.button?.item_styles?.selected_ring_width
                                        ? this.button?.item_styles?.selected_ring_width
                                        : this.selected_ring_width;

            const selected_ring_color = this.button?.item_styles?.selected_ring_color
                                        ? this.button?.item_styles?.selected_ring_color
                                        : this.selected_ring_color;

            const selected_text_color = this.button?.item_styles?.selected_text_color
                                        ? this.button?.item_styles?.selected_text_color
                                        : this.selected_text_color;

            const bgcolor = selectedOrDropdown ? selectedbg : this.button?.item_styles?.bgcolor;
            
            const hoverbg = this.button?.item_styles?.hoverbg;
            const focusbg = this.selected ? selectedbg : this.button?.item_styles?.focusbg;
            const activebg = this.selected ? selectedbg : this.button?.item_styles?.activebg;
            
            const border_color = selectedOrDropdown ? selected_border_color : this.button?.item_styles?.border_color;
            const border_width = selectedOrDropdown ? selected_border_width : this.button?.item_styles?.border_width;
            const ring_width = selectedOrDropdown ? selected_ring_width : this.button?.item_styles?.ring_width;
            const ring_color = selectedOrDropdown ? selected_ring_color : this.button?.item_styles?.ring_color;
            const text_color = selectedOrDropdown ? selected_text_color : this.button?.item_styles?.text_color;
            
            return [
                this.getBgColor('', false, bgcolor),
                this.getBgColor('hover', false, hoverbg),
                this.getBgColor('focus', false, focusbg),
                this.getBgColor('active', false, activebg),
                this.getBorderColor('', this.disabled, border_color),
                this.getBorderWidth('', this.disabled, border_width),
                this.getBorderColor('hover', this.disabled, this.button?.item_styles?.hover_border_color),
                this.getBorderWidth('hover', this.disabled, this.button?.item_styles?.hover_border_width),
                this.getBorderColor('active', this.disabled, border_color),
                this.getBorderWidth('active', this.disabled, border_width),
                this.getBorderColor('focus', this.disabled, border_color),
                this.getBorderWidth('focus', this.disabled, border_width),

                this.getTextColor('', text_color),
                this.getBorderRingWidth('', this.disabled, ring_width),
                this.getBorderRingColor('', this.disabled, ring_color),
            ];
        },
    },
    props: {
        button: ButtonGroupItemType,
        role: { default: 'menuitem' },
        bgcolor: { default: 'transparent' },
        z_index: { default: '99999' },
        position: { default: 'relative' },
        margin_top: { default: '4px' },
        margin_bottom: { default: '4px' },
        selected_bgcolor: { default: 'fullFathom' },
        selected_border_color: { default: 'tranquilSea' },
        selected_border_width: { default: '1px' },
        selected_ring_color: { default: 'transparent' },
        selected_ring_width: { default: '0' },
        selected_text_color: { default: 'snow' },
    },
    data() {
        return {
            dropdownBoxProps: {
                width: 'auto',
                position: 'absolute',
                top: '32px',
                left: '0',
                overflow_y: 'hidden',
                overflow_x: 'auto',
                margin_top: '8px',
                margin_bottom: '-8px',
                rounded: 'card',
            },
        }
    },
    methods: {
        hasPopup(button) {
            if (!button?.sub_menu_items) {
                return null;
            }
            return (button?.sub_menu_items?.length > 1);
        },
        isExpanded(button) {
            if (!button?.sub_menu_items?.length) {
                return null;
            }
            return (button?.sub_menu_items && (this.showing || this.widget_hovering))
        },
    },
}
</script>