<template>
    <cds-grid v-bind="group_props" columns="1">
        <grid-cell v-bind="$props" class="kabob-group-item cds-flex-left-center cds-relative cds-z-9999">
            <primitive-button ref="menuItem" glyph="ellipsis-vertical" v-bind="buttonProps" :class="selectedStyles" 
                @click.stop="[checkKebab($event)]" v-tippy="tippy_object"
                @keyup.enter.exact.stop="accessible"
                :aria-haspopup="(buttons?.length > 1)"
                :aria-expanded="buttons?.length && showing"
                aria-hidden="false" :label="tooltip_text"
            />
            <primitive-div v-bind="dropdownProps" @keyup.esc.exact.stop="[accessibleEsc($event)]">
                <transition name="cds-dropdown">
                    <dropdown v-if="buttons.length && showing" :id="dropdownId"
                        :menu_items="buttons"
                        :item_props="dropdownButtonProps"
                        :list_item_props="dropdownListProps"
                        @closedropdown="[tabCloseWidget($event)]"
                        @mouseup="[tabCloseWidget($event)]"
                    />
                </transition>
            </primitive-div>
        </grid-cell>
    </cds-grid>
</template>

<script>
import ComponentBase from '../../../lib/1.0.0/ComponentBase';
import SelectableBase from '../../../lib/1.0.0/SelectableBase';
import ToggleBase from '../../../lib/1.0.0/ToggleBase';
import { defineAsyncComponent } from 'vue';
const CdsGrid = defineAsyncComponent(() => import('../../../grid/1.0.0/Grid'));
const PrimitiveButton = defineAsyncComponent(() => import('../primitive/PrimitiveButton'));
const PrimitiveDiv = defineAsyncComponent(() => import('../../../lib/1.0.0/PrimitiveDiv'));
const GridCell = defineAsyncComponent(() => import('../../../grid/1.0.0/GridCell'));
const Dropdown = defineAsyncComponent(() => import('../../../dropdown/1.0.0/Dropdown'));
export default {
    name: 'kabob-group',
    components: {
        CdsGrid,
        GridCell,
        PrimitiveButton,
        PrimitiveDiv,
        Dropdown,
    },
    mixins: [ComponentBase, SelectableBase, ToggleBase],
    emits: ['closedropdown'],
    props: {
        buttons: { default: [] },
        group_props: Object,
        item_props: Object,
        sub_item_props: Object,
        tooltip_text: { default: '' },
		tooltip_face: { default: 'up'},
    },
    created() {
        window.addEventListener('click', this.clickOutsideKebab);
    },
    unmounted() {
        window.removeEventListener('click', this.clickOutsideKebab);
    },
    methods: {
        accessible() {
            setTimeout(() => {
                document.getElementById(this.dropdownId)?.getElementsByTagName('li')[0]?.getElementsByTagName('button')[0]?.focus();
            }, 250);
        },
        accessibleEsc(event) {
            this.$refs.menuItem.$el.focus();
            this.tabCloseWidget(event);            
        },
        clickOutsideKebab() {
            this.showing = false;
        },
        groupProps() {
            return {
                position: 'relative',
                z_index: '9999',
            }
        },
        itemProps() {
            return {
                position: 'relative',
                display: 'flex',
            }
        },
        subItemProps() {
            return {
                width: '220px',
                max_width: '220px',
                min_width: '220px',
                focus_visible_width: '220px',
            }
        },
        menuProps() {
            return {
                width: '268px',
                position: 'absolute',
                top: '32px',
                left: '-244px',
                sm_left: '-238px',
                overflow_y: 'hidden',
                overflow_x: 'visible',
                margin_top: '0',
                margin_bottom: '0',
                margin_x: '0',
                rounded: '4',
                bgcolor: 'transparent',
                selected_bgcolor: 'fullFathom',
                selected_border_color: 'transparent',
                selected_border_width: '1px',
                selected_ring_color: 'transparent',
                selected_ring_width: '0',
                selected_text_color: 'snow',
            }
        },
        checkKebab(event) {
            // prevents double toggle from both click and focus events
            // must be able to read the click event since the button may already be in focus
            if (event.type === 'click' || (event.type === 'keyup')) {
                // closes all other kabobs first
                let showing = this.showing;
                document.body.click();
                if (!showing) {
                    this.toggleWidget();
                }
            }
        },
    },
    computed: {
        selectedStyles() {
            const selectedOrDropdown = (this.selected || (this.buttons?.length && this.showing));
            const selectedbg = this.item_props?.selected_bgcolor 
                                ? this.item_props?.selected_bgcolor 
                                : this.selected_bgcolor;

            const selected_border_color = this.item_props?.selected_border_color 
                                        ? this.item_props?.selected_border_color 
                                        : this.selected_border_color;

            const selected_border_width = this.item_props?.selected_border_width
                                        ? this.item_props?.selected_border_width
                                        : this.selected_border_width;

            const selected_ring_width = this.item_props?.selected_ring_width
                                        ? this.item_props?.selected_ring_width
                                        : this.selected_ring_width;

            const selected_ring_color = this.item_props?.selected_ring_color
                                        ? this.item_props?.selected_ring_color
                                        : this.selected_ring_color;

            const selected_text_color = this.item_props?.selected_text_color
                                        ? this.item_props?.selected_text_color
                                        : this.selected_text_color;

            const bgcolor = selectedOrDropdown ? selectedbg : this.item_props?.bgcolor;
            
            const hoverbg = this.item_props?.hoverbg;
            const focusbg = this.selected ? selectedbg : this.item_props?.focusbg;
            const activebg = this.selected ? selectedbg : this.item_props?.activebg;
            
            const border_color = selectedOrDropdown ? selected_border_color : this.item_props?.border_color;
            const border_width = selectedOrDropdown ? selected_border_width : this.item_props?.border_width;
            const ring_width = selectedOrDropdown ? selected_ring_width : this.item_props?.ring_width;
            const ring_color = selectedOrDropdown ? selected_ring_color : this.item_props?.ring_color;
            const text_color = selectedOrDropdown ? selected_text_color : this.item_props?.text_color;
            
            return [
                this.getBgColor('', false, bgcolor),
                this.getBgColor('hover', false, hoverbg),
                this.getBgColor('focus', false, focusbg),
                this.getBgColor('active', false, activebg),
                this.getBorderColor('', this.disabled, border_color),
                this.getBorderWidth('', this.disabled, border_width),
                this.getBorderColor('hover', this.disabled, this.item_props?.hover_border_color),
                this.getBorderWidth('hover', this.disabled, this.item_props?.hover_border_width),
                this.getBorderColor('active', this.disabled, border_color),
                this.getBorderWidth('active', this.disabled, '0'),
                this.getBorderColor('focus', this.disabled, 'transparent'),
                this.getBorderWidth('focus', this.disabled, '0'),
                this.getBorderColor('focus-visible', this.disabled, border_color),
                this.getBorderWidth('focus-visible', this.disabled, border_width),

                this.getTextColor('', text_color),
                this.getBorderRingWidth('', this.disabled, ring_width),
                this.getBorderRingColor('', this.disabled, ring_color),
                this.getBorderRingWidth('active', this.disabled, '0'),
                this.getBorderRingColor('active', this.disabled, 'transparent'),
                this.getBorderRingWidth('focus', this.disabled, '0'),
                this.getBorderRingColor('focus', this.disabled, 'transparent'),
            ];
        },
    },
    data() {
		const tippy_object = {
			content: this.tooltip_text,
			theme: 'standard-dark',
			placement: {
				'up': 'bottom',
				'down': 'top',
				'left': 'right',
				'right': 'left',
			}[this.tooltip_face] ?? 'bottom'
		};
        return {
			tippy_object: tippy_object,
            dropdownListProps: {
                hoverbg: 'snow',
                focusbg: 'snow',
                activebg: 'snow',
            },
            dropdownId: this.getId('kabob'),
            boxProps: Object.assign(this.groupProps(), this.group_props),
            buttonProps: Object.assign(this.itemProps(), this.item_props),
            dropdownButtonProps: Object.assign(this.subItemProps(), this.sub_item_props),
            dropdownProps: Object.assign(this.menuProps(), this.dropdown_props),
        }
    },
}
</script>