<template>
    <flex-cell direction="col" width="auto" sm_width="auto" position="relative" 
        :key="currentBreakpoint === 'sm'"
        :style="'height: ' + vertical ? (current_buttons.length * 40) + 'px' : '40px'"
        role="tablist"
    >
        <flex-cell v-if="current_buttons?.length" v-bind="$props" :direction="vertical ? 'col' : 'row'">
            <div v-for="(button, index) in current_buttons" :key="index" style="position: relative">
                <button-segment 
                    :button="button"
                    :current_item="index"
                    :control_length="itemLength"
                    :dropdown_label="dropdown_label"
                    v-bind="getItemStyles(button?.item_styles)"
                    :multiple="multiple"
                    :vertical="vertical"
                    :on="((!multiple) && selected_tabs.includes(button?.content))"
                    @tabItemClick="checkControl"

                    :aria-haspopup="(button?.sub_menu_items?.length > 1)"
                    :aria-expanded="button?.sub_menu_items && (showing || widget_hovering)"
                    @click.stop="moreButton($event, index)" 
                    @focus.stop="moreButton($event, index)"
                    @focusin.stop="moreButton($event, index)"
                    @keydown.self.shift.tab.exact="tabCloseWidget($event)"
					@mouseover="currently_hovered = index"
					@mouseleave="currently_hovered = null"
                    @keydown.self.enter.exact="currently_hovered = index"
                    @keydown.self.tab.exact="currently_hovered = null"
					
					v-tippy="{content: button?.tooltip_text??'', placement: 'right', theme: 'standard-dark'}"
                />
			</div>
        </flex-cell>

        <primitive-div v-bind="dropdownProps" :key="current_buttons"
            @focus="[widgetCaptureHover(), checkWidget()]"
            @blur="widgetLoseHover"
            v-if="currentBreakpoint === 'sm' && current_buttons[1]?.sub_menu_items?.length && !this.vertical"
            class="focus:cds-outline-none"
			overflow_y="hidden"
        >
            <transition name="cds-dropdown">
                <dropdown 
                    :key="current_buttons[1].sub_menu_items"
                    :menu_items="current_buttons[1].sub_menu_items"
                    v-if="currentBreakpoint === 'sm' && current_buttons[1]?.sub_menu_items?.length 
                        && (showing || widget_hovering)"
                    @blur="widgetLoseHover"
                    @mouseleave="widgetLoseHover"
                    @click.stop="checkControl($event.target.textContent)"
                    @closedropdown="[tabCloseWidget($event)]"
                    :item_props="menuItemProps()"
                    :list_item_props="Object.assign(menuItemProps(), groupProps())"
                />
            </transition>
        </primitive-div>
    </flex-cell>
</template>

<script>
import { defineAsyncComponent, inject } from 'vue';
import ComponentBase from '../../../lib/1.0.0/ComponentBase';
import HoverBase from '../../../lib/1.0.0/HoverBase';
const FlexCell = defineAsyncComponent(() => import('../../../flex/1.0.0/cell/FlexCell'));
const ButtonSegment = defineAsyncComponent(() => import('./ButtonSegment'));
const PrimitiveDiv = defineAsyncComponent(() => import('../../../lib/1.0.0/PrimitiveDiv'));
const Dropdown = defineAsyncComponent(() => import('../../../dropdown/1.0.0/Dropdown'));
export default {
    name: 'segmented-control',
    components: {
        FlexCell,
        ButtonSegment,
        PrimitiveDiv,
        Dropdown,
    },
    mixins: [ComponentBase, HoverBase],
    emits: ['tabItemClick'],
    created() {
        window.addEventListener('click', this.clickOutside);
    },
    unmounted() {
        window.removeEventListener('click', this.clickOutside);
    },
    props: {
        width: { default: 'full' },
        sm_width: { default: 'full' },
        buttons: { default: [] },
        item_styles: { default: {} },
        multiple: { default: true },
        vertical: { default: false },
        dropdown_label: { default: 'Filters' },
    },
    methods: {
        clickOutside(event) {
            this.tabCloseWidget(event);
        },
        moreButton(event, index) {
            const lastItem = index === this.itemLength - 1;
            if (!lastItem) return;
            if (!this.hovering) {
                this.buttonGroupCaptureHover(event, [{}]);
                this.checkWidget();
            } else {
                this.buttonGroupLoseHover(event);
            }
            return false;
        },
        getButtons() {
            const buttons = [...this.buttons];
            const firstItem = this.currentBreakpoint === 'sm' && !this.vertical ? buttons.shift() : null;
            let hasCurrentTab = false;
            const selectedStyles = {
                bgcolor: 'drift',
                text_color: 'winterDusk',
            };
            for (const i in buttons) {
                if (this.selected_tabs.includes(buttons[i]?.content)) {
                    buttons[i].is_current_tab = true;
                    buttons[i].item_props = Object.assign(this.menuItemProps(), selectedStyles);
                    hasCurrentTab = true;
                } else {
                    buttons[i].is_current_tab = false;
                    buttons[i].item_props = this.menuItemProps();
                }
            }
            if ((this.currentBreakpoint !== 'sm' || buttons.length < 3) || this.vertical) {
                this.itemLength = this.buttons.length;
                this.current_buttons = buttons;
                return;
            }
            let moreItem = {
                component: 'TextButton',
                content: this.dropdown_label,
                glyph: 'caret-down-sharp',
                placeIcon: 'after',
                item_styles: this.getItemStyles(),
                is_current_tab: hasCurrentTab, 
                sub_menu_items: buttons,
                callback: ()=>{},
            };
            this.itemLength = 2;
            this.current_buttons = [firstItem, moreItem];
        },
        checkControl(segment) {
            if (segment === this.dropdown_label) return false;
            const selected = this.buttons.map(item => item?.content ?? null).includes(segment);
            if (this.multiple && selected) {
                if (this.selected_tabs.includes(segment)) {
                    this.selected_tabs.splice(this.selected_tabs.indexOf(segment), 1);
                } else {
                    this.selected_tabs.push(segment);
                }
            } else if (!this.multiple) {
                this.selected_tabs = this.selected_tabs.includes(segment) ? [] : [segment];
            }
            this.getButtons();
        },
        getItemStyles(buttonStyles = {}) {
            return Object.assign({
                direction: 'row',
                justify_content: 'center',
                align_items: 'center',
                width: 'full',
                sm_max_width: '100px',
                height: '40px',
                min_height: '40px',
                padding_y: '4',
                padding_top: '0',
                padding_bottom: '0',
                border_style: 'solid',
                hover_border_style: 'solid',
                active_border_style: 'solid',
                border_color: 'winterEvening',
                active_border_color: 'winterNoon',
                rounded: null,

                ring_width: '',
                hover_border_width: '',
                hover_ring_width: '',
                focus_border_width: '',
                focus_ring_width: '',
                focus_visible_ring_width: '4',
                active_border_width: '',
                active_ring_width: '',
                disabled_border_width: '',
                disabled_ring_width: '',
                
                bgcolor: 'drift',
                hoverbg: 'drift',
                activebg: 'snow',
                focusbg: 'drift',
                focusvisiblebg: 'drift',
                font_weight: 'bold',
                font_size: '4',
                leading: '6',
                tracking: 'sm',
                font_family: 'sans',
                text_color: 'winterEvening',
                hover_text_color: 'winterDusk',
                active_text_color: 'winterNoon',
                focus_text_color: 'winterDusk',

                selected_bgcolor: 'snow',
                selected_border_color: 'winterEvening',
                selected_border_width: '2',
                selected_ring_color: 'transparent',
                selected_ring_width: '0',
                selected_text_color: 'winterDusk',

                icon_props: {
                    padding_x: '4',
                },
            }, buttonStyles);
        },
        menuProps() {
            return {
                width: '272px',
                position: 'absolute',
                top: '42px',
                z_index: '99999',
                margin_top: '0',
                margin_bottom: '0',
                margin_x: '0',
                bgcolor: 'transparent',
            }
        },
        menuItemProps() {
            return {
                width: '220px',
                min_width: '220px',
                max_width: '220px',
                focus_visible_width: '220px',
            }
        },
        groupProps() {
            return {
                position: 'relative',
                z_index: '9999',
            }
        },
    },
    watch: {
        currentBreakpoint() {
            this.getButtons();
        },
    },
    data() {
        return {
            currentBreakpoint: inject('currentBreakpoint'),
            current_buttons: [{}, {}],
            currentItems: [{}, {}], // manages items in segment component vs items in dropdown (sm breakpoint)
            selected_tabs: [], // manages items that are selected (only 1 if not multiple)
            itemLength: 0,
            dropdownProps: Object.assign(this.menuProps(), this.dropdown_props),
            boxProps: Object.assign(this.groupProps(), this.group_props),
			currently_hovered: null,
        }
    },
    mounted() {
        this.selected_tabs = this.buttons?.map(item => item?.starting_tab ? item?.content : null).filter(item => item);
        this.getButtons();
    },
}
</script>