<template>
    <flex-cell
		class="cds-flex-center-row"
		gap_x="4px"
        tabindex="0"
		v-tippy="{content: label?.Tooltip, placement: 'bottom', theme: 'standard-dark'}"
    >
        <flex-cell width="5-252" sm_width="4" height="5-252" sm_height="4" 
            class="cds-flex-center cds-overflow-visible"
        >
            <icon :glyph="label?.Icon" font_size="5-252" sm_font_size="4" sm_margin_right="1" :aria-labelledby="tooltipId" role="tooltip" />
        </flex-cell>
        <primary-tag v-bind="iconLabelProps" class="cds-flex-center">
            <span v-if="label?.Label">{{ label?.Label ?? def }}</span>
        </primary-tag>        
    </flex-cell>
</template>

<script>
import HoverBase from '../../lib/1.0.0/HoverBase';
import { defineAsyncComponent } from 'vue';
const Icon = defineAsyncComponent(() => import('../../icons/1.0.0/Icon'));
const PrimaryTag = defineAsyncComponent(() => import('../../tags/1.0.0/PrimaryTag'));
const FlexCell = defineAsyncComponent(() => import('../../flex/1.0.0/cell/FlexCell'));
export default {
  watch: {
  },
    name: 'icon-tag',
    components: {
        FlexCell,
        Icon,
        PrimaryTag,
    },
    mixins: [HoverBase],
    props: {
        icon_label_props: Object,
        label: { default: 
            {
                Label: '',
                Icon: '',
                Tooltip: '',
            } 
        },
    },
    computed: {
        iconLabelProps() {
            const props = {
                bgcolor: 'transparent',
                display: 'flex',
                gap_x: '4',
                disabled_text_color: 'twilightStratus',
                height: '',
                margin_top: '',
                margin_bottom: '',
                padding_top: '',
                padding_left: '',
                padding_right: '',
                overflow: '',

                sm_font_size: '3-25',
                sm_leading: '5',
                sm_margin_left: '0',
                sm_margin_right: '1px',
            };
            return Object.assign(props, this.icon_label_props);
        },
    },
    data() {
        return {
            def: '—',
            tooltipId: 'icon-tag-tooltip-' + Math.ceil(Math.random(99999)),
        }
    },
}
</script>