<template>
    <primitive-compact-tag :bgcolor="tagBgColor" :text_color="tagTextColor" v-bind="$props"><slot /></primitive-compact-tag>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import PrimitiveCompactTag from './PrimitiveCompactTag';
export default {
    name: 'predatory-compact-tag',
    components: { PrimitiveCompactTag },
    mixins: [ComponentBase],
    props: {
        rounded: { default: 'DEFAULT' },
        height: { default: '22px' },
        severity: { default: '' },
    },
    computed: {
        tagBgColor() {
            switch (this.severity) {
				case 'Minor': {
					return 'gold';
				}
				case 'Moderate': {
					return 'red';
				}
				case 'Severe': {
					return 'red-800';
				}
				default: { 
					return 'twilightStratus';
				}
			}
        },
        tagTextColor() {
            switch (this.severity) {
				case 'Minor': {
					return 'winterNight';
				}
				default: { 
					return 'snow';
				}
			}
        },
    },
}
</script>