<template>
    <primitive-compact-tag v-bind="$props"><slot></slot></primitive-compact-tag>
</template>

<script>
import PrimitiveCompactTag from './PrimitiveCompactTag';
export default {
    name: 'predatory-warning-compact-tag',
    components: { PrimitiveCompactTag },
    mixins: [PrimitiveCompactTag],
    props: {
        bgcolor: { default: 'fireyWarning' },
        text_color: { default: 'snow' },
        rounded: { default: 'DEFAULT' },
        height: { default: '22px' },
    },
}
</script>