<template>
    <primitive-tag v-bind="$props"><slot></slot></primitive-tag>
</template>

<script>
import PrimitiveTag from './PrimitiveTag';
export default {
    name: 'predatory-warning-tag',
    components: { PrimitiveTag },
    mixins: [PrimitiveTag],
    props: {
        bgcolor: { default: 'fireyWarning' },
        text_color: { default: 'snow' },
        rounded: { default: 'DEFAULT' },
    },
}
</script>