<template>
    <primitive-tag v-bind="$props"><slot></slot></primitive-tag>
</template>

<script>
import PrimitiveTag from './PrimitiveTag';
export default {
    name: 'primitive-compact-tag',
    components: { PrimitiveTag },
    mixins: [PrimitiveTag],
    props: {
        height: { default: '22px' },
        padding_top: { default: '2px' },
    }
}
</script>