<template>
    <div :class="classStyles" v-bind="$attrs" class="cds-flex-center">
		<div :class="flexStyle" class="cds-justify-center cds-items-center">
			<icon
				v-if="glyph"
				:glyph="glyph"
				bgcolor=""
				:disabled="ariaDisabled"
				:font_size="icon_font_size"
				:font_weight="icon_font_weight"
				:border_width="icon_border_width"
				:border_style="icon_border_style"
				:border_color="icon_border_color"
				:width="icon_width"
				:height="icon_height"
				:margin="icon_margin"
				:margin_top="icon_margin_top"
				:margin_bottom="icon_margin_bottom"
				:margin_right="getIconMarginRight()"
				:margin_left="getIconMarginLeft()"
				:margin_x="icon_margin_x"
				:margin_y="icon_margin_y"
				:padding="icon_padding"
				:padding_top="icon_padding_top"
				:padding_bottom="icon_padding_bottom"
				:padding_right="icon_padding_right"
				:padding_left="icon_padding_left"
				:padding_x="icon_padding_x"
				:padding_y="icon_padding_y"
				:rounded="icon_rounded"
				:position="icon_position"
				:top="icon_top"
				:bottom="icon_bottom"
				:left="icon_left"
				:right="icon_right"
				:class="iconTextColor"
				
			/>
				<slot />
		</div>
	</div>
</template>

<script>
import TagBase from './lib/TagBase';
import Icon from '../../icons/1.0.0/Icon';
export default {
    name: 'primitive-tag',
    mixins: [TagBase],
    props: {
        rounded: { default: 'DEFAULT' },
        placeIcon: { default: 'before' },
        glyph: String,

		icon_props: Object, // TODO: replace all these icon styles with an object merge

		icon_text_color: { default: 'snow' },
        icon_hover_text_color: { default: '' },
        icon_focus_text_color: { default: '' },
        icon_active_text_color: { default: '' },
        icon_disabled_text_color: { default: 'twilightStratus' },
        icon_font_size: { default: '4' },
        icon_font_weight: { default: 'normal' },
        icon_leading: { default: '18px' },
        icon_tracking: String,
        icon_border_width: String,
        icon_border_style: String,
        icon_border_color: String,
        icon_width: String,
        icon_height: String,
        icon_margin: String,
        icon_margin_top: String,
        icon_margin_bottom: String,
        icon_margin_right: String,
        icon_margin_left: String,
        icon_margin_x: String,
        icon_margin_y: String,
        icon_padding: String,
        icon_padding_top: String,
        icon_padding_bottom: String,
        icon_padding_right: String,
        icon_padding_left: String,
        icon_padding_x: String,
        icon_padding_y: String,
        icon_rounded: String,
        icon_position: String,
        icon_top: String,
        icon_bottom: String,
        icon_left: String,
        icon_right: String,
    },
	components:
	{
		Icon,
	},
	methods:
	{
		getIconMarginRight()
		{
			if (this.icon_margin_right)
				return this.icon_margin_right;
			return this.placeIcon === 'before' ? '1' : '';
		},
		getIconMarginLeft()
		{
			if (this.icon_margin_left)
				return this.icon_margin_left;
			return this.placeIcon === 'before' ? '' : '1';
		}
	},
	data()
	{
		return {
			flexStyle: 'cds-flex' + ((this.placeIcon === 'before') ? '' : ' cds-flex-row-reverse')
		};
	},
	computed: {
		/**
		 * Swap icon color based on hovered or disabled states.
		 * Makes the icon match the button colors for all mouse states.
		 */
		iconTextColor() {
			let icon_text_color = this.hovering ? this.icon_hover_text_color : this.text_color;
			icon_text_color = this.disabled ? this.icon_disabled_text_color : this.text_color;
			return icon_text_color;
		},
	},
}
</script>