<template>
    <primitive-tag v-bind="$props"><slot></slot></primitive-tag>
</template>

<script>
import PrimitiveTag from './PrimitiveTag';
export default {
    name: 'primary-tag',
    components: { PrimitiveTag },
    mixins: [PrimitiveTag],
    props: {
        rounded: { default: 'DEFAULT' },
    },
}
</script>