<template>
    <primitive-compact-tag v-bind="$props"><slot></slot></primitive-compact-tag>
</template>

<script>
import PrimitiveCompactTag from './PrimitiveCompactTag';
export default {
    name: 'primary-compact-tag',
    components: { PrimitiveCompactTag },
    mixins: [PrimitiveCompactTag],
    props: {
        rounded: { default: 'DEFAULT' },
    },
}
</script>