<template>
    <primitive-compact-tag v-bind="$props" class="cds-box-border">
        <slot></slot>
    </primitive-compact-tag>
</template>

<script>
import SecondaryTagBase from './lib/SecondaryTagBase';
import PrimitiveCompactTag from './PrimitiveCompactTag';
export default {
    name: 'secondary-compact-tag',
    components: { PrimitiveCompactTag },
    mixins: [SecondaryTagBase],
    props: {
        height: { default: '22px' },
        rounded: { default: 'DEFAULT' },
        border_width: { default: '1px' },
        padding_top: { default: '1px' },
    },
}
</script>