<template>
    <primitive-tag v-bind="$props" class="cds-box-border">
        <slot></slot>
    </primitive-tag>
</template>

<script>
import SecondaryTagBase from './lib/SecondaryTagBase';
import PrimitiveTag from './PrimitiveTag';
export default {
    name: 'secondary-tag',
    components: { PrimitiveTag },
    mixins: [SecondaryTagBase],
    props: {
        rounded: { default: 'DEFAULT' },
    },
}
</script>