<script>
import CardBase from './CardBase';
export default {
    name: 'journal-card-expand-base',
    mixins: [CardBase],
    props: {
        content: Object,
        card_props: Object,
        nav_menu_props: Object,
        nav_menu_items: Object,

        disable: Boolean,

        bgcolor: { default: '' },
        hoverbg: { default: '' },
        focusbg: { default: '' },
        activebg: { default: '' },
        card_bgcolor: { default: '' },
        card_hoverbg: { default: 'drift' }, // values to use via js events not css
        card_activebg: { default: 'blueIce' },

        width: { default: 'full' },
        max_width: { default: '1222px' },
        sm_max_width: { default: '272px' },
        height: { default: '375px' },
        sm_height: { default: 'full' },
        direction: { default: 'col' },
        justify_content: { default: 'start' },
        align_items: { default: 'center' },
        border_style: { default: 'solid' },
        border_width: { default: '1px' },
        border_color: { default: 'twilightStratus' },
        hover_border_color: { default: 'twilightStratus' },
        hover_border_style: { default: 'solid'},
        focus_border_color: { default: 'twilightStratus' },
        active_border_color: { default: 'twilightStratus' },
        active_border_style: { default: 'solid'},
        shadow: { default: 'default' },
        hover_shadow: { default: 'DEFAULT' },
        active_shadow: { default: 'default' },
        focus_shadow: { default: 'default' },
        z_index: { default: '0' },
        rounded: { default: '8' },
    },
}
</script>

<style lang="postcss" scoped>

.expander {
    @apply cds-rounded-tl-none;
    @apply cds-rounded-tr-none;
}
</style>