@layer components {
    .cds-altmetric-facebook {
        background-color: #0b2ca4;
    }
    
    .cds-altmetric-blogs {
        background-color: #e89500;
    }
    
    .cds-altmetric-twitter {
        background-color: #2F90B9;
    }
    
    .cds-altmetric-google-plus {
        background-color: #912470;
    }
    
    .cds-altmetric-news {
        background-color: #B60000;
    }
    
    .cds-altmetric-post-pub-peer-review {
        background-color: #C5C6C8;
    }
    
    .cds-altmetric-wikipedia {
        background-color: #3b2a3d;
    }
    
    .cds-altmetric-video {
        background-color: #A1B88C;
    }
    
    .cds-altmetric-policy-docs {
        background-color: #5b17e8;
    }
    
    .cds-altmetric-faculty {
        background-color: #C74D35;
    }
    
    .cds-altmetric-reddit {
        background-color: #B6CEE3;
    }
    
    .cds-altmetric-mendeley {
        background-color: #A60000;
    }
    
    .cds-altmetric-citeulike {
        background-color: #BCD2EF;
    }
    
    .cds-altmetric-dimensions {
        background-color: #0d4667;
    }
    
    .cds-altmetric-q-and-a {
        background-color: #EFEFEF;
    }
    
    .cds-altmetric-connotea {
        background-color: #FC4347;
    }
    
    .cds-altmetric-patents {
        background-color: #D25131;
    }
    
    .cds-altmetric-weibo {
        background-color: #E0931C;
    }
    
    .cds-altmetric-syllabi {
        background-color: #7EAD8E;
    }
    
    .cds-altmetric-linkedin {
        background-color: #008FD5;
    }
    
    .cds-altmetric-pinterest,
    .cds-altmetric-the-conversation,
    .cds-altmetric-clinical-trials {
        background-color: #C75318;
    }
    
    .cds-altmetric-web-of-science {
        background-color: #6A3BFF;
    }
    
    .cds-altmetric-research-platform {
        background-color: #CD372C;
    }
}