@layer utilities {

    .cds-flex-layout {
        @apply cds-flex;
        @apply cds-flex-col;
        @apply cds-flex-wrap;
    }
    
    .cds-flex-core {
        @apply cds-flex-none;
        @apply cds-order-none;
        @apply cds-flex-grow;
        @apply cds-mt-0;
        @apply cds-mr-0;
        @apply cds-overflow-hidden;
        @apply cds-w-auto;
    }

    .cds-flex-center {
        @apply cds-flex;
        @apply cds-flex-col;
        @apply cds-items-center;
        @apply cds-justify-center;
    }

    .cds-flex-center-row {
        @apply cds-flex;
        @apply cds-flex-row;
        @apply cds-items-center;
        @apply cds-justify-center;
    }

    .cds-flex-center-left {
        @apply cds-flex;
        @apply cds-flex-col;
        @apply cds-items-center;
        @apply cds-justify-start;
    }

    .cds-flex-left-center {
        @apply cds-flex;
        @apply cds-flex-col;
        @apply cds-items-start;
        @apply cds-justify-center;
    }
    
    .cds-flex-left-center-row {
        @apply cds-flex;
        @apply cds-flex-row;
        @apply cds-items-center;
        @apply cds-justify-start;
    }

    .cds-flex-center-right {
        @apply cds-flex;
        @apply cds-flex-col;
        @apply cds-items-center;
        @apply cds-justify-end;
    }

    .cds-flex-center-right-row {
        @apply cds-flex;
        @apply cds-flex-row;
        @apply cds-items-center;
        @apply cds-justify-end;
    }

    .cds-flex-top-left {
        @apply cds-flex;
        @apply cds-flex-col;
        @apply cds-items-start;
        @apply cds-justify-start;
    }

    .cds-flex-top-left-row {
        @apply cds-flex;
        @apply cds-flex-row;
        @apply cds-items-start;
        @apply cds-justify-start;
    }
    
    .cds-flex-bottom-left {
        @apply cds-flex;
        @apply cds-flex-col;
        @apply cds-items-end;
        @apply cds-justify-start;
    }
}