@layer utilities {

    .cds-gap-default {
        @screen sm {
            @apply cds-gap-x-16;
            @apply cds-gap-y-16;
        }
    
        @screen md {
            @apply cds-gap-x-24;
            @apply cds-gap-y-24;
        }
    
        @screen lg {
            @apply cds-gap-x-16;
            @apply cds-gap-y-24;
        }
    
        @screen xl {
            @apply cds-gap-x-16;
            @apply cds-gap-y-28;
        }
    
        @screen xxl {
            @apply cds-gap-x-24;
            @apply cds-gap-y-24;
        }
    }
}