@layer components {

    .cds-grid-layout {
        @apply cds-grid;
        @apply cds-w-full;
        @apply cds-gap-default;

        @screen sm {
            @apply cds-grid-cols-4;
            /* @apply cds-grid-rows-8; */

            min-width: 320px;
        }
    
        @screen md {
            @apply cds-grid-cols-8;
            /* @apply cds-grid-rows-12; */
    
            min-width: 786px;
        }
    
        @screen lg {
            @apply cds-grid-cols-12;
            /* @apply cds-grid-rows-8; */
    
            min-width: 976px;
        }
    
        @screen xl {
            @apply cds-grid-cols-12;
            /* @apply cds-grid-rows-8; */
    
            min-width: 1280px;
        }
    
        @screen xxl {
            @apply cds-grid-cols-12;
            /* @apply cds-grid-rows-8; */
    
            min-width: 1920px;
        }
    }
}