
.icon-planet-sharp:before { content: '\21'; } /* '!' */
.icon-ci-education:before { content: '\23'; } /* '#' */
.icon-ci-engineering:before { content: '\24'; } /* '$' */
.icon-ci-computerscience:before { content: '\25'; } /* '%' */
.icon-ci-medkit:before { content: '\26'; } /* '&' */
.icon-close-circle-sharp:before { content: '\28'; } /* '(' */
.icon-close-sharp:before { content: '\29'; } /* ')' */
.icon-jm-a-approval-rate-icon-1:before { content: '\2a'; } /* '*' */
.icon-cloud-done-sharp:before { content: '\2b'; } /* '+' */
.icon-chevron-forward-circle-sharp:before { content: '\2c'; } /* ',' */
.icon-arrow-forward-sharp-1:before { content: '\2d'; } /* '-' */
.icon-chevron-right:before { content: '\2e'; } /* '.' */
.icon-chevron-up-circle-sharp:before { content: '\2f'; } /* '/' */
.icon-arrow-forward-circle-sharp:before { content: '\30'; } /* '0' */
.icon-add-circle-sharp:before { content: '\31'; } /* '1' */
.icon-add-sharp-1:before { content: '\32'; } /* '2' */
.icon-alert-circle-sharp:before { content: '\33'; } /* '3' */
.icon-alert-sharp:before { content: '\34'; } /* '4' */
.icon-analytics-sharp:before { content: '\35'; } /* '5' */
.icon-arrow-back-circle-sharp:before { content: '\36'; } /* '6' */
.icon-arrow-back-sharp-01:before { content: '\37'; } /* '7' */
.icon-arrow-down-circle-sharp:before { content: '\38'; } /* '8' */
.icon-arrow-down-sharp-1:before { content: '\39'; } /* '9' */
.icon-information-circle-sharp:before { content: '\3a'; } /* ':' */
.icon-checkbox-sharp:before { content: '\3b'; } /* ';' */
.icon-medal-sharp:before { content: '\3c'; } /* '<' */
.icon-arrow-redo-circle-sharp:before { content: '\3d'; } /* '=' */
.icon-medical-sharp:before { content: '\3e'; } /* '>' */
.icon-health-nursing:before { content: '\3f'; } /* '?' */
.icon-ci-econ+finance:before { content: '\40'; } /* '@' */
.icon-filter-circle-sharp:before { content: '\41'; } /* 'A' */
.icon-lock-closed-sharp:before { content: '\42'; } /* 'B' */
.icon-list-sharp-1:before { content: '\43'; } /* 'C' */
.icon-flask-sharp:before { content: '\44'; } /* 'D' */
.icon-cloud-sharp:before { content: '\45'; } /* 'E' */
.icon-funnel-sharp:before { content: '\46'; } /* 'F' */
.icon-hand-left-sharp:before { content: '\47'; } /* 'G' */
.icon-hand-right-sharp:before { content: '\48'; } /* 'H' */
.icon-documents-sharp:before { content: '\49'; } /* 'I' */
.icon-heart-sharp:before { content: '\4a'; } /* 'J' */
.icon-help-circle-sharp:before { content: '\4b'; } /* 'K' */
.icon-home-sharp:before { content: '\4c'; } /* 'L' */
.icon-map-sharp:before { content: '\4d'; } /* 'M' */
.icon-lock-open-sharp:before { content: '\4e'; } /* 'N' */
.icon-earth-sharp:before { content: '\4f'; } /* 'O' */
.icon-ellipsis-vertical-circle-sharp:before { content: '\50'; } /* 'P' */
.icon-cloud-download-sharp:before { content: '\51'; } /* 'Q' */
.icon-cloud-upload-sharp:before { content: '\52'; } /* 'R' */
.icon-filter-sharp:before { content: '\53'; } /* 'S' */
.icon-cog-sharp:before { content: '\54'; } /* 'T' */
.icon-document-text-sharp:before { content: '\55'; } /* 'U' */
.icon-location-sharp:before { content: '\56'; } /* 'V' */
.icon-cloud-offline-sharp:before { content: '\57'; } /* 'W' */
.icon-list-circle-sharp:before { content: '\58'; } /* 'X' */
.icon-document-sharp:before { content: '\59'; } /* 'Y' */
.icon-link-sharp-1:before { content: '\5a'; } /* 'Z' */
.icon-calculator-sharp:before { content: '\5b'; } /* '[' */
.icon-calendar-sharp:before { content: '\5c'; } /* '\' */
.icon-calendar-clear-sharp:before { content: '\5d'; } /* ']' */
.icon-ci-j-medicine:before { content: '\5e'; } /* '^' */
.icon-cloud-circle-sharp:before { content: '\5f'; } /* '_' */
.icon-humanities:before { content: '\60'; } /* '`' */
.icon-caret-back-circle-sharp:before { content: '\61'; } /* 'a' */
.icon-chevron-back-sharp-1:before { content: '\62'; } /* 'b' */
.icon-checkmark-sharp-01:before { content: '\63'; } /* 'c' */
.icon-caret-down-circle-sharp:before { content: '\64'; } /* 'd' */
.icon-arrow-undo-sharp:before { content: '\65'; } /* 'e' */
.icon-caret-down-sharp:before { content: '\66'; } /* 'f' */
.icon-caret-forward-circle-sharp:before { content: '\67'; } /* 'g' */
.icon-caret-forward-sharp:before { content: '\68'; } /* 'h' */
.icon-book-sharp:before { content: '\69'; } /* 'i' */
.icon-caret-up-circle-sharp:before { content: '\6a'; } /* 'j' */
.icon-caret-up-sharp:before { content: '\6b'; } /* 'k' */
.icon-cci:before { content: '\6c'; } /* 'l' */
.icon-chevron-down:before { content: '\6d'; } /* 'm' */
.icon-chevron-down-circle-sharp:before { content: '\6e'; } /* 'n' */
.icon-bookmark-sharp:before { content: '\6f'; } /* 'o' */
.icon-bookmarks-sharp:before { content: '\70'; } /* 'p' */
.icon-arrow-redo-sharp:before { content: '\71'; } /* 'q' */
.icon-arrow-up-circle-sharp:before { content: '\72'; } /* 'r' */
.icon-caret-back-sharp:before { content: '\73'; } /* 's' */
.icon-arrow-up-sharp-1:before { content: '\74'; } /* 't' */
.icon-beaker-sharp:before { content: '\75'; } /* 'u' */
.icon-chevron-back-circle-sharp:before { content: '\76'; } /* 'v' */
.icon-arrow-undo-circle-sharp:before { content: '\77'; } /* 'w' */
.icon-checkmark-done-sharp-01:before { content: '\78'; } /* 'x' */
.icon-bar-chart-sharp:before { content: '\79'; } /* 'y' */
.icon-checkmark-done-circle-sharp:before { content: '\7a'; } /* 'z' */
.icon-ellipsis-vertical:before { content: '\7b'; } /* '{' */
.icon-eye-sharp-1:before { content: '\7c'; } /* '|' */
.icon-eye-off-sharp:before { content: '\7d'; } /* '}' */
.icon-chevron-up:before { content: '\7e'; } /* '~' */
.icon-menu-sharp:before { content: '\a1'; } /* '¡' */
.icon-notifications-off-circle-sharp:before { content: '\a3'; } /* '£' */
.icon-pulse-sharp:before { content: '\a5'; } /* '¥' */
.icon-notifications-sharp:before { content: '\a7'; } /* '§' */
.icon-radio-button-off:before { content: '\a8'; } /* '¨' */
.icon-snow-sharp:before { content: '\a9'; } /* '©' */
.icon-people-sharp-1:before { content: '\aa'; } /* 'ª' */
.icon-search-circle-sharp-1:before { content: '\ab'; } /* '«' */
.icon-time-sharp:before { content: '\ac'; } /* '¬' */
.icon-pricetag-sharp:before { content: '\ae'; } /* '®' */
.icon-jm-29-fees-access-copywrite:before { content: '\af'; } /* '¯' */
.icon-flag-sharp:before { content: '\b0'; } /* '°' */
.icon-ban-sharp-1:before { content: '\b1'; } /* '±' */
.icon-science-math:before { content: '\b4'; } /* '´' */
.icon-icon-oa:before { content: '\b5'; } /* 'µ' */
.icon-paper-plane-sharp:before { content: '\b6'; } /* '¶' */
.icon-doximity-logo.wine-1:before { content: '\b7'; } /* '·' */
.icon-jm-a-icon-integrity:before { content: '\b8'; } /* '¸' */
.icon-person-add:before { content: '\ba'; } /* 'º' */
.icon-build-sharp-1:before { content: '\c1'; } /* 'Á' */
.icon-jm-a-indexing:before { content: '\c2'; } /* 'Â' */
.icon-news:before { content: '\c5'; } /* 'Å' */
.icon-remove-circle-sharp-1:before { content: '\c6'; } /* 'Æ' */
.icon-unlink-sharp-1:before { content: '\c7'; } /* 'Ç' */
.icon-reader-sharp-1:before { content: '\cd'; } /* 'Í' */
.icon-library-sharp-1:before { content: '\ce'; } /* 'Î' */
.icon-mail-open-sharp:before { content: '\cf'; } /* 'Ï' */
.icon-phone-portrait-sharp-1:before { content: '\d2'; } /* 'Ò' */
.icon-tablet-landscape-sharp:before { content: '\d3'; } /* 'Ó' */
.icon-tablet-portrait-sharp:before { content: '\d4'; } /* 'Ô' */
.icon-desktop-sharp-1:before { content: '\d8'; } /* 'Ø' */
.icon-fitness:before { content: '\da'; } /* 'Ú' */
.icon-send-sharp:before { content: '\df'; } /* 'ß' */
.icon-search-sharp:before { content: '\e5'; } /* 'å' */
.icon-toggle-sharp:before { content: '\e6'; } /* 'æ' */
.icon-trending-down-sharp-1:before { content: '\e7'; } /* 'ç' */
.icon-happy-sharp:before { content: '\f7'; } /* '÷' */
.icon-refresh-circle-sharp:before { content: '\f8'; } /* 'ø' */
.icon-code-sharp:before { content: '\0131'; } /* 'ı' */
.icon-bulb-sharp-1:before { content: '\0152'; } /* 'Œ' */
.icon-person-sharp-1:before { content: '\0153'; } /* 'œ' */
.icon-settings-sharp:before { content: '\0192'; } /* 'ƒ' */
.icon-radio-button-sharp-on:before { content: '\02c6'; } /* 'ˆ' */
.icon-bug-sharp-1:before { content: '\02c7'; } /* 'ˇ' */
.icon-prv-icon-business-practices-1:before { content: '\02d8'; } /* '˘' */
.icon-square-sharp:before { content: '\02d9'; } /* '˙' */
.icon-stats-chart-sharp:before { content: '\02da'; } /* '˚' */
.icon-prv-peer-review:before { content: '\02db'; } /* '˛' */
.icon-warning-sharp:before { content: '\02dc'; } /* '˜' */
.icon-mail-sharp:before { content: '\02dd'; } /* '˝' */
.icon-trash-bin-sharp-1:before { content: '\03a9'; } /* 'Ω' */
.icon-refresh-sharp-1:before { content: '\03c0'; } /* 'π' */
.icon-person-circle-sharp:before { content: '\2013'; } /* '–' */
.icon-checkmark-circle-sharp:before { content: '\2014'; } /* '—' */
.icon-reload-sharp:before { content: '\2018'; } /* '‘' */
.icon-cube-1:before { content: '\201a'; } /* '‚' */
.icon-reload-circle-sharp:before { content: '\201c'; } /* '“' */
.icon-shield-sharp-1:before { content: '\201d'; } /* '”' */
.icon-code-slash-sharp:before { content: '\201e'; } /* '„' */
.icon-pricetags-sharp:before { content: '\2020'; } /* '†' */
.icon-ds-a-history-icon:before { content: '\2021'; } /* '‡' */
.icon-today-sharp:before { content: '\2026'; } /* '…' */
.icon-grid-sharp-1:before { content: '\2030'; } /* '‰' */
.icon-megaphone-sharp:before { content: '\2039'; } /* '‹' */
.icon-logo-facebook:before { content: '\203a'; } /* '›' */
.icon-document-lock:before { content: '\2044'; } /* '⁄' */
.icon-notifications-circle-sharp-1:before { content: '\2122'; } /* '™' */
.icon-server-sharp:before { content: '\2202'; } /* '∂' */
.icon-star-sharp:before { content: '\2206'; } /* '∆' */
.icon-color-palette-sharp-1:before { content: '\220f'; } /* '∏' */
.icon-pie-chart-sharp:before { content: '\2211'; } /* '∑' */
.icon-trending-up-sharp-1:before { content: '\221a'; } /* '√' */
.icon-notifications-off-sharp:before { content: '\221e'; } /* '∞' */
.icon-triangle-sharp:before { content: '\222b'; } /* '∫' */
.icon-trash-sharp:before { content: '\2248'; } /* '≈' */
.icon-person-remove-sharp-1:before { content: '\2260'; } /* '≠' */
.icon-education:before { content: '\2264'; } /* '≤' */
.icon-comp-sci:before { content: '\2265'; } /* '≥' */
.icon-download-sharp-1:before { content: '\25ca'; } /* '◊' */
.icon-options-sharp:before { content: '\e857'; } /* '' */
.icon-people-circle-sharp:before { content: '\e879'; } /* '' */
.icon-shield-checkmark-sharp:before { content: '\e889'; } /* '' */
.icon-expand-sharp-1:before { content: '\e89b'; } /* '' */
.icon-language-sharp-1:before { content: '\e89d'; } /* '' */
.icon-accessibility-sharp:before { content: '\e8e5'; } /* '' */
.icon-medkit-sharp:before { content: '\e8e7'; } /* '' */
.icon-jc-pr-publication-practices:before { content: '\e8f8'; } /* '' */
.icon-code-working-sharp:before { content: '\e8f9'; } /* '' */
.icon-open-sharp-1:before { content: '\f8ff'; } /* '' */
.icon-logo-linkedin:before { content: '\fb01'; } /* 'ﬁ' */
.icon-logo-twitter:before { content: '\fb02'; } /* 'ﬂ' */
