@layer components {
    .cds-tooltip-pointer-x-25:after {
        left: calc(25% - 7px);
    }
    .cds-tooltip-pointer-x-50:after {
        left: calc(50% - 6px);
    }
    .cds-tooltip-pointer-x-75:after {
        left: calc(75% - 7px);
    }
    
    .cds-tooltip-pointer-y-25:after {
        top: calc(25% - 7px);
    }
    .cds-tooltip-pointer-y-50:after {
        top: calc(50% - 7px);
    }
    .cds-tooltip-pointer-y-75:after {
        top: calc(75% - 7px);
    }
    .cds-tooltip-pointer-y-kpi-snapshot:after {
        top: 75px;
    }

    .cds-tooltip-face-disabled:after {
        border-left-color: transparent;
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
    .cds-tooltip-face-up:after {
        @apply cds--top-8px;
        border-left-color: currentColor;
        border-top-color: currentColor;
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
    .cds-tooltip-face-down:after {
        @apply cds--bottom-8px;
        border-left-color: transparent;
        border-top-color: transparent;
        border-bottom-color: currentColor;
        border-right-color: currentColor;
    }
    .cds-tooltip-face-left:after {
        @apply cds--left-8px;
        border-left-color: currentColor;
        border-top-color: transparent;
        border-bottom-color: currentColor;
        border-right-color: transparent;
    }
    .cds-tooltip-face-right:after {
        @apply cds--right-8px;
        border-left-color: transparent;
        border-top-color: currentColor;
        border-bottom-color: transparent;
        border-right-color: currentColor;
    }
    
    .cds-tooltip-pointer:after {
        content: "";
        @apply cds-absolute;
        @apply cds-border;
        @apply cds-border-solid;
        @apply cds-w-14px;
        @apply cds-h-14px;
        @apply cds-transform;
        @apply cds-rotate-45;
        @apply cds-z-0;
    }
    
    .cds-tooltip-pointer-winterNight:after {
        @apply cds-bg-winterNight;
        @apply cds-text-winterNight;
    }
    
    .cds-tooltip-pointer-snow:after {
        @apply cds-bg-snow;
        @apply cds-text-snow;
    }
    
    .cds-tooltip-pointer-snow-twilight:after {
        @apply cds-bg-snow;
        @apply cds-text-twilightStratus;
    }
}