@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";

@import '../../../../assets/css/ds/1.0/fonts.css';
@import '../../../../assets/css/ds/1.0/typography.css';
@import '../../../../assets/css/ds/1.0/gap.css';
@import '../../../../assets/css/ds/1.0/grid.css';
@import '../../../../assets/css/ds/1.0/flex.css';
@import '../../../../assets/css/ds/1.0/border.css';
@import '../../../../assets/css/ds/1.0/shadow.css';
@import '../../../../assets/css/ds/1.0/gradient.css';
@import '../../../../assets/css/ds/1.0/dropdown.css';
@import '../../../../assets/css/ds/1.0/journal-card.css';
@import '../../../../assets/css/ds/1.0/motion.css';
@import '../../../../assets/css/ds/1.0/snowbird-sharp-codes.css';
@import '../../../../assets/css/ds/1.0/tooltip.css';

@layer utilities {
    .cds-clearfix {
        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .prose :not(pre) {
        white-space: pre-line;
    }

    *,
    *::before,
    *::after {
        @apply cds-box-border;
    }
    select {
        @apply cds-appearance-none;
    }

    /* Works on Firefox */
    div, ul {
        scrollbar-width: 4px;
        scrollbar-color: #AEAEAE #FFFFFF; /* thumb, track */
    }

    /* Works on Chrome, Edge, and Safari */
    div::-webkit-scrollbar, 
    ul::-webkit-scrollbar {
        @apply cds-w-4px;
        @apply cds-h-4px;
    }

    div::-webkit-scrollbar-track, 
    ul::-webkit-scrollbar-track {
        @apply cds-bg-snow;
    }

    div::-webkit-scrollbar-thumb, 
    ul::-webkit-scrollbar-thumb {
        @apply cds-bg-twilightStratus;
        @apply cds-border-snow;
        @apply cds-border-solid;
        @apply cds-border;
        @apply cds-rounded-16;
    }

}