<template>
    <primitive-button v-bind="$props" class="cds-box-border">
        <slot></slot>
    </primitive-button>
</template>

<script>
import PrimitiveButton from '../primitive/PrimitiveButton';
export default {
    name: 'navso-button',
    components: { PrimitiveButton },
    mixins: [PrimitiveButton],
    props: {
		height: { default: "42px" },
		text_alight: { default: "left" },
		tracking: { default: "sm" },
		leading: { default: "24" },
		padding_top: { default: "8px" },
		padding_bottom: { default: "10px" },
		padding_left: { default: "16px" },
		padding_right: { default: "16px" },
		bgcolor: { default: "transparent" },
		hoverbg: { default: "oceanic" },
		focusbg: { default: "oceanic" },
		focus_visible_ring_width: { default: "4px" },
		focus_visible_ring_color: { default: "liquidWisdom" },
		activebg: { default: "liquidWisdom" },
		disabledbg: { default: "transparent" },
		disabled_text_color: { default: "twilightStratus" },
		rounded: { default: "4" },
		margin_top: { default: "2px" },
		margin_bottom: { default: "2px" },
    },
}
</script>