<template>
    <text-compact-button v-bind="$props"
        @mouseup="loseFocus"
        @mouseleave="loseFocus"
        @mouseout="loseFocus"
    >
        <slot></slot>
    </text-compact-button>
</template>

<script>
import TextCompactButton from '../text/TextCompactButton';

export default {
    name: 'text-button-small',
    components: { TextCompactButton },
    mixins: [TextCompactButton],
    props: {
        height: { default: "20px" },
        padding_top: { default: "2" },
        padding_bottom: { default: "2" },
        padding_x: { default: "8px" },
        rounded: { default: "DEFAULT" },
        font_size: { default: "13px" },
        icon_font_size: { default: "13px" },
        disabled_font_size: { default: "13px" },
        leading: { default: "20" },
        text_color: { default: "winterEvening" },
        icon_text_color: { default: "winterEvening" },
    },
}
</script>