<template>
    <primitive-button v-bind="$props" class="cds-box-border"><slot /></primitive-button>
</template>

<script>
import PrimitiveButton from '../primitive/PrimitiveButton';
export default {
    name: 'text-button',
    components: { PrimitiveButton },
    mixins: [PrimitiveButton],
    props: {
        text_color: { default: 'winterEvening' },
        ring_color: { default: 'none' },
        border_style: { default: 'none' },
        ring_width: { default: '0' },
        rounded: { default: 'card' },
        bgcolor: { default: 'transparent' },
        shadow: { default: 'none' },
        hoverbg: { default: 'blueIce' },
        hover_text_color: { default: 'winterDusk' },
        hover_ring_color: { default: 'none' },
        hover_border_style: { default: 'none' },
        hover_ring_width: { default: '0' },
        focusbg: { default: 'blueIce' },
        focus_text_color: { default: 'winterDusk' },
        focus_ring_color: { default: 'transparent' },
        focus_visible_ring_color: { default: 'winterNoon' },
        focus_border_style: { default: 'solid' },
        focus_ring_width: { default: '4' },
        focus_visible_ring_width: { default: '4' },
        activebg: { default: 'retroBlue' },
        active_text_color: { default: 'winterEvening' },
        active_ring_width: { default: '0' },
        active_border_color: { default: 'none' },
        active_ring_color: { default: 'none' },
        active_border_style: { default: 'none' },
        disabledbg: { default: 'transparent' },
        disabled_border_style: { default: 'none' },
        disabled_ring_width: { default: '0' },
        disabled_text_color: { default: 'twilightStratus' },
        disabled_ring_color: { default: 'none' },
    },
}
</script>