<template>
    <text-button v-bind="$props">
        <slot></slot>
    </text-button>
</template>

<script>
import TextButton from '../text/TextButton';
export default {
    inheritAttrs: true,
    components: { TextButton },
    mixins: [TextButton],
    name: 'text-compact-button',
    props: {
        height: { default: '6' },
        focus_border_width: { default: '' },
        focus_ring_width: { default: '' },
        focus_visible_ring_width: { default: '4' },
        active_ring_width: { default: '4' },
    },
}
</script>