<template>
    <primitive-heatmap v-bind="$props" 
		:isAcademic="isAcademic"
        :content="heatmapData" 
        :grid_props="gridProps" 
        :cell_props="cellProps"
        :badge_props="badgeProps"
        :column_limit="columnLimit"
        :row_limit="rowLimit"
        :key="key"
        :offset="currentYearOffset"    
        :offset_start="currentYearOffsetStart"
    />
</template>

<script>
import { inject } from 'vue';
import { HeatmapGridType } from './lib/HeatmapGridType.ts';
import PrimitiveHeatmap from './PrimitiveHeatmap';
import HeatmapBase from '../../../data/1.0.0/heatmaps/lib/HeatmapBase';
export default {
    name: 'card-section-heatmap',
    components: {
        PrimitiveHeatmap,
    },
    mixins: [HeatmapBase],
    props: {
		isAcademic: { default: false },
	
        content: HeatmapGridType,
        bgcolor: { default: 'transparent' },
        direction: { default: 'row' },
        column_limit: { default: 9 },
        row_limit: { default: 4 },

        width: { default: 'full' },
        height: { default: 'auto' },
        rounded: { default: '8' },

        focus_ring_color: { default: 'transparent'},
        focus_ring_width: { default: '4px'},
        focus_visible_ring_color: { default: 'winterNoon' },
        active_border_color: { default: 'transparent'},
        active_ring_color: { default: 'none'},
        active_ring_width: { default: '0'},
        disabled_border_color: { default: 'dustJacket'},
        disabled_border_width: { default: '1px'},
        disabled_ring_color: { default: 'transparent'},
    },
    computed: {
        currentYearOffset() {
            return this.offset;
        },
        currentYearOffsetStart() {
            return this.offset_start;
        },
        heatmapData() {
            return this.content;
        },
        cellProps() {
            let props = {};
            if (!this.content.Disciplines?.length) {
                props.cell_border_color = 'dustJacket';
            }
            return props;
        },
        columnLimit() {
            return this.column_limit;
        },
        rowLimit() {
            return this.row_limit;
        },
    },
    data() {
        return {
            currentBreakpoint: inject('currentBreakpoint'),
            key: 0,
            gridProps: {
                width: 'full',
                height: '228px',
                min_height: '228px',
                cursor: 'default',
                padding_right: '64px',
                sm_padding_right: '0',
            },
            badgeProps: {
                left: 'full',
                margin_left: '4px',
                padding_x: '2px',
            },
        }
    },
}
export {
    HeatmapGridType,
}
</script>