<template>
    <primitive-heatmap :isAcademic="isAcademic" :content="heatmap_data" :grid_props="grid_props" :cell_props="cell_props" />
</template>

<script>
import { HeatmapGridType } from './lib/HeatmapGridType.ts';
import PrimitiveHeatmap from './PrimitiveHeatmap';

export default {
    name: 'heatmap-preview',
    components: {
        PrimitiveHeatmap,
    },
    mixins: [PrimitiveHeatmap],
    props: {
		isAcademic: { default: false },
        content: HeatmapGridType,
    },
    data() {
        const heatmap_data = this.content;
        heatmap_data.IsPreview = true;
        return {
            heatmap_data,
        }
    },
}
export {
    HeatmapGridType,
}
</script>