<template>
    <grid-cell @mouseout="[widgetLoseHover(), closeWidget(50)]" :width="width" :height="height" 
				v-tippy="{content: tippyContent, placement: 'bottom', offset: [0,-10], theme: 'standard-white'}">
        <flex-cell @mouseover="[widgetCaptureHover(), checkWidget()]" v-bind="$props" :width="width" :height="height"
            direction="col" justify_content="end" position="relative"
        >
            <flex-cell v-bind="$props" :width="width" :height="height" :bgcolor="bgByScore" :style="opacityByScore" 
                class="cds-flex-center">
                <flex-cell aria-hidden="true" v-if="score === null && currentBreakpoint !== 'sm' && nodata === null" 
                    v-bind="noDataStyles">No Data</flex-cell>
                <flex-cell aria-hidden="true" v-else-if="score === null && currentBreakpoint === 'sm' && nodata === null" 
                    v-bind="noDataStyles">—</flex-cell>
            </flex-cell>
            
            <percentile-badge v-if="showingBadge" aria-hidden="true"
                :badge_props="badge_props" 
                :content="content" 
                :trending="getTrending" 
                :adjusted="isPreview" 
            />
        </flex-cell>
    </grid-cell>
</template>

<script>
import ComponentBase from '../../../lib/1.0.0/ComponentBase';
import HoverBase from '../../../lib/1.0.0/HoverBase';
import { defineAsyncComponent, inject } from 'vue';
import { HeatmapScoreType } from './lib/HeatmapGridType';
const FlexCell = defineAsyncComponent(() => import('../../../flex/1.0.0/cell/FlexCell'));
const GridCell = defineAsyncComponent(() => import('../../../grid/1.0.0/GridCell'));
const PercentileBadge = defineAsyncComponent(() => import('../../../cards/1.0.0/badges/PercentileBadge'));
export default {
    name: 'heatmap-cell',
    components: {
        FlexCell,
        GridCell,
        PercentileBadge,
    },
    mixins: [ComponentBase, HoverBase],
    props: {
		isAcademic: { default: false },
        content: HeatmapScoreType,
        isPreview: { default: false },
        showBadge: Boolean,
        trending: Number, // -1, 0, or 1
        bgcolor: { default: 'transparent' },
        cell_border_color: { default: 'snow' },
        badge_props: Object,
    },
    computed: {
		score_color() {
			return this.isAcademic? "winterDusk":"fullFathom";
		},
        getTrending() {
            return this.trending;
        },
        score() {
            return this.isPreview ? (this.content?.AdjustedSnapshotScore ?? this.content.Score) : this.content.Score;
        },
        displayScore() {
            let score = this.score;
            if (score < 1) {
                score = Math.floor(score * 100);
            }
            return String(score);
        },
        bgByScore() {
            let score = this.score;
            if (!score) {
                return 'naturalGray';
            }
            return this.score_color;
        },
        opacityByScore() {
            let score = this.score;
            if (!score || score === 100) {
                return 'opacity: 1;';
            }
            const stringScore = String(score);
            if (!stringScore.startsWith('0.')) {
                score = score / 100;
            }
            // done as style instead of property to avoid defining 100 opacity values in Tailwind config
            return 'opacity: ' + String(score) + ';';
        },
        showingBadge() {
            return this.content?.AdjustedSnapshotScore !== null && this.showBadge && this.currentBreakpoint !== 'sm';
        },
        tippyContent() {
            return (this.score !== null && !this.isPreview)? this.displayScore + '% Influential' : '';
        },
    },
    data() {
        return {
            currentBreakpoint: inject('currentBreakpoint'),
            nodata: inject('noData').value,
            noDataStyles: {
                text_color: 'winterNight',
                font_size: 'mini',
                leading: 'mini',
                tracking: 'micro',
                text_align: 'center',
                direction: 'col',
                justify_content: 'center',
                align_items: 'center',
                height: 'full',
                width: 'full',
                position: 'absolute',
                sm_position: 'relative',
            },
            tooltipProps: {
                rounded: '4',
                width: 'auto',
                height: '32px',
                face: 'up',
                bgcolor: 'snow',
                pointer_bg: 'snow',
                shadow: 'tooltip_sm',
                text_color: 'winterNight',
                font_weight: 'semibold',
                tracking: 'tiny',
                leading: '20px',
                font_size: '3-25',
                z_index: '50',
                whitespace: 'nowrap',
                border_color: 'transparent',
                ring_color: 'snow',
                ring_width: '1',
                justify_content: 'center',
                align_items: 'center',
            },
        }
    },
}
export {
    HeatmapScoreType,
}
</script>