<template>
    <primitive-heatmap :content="heatmapData" />
</template>

<script>
import { defineAsyncComponent } from 'vue';
import { HeatmapGridType } from './lib/HeatmapGridType.ts';
const PrimitiveHeatmap = defineAsyncComponent(() => import('./PrimitiveHeatmap'));

export default {
    name: 'heatmap',
    components: {
        PrimitiveHeatmap,
    },
    props: {
        content: HeatmapGridType,
    },
    data() {
        const heatmapData = this.content;
        heatmapData.IsPreview = false;
        return {
            heatmapData,
        }
    },
}
</script>