<template>
    <cds-grid :key="currentHeatmapKey" :columns="columns" :rows="rows" v-bind="gridProps">
        <heatmap-cell v-for="(cell, idx) in gridData" :key="idx" :idx="idx"
			:isAcademic="isAcademic"
            :content="cell" v-bind="cellProps" width="auto" :height="cellHeight" :min_height="cellHeight"
            :showBadge="showBadge(idx)" :isPreview="content?.IsPreview"
            :trending="cell.trending" :badge_props="badgeProps"
        />
    </cds-grid>
</template>

<script>
import HeatmapBase from './lib/HeatmapBase';
import { defineAsyncComponent, inject } from 'vue';
const CdsGrid = defineAsyncComponent(() => import('../../../grid/1.0.0/Grid'));
const HeatmapCell = defineAsyncComponent(() => import('./HeatmapCell'));

export default {
    name: 'primitive-heatmap',
    components: {
        CdsGrid,
        HeatmapCell,
    },
    mixins: [HeatmapBase],
	props: {
		isAcademic: { default: false },
	},
    computed: {
        currentHeatmapKey() {
            return this.heatmapKey;
        },
        currentYearOffset() {
            return this.offset ?? this.current_year_offset;
        },
        currentYearOffsetStart() {
            return this.offset_start ?? this.current_year_offset_start;
        },
        columnLimit() {
            return this.column_limit;
        },
        columns() {
            // assuming data is uniform, we can infer the length from the first row
            let length = this.heatmapData?.length ? this.heatmapData[0]?.Scores?.length ?? 1 : 1;
            return this.getColumnNum(length);
        },
        rows() {
            let length = this.heatmapData?.length ?? 1;
            return this.getRowNum(length);
        },
        heatmapData() {
            return this.content?.Disciplines ?? [{}];
        },
        gridData() {
            let gridData = [];
            let data = [];
            if (this.heatmapData?.length) {
                data = [...this.heatmapData];
            }
            const startOffset = this.isPreview ? 0 : this.currentYearOffsetStart;
            const offset = this.isPreview ? this.columns : this.currentYearOffset;

            for (const i in data) {
                const trending = data[i].Trendline;
                let scoresData = [...data[i]?.Scores ?? []];

                let Scores = scoresData.slice(startOffset, offset);
                for (const j in Scores) {
                    Scores[j].trending = trending;
                }
                Scores = Scores.reverse(); // data is reversed so that years are asc left to right when grid is rendered
                gridData = gridData.concat(Scores);
            }
            return gridData ?? [];
        },
        cellHeight() {
            return (this.heatmapData?.length ?? 0) <= 4 ? 'full' : '60px';
        },
        isPreview() {
            return this.content?.IsPreview ?? false;
        },
    },
    data() {
        return {
            currentBreakpoint: inject('currentBreakpoint'),
            heatmapKey: Date.now(),
            gridProps: Object.assign(this.getGridProps(), this.grid_props),
            cellProps: Object.assign(this.getCellProps(), this.cell_props),
            badgeProps: Object.assign(this.getBadgeProps(), this.badge_props),
        }
    },
    watch: {
        currentBreakpoint() {
            this.heatmapKey = Date.now();
        },
    },
}
</script>