<template>
    <primitive-compact-button v-bind="$props">
        <slot></slot>
    </primitive-compact-button>
</template>

<script>
import PrimitiveCompactButton from '../primitive/PrimitiveCompactButton';
import SecondaryButton from '../secondary/SecondaryButton';
export default {
    components: { PrimitiveCompactButton },
    mixins: [SecondaryButton],
    name: 'secondary-compact-button',
    props: {
        height: { default: '6' },
        rounded: { default: 'DEFAULT' },
            
        text_color: { default: 'winterEvening' },
        hover_text_color: { default: 'winterDusk' },
        focus_text_color: { default: 'winterDusk' },
        active_text_color: { default: 'winterEvening' },
        disabled_text_color: { default: 'twilightStratus' },

        bgcolor: { default: 'snow' },
        hoverbg: { default: 'blueIce' },
        focusbg: { default: 'blueIce' },
        activebg: { default: 'blueIce' },
        disabledbg: { default: 'naturalGray' },

        border_style: { default: 'solid' },
        hover_border_style: { default: 'solid' },
        focus_border_style: { default: 'solid' },
        active_border_style: { default: 'solid' },
        disabled_border_style: { default: 'solid' },

        ring_width: { default: '1' },
        hover_ring_width: { default: '1' },
        focus_ring_width: { default: '1' },
        focus_visible_ring_width: { default: '4' },
        active_ring_width: { default: '1' },
        disabled_ring_width: { default: '1' },

        ring_color: { default: 'winterEvening' },
        hover_ring_color: { default: 'winterEvening' },
        focus_ring_color: { default: 'transparent' },
        focus_visible_ring_color: { default: 'winterNoon' },
        active_ring_color: { default: 'winterEvening' },
        disabled_ring_color: { default: 'twilightStratus' },
    },
}
</script>