<template>
    <primitive-snapshot v-bind="$props" min_width="140px" sm_min_width="60px" height="auto" direction="col"
        class="focus:cds-outline-none" tabindex="0" :tooltip_props="tooltipProps" :tooltip_tags="getTooltipTags"
        @mouseover="captureHover" @mouseout="loseHover" @focus="captureHover" @blur="loseHover"
        :tag_group_props="{min_height: '104px', margin_top: '2px', gap_y: '2px'}" 
        :tag_props="{whitepace: 'nowrap', wrap: 'nowrap'}" :label_props="tooltipLabelProps" cci_kpi='cci'
    >
        <flex-cell v-if="(currentBreakpoint !== 'sm' && getYears.length) && noData !== 'no_data' && noData !== 'no_snapshot_data'" 
            v-bind="yearGridProps"
        >
            <flex-cell v-for="(year, index) in getYears" :key="index" v-bind="yearProps"
                :width="currentWidth" min_width="26px" class="cds-text-2-752" 
            >
                <span v-if="(hovering || (index + 1) === getYears.length)" aria-hidden="true">{{ year }}</span>
            </flex-cell>
        </flex-cell>
        <flex-cell>
            <flex-cell position="relative" class="cds-flex-center">
                <heatmap-preview :isAcademic="isAcademic" :content="heatmapPreviewData" :grid_props="gridProps"
                    :cell_props="cellProps" />
                <flex-cell v-if="!getYears.length || noData === 'no_data' || noData === 'no_snapshot_data'" 
                    v-bind="noDataLabelProps" aria-hidden="true">No Data</flex-cell>
            </flex-cell>
        </flex-cell>
        <flex-cell v-if="currentBreakpoint !== 'sm'" class="cds-text-2-752" v-bind="labelProps">{{ label }}</flex-cell>
    </primitive-snapshot>
</template>

<script>
import PrimitiveSnapshot from './PrimitiveSnapshot';
import { defineAsyncComponent, inject } from 'vue';
import HeatmapBase from '../../../data/1.0.0/heatmaps/lib/HeatmapBase';
const HeatmapPreview = defineAsyncComponent(() => import('../../../data/1.0.0/heatmaps/HeatmapPreview'));
const FlexCell = defineAsyncComponent(() => import('../../../flex/1.0.0/cell/FlexCell'));

export default {
    name: 'cci-snapshot',
    components: {
        PrimitiveSnapshot,
        HeatmapPreview,
        FlexCell,
    },
    mixins: [PrimitiveSnapshot, HeatmapBase],
    props: {
		isAcademic: { default: false },
	
        bgcolor: { default: 'transparent' },
        direction: { default: 'row' },
        justify_content: { default: 'start' },
        align_items: { default: 'start' },
        label: { default: 'Discipline snapshot' },

        width: { default: '140px' },
        height: { default: 'auto' },
        rounded: { default: '8' },

        focus_ring_color: { default: 'transparent'},
        focus_ring_width: { default: '4px'},
        focus_visible_ring_color: { default: 'winterNoon' },
        active_border_color: { default: 'transparent'},
        active_ring_color: { default: 'none'},
        active_ring_width: { default: '0'},
        disabled_border_color: { default: 'dustJacket'},
        disabled_border_width: { default: '1px'},
        disabled_ring_color: { default: 'transparent'},
		
		tooltip_props: { default: {} },
    },
    methods: { 
        getYear(cell, idx) {
            let year = cell.Year;
            idx = parseInt(idx) + 1;
            const showBadge = idx % this.column_limit === 0;
            if (!showBadge) {
                const abbrev = String(year).slice(-2);
                return '❜' + abbrev[0] + abbrev[1];
            }
            return String(year);
        },
    },
    computed: {
        currentWidth() {
            if (this.columns === 1 || this.columns === 0) {
                return 'full';
            }
            return '1/' + this.columns;
        },
        columns() {
            // assuming data is uniform, we can infer the length from the first row
            let length = this?.heatmapData[0]?.length ? this.heatmapData[0].Scores?.length ?? 1 : 1;
            return this.getColumnNum(length);
        },
        rows() {
            let length = this.heatmapData.Disciplines?.length ?? 1;
            return this.getRowNum(length);
        },
        getYears() {
            // assume data is uniform and first row years match subsequent row years
            const years = [];
            if (this?.heatmapData[0]?.Scores) {
                let data = [...this?.heatmapData[0].Scores];
                data = data.slice(0, 4);
                data.reverse();
                for (const i in data) {
                    years.push(this.getYear(data[i], i));
                }
            }
            return years;
        },
        heatmapPreviewData() {
            let disciplines = [...this.heatmapData];
            if (!Array.isArray(disciplines) || !disciplines?.length) {
                disciplines = [];
                for (let i = 0; i < 4; i++) {
                    disciplines[i] = {
                        Scores: [{},{},{},{}],
                        Trendline: 0,
                        DisciplineName: '',
                    };
                }
            } else {
                disciplines = disciplines.slice(0, 4);
            }
            return {
                Disciplines: disciplines,
            }
        },
        heatmapData() {
            return this.content;
        },
        cellProps() {
            let props = {};
            if (!this.heatmapData?.length) {
                props.cell_border_color = 'dustJacket';
            }
            return props;
        },
        tooltipProps() {
            return this.tooltip_props;
        },
        getTooltipTags() {
            const tags = [];
            const disc = this.content;
            for (const d of disc) {
                tags.push({content: d?.DisciplineName, component: 'PrimitiveCompactTag'});
            }
            return tags;
        },
    },
    data() {
        return {
            currentBreakpoint: inject('currentBreakpoint'),
            noData: inject('noData').value,
            gridProps: {
                width: '104px',
                min_width: '104px',
                max_width: '104px',
                height: '104px',
                min_height: '104px',
                max_height: '104px',
                sm_width: '60px',
                sm_min_width: '60px',
                sm_max_width: '60px',
                sm_height: '60px',
                sm_min_height: '60px',
                sm_max_height: '60px',
                cursor: 'pointer',
                bgcolor: 'transparent',
                direction: 'row',
            },
            yearGridProps: {
                width: '104px',
                min_width: '104px',
                max_width: '104px',
                height: '2-752',
                min_height: '2-752',
                max_height: '2-752',
                font_size: '11px',
                direction: 'row',
                align_items: 'center',
                justify_content: 'center',
                cursor: 'pointer',
            },
            yearProps: {
                font_size: '2-752',
                leading: '5',
                tracking: 'tiny',
                text_color: 'nightCloud',
                height: '2-752',
                min_height: '2-752',
                max_height: '2-752',
                direction: 'col',
                align_items: 'center',
                justify_content: 'center',
                cursor: 'pointer',
            },
            labelProps: {
                text_color: 'winterNight',
                tracking: 'micro',
                leading: '4',
                font_weight: 'semibold',
                direction: 'col',
                justify_content: 'center',
                align_items: 'start',
                height: '2-752',
                min_height: '2-752',
                max_height: '2-752',
                cursor: 'default',
                margin_top: '1px',
                margin_bottom: '4px',
                whitespace: 'nowrap',
            },
            noDataLabelProps: {
                text_transform: 'uppercase',
                font_size: '4',
                font_weight: 'bold',
				text_align: 'center',
                leading: '6',
                tracking: 'micro',
                position: 'absolute',
                direction: 'col',
                justify_content: 'center',
                align_items: 'center',
                width: 'auto',
                height: '4',
            },
            tooltipLabelProps: {
                height: '42px',
                width: '140px',
                padding_left: '4px',
            },
        }
    },
}
</script>