<template>
    <primitive-snapshot v-bind="$props" :tooltip_box_props="{left: '64px'}" :tooltip_props="tooltipProps"
        class="focus:cds-outline-none hover:cds-bg-snow focus:cds-bg-snow" tabindex="0"
		:tooltip_tags="getTooltipTags" :tag_group_props="tagGroupProps" :tag_props="tagProps"
        @mouseover="captureHover" @mouseout="loseHover" @focus="captureHover" @blur="loseHover" cci_kpi='kpi'
	>
		<flex-cell
			height="62px"
			width="100px" 
			rounded="DEFAULT"
			bgcolor="twilightStratus"
			direction="column"
			position="relative"
			overflow="hidden"
		>
			<flex-cell
				v-for="(bar, index) in violationsData"
				:key="index"
				width="full"
				grow="1"
				border_color="snow"
				:class="index==violationsData.length? '' : 'cds-border-b-1'"
			>
				<flex-cell
					width="full"
					:opacity="getOpacity(bar.Severity)"
					:class="getGradient(bar.Severity)"
				/>
			</flex-cell>
			<flex-cell
				position="absolute"
				top="0"
				left="0"
				width="full"
				height="full"
				opacity="70"
				class="cds-flex-center"
			>
				<flex-cell width="11" height="11" bgcolor="snow" rounded="1/2" class="cds-flex-center">
					<icon glyph="warning-sharp" font_size="6" text_color="red" />
				</flex-cell>
			</flex-cell>
		</flex-cell>
		<flex-cell v-if="currentBreakpoint !== 'sm'" class="cds-text-2-752" v-bind="labelProps">{{ label }}</flex-cell>
    </primitive-snapshot>
</template>

<script>

import { defineAsyncComponent, inject} from 'vue';
import PrimitiveSnapshot from './PrimitiveSnapshot';
const FlexCell = defineAsyncComponent(() => import('../../../flex/1.0.0/cell/FlexCell'));
const Icon = defineAsyncComponent(() => import('../../../icons/1.0.0/Icon'));
export default {
    name: 'kpi-snapshot',
    components: {
        PrimitiveSnapshot,
		FlexCell,
		Icon,
    },
    mixins: [PrimitiveSnapshot],
    props: {
        min_width: { default: '128px' },
        sm_min_width: { default: '100px' },
        direction: { default: 'col' },
        justify_content: { default: 'end' },
        align_items: { default: 'center' },
        height: { default: '82px' },
		violation_data: { default: [] },
		label: { default: 'Violations' },
		rounded: { default: 'DEFAULT' },
		tooltip_props: { default: {} },
    },
	data() {
		return {
			currentBreakpoint: inject('currentBreakpoint'),
			labelProps: {
                text_color: 'winterNight',
                tracking: 'micro',
                leading: '4',
                font_weight: 'semibold',
                direction: 'col',
                justify_content: 'center',
                align_items: 'start',
                width: '100px',
                min_width: '100px',
                max_width: '100px',
                height: '2-752',
                min_height: '2-752',
                max_height: '2-752',
                cursor: 'default',
                margin_top: '1px',
				padding_left: '4px',
				margin_bottom: '4px',
				whitespace: 'nowrap',
            },
			tagGroupProps: {
				direction: 'col',
				align_items: 'start',
				justify_content: 'start',
				gap_x: '4px',
				min_height: '124px',
			},
			tagProps: {
				max_width: '94px',
				whitespace: 'normal',
				wrap: 'wrap',
                width: 'auto',
                height: 'auto',
			},
		}
	},
	computed: {
		violationsData() {
			return this.violation_data;
		},
		tooltipProps() {
			let tags = [];
			for (const data of this.violation_data) {
				let bgcolor = '';
				if (data?.Severity === 'Severe') {
					bgcolor = 'red-800';
				} else if (data?.Severity === 'Moderate') {
					bgcolor = 'red';
				} else if (data?.Severity === 'Minor') {
					bgcolor = 'gold';
				}
				tags.push({bgcolor: bgcolor});
			}
			let ret = {...this.tooltip_props}; // makes a copy instead of a reference
			ret.label = 'Violation Categories';
			ret.description = 'Cabells has identified deceptive, fraudulent, and/or predatory practices based on these categories.';
			ret.tags = tags;
			ret.width = '140px';
			ret.min_height = '260px';
			ret.pointer_position = 'kpi-snapshot';
			ret.border_color = 'twilightStratus';
			ret.border_width = '1px';
			ret.pointer_disabled = false;
			return ret;
        },
		getTooltipTags() {
            const tags = [];
			if (this.currentBreakpoint !== 'sm') {
				const disc = this.violation_data;
				for (const d of disc) {
					tags.push({
						severity: d?.Severity, 
						content: d?.CategoryName,
						component: 'PredatoryCompactTag',
						wrap: 'nowrap',
					});
				}
			}
            return tags;
        },
	},
	methods:
	{
		getOpacity(severity)
		{
			switch (severity)
			{
				case "Minor": {
					return "30";
				}
				case "Moderate": {
					return "60";
				}
				case "Severe": {
					return "90";
				}
				default: { 
					return '0';
				}
			}
		},
		getGradient(severity) {
			const dir = (severity === 'Severe') ? 'nights' : 'dawn';
			let gradient = 'cds-bg-gradient-arctic-' + dir + ' ';
			gradient += severity === 'Severe' ? 'cds-bg-gradient-to-l' : 'cds-bg-gradient-to-r';
			return gradient;
		},
	},
}
</script>