<template>
    <primitive-snapshot v-bind="$props" class="focus:cds-outline-none sm:cds-max-h-40px" tabindex="0">
        <flex-cell v-bind="topCellProps">
            <flex-cell v-bind="scoreProps">{{ metricData?.Score?.toLocaleString() }}</flex-cell>
            <flex-cell v-bind="descriptionProps" class="cds-overflow-ellipsis">
                <short-text v-bind="shortTextProps">{{ metricData?.Description }}</short-text>
            </flex-cell>
        </flex-cell>
        <flex-cell 
            lg_position="absolute" lg_bottom="0" 
            md_position="absolute" md_bottom="0" 
            sm_position="absolute" sm_bottom="2px" 
            margin_bottom="-2px" md_margin_bottom="0" lg_margin_bottom="0"
        >
            <flex-cell v-bind="labelProps">{{ metricData?.Label }}</flex-cell>
        </flex-cell>
    </primitive-snapshot>
</template>

<script>
import PrimitiveSnapshot from './PrimitiveSnapshot';
import { defineAsyncComponent, inject } from 'vue';
const FlexCell = defineAsyncComponent(() => import('../../../flex/1.0.0/cell/FlexCell'));
const ShortText = defineAsyncComponent(() => import('../../../data/1.0.0/ShortText'));
export default {
    name: 'metric-snapshot',
    components: {
        PrimitiveSnapshot,
        FlexCell,
        ShortText,
    },
    mixins: [PrimitiveSnapshot],
    props: {
        content: Object,
        is: String,
        direction: { default: 'col' },
        justify_content: { default: 'center' },
        align_items: { default: 'between' },
        position: { default: 'relative' },
        bgcolor: { default: 'snow' },
        hoverbg: { default: 'naturalGray' },
        activebg: { default: 'naturalGray' },
        focusbg: { default: 'naturalGray' },
        rounded: { default: '4' },
        padding: { default: '1-5' },
        border_width: { default: '1px' },
        border_color: { default: 'green-200' },
        xxl_width: { default: '114px' },
        xl_width: { default: '114px' },
        width: { default: '106px' },
        xxl_min_width: { default: '114px' },
        xl_min_width: { default: '114px' },
        min_width: { default: '106px' },
        sm_width: { default: '106px' },
        xxl_height: { default: '114px' },
        xl_height: { default: '114px' },
        height: { default: '40px' },

        hover_border_color: { default: 'green-200'},
        focus_ring_color: { default: 'transparent'},
        focus_ring_width: { default: '4px'},
        focus_visible_ring_color: { default: 'winterNoon' },
        active_border_color: { default: 'green-200'},
        active_ring_color: { default: 'none'},
        active_ring_width: { default: '0'},
        disabled_border_color: { default: 'dustJacket'},
        disabled_border_width: { default: '1px'},
        disabled_ring_color: { default: 'transparent'},
    },
    computed: {
        metricData() {
            switch (this.is) {
                case 'citations': {
                    return {
                        'Label': 'Smart Citations™',
                        'Description': 'scite Index',
                        'Score': this.content?.Index_Lifetime ?? '—', 
                    };
                }
                case 'attention': {
                    return {
                        'Label': 'Attention',
                        'Description': this.currentBreakpoint === 'md' ? 'article rate' : 'Altmetric median mentions/article',
                        'Score': this.content?.MedianMentionsPerArticle ?? '—', 
                    };
                }
                default: {
                    return {
                        'Label': '',
                        'Description': '',
                        'Score': '',
                    };
                }
            }
        },
    },
    data() {
        return {
            currentBreakpoint: inject('currentBreakpoint'),
            topCellProps: {
                direction: 'col',
                justify_content: 'center',
                xxl_height: '114px',
                xl_height: '114px',
                height: '40px',
                align_items: 'center',
            },
            scoreProps: {
                justify_content: 'center',
                align_items: 'center',
                text_align: 'center',
                font_weight: 'bold',
                xxl_font_size: '8-252',
                xl_font_size: '8-252',
                font_size: '3-25',
                xxl_leading: '52',
                xl_leading: '52',
                leading: '5',
                xxl_tracking: 'h2',
                xl_tracking: 'h2',
                tracking: 'mini',
                margin_bottom: '0',
                margin_top: '-1',
                height: '38px',
                lg_height: '18px',
                md_height: '18px',
                sm_height: '18px',
                text_color: 'winterNight',
                top: '-4',
            },
            descriptionProps: {
                justify_content: 'center',
                align_items: 'start',
                xxl_font_size: '3-25',
                xl_font_size: '3-25',
                font_size: '2-752',
                font_weight: 'light',
                leading: '5',
                tracking: 'tiny',
                text_align: 'center',
                margin_bottom: '0',
                xxl_height: '38px',
                xl_height: '38px',
                height: '16px',
                text_color: 'winterNight',
                sm_overflow: 'hidden',
                position: 'relative',
                xxl_top: '1px',
                xl_top: '1px',
                top: '-3',
                xxl_width: 'full',
                xl_width: 'full',
                width: 'full',
            },
            labelProps: {
                font_weight: 'semibold',
                xxl_font_size: '2-752',
                xl_font_size: '2-752',
                font_size: '2-752',
                leading: 'mini',
                xxl_tracking: 'default',
                xl_tracking: 'default',
                tracking: 'tiny',
            },
            shortTextProps: {
                xxl_whitespace: 'pre-wrap',
                xl_whitespace: 'pre-wrap',
                whitespace: 'nowrap',
                xxl_width: 'full',
                xl_width: 'full',
                width: 'full',
                padding: '0',
                height: '40px',
                display: 'inline-block',
            },
        }
    },
}
</script>