<template>
	<flex-cell
		position="relative"
		@mouseover="show_tooltip = true"
		@mousemove="onMouseMove($event)"
	>
		<flex-cell
			position="absolute"
			width="full"
			height="full"
			class="cds-bg-gradient-to-l cds-to-nightCloud cds-from-midnightMatter"
			:opacity="stripe_opacity"
		/>
		<flex-cell
			position="absolute"
			width="full"
			height="full"
			justify_content="between"
		>
			<PrimitiveCompactTag
				:bgcolor="tag_color"
				:text_color="text_color"
				margin_left="2"
				margin_top="2"
				padding_left="0"
			>
				<div style="display: flex; align-items: center;">
					<PredatoryIcon :category_name="violation_data.CategoryName"  />
					{{ violation_data?.CategoryName }}
				</div>
			</PrimitiveCompactTag>
			<flex-cell
				leading="h2"
				tracking="normal"
				bgcolor="nightCloud"
				border_color="snow"
				border_width="1px"
				rounded="1/2"
				height="5"
				width="5"
				padding_left="1px"
				margin_right="2"
				margin_top="2"
				text_color="snow"
				font_size="2-75"
				class="cds-flex-center"
				text_align="center"
			>
				{{ violation_data?.Count }}
			</flex-cell>
		</flex-cell>
	</flex-cell>
</template>

<script>
	import { defineAsyncComponent, } from 'vue';
	const FlexCell = defineAsyncComponent(() => import('../../../flex/1.0.0/cell/FlexCell'));
	const PrimitiveCompactTag = defineAsyncComponent(() => import('../../../tags/1.0.0/PrimitiveCompactTag'));
	const PredatoryIcon =  defineAsyncComponent(() => import('../../../icons/1.0.0/PredatoryIcon'));
	
	export default
	{
		name: "predatory-overview-stripe",
		components:
		{
			FlexCell,
			PrimitiveCompactTag,
			PredatoryIcon,
		},
		props:
		{
			violation_data: { default: {} },
			is_top: {default: false },
		},
		data()
		{
			const stripe_opacity = {
				"Minor": "30",
				"Moderate": "60",
				"Severe": "90",
			}[this.violation_data?.Severity]
			const tag_color = {
				"Minor": "sunshine",
				"Moderate": "red",
				"Severe": "red-800",
			}[this.violation_data?.Severity]
			const text_color = {
				"Minor": "winterNight",
				"Moderate": "snow",
				"Severe": "snow",
			}[this.violation_data?.Severity]
			const glyph_key = {
				"publication practices": 'publication',
				"peer review": 'peer review',
				"indexing & metrics": 'indexing',
				"website": 'website',
				"access & copyright": 'fees',
				"fees, access & copyright": 'fees',
				"integrity": 'integrity',
				"business practices": "business",
			}[this.violation_data?.CategoryName?.toLowerCase()];
			return {
				stripe_opacity: stripe_opacity,
				tag_color: tag_color,
				text_color: text_color,
				glyph_key: glyph_key,
				show_tooltip: false,
				tooltip_x: 0,
				tooltip_y: 0,
			};
		},
		methods:
		{
			onMouseMove(e)
			{
				this.tooltip_x = e.clientX;
				this.tooltip_y = e.clientY;
			}
		},
	}
</script>