<template>
	<flex-cell direction="col" v-if="violation_data.length">
		<predatory-overview-stripe
			v-for="(stripe, index) in violation_data"
			:key="index"
			:violation_data="stripe"
			:is_top="index==0"
			width="full"
			grow="1"
			border_color="snow"
			:class="(index==0? '' : 'cds-border-t-1 ') + (index==violation_data.length? '' : 'cds-border-b-1')"
		/>
	</flex-cell>
</template>

<script>
	import { defineAsyncComponent } from 'vue';
	const FlexCell = defineAsyncComponent(() => import('../../../flex/1.0.0/cell/FlexCell'));
	const PredatoryOverviewStripe =  defineAsyncComponent(() => import('./PredatoryOverviewStripe'));
	export default {
		name: 'predatory-snapshot-large',
		components: {
			FlexCell,
			PredatoryOverviewStripe,
		},
		props: {
			violation_data: { default: [] },
		},
	}
</script>