<template>
    <flex-cell v-bind="$props" class="cds-box-border cds-z-50" 
        @focus="[focusSnapshot($event)]" 
        @blur="[blurSnapshot($event)]"
        @mouseover="[captureHover(), focusSnapshot($event)]"
        @mouseleave="[blurSnapshot($event)]"
    >
        <slot />
        <flex-cell v-if="(hovering || widget_hovering) && tooltipTags?.length && tooltip_props?.description?.length" 
            class="cds-flex-center cds-z-40" v-bind="tooltipBoxProps"
        >
            <tooltip-peek class="cds-flex-center" :style="tooltipStyles" v-bind="tooltipProps" :tags="tooltipTags"
                :descr_props="tooltipDescrProps" :tag_group_props="tagGroupProps" :tag_props="tagProps" 
                :label_props="labelProps"
                @blur="[blurTooltip()]"
                @focus="[focusTooltip()]"
                @mouseover="[focusTooltip()]"
                position="absolute"
            >
                {{ tooltip_props.description }}
            </tooltip-peek>
        </flex-cell>
    </flex-cell>
</template>
    
<script>
import ComponentBase from '../../../lib/1.0.0/ComponentBase';
import HoverBase from '../../../lib/1.0.0/HoverBase';
import { defineAsyncComponent } from 'vue';
const FlexCell = defineAsyncComponent(() => import('../../../flex/1.0.0/cell/FlexCell'));
const TooltipPeek = defineAsyncComponent(() => import('../../../tooltips/1.0.0/TooltipPeek'));

export default {
    name: 'primitive-snapshot',
    components: {
        FlexCell,
        TooltipPeek,
    },
    mixins: [ComponentBase, HoverBase],
    props: {
        content: Object,
        width: { default: '94px' },
        height: { default: '94px' },
        direction: { default: 'col' },
        tooltip_box_props: { default: {} },
        tooltip_props: { default: {} },
        tag_props: { default: {} },
        tag_group_props: { default: {} },
        label_props: { default: {} },
        tooltip_tags: { default: [] },
		cci_kpi: { default: '' },
    },
    methods: {
        getTagGroupHeight() {
            const height = this.tooltipTags?.length ?? 0;
            return height === 1 ? 'auto' : 'full';
        },
        getTagGroupGap() {
            const count = this.tooltipTags?.length ?? 0;
            let gap = 1;
            if (count?.length === 4) {
                gap = 1;
            } else if (count?.length === 3) {
                gap = 2;
            } else if (count?.length === 2) {
                gap = 5;
            } else if (count?.length === 1) {
                gap = 4;
            }
            return String(gap);
        },
        getTagProps() {
            return {
                margin_top: '0',
                margin_bottom: '0',
                padding_x: '0',
                max_width: '124px',
            };
        },
        focusSnapshot(event) {
            if (this.tooltipTags?.length) {
                this.buttonGroupCaptureHover(event, this.tooltipTags);
                this.checkWidget();
            }
        },
        blurSnapshot(event) {
            if (this.tooltipTags?.length) {
                this.buttonGroupLoseHover(event);
            }
        },
        focusTooltip() {
            if (this.tooltipTags?.length) {
                this.widgetCaptureHover(); 
                this.checkWidget();
            }
        },
        blurTooltip() {
            if (this.tooltipTags?.length) {
                this.widgetLoseHover();
            }
        },
    },
    computed: {
        tooltipStyles() {
			const facing = this.tooltipProps?.face ?? '';
            const spacing = this.tooltipProps?.pointer_disabled ? 8 : 16;
			const adjustment = this.tooltipProps?.adjustments?.[this.cci_kpi]?.[facing] ?? 0;
            let width = this.tooltipProps?.width ?? 'auto';
            if (width.endsWith('px')) {
                width = parseInt(width.split('px')[0]) + spacing + adjustment + 'px';
            }
            return facing + ': ' + width;
        },
        tooltipProps() {
            let props = this.tooltip_props ?? {};
            props.min_height = '260px';
            props.max_width = '140px';
            props.ring_color = 'transparent';
            return props;
        },
        tooltipTags() {
            let tags = [];
            for (const tag of this.tooltip_tags) {
                let tooltipTag = tag;
                if (!tooltipTag?.wrap || !tooltipTag?.wrap === 'nowrap') {
                    let content = tooltipTag?.content ?? '';
                    content = this.truncateText(content, 17);
                    tag.content = content;
                }
                tags.push(tooltipTag);
            }
            return tags;
        },
        tagGroupProps() {
			const facing = this.tooltipProps?.face ?? '';
			const alignment = facing=='left'?'start':'end';
            const props = {
                height: this.getTagGroupHeight(),
                align_items: alignment,
                gap_y: this.getTagGroupGap(),
            };
            return Object.assign(props, this.tag_group_props);
        },
        tooltipBoxProps() {
            const props = {
                width: this.width,
                height: 'auto', 
                position: 'absolute',
                top: '100px',
                left: '20px',
            };
            return Object.assign(props, this.tooltip_box_props);
        },
        labelProps() {
            return this.label_props;
        },
    },
    
    data() {
        return {
            tooltipDescrProps: {
                margin_top: '2',
                margin_bottom: '2',
                height: 'auto',
            },
            tagProps: Object.assign(this.getTagProps(), this.tag_props),
        }
    },
}
</script>