<template>
    <primitive-image v-if="src" v-bind="$props" />
    <text-avatar v-else-if="text_name" v-bind="$props" :text_name="text_name" />
    <div v-else></div>
</template>

<script>
import PrimitiveImage from '../../images/1.0.0/PrimitiveImage';
import TextAvatar from './TextAvatar';
export default {
    name: 'avatar',
    components: {
        PrimitiveImage,
        TextAvatar,
    },
    mixins: [TextAvatar, PrimitiveImage],
    props: {
        avatar_props: Object,

        rounded: { default: '100' },
        width: { default: '80px' },
        height: { default: '80px' },
        display: { default: 'flex' },
        direction: { default: 'col' },
        justify_content: { default: 'center' },
        align_items: { default: 'center' },
    },
}
</script>