<template>
    <flex-cell v-bind="$props" class="cds-flex-center">
        <blockquote>{{initials}}</blockquote>
    </flex-cell>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import { defineAsyncComponent } from 'vue';
const FlexCell = defineAsyncComponent(() => import('../../flex/1.0.0/cell/FlexCell'));
export default {
    name: 'text-avatar',
    components: {
        FlexCell,
    },
    mixins: [ComponentBase],
    props: {
        text_name: { default: '' },
        rounded: { default: '100' },
        bgcolor: { default: 'waveFoam' },
        width: { default: '40px' },
        height: { default: '40px' },
        text_color: { default: 'midnightMatter' },
        font_family: { default: 'sans' },
        font_size: { default: 'blockquote' },
        font_weight: { default: 'light' },
        leading: { default: '36' },
        tracking: { default: 'blockquote' },
    },
    methods: {
        getInitials() {
            let names = this.text_name.split(' ');
            let initials = '';
            // 3 character max: get just the first and last names, and first middle name
            if (names.length > 3) {
                names = [names[0], names[1], names[names.length - 1]];
            }
            for (const n in names) {
                initials += names[n][0];
            }
            if (initials == 'undefined') {
                initials = '';
            }
            return initials;
        },
    },
    data() {        
        return {
            initials: this.getInitials(),
        }
    },
}
</script>