<template>
<svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8.25018 16.158C12.2034 16.158 15.4081 12.9533 15.4081 9.00006C15.4081 5.04686 12.2034 1.84216 8.25018 1.84216C4.29698 1.84216 1.09229 5.04686 1.09229 9.00006C1.09229 12.9533 4.29698 16.158 8.25018 16.158Z" stroke="#606060" stroke-width="2"/>
<path d="M4.25 11.6314L10.6395 5L12.25 6.5L5.82894 13.0712L4.25 11.6314Z" fill="#606060"/>
</svg>
</template>

<script>
export default {
    name: 'ban-circle',
}
</script>