<template>
    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.727539 0.482751V15.5395L6.68788 11.2743L10.9598 14.3885V3.43437C10.9598 3.43437 11.0006 2.2324 9.61019 1.39309C8.12555 0.363306 5.54776 0.482751 5.54776 0.482751H0.727539Z" fill="#9DB9CC"/>
    <path d="M23.0001 0.482666V12.8707L18.2283 9.62593L12.7645 13.3706V3.54489C12.7645 3.54489 12.6863 2.59055 13.7515 1.71858C15.2995 0.574381 16.7937 0.50135 17.7421 0.482966L23.0001 0.482666Z" fill="#4D4D4D"/>
    </svg>
</template>

<script>
export default {
    name: 'cabells-logo',
}
</script>