<template>
<svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="32" height="22" rx="4" fill="#4B815E"/>
<path d="M18.8297 10.148H18.9257V6.752H18.9137V6.68C18.8817 6.128 18.7097 5.624 18.3977 5.168C18.0937 4.712 17.6977 4.364 17.2097 4.124C16.7217 3.876 16.1977 3.768 15.6377 3.8C15.2297 3.832 14.8417 3.94 14.4737 4.124C14.1137 4.3 13.7977 4.544 13.5257 4.856C13.2537 5.16 13.0497 5.504 12.9137 5.888C12.7857 6.272 12.7337 6.668 12.7577 7.076L13.9937 7.004C13.9777 6.756 14.0097 6.516 14.0897 6.284C14.1697 6.052 14.2897 5.844 14.4497 5.66C14.6097 5.476 14.7977 5.332 15.0137 5.228C15.2377 5.116 15.4737 5.052 15.7217 5.036C16.0497 5.02 16.3617 5.084 16.6577 5.228C16.9537 5.372 17.1937 5.58 17.3777 5.852C17.5617 6.124 17.6617 6.428 17.6777 6.764V6.86H17.6897V9.032C17.1057 8.664 16.4617 8.48 15.7577 8.48C15.0937 8.48 14.4777 8.648 13.9097 8.984C13.3577 9.304 12.9217 9.74 12.6017 10.292C12.2657 10.86 12.0977 11.476 12.0977 12.14C12.0977 12.804 12.2657 13.42 12.6017 13.988C12.9217 14.54 13.3577 14.976 13.9097 15.296C14.4777 15.632 15.0937 15.8 15.7577 15.8C16.2457 15.8 16.7097 15.708 17.1497 15.524C17.5977 15.34 17.9937 15.072 18.3377 14.72C18.6897 14.376 18.9577 13.984 19.1417 13.544C19.3257 13.096 19.4177 12.628 19.4177 12.14C19.4177 11.42 19.2217 10.756 18.8297 10.148ZM17.6537 14.036C17.4057 14.284 17.1177 14.476 16.7897 14.612C16.4617 14.748 16.1177 14.816 15.7577 14.816V15.308V14.816C15.2777 14.816 14.8297 14.696 14.4137 14.456C14.0057 14.216 13.6817 13.892 13.4417 13.484C13.2017 13.068 13.0817 12.62 13.0817 12.14C13.0817 11.66 13.2017 11.216 13.4417 10.808C13.6817 10.392 14.0057 10.064 14.4137 9.824C14.8297 9.584 15.2777 9.464 15.7577 9.464C16.2377 9.464 16.6817 9.584 17.0897 9.824C17.5057 10.064 17.8337 10.392 18.0737 10.808C18.3137 11.216 18.4337 11.66 18.4337 12.14C18.4337 12.492 18.3657 12.832 18.2297 13.16C18.0937 13.488 17.9017 13.78 17.6537 14.036ZM15.7577 11.144C15.4617 11.144 15.2097 11.248 15.0017 11.456C14.8017 11.664 14.7017 11.916 14.7017 12.212C14.7017 12.5 14.8017 12.748 15.0017 12.956C15.2097 13.164 15.4617 13.268 15.7577 13.268C16.0537 13.268 16.3017 13.164 16.5017 12.956C16.7097 12.748 16.8137 12.5 16.8137 12.212C16.8137 11.916 16.7097 11.664 16.5017 11.456C16.3017 11.248 16.0537 11.144 15.7577 11.144Z" fill="white"/>
</svg>
</template>

<script>
export default {
    name: 'green-oa-badge-small',
}
</script>