<template>
<svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.229 6.26812L11.1965 5.45465C11.1643 5.42633 11.1232 5.41023 11.0803 5.40918C11.0363 5.40987 10.9941 5.42665 10.9616 5.45634L7.20917 10.2774C7.20917 10.2774 5.73464 8.85844 5.69338 8.81718C5.65211 8.77591 5.59738 8.70602 5.51485 8.70602C5.43232 8.70602 5.39443 8.76412 5.35148 8.80707C5.30853 8.85002 4.79317 9.39655 4.5338 9.66771C4.51864 9.68455 4.50938 9.69381 4.4959 9.70728C4.4724 9.73809 4.45914 9.77549 4.45801 9.81423C4.45885 9.85302 4.47214 9.89051 4.4959 9.92118L4.54811 9.97002C4.54811 9.97002 7.16538 12.4837 7.20832 12.5275C7.22902 12.5546 7.25498 12.5772 7.28465 12.594C7.31432 12.6108 7.34708 12.6214 7.38096 12.6252C7.4559 12.6252 7.51822 12.541 7.55359 12.509L12.234 6.49634C12.2578 6.46504 12.2711 6.42701 12.2719 6.3877C12.2714 6.34415 12.2563 6.30202 12.229 6.26812Z" fill="#4B815E"/>
<path d="M8.25018 16.158C12.2034 16.158 15.4081 12.9533 15.4081 9.00006C15.4081 5.04686 12.2034 1.84216 8.25018 1.84216C4.29698 1.84216 1.09229 5.04686 1.09229 9.00006C1.09229 12.9533 4.29698 16.158 8.25018 16.158Z" stroke="#4B815E" stroke-width="2"/>
</svg>
</template>

<script>
export default {
    name: 'green-check-circle',
}
</script>