<template>
<svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.4209 5.46958C9.81721 5.03737 9.08305 4.82632 8.34198 4.87196C7.77725 4.84775 7.21827 4.99371 6.73746 5.29091C6.39748 5.56213 6.13317 5.91643 5.97005 6.3196C5.80694 6.72277 5.75052 7.16118 5.80626 7.59251H7.43894C7.39869 7.27857 7.45036 6.95968 7.58769 6.67451C7.67047 6.52071 7.79401 6.39268 7.94477 6.30449C8.09554 6.2163 8.26768 6.17135 8.44232 6.17458C8.60768 6.15894 8.77429 6.18611 8.92612 6.25347C9.07795 6.32083 9.20989 6.42612 9.30927 6.55921C9.47397 6.76292 9.56184 7.01804 9.5575 7.27997C9.55315 7.5419 9.45688 7.79396 9.28551 7.9921C9.19704 8.11806 9.08851 8.22867 8.96425 8.31952C8.50841 8.58589 8.1044 8.93235 7.77165 9.34226C7.54031 9.76753 7.42525 10.2463 7.43807 10.7303C7.43807 10.7707 7.45039 10.8535 7.59121 10.8535H8.90441C8.92305 10.8552 8.94184 10.853 8.95964 10.8472C8.97745 10.8414 8.99389 10.8321 9.00797 10.8197C9.02204 10.8074 9.03346 10.7923 9.04153 10.7754C9.0496 10.7585 9.05415 10.7402 9.0549 10.7215C9.05982 10.51 9.08338 10.2994 9.12532 10.0921C9.20159 9.86012 9.34797 9.65746 9.54427 9.51213L9.98435 9.20847C10.2987 8.98917 10.5856 8.73298 10.839 8.44538C11.1024 8.09707 11.2457 7.67273 11.2474 7.23605C11.2643 6.8965 11.1979 6.55797 11.0538 6.25004C10.9097 5.9421 10.6924 5.67414 10.4209 5.46958ZM8.22933 11.6993C8.09797 11.6917 7.96643 11.7109 7.84274 11.7557C7.71906 11.8006 7.60581 11.8702 7.50993 11.9604C7.41405 12.0505 7.33755 12.1592 7.28509 12.2799C7.23263 12.4005 7.20532 12.5306 7.20483 12.6622C7.1972 12.8608 7.24881 13.0572 7.35311 13.2263C7.45741 13.3955 7.60967 13.5298 7.79053 13.6122C7.97139 13.6945 8.17267 13.7213 8.36875 13.6889C8.56483 13.6566 8.74685 13.5666 8.89166 13.4305C9.03647 13.2944 9.13753 13.1183 9.18197 12.9246C9.2264 12.7309 9.21221 12.5283 9.14119 12.3427C9.07018 12.1571 8.94555 11.9968 8.78317 11.8823C8.62079 11.7677 8.42801 11.704 8.22933 11.6993Z" fill="#BF8822"/>
<path d="M8.25018 16.158C12.2034 16.158 15.4081 12.9533 15.4081 9.00006C15.4081 5.04686 12.2034 1.84216 8.25018 1.84216C4.29698 1.84216 1.09229 5.04686 1.09229 9.00006C1.09229 12.9533 4.29698 16.158 8.25018 16.158Z" stroke="#BF8822" stroke-width="2"/>
</svg>
</template>

<script>
export default {
    name: 'help-circle',
}
</script>