<template>
    <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.416 28C22.148 28 28.416 21.732 28.416 14C28.416 6.26801 22.148 0 14.416 0C6.68403 0 0.416016 6.26801 0.416016 14C0.416016 21.732 6.68403 28 14.416 28ZM10.9595 17.0992C10.5617 17.0992 10.151 17.0287 9.72755 16.8875C9.31046 16.7399 8.93188 16.5121 8.5918 16.2041L9.53505 15.0684C9.75963 15.248 10.0003 15.3956 10.2569 15.5111C10.52 15.6202 10.767 15.6747 10.998 15.6747C11.2483 15.6747 11.428 15.6362 11.537 15.5592C11.6525 15.4822 11.7103 15.3732 11.7103 15.232C11.7103 15.155 11.691 15.0908 11.6525 15.0395C11.614 14.9882 11.5563 14.94 11.4793 14.8951C11.4087 14.8502 11.3221 14.8085 11.2194 14.77C11.1168 14.7251 10.998 14.6769 10.8633 14.6256L10.0837 14.2984C9.91684 14.2342 9.75642 14.1508 9.60242 14.0481C9.44842 13.939 9.31367 13.8139 9.19817 13.6727C9.08267 13.5252 8.98963 13.3583 8.91905 13.1722C8.85488 12.9862 8.8228 12.7808 8.8228 12.5562C8.8228 12.2867 8.88055 12.0365 8.99605 11.8055C9.11155 11.5681 9.27196 11.3627 9.4773 11.1895C9.68263 11.0098 9.92646 10.8687 10.2088 10.766C10.4975 10.6633 10.812 10.612 11.152 10.612C11.5114 10.612 11.8739 10.6794 12.2397 10.8141C12.6118 10.9489 12.9423 11.1606 13.231 11.4494L12.4033 12.4889C12.1915 12.3413 11.9862 12.229 11.7873 12.152C11.5948 12.075 11.383 12.0365 11.152 12.0365C10.9467 12.0365 10.7863 12.0718 10.6708 12.1424C10.5553 12.2129 10.4975 12.3188 10.4975 12.46C10.4975 12.6076 10.5778 12.7231 10.7382 12.8065C10.905 12.8835 11.1328 12.9765 11.4215 13.0856L12.1819 13.384C12.5733 13.538 12.8749 13.7529 13.0867 14.0289C13.2984 14.3048 13.4043 14.6609 13.4043 15.0972C13.4043 15.3603 13.3498 15.6138 13.2407 15.8576C13.1316 16.1014 12.9712 16.3164 12.7594 16.5025C12.5541 16.6822 12.3006 16.8265 11.999 16.9356C11.6975 17.0447 11.351 17.0992 10.9595 17.0992ZM14.6929 16.9835H21.1239V18.611H14.6929V16.9835Z" fill="#007AFF"/>
    </svg>
</template>

<script>
export default {
    name: 'scite-logo',
}
</script>