<template>
    <primitive-tag v-if="percentile !== null" :glyph="icon" v-bind="badge_props" :class="!trending ? 'cds-pl-5px' : null">
        {{ percentile }}%
    </primitive-tag>
</template>

<script>
import ComponentBase from '../../../lib/1.0.0/ComponentBase';
import { HeatmapScoreType } from '../../../data/1.0.0/heatmaps/lib/HeatmapGridType.ts';
import { defineAsyncComponent } from 'vue';
const PrimitiveTag = defineAsyncComponent(() => import('../../../tags/1.0.0/PrimitiveTag'));
export default {
    name: 'percentile-badge',
    components: {
        PrimitiveTag,
    },
    mixins: [ComponentBase],
    props: {
        content: HeatmapScoreType,
        badge_props: Object,
        trending: Number,
        adjusted: { default: false },
    },
    methods: {
        getScore() {
            const score = this.adjusted ? this.content?.AdjustedSnapshotScore : this.content?.Score;
            if (score === null) return null;
            if (score < 1 && score > 0) {
                return score * 100;
            }
            return score;
        },
    },
    computed: {
        icon() {
            if (!this.trending) {
                return '';
            }
            return this.trending > 0 ? 'trending-up-sharp-1' :  'trending-down-sharp-1';
        },
    },
    data() {
        return {
            percentile: this.getScore(),
        }
    },
}
export {
    HeatmapScoreType,
}
</script>