<template>
    <a v-if="external" v-bind="$attrs" :href="href" :target="target" :rel="rel" :class="classStyles" class="focus:cds-outline-none cds-subpixel-antialiased"><slot/></a>
    <router-link v-else v-bind="$attrs" :to="to" :target="target" :rel="rel" :class="classStyles" class="focus:cds-outline-none cds-subpixel-antialiased"><slot/></router-link>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
export default {
    name: 'anchor',
    mixins: [ComponentBase],
    props: {
        href: String,
        target: { default: '_self' },
        rel: String,
        external: { default: false },
    },
    data() {
        return {
            to: this.href ?? '',
            classStyles: [
                ...this.getFontStyles(),
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getBorderStyles(),
                ...this.getBgStyles(),
                ...this.getOpacityStyles(),
                ...this.getDimensionStyles(),
                ...this.getPositionStyles(),
                ...this.getFlexStyles(),
                ...this.getSpacingStyles(),
            ],
        }
    },
}
</script>