<template>
    <flex-cell width="full" @mouseup="$emit('zTop', true)" justify_content="center" style="z-index: 10"
			v-on:mouseleave="closeMore">
        <flex-cell v-for="(item, index) in getNav" :key="index"
			position="relative"
			font_weight="semibold"
			font_size="4"
			grow="1"
			align_items="center"
			justify_content="end"
			:text_color="item.is_current_tab? 'winterDusk':'winterEvening'"
			padding_bottom="2"
			margin_bottom="1"
		>
			<flex-cell
				tabindex="0"
				height="8"
				width="full"
				justify_content="center"
				align_items="center"
				rounded="4"
				class="hover:cds-bg-blueIce"
				margin_y="4"
				gap="1"
				cursor="pointer"
				focus_visible_ring_width="4"
				focus_visible_ring_color="winterNoon"
				@click="item.callback"
				@keyup.enter="item.callback"
			>
				{{ item.content }}
				<icon v-if="item?.glyph" :glyph="item.glyph" />
			</flex-cell>
			<flex-cell :bgcolor="item.is_current_tab? 'winterEvening':'twilightStratus'"
				position="absolute"
				bottom="8px"
				:style="
					(item.is_current_tab? 'border-radius: 5px; height: 9px; z-index: 20; width: calc(100% + 6px); left: -3px;':
					index==0? 'border-radius: 3px 0px 0px 3px; height: 5px; margin-top: 2px; margin-bottom: 2px; z-index: 10; left: 0; width: 100%;':
					index==getNav.length-1? 'border-radius: 0px 3px 3px 0px; height: 5px; margin-top: 2px; margin-bottom: 2px; z-index: 10; left: 0; width: 100%;':
					'height: 5px; margin-top: 2px; margin-bottom: 2px; z-index: 10; left: 0; width: 100%;')"
			/>
			<flex-cell
				v-if="more_showing===index && item?.sub_menu_items"
				position="absolute"
				top="full"
				right="0"
				style="margin-top: -25px; z-index: 20;"
				direction="column" 
				bgcolor="snow"
				class="cds-shadow-md"
			>
				<flex-cell
					v-for="(subitem, subindex) in item.sub_menu_items"
					:key="subindex"
					direction="column"
					justify_content="between"
				>
					<hr v-if="subindex!==0" class="cds-h-1px cds-bg-dustJacket cds-border-none" />
					<flex-cell
						tabindex="0"
						class="hover:cds-bg-blueIce cds-w-264px cds-h-43px cds-px-12px"
						cursor="pointer"
						focus_visible_ring_width="4"
						focus_visible_ring_color="winterNoon"
						rounded="4"
						direction="row"
						align_items="center"
						@click="subitem.callback"
						@keyup.enter="subitem.callback"
					>
						{{ subitem?.content }}
					</flex-cell>
				</flex-cell>
			</flex-cell>
		</flex-cell>
    </flex-cell>
</template>

<script>
import { defineAsyncComponent, inject } from 'vue';
import ComponentBase from '../../lib/1.0.0/ComponentBase';
const FlexCell = defineAsyncComponent(() => import('../../flex/1.0.0/cell/FlexCell'));
const Icon = defineAsyncComponent(() => import('../../icons/1.0.0/Icon'));
export default {
    name: 'journal-card-nav',
    components: {
        FlexCell,
		Icon
    },
    mixins: [ComponentBase],
    emits: ['tabItemClick', 'zTop', 'contactModal'],
    props: {
        nav_menu_props: Object,
        nav_menu_items: Object,
        current_section: String,
		button_limit_default: { default: 10 },
		button_limit_sm: { default: 2 },
		button_limit_md: { default: 4 },
		button_limit_lg: { default: 6 },
		button_limit_xl: { default: 9 },
		button_limit_xxl: { default: 10 },
    },
    methods: {
		closeMore() {
			this.more_showing = false;
		},
        changeSection(section) {
            this.currentSection = section !== 'MoreSection' ? section : this.currentSection;
        },
        makeCallback(section) {
            if (section === 'ContactSection') {
                return () => { this.$emit('tabItemClick', 'contactModal'); };
            }
            return () => {
                this.changeSection(section);
                this.$emit('tabItemClick', section);
            };
        },
		makeSubCallback(section) {
			this.closeMore();
			return this.makeCallback(section);
		},
		moreButtonClick(section, nav) {
			this.$emit('zTop', true);
			return () => {
				this.changeSection(section);
				if (this.more_showing)
					this.closeMore();
				else
					this.more_showing = nav;
			};
		},
        isCurrentTab(section, lastItems, lastItem = false) {
            const currentSection = this.getCurrentSection;
            if (currentSection === section) return true;
            const sections = [];
            for (const i in lastItems) {
                sections.push(lastItems[i].Section);
            }
            return sections.includes(currentSection) && lastItem;
        },
    },
    computed: {
        getTabLimit() {
            let limit = this.button_limit_default;
            switch (this.currentBreakpoint) {
                case 'sm': {
                    limit = this.button_limit_sm;
                    break;
                }
                case 'md': {
                    limit = this.button_limit_md;
                    break;
                }
                case 'lg': {
                    limit = this.button_limit_lg;
                    break;
                }
                case 'xl': {
                    limit = this.button_limit_xl;
                    break;
                }
                case 'xxl': {
                    limit = this.button_limit_xxl; 
                    break;
                }
                default:
                    break;
            }
            return limit;
        },
        getCurrentSection() {
            return this.currentSection ?? this.current_section ?? 'DashboardSection';
        },
        getNav() {
            const navItems = [];
            const defaultNav = JSON.parse(JSON.stringify(this.nav_menu_items));
            const limit = this.getTabLimit - 1;
            const lastItems = JSON.parse(JSON.stringify(defaultNav)).splice(limit);

            for (let nav in defaultNav) {
                nav = parseInt(nav);
                const lastItem = nav === limit && this.nav_menu_items.length > 2;
                let item = {
                    component: 'TextButton',
                    content: lastItem ? 'More' : defaultNav[nav].Text,
                    controls: defaultNav[nav].Section, 
                    glyph: lastItem ? 'caret-down-sharp' : null,
                    placeIcon: 'after',
                    disabled: false,
                    is_current_tab: this.isCurrentTab(defaultNav[nav].Section, lastItems, lastItem),
                    callback: lastItem ? this.moreButtonClick('MoreSection', nav) : this.makeCallback(defaultNav[nav].Section),
                    lastItem,
                };
                
                if (lastItem) {
                    const subMenuItems = [];
                    for (const i in lastItems) {
                        let subItem = {
                            component: 'TextButton',
                            controls: lastItems[i].Section, 
                            content: lastItems[i].Text,
                            item_styles: {
                                width: '220px',
                            },
                            is_current_tab: this.isCurrentTab(lastItems[i].Section, lastItems, lastItem),
                            callback: this.makeSubCallback(lastItems[i].Section),
                            lastItem: i === lastItems.length - 1,
                        };
                        subMenuItems.push(subItem);
                    }
                    item.sub_menu_items = subMenuItems;
                }
                navItems.push(item);
                if (lastItem) {
                    break;
                }
            }
            return navItems;
        },
    },
    watch: {
        injectedSection() {
            this.changeSection(this.injectedSection);
        },
    },
    data() {
        return {
			more_showing: false,
            currentBreakpoint: inject('currentBreakpoint'),
            injectedSection: inject('current_section'), // allows MetricSnapshots in JournalCard to change the section
            currentSection: this.current_section ?? '',
        }
    },
}
</script>