<template>
    <primitive-card v-bind="$props" :bgcolor="card_bgcolor" :disable="disable" tabindex="-1">
        <journal-card-nav :nav_menu_items="getNavMenuItems" :nav_menu_props="navMenuProps" 
            @tabItemClick="tabItemClicked" :current_section="kebabToPascal(getCurrentSection.name)"
            :style="zIndexStyle" @zTop="changeZIndex($event)" 
            @mouseleave="()=>{window.setTimeout(()=>{changeZIndex(false)}, 350)}"
			v-bind="journal_card_nav_props"
        />
        <flex-cell v-bind="cardProps" @focusin="()=>{window.setTimeout(()=>{changeZIndex(false)}, 150)}">
			<component :is="getCurrentSection" :content="content"
				:starting_discipline="starting_discipline"
				@discClick="discClicked($event)"
                @tabItemClick="tabItemClicked($event)"
                @click="($event) => $event.stopPropagation"
				:api_key="api_key" :api_url="api_url"
            />
        </flex-cell>
        
        <flex-cell v-bind="bottomBarProps">
            <secondary-button @click="$emit('contactModal', content?.JournalId)" class="cds-flex-center">
                Contact
            </secondary-button>
            <secondary-button @click="visitWebsite" class="cds-flex-center" :disabled="content?.WebsiteURL?.length < 1">
                Visit Website
            </secondary-button>
        </flex-cell>
    </primitive-card>
</template>

<script>
import { defineAsyncComponent, inject } from 'vue';
import JournalCardExpandBase from './lib/JournalCardExpandBase';
import UtilityBase from '../../lib/1.0.0/UtilityBase';
import PrimitiveCard from './PrimitiveCard';
import HeadingsBase from '../../typography/1.0.0/HeadingsBase';
const FlexCell = defineAsyncComponent(() => import('../../flex/1.0.0/cell/FlexCell'));
const JournalCardNav = defineAsyncComponent(() => import('./JournalCardNav'));
const SecondaryButton = defineAsyncComponent(() => import('../../buttons/1.0.0/secondary/SecondaryButton'));

export default {
    name: 'journal-card-expand',
    components: {
        PrimitiveCard,
        FlexCell,
        JournalCardNav,
        SecondaryButton,
    },
    mixins: [JournalCardExpandBase, HeadingsBase, UtilityBase],
    emits: ['tabItemClick', 'zTop', 'contactModal', 'accessible'],
    props: {
        padding_top: { default: '10px' },
        padding_x: { default: '16px' },
        overflow_x: { default: 'visible' },
        overflow_y: { default: 'visible' },
        width: { default: 'full' },
		sm_width: { default: 'full' },
        max_width: { default: 'full' },
        sm_min_width: { default: '272px' },
        sm_max_width: { default: 'full' },
        height: { default: 'auto' },
        border_color: { default: 'transparent' },
        hover_border_color: { default: 'transparent' },
        active_border_color: { default: 'transparent' },
        focus_border_color: { default: 'transparent' },
        hover_shadow: { default: 'md' },
		api_key: String,
		api_url: String,
		journal_card_nav_props: { default: {
			button_limit_default: 10,
			button_limit_sm: 2,
			button_limit_md: 4,
			button_limit_lg: 6,
			button_limit_xl: 9,
			button_limit_xxl: 10,
		}},
    },
    computed: {
        getCurrentSection() {
            if (this.currentSection in this.globalSections) {
                return this.globalSections[this.currentSection];
            }
            return this.currentSection;
        },
        getNavMenuItems() {
            return this.nav_menu_items;
        },
        zIndexStyle() {
            return 'z-index: ' + this.nav_z + ';';
        },
    },
    watch: {
        injectedSection() {
            this.changeSection(this.injectedSection);
        },
    },
    methods: {
        /**
         * Open the journal's site in a new window
         * 
         * @param location string   The URL to open
         */
        visitWebsite() {
            window.open(this.content.WebsiteURL, '_blank').focus();
        },
        tabItemClicked(section) {
            this.changeSection(section);
            this.$emit('tabItemClick', section);
        },
		discClicked(disc_name) {
			this.starting_discipline = disc_name;
			this.tabItemClicked('TopicsSection');
		},
        changeSection(section) {
            this.currentSection = section;
        },
        changeZIndex(event) {
            this.nav_z = event ? '1' : '0';
            this.$emit('zTop', this.content?.JournalName);
        },
    },
    data() {
        return {
			starting_discipline: null,
            injectedSection: inject('current_section'), // allows MetricSnapshots in JournalCard to change the section
            currentSection: inject('current_section').value,
            globalSections: inject('global_sections'),
            nav_z: '0',
            cardProps: {
                width: 'full',
                height: 'auto',
                sm_height: 'full',
                sm_margin_bottom: '4',
            },
            navMenuProps: {
                width: 'full',
            },
            bottomBarProps: {
                width: 'full',
                height: 'auto',
                min_height: '44px',
                z_index: '-1',
                sm_z_index: '0',
                justify_content: 'between',
            },
        }
    },
}
</script>