<template>
    <kabob-group :item_props="itemProps" :buttons="kabobMenuItems" />
</template>

<script>
import { defineAsyncComponent } from 'vue';
const KabobGroup = defineAsyncComponent(() => import('../../buttons/1.0.0/group/KabobGroup'));
export default {
    name: 'journal-card-kabob-menu',
    components: {
        KabobGroup,
    },
    props: {
        item_props: Object,
        kabob_menu_items: Array,
    },
    computed: {
        itemProps() {
            return this.item_props;
        },
        kabobMenuItems() {
            return this.kabob_menu_items ?? [];            
        },
    },
}
</script>