<template>
    <flex-cell v-if="currentBreakpoint !== 'sm'" v-bind="boxProps">
        <primitive-card v-bind="$props" :disable="disable" class="journal-card cds-box-border" 
            :class="[openExpander, mouseOverride]"
            @keyup.down.exact="[accessibleDown($event), loseHover(), loseActive()]"
            @keyup.right.exact="[accessibleDown($event), loseHover(), loseActive()]"
            @keyup.up.exact="[accessibleUp($event), loseHover(), loseActive()]"
            @keyup.left.exact="[accessibleUp($event), loseHover(), loseActive()]"
            @keyup.enter.exact.stop="toggleExpand"
            @focus="captureHover" @keydown.self.shift.tab.exact="loseHover"
            @mouseover="captureHover" @mouseout="[loseHover(), loseActive()]"
            @mousedown="captureActive" @mouseup="loseActive"
        >
            <div @click="toggleExpand" tabindex="-1" class="focus:cds-outline-none cds-box-border">
                <cci-snapshot 
                    v-bind="heatmapProps"
					:isAcademic="isAcademic"
                    :content="heatmapPreview"
                    :tooltip_props="heatmapTooltipProps"
                    @click="[toggleSnapshot($event, 'Disciplines')]"
                    @mouseover="emitHover"
                    role="tooltip"
                />
            </div>
            
            <flex-cell width="full" height="116px" direction="col" @click="toggleExpand" z_index="0">
                <flex-cell height="116px" direction="row" justify_content="between">
					<flex-cell width="full" direction="col">
						<prehead-heading
							:prehead="content?.Publisher"
							:preheadProps="preheadProps"
							:heading="content?.JournalName"
							:headingProps="headingProps"
							:headingTextLimit="currentBreakpoint === 'md' ? 120 : null"
							:headingIconGlyph="advisory?'alert-circle-sharp':''"
							headingIconColor="orange-400"
							:iconTooltip="{content: advisory?'Click on this journal to read information about recent advisories':'', placement: 'bottom', theme: 'standard-dark'}"
						/>
					</flex-cell>
					<flex-cell v-if="badge_url" width="6" height="6" margin_right="2">
						<img :src="fullBadgeUrl" title="This journal is included in your insitution's holding list." alt="Insitution logo" />
					</flex-cell>
				</flex-cell>
                <flex-cell v-bind="iconLabelGroupProps">
                    <icon-tag v-for="(label, idx) in iconLabels.filter(x => x?.Label?.length)" :key="idx" :label="label" 
                        @mouseover="$emit('zTop', content?.JournalName)" @click.stop="toggleExpand"
                        @keydown.tab="$emit('zTop', content?.JournalName)"
                        role="tooltip"
                    />
                </flex-cell>
            </flex-cell>
            <flex-cell v-bind="metricSnapshotProps" @click="toggleExpand" z_index="1">
                <metric-snapshot disabled_border_color="dustJacket" is="citations" cursor="pointer"
                    class="citation-snapshot" :content="sciteIndex()" 
                    @click="toggleSnapshot($event, 'Citations')" 
                    @mouseover.stop="widgetCaptureHover" @mouseout.stop="widgetLoseHover" 
                    role="presentation"
                />
                <metric-snapshot disabled_border_color="dustJacket" is="attention" cursor="pointer"
                    class="attention-snapshot" :content="content?.Altmetric" 
                    @click="toggleSnapshot($event, 'Attention')"
                    @mouseover.stop="widgetCaptureHover" @mouseout.stop="widgetLoseHover" 
                    role="presentation"
                />
            </flex-cell>
            <flex-cell width="44px" margin_right="2" direction="row" align_items="start" justify_content="center">
                <flex-cell direction="col" width="24px" height="116px" justify_content="between" >
                    <journal-card-kabob-menu :item_props="navIconProps" :kabob_menu_items="kabob_menu_items"
                        @mouseover.stop="widgetCaptureHover" @mouseout.stop="widgetLoseHover"
                        @keydown.self.tab.exact="emitHover"
                        @mousedown.stop="emitHover" @focused="widgetCaptureHover" 
                        @blurred="widgetLoseHover"
                        tooltip_face="up" tooltip_text="more options"
                    />
                    <primitive-button class="chevron-expander" :class="rotateChevron"
                        glyph="chevron-down-circle-sharp" v-bind="navIconProps" 
                        
                        @mouseover="$emit('zTop', content?.JournalName)"
                        @keydown.self.tab.exact="loseHover"
                        @focus="$emit('zTop', content?.JournalName)"
                        @blur="loseHover()"
                        @keyup.self.shift.tab.exact="captureHover"
                        @mouseup="toggleExpand"
                        @keyup.enter.exact.stop="toggleExpand"
                        :label="expanderText"
						v-tippy="{content: expanderText, placement: 'bottom', theme: 'standard-dark'}"
                    />
                </flex-cell>
            </flex-cell>
        </primitive-card>
        <transition name="cds-journal-card-expand">
            <journal-card-expand v-if="isShowing" v-bind="expandProps" :content="content" 
                :nav_menu_items="nav_menu_items" :nav_menu_props="nav_menu_props" @tabItemClick="tabItemClicked"
                @zTop="emitHover" @contactModal="$emit('contactModal', $event)"
                @cardHover="captureHover" @cardActive="captureActive"
                @loseHover="loseHover" @loseActive="loseActive"
				:api_key="api_key" :api_url="api_url"
				:journal_card_nav_props="journal_card_nav_props"
            />
        </transition>
    </flex-cell>
    <journal-card-small v-else :nav_menu_items="nav_menu_items" :isAcademic="isAcademic" :nav_menu_props="nav_menu_props" @tabItemClick="tabItemClicked"
        :content="content" :expanded_data="expandedData" :kabob_menu_items="kabob_menu_items" 
        @zTop="emitHover" @contactModal="$emit('contactModal', $event)" @cardToggle="$emit('cardToggle')"
		:api_key="api_key" :api_url="api_url"
		:badge_url="badge_url"
    />
</template>

<script>
import { defineAsyncComponent, ref, computed, inject } from 'vue';
import JournalCardBase from './lib/JournalCardBase';
import HeadingsBase from '../../typography/1.0.0/HeadingsBase';
import HoverBase from '../../lib/1.0.0/HoverBase';
const PrimitiveCard = defineAsyncComponent(() => import('./PrimitiveCard'));
const CciSnapshot = defineAsyncComponent(() => import('./snapshots/CciSnapshot'));
const MetricSnapshot = defineAsyncComponent(() => import('./snapshots/MetricSnapshot'));
const PreheadHeading = defineAsyncComponent(() => import('../../typography/1.0.0/PreheadHeading'));
const PrimitiveButton = defineAsyncComponent(() => import('../../buttons/1.0.0/primitive/PrimitiveButton'));
const FlexCell = defineAsyncComponent(() => import('../../flex/1.0.0/cell/FlexCell'));
const JournalCardSmall = defineAsyncComponent(() => import('./JournalCardSmall'));
const JournalCardExpand = defineAsyncComponent(() => import('./JournalCardExpand'));
const JournalCardKabobMenu = defineAsyncComponent(() => import('./JournalCardKabobMenu'));
const IconTag = defineAsyncComponent(() => import('../../tags/1.0.0/IconTag'));

export default {
    name: 'journal-card',
    components: {
        PrimitiveCard,
        CciSnapshot,
        PreheadHeading,
        MetricSnapshot,
        PrimitiveButton,
        FlexCell,
        JournalCardSmall,
        JournalCardExpand,
        JournalCardKabobMenu,
        IconTag,
    },
    mixins: [JournalCardBase, HeadingsBase, HoverBase],
    emits: ['tabItemClick', 'zTop', 'contactModal', 'focused', 'blurred', 'cardToggle'],
    setup(props) {
        const current_section = props.current_section ? ref(props.current_section) : ref('DashboardSection');
        return {
            current_section,
        }
    },
    provide() {
        return {
            current_section: computed(() => this.current_section),
            website_url: computed(() => ref(this.content?.WebsiteURL)),
            noData: computed(() => ref(this.content?.ScoreDataStatus)),
            cardHover: computed(() => ref(this.hovering)),
            cardActive: computed(() => ref(this.active)),
        }
    },
    methods: {
        emitHover() {
            this.$emit('zTop', this.content?.JournalName);
        },
        toggleExpand() {
            this.showing = !this.showing;
            if (!this.showing) {
                this.current_section = 'DashboardSection';
            }
			this.$emit('cardToggle');
        },
        toggleSnapshot(event, section) {
            const newSection = section + 'Section';
            if (this.showing && (newSection !== this.current_section && this.metricSnapshots.includes(section))) {
                event.stopPropagation();
            }
            this.current_section = newSection;
        },
        tabItemClicked(section) {
            this.current_section = section;
            this.$emit('tabItemClick', section);
        },
        sciteIndex() {
            let index = this.content?.SciteIndex;
            if (index?.Index_Lifetime) {
                index.Index_Lifetime = parseFloat(index.Index_Lifetime).toFixed(3);
            }
            return index;
        },
    },
    computed: {
		fullBadgeUrl() {
			let cdn_url = process.env.VUE_APP_CDN_URL;
			if (cdn_url.endsWith('/'))
				cdn_url = cdn_url.slice(0,-1);
			let badge_path = this.badge_url;
			if (badge_path.startsWith('/'))
				badge_path = badge_path.slice(1);
			return cdn_url + '/' + badge_path;
		},
        isShowing() {
            return this.showing;
        },
        expanderText() {
            return this.isShowing ? 'Collapse' : 'Expand';
        },
        rotateChevron() {
            return this.showing ? 'toggle-chevron' : '';
        },
        openExpander() {
            return this.showing ? 'expander' : '';
        },
        mouseOverride() {
            if (this.active && !this.widget_hovering) {
                return 'cds-bg-' + this.card_activebg;
            }
            if (this.hovering && !this.widget_hovering) {
                return 'cds-bg-' + this.card_hoverbg;
            }
            return 'cds-bg-' + this.card_bgcolor;
        },
        iconLabels() {
            const iconLabels = [
                {
                    'Label': this.content?.FrequencyOfIssue?.FrequencyDisplay,
                    'Icon': 'calendar-clear-sharp',
                    'Tooltip': 'Frequency of issue',
                },
                {
                    'Label': this.content?.OpenAccess?.OpenAccessType,
                    // 'Icon': this.content?.OpenAccess?.GreenOpenAccess ? 'icon-oa-gold' : 'icon-oa',
                    'Icon': 'icon-oa',
                    'Tooltip': 'Open Access type',
                },
            ];
            if (this.content?.AcceptanceRate?.Min && this.content?.AcceptanceRate?.Max 
                && this.content?.AcceptanceRate?.Min !== this.content?.AcceptanceRate?.Max) {
                iconLabels.unshift({
                    'Label': this.content?.AcceptanceRate?.Min + ' - ' + this.content?.AcceptanceRate?.Max + '%',
                    'Icon': 'jm-a-approval-rate-icon',
                    'Tooltip': 'Acceptance rate',
                });
            } else if (this.content?.AcceptanceRate?.Display) {
                iconLabels.unshift({
                    'Label': this.content?.AcceptanceRate?.Display,
                    'Icon': 'jm-a-approval-rate-icon',
                    'Tooltip': 'Acceptance rate',
                });
            }
            return iconLabels;
        },
        heatmapTooltipProps() {
            return this.heatmap_tooltip_props;
        },
        heatmapPreview() {
            // limit to 4 Disciplines
            let disciplines = [...this.content?.Disciplines] ?? [];
            disciplines = disciplines.slice(0, 4);
            return disciplines;
        },
    },
    props: {
		badge_url: {default: null},
		isAcademic: {default: false},
		advisory: { default: false },
        kabob_menu_items: { default: [] },
        heatmap_tooltip_props: { default: {} },
        bgcolor: { default: 'snow' },
        card_bgcolor: { default: 'snow' },
        width: { default: 'full' },
        height: { default: '144px' },
        min_height: { default: '144px' },
        border_color: { default: 'transparent' },
        hover_border_color: { default: 'transparent' },
        hover_shadow: { default: 'md' },
        cursor: { default: 'pointer' },
		api_key: String,
		api_url: String,
		journal_card_nav_props: { default: {
			button_limit_default: 10,
			button_limit_sm: 2,
			button_limit_md: 4,
			button_limit_lg: 6,
			button_limit_xl: 9,
			button_limit_xxl: 10,
		}},
    },
    data() {
        return {
            currentBreakpoint: inject('currentBreakpoint'),
            showing: false,
            expandedData: this.expanded_data,
            metricSnapshots: ['Citations', 'Attention', 'Disciplines'],
            preheadProps: {
                text_align: 'left',
                font_size: '3-25',
                leading: '6',
                tracking: 'tiny',
                font_weight: 'normal',
                text_color: 'winterNight',
                width: 'auto',
                disabled_text_color: 'twilightStratus',
                text_transform: 'normal',
				overflow: 'hidden',
				limit_lines: 1,
            },
            headingProps: {
                text_align: 'left',
                font_size: '4',
                leading: '8',
                tracking: 'sm',
                font_weight: 'bold',
                text_color: 'winterNight',
                font_family: 'sans',
                width: 'auto',
				max_width: 'full',
                height: 'auto',
                max_height: '100px',
                //min_height: '40px',
                z_index: '50',
                disabled_text_color: 'twilightStratus',
                overflow_x: 'hidden',
				limit_lines: 2,
            },
            navIconProps: {
                width: '20px',
                height: '20px',
                icon_width: '20px',
                rounded: '4',
                icon_font_size: '5',
                bgcolor: 'transparent',
                icon_bgcolor: 'transparent',
                text_color: 'winterNight',
                hoverbg: 'transparent',
                focusbg: 'transparent',
                activebg: 'transparent',
                icon_text_color: 'winterNight',
                icon_hover_text_color: 'midnightMatter',
                icon_focus_text_color: 'snow',
                icon_focus_visible_text_color: 'snow',
                padding_x: '0',
                padding_top: '0',
                padding_bottom: '0',
                icon_padding_x: '0',
                icon_padding_top: '0',
                icon_padding_bottom: '0',
                min_height: '0',
                icon_min_height: '0',
                icon_height: '20px',
                disabled_text_color: 'twilightStratus',
                focus_ring_color: 'transparent',
                focus_visible_ring_color: 'winterNoon',
                text_transform: 'normal',
            },
            iconLabelGroupProps: {
                direction: 'row',
                align_items: 'center',
                justify_content: 'start',
                md_width: '220px',
                lg_width: '220px',
                width: 'auto',
                gap_x: '16px',
                md_gap_y: '2',
                gap_y: '2',

                // helps icon labels to auto wrap when they're too long
                md_border_width: '1px',
                md_border_color: 'transparent',
            },
            expandProps: {
                position: 'relative',
                top: '-10px',
                left: '0px',
                z_index: '0',
                width: 'full',
            },
            boxProps: {
                position: 'relative',
                direction: 'col',
                width: 'full',
                height: 'auto',
                z_index: '0',
            },
            metricSnapshotProps: {
                height: '110px',
                sm_height: '116px',
                direction: 'row',
                justify_content: 'end',
                xxl_align_items: 'center',
                xl_align_items: 'center',
                align_items: 'start',
                gap_x: '8px',
                md_gap_x: '4px',
                margin_right: '18px',
                md_margin_right: '2',
            },
            heatmapProps: {
                width: '140px',
                min_width: '140px',
                height: '116px',
                margin_left: '10px',
                sm_margin_left: '0',
                margin_right: '14px',
                sm_margin_right: '0',
                hoverbg: 'naturalGray',
            },
        }
    },
}
</script>

<style lang="postcss" scoped>
.chevron-expander {
    transition: transform 250ms ease-in-out;
}
.toggle-chevron {
    transform: rotate(180deg);
}
.expander {
    @apply cds-rounded-bl-none;
    @apply cds-rounded-br-none;
}
</style>