<template>
	<flex-cell v-bind="boxProps">
		<primitive-card v-bind="$props" :disable="disable" class="journal-card cds-box-border" 
			:class="[openExpander, mouseOverride]"
			@keyup.down.exact="[accessibleDown($event), loseHover(), loseActive()]"
			@keyup.right.exact="[accessibleDown($event), loseHover(), loseActive()]"
			@keyup.up.exact="[accessibleUp($event), loseHover(), loseActive()]"
			@keyup.left.exact="[accessibleUp($event), loseHover(), loseActive()]"
			@keyup.enter.exact="toggleExpand"
			@focus="captureHover" @keydown.self.shift.tab.exact="loseHover"
			@mouseover="captureHover" @mouseout="[loseHover(), loseActive()]"
			@mousedown="captureActive" @mouseup="loseActive"
		>
			<flex-cell direction="row" justify_content="between" width="full" height="auto" 
				min_height="146px" padding="2" align_items="stretch">
				<flex-cell direction="col" width="full" height="auto" gap_y="1" align_items="stretch" min_width="0">
					<!--flex-cell direction="row" align_items="start" height="60px" padding_right="4px" style="overflow: hidden;">
						<div @click="toggleExpand" tabindex="-1" class="focus:cds-outline-none cds-box-border" grow="0">
							<cci-snapshot min_width="60px" width="60px" height="60px" 
								:content="content?.Disciplines" margin_left="2px" focus_margin_left="2px"
								@click="[toggleSnapshot($event, 'Disciplines')]"
								@mouseover="emitHover"
							/>
						</div>
						<flex-cell height="60px" direction="col" margin_left="8px" @click.stop="toggleExpand" grow="1" align_items="stretch" width="full">
							<prehead-heading
								:prehead="content?.Publisher"
								:preheadProps="preheadProps"
								:heading="content?.JournalName"
								:headingProps="headingProps"
							/>
						</flex-cell>
					</flex-cell-->	
					<flex-cell direction="row" align_items="start" height="60px" padding_right="4px">
						<div @click="toggleExpand" tabindex="-1" class="focus:cds-outline-none cds-box-border" grow="0">
							<cci-snapshot :isAcademic="isAcademic" min_width="60px" width="60px" height="60px" 
								:content="content?.Disciplines" margin_left="2px" focus_margin_left="2px"
								@click="[toggleSnapshot($event, 'Disciplines')]"
								@mouseover="emitHover"
							/>
						</div>
						<flex-cell @click.stop="toggleExpand" grow="1" overflow="hidden">
							<flex-cell direction="column" width="full" height="60px" margin_left="8px" @click.stop="toggleExpand" grow="1" align_items="stretch">
								<flex-cell v-bind="preheadProps">
									{{content?.Publisher}}
								</flex-cell>
								<flex-cell v-bind="headingProps" style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;">
									{{content?.JournalName}}
								</flex-cell>
							</flex-cell>
							<flex-cell v-if="badge_url" width="6" height="6" margin_right="2">
								<img :src="fullBadgeUrl" title="This journal is included in your insitution's holding list." alt="Insitution logo" />
							</flex-cell>
						</flex-cell>
					</flex-cell>
					<flex-cell direction="row" align_items="center" justify_content="start" width="full" min_height="20px" wrap="wrap" gap_x="8px" margin_left="4px"                          >
						<icon-tag v-for="(label, idx) in iconLabels" :key="idx" :label="label" 
							@mouseover="$emit('zTop', content.JournalName)" 
							v-show="label?.Label?.length"
							role="tooltip"
						/>
					</flex-cell>
					<flex-cell v-bind="metricSnapshotProps" @click="toggleExpand">
						<metric-snapshot disabled_border_color="dustJacket" is="citations" cursor="pointer"
							class="citation-snapshot" :content="sciteIndex()" 
							@click="toggleSnapshot($event, 'Citations')" 
							@mouseover="widgetCaptureHover" @mouseout="widgetLoseHover"
							grow="1"
						/>
						<metric-snapshot disabled_border_color="dustJacket" is="attention" cursor="pointer"
							class="attention-snapshot" :content="content?.Altmetric"
							@click="toggleSnapshot($event, 'Attention')" 
							@mouseover="widgetCaptureHover" @mouseout="widgetLoseHover"
							grow="1"
						/>
					</flex-cell>
				</flex-cell>
				<flex-cell
					direction="column"
					justify_content="between"
					align_items="center"
				>
					<journal-card-kabob-menu :item_props="navIconProps" :kabob_menu_items="kabob_menu_items" 
						@mouseover="widgetCaptureHover" @mouseout="widgetLoseHover" 
						@mousedown="emitHover" @keydown.self.tab.exact="emitHover"
						tooltip_face="up" tooltip_text="options menu"
					/>
					<primitive-button class="chevron-expander" :class="rotateChevron"
						buttonStyles="cds-w-6 cds-h-6"
						glyph="chevron-down-circle-sharp" v-bind="navIconProps" margin_left="1"
						@mouseover="[widgetCaptureHover(), $emit('zTop', content?.JournalName), chevron_hover = true]"
						@mouseout="[widgetLoseHover(), chevron_hover = false]"
						@keyup.self.tab.exact="[widgetCaptureHover(), $emit('zTop', content?.JournalName), chevron_hover = true]"
						@keydown.self.tab.exact="[widgetLoseHover(), chevron_hover = false]"
                        @mouseup="toggleExpand"
						:label="expanderText"
						v-tippy="{content: expanderText, placement: 'bottom', theme: 'standard-dark'}"
					/>
				</flex-cell>
			</flex-cell>
		</primitive-card>
		<transition name="cds-journal-card-expand">
			<journal-card-expand v-if="isShowing" v-bind="expandProps" :content="content" 
				:nav_menu_items="nav_menu_items" :nav_menu_props="nav_menu_props" @tabItemClick="tabItemClicked"
				@zTop="emitHover" @contactModal="$emit('contactModal', $event)"
				@cardHover="captureHover" @cardActive="captureActive"
				@loseHover="loseHover" @loseActive="loseActive"
				:api_key="api_key" :api_url="api_url"
			/>
		</transition>
	</flex-cell>
</template>

<script>
import { defineAsyncComponent, ref, computed } from 'vue';
import JournalCardBase from './lib/JournalCardBase';
import HeadingsBase from '../../typography/1.0.0/HeadingsBase';
import HoverBase from '../../lib/1.0.0/HoverBase';
const PrimitiveButton = defineAsyncComponent(() => import('../../buttons/1.0.0/primitive/PrimitiveButton'));
const PrimitiveCard = defineAsyncComponent(() => import('./PrimitiveCard'));
const CciSnapshot = defineAsyncComponent(() => import('./snapshots/CciSnapshot'));
const MetricSnapshot = defineAsyncComponent(() => import('./snapshots/MetricSnapshot'));
//const PreheadHeading = defineAsyncComponent(() => import('../../typography/1.0.0/PreheadHeading'));
const FlexCell = defineAsyncComponent(() => import('../../flex/1.0.0/cell/FlexCell'));
const JournalCardExpand = defineAsyncComponent(() => import('./JournalCardExpand'));
const JournalCardKabobMenu = defineAsyncComponent(() => import('./JournalCardKabobMenu'));
const IconTag = defineAsyncComponent(() => import('../../tags/1.0.0/IconTag'));

/**
 * JournalCardSmall is the journal card to be rendered in small (sm) screen breakpoints.
 * It is separated here because the structure for the small breakpoint is significantly different,
 * and the code to render a journal card is significantly verbose.
 */
export default {
	name: 'journal-card-small',
	components: {
		PrimitiveButton,
		PrimitiveCard,
		CciSnapshot,
		//PreheadHeading,
		MetricSnapshot,
		FlexCell,
		JournalCardExpand,
		JournalCardKabobMenu,
		IconTag,
	},
	mixins: [JournalCardBase, HeadingsBase, HoverBase],
	emits: ['tabItemClick', 'zTop', 'contactModal'],
	setup(props) {
		const current_section = props.current_section ? ref(props.current_section) : ref('DashboardSection');
		return {
			current_section,
		}
	},
	provide() {
		return {
			current_section: computed(() => this.current_section),
			website_url: computed(() => ref(this.content?.WebsiteURL)),
			noData: computed(() => ref(this.content?.ScoreDataStatus)),
			cardHover: computed(() => ref(this.hovering)),
			cardActive: computed(() => ref(this.active)),
		}
	},
	methods: {
		emitHover() {
			this.$emit('zTop', this.content?.JournalName);
		},
		toggleExpand() {
			this.showing = !this.showing;
			if (!this.showing) {
				this.current_section = 'DashboardSection';
			}
		},
		toggleSnapshot(event, section) {
			const newSection = section + 'Section';
			if (this.showing && (newSection !== this.current_section && this.metricSnapshots.includes(section))) {
				event.stopPropagation();
			}
			this.current_section = newSection;
		},
		tabItemClicked(section) {
			this.current_section = section;
			this.$emit('tabItemClick', section);
		},
		sciteIndex() {
			let index = this.content?.SciteIndex;
			if (index?.Index_Lifetime) {
				index.Index_Lifetime = parseFloat(index.Index_Lifetime).toFixed(3);
			}
			return index;
		},
		smHeadingLeading() {
			// may not be perfect but does a decent job of adjusting leading while
			// allowing the most characters to show before ellipsis.
			// necessary to allow 3 lines when word wrap occurs before the shortening
			let leading = '';
			if (this.content?.JournalName?.length <= 30) leading = '4-5';
			if (this.content?.JournalName?.length >= 40) leading = '3-25';
			const sample = this.content?.JournalName?.slice(0, 24);
			const count = sample.split(' ').length - 1;
			leading = (count < 4) ? leading : '4-5';
			return leading;
		},
	},
	computed: {
		fullBadgeUrl() {
			let cdn_url = process.env.VUE_APP_CDN_URL;
			if (cdn_url.endsWith('/'))
				cdn_url = cdn_url.slice(0,-1);
			let badge_path = this.badge_url;
			if (badge_path.startsWith('/'))
				badge_path = badge_path.slice(1);
			return cdn_url + '/' + badge_path;
		},
		isShowing() {
			return this.showing;
		},
		expanderText() {
			return this.isShowing ? 'Collapse' : 'Expand';
		},
		rotateChevron() {
			return this.showing ? 'toggle-chevron' : '';
		},
		openExpander() {
			return this.showing ? 'expander' : '';
		},
		mouseOverride() {
			if (this.active && !this.widget_hovering) {
				return 'cds-bg-' + this.card_activebg;
			}
			if (this.hovering && !this.widget_hovering) {
				return 'cds-bg-' + this.card_hoverbg;
			}
			return 'cds-bg-' + this.card_bgcolor;
		},
		iconLabels() {
			const iconLabels = [
				{
					'Label': this.content?.FrequencyOfIssue?.FrequencyDisplay,
					'Icon': 'calendar-clear-sharp',
					'Tooltip': 'Frequency of issue',
				},
				{
					'Label': this.content?.OpenAccess?.OpenAccessType,
					// 'Icon': this.content?.OpenAccess?.GreenOpenAccess ? 'icon-oa-gold' : 'icon-oa',
					'Icon': 'icon-oa',
					'Tooltip': 'Open Access type',
				},
			];
			if (this.content?.AcceptanceRate?.Min && this.content?.AcceptanceRate?.Max 
				&& this.content?.AcceptanceRate?.Min !== this.content?.AcceptanceRate?.Max) {
				iconLabels.unshift({
					'Label': this.content?.AcceptanceRate?.Min + ' - ' + this.content?.AcceptanceRate?.Max + '%',
					'Icon': 'jm-a-approval-rate-icon',
					'Tooltip': 'Acceptance rate',
				});
			} else if (this.content?.AcceptanceRate?.Display) {
				iconLabels.unshift({
					'Label': this.content?.AcceptanceRate?.Display,
					'Icon': 'jm-a-approval-rate-icon',
					'Tooltip': 'Acceptance rate',
				});
			}
			return iconLabels;
		},
		
	},
	props: {
		isAcademic: { default: false },
		badge_url: { default: null },
		kabob_menu_items: { default: [] },
		bgcolor: { default: 'snow' },
		card_bgcolor: { default: 'snow' },
		max_width: { default: 'full' },
		width: { default: 'full' },
		height: { default: 'auto' },
		min_width: { default: '272px' },
		sm_width: { default: 'full' },
		sm_min_width: { default: '272px' },
		sm_height: { default: 'auto' },
		sm_min_height: { default: '146px' },
		direction: { default: 'col' },
		justify_content: { default: 'center' },
		align_items: { default: 'center' },
		border_color: { default: 'transparent' },
		hover_border_color: { default: 'transparent' },
		api_key: String,
		api_url: String,
	},
	data() {
		return {
			showing: false,
			chevron_hover: false,
			expandedData: this.expanded_data,
			metricSnapshots: ['Citations', 'Attention', 'Disciplines'],
			boxProps: {
				position: 'relative',
				direction: 'col',
				min_height: '146px',
				height: 'auto',
				z_index: '0',
				padding: '0',
			},
			metricSnapshotProps: {
				width: 'full',
				height: 'auto',
				direction: 'row',
				justify_content: 'start',
				align_items: 'end',
				gap_x: '8px',
			},
			preheadProps: {
				text_align: 'left',
				font_size: 'sm',
				leading: '4-124',
				tracking: 'tiny',
				font_weight: 'normal',
				text_color: 'winterNight',
				width: 'auto',
				sm_width: 'auto',
                height: '16px',
                max_height: '16px',
				disabled_text_color: 'twilightStratus',
				whitespace: 'nowrap',
				text_transform: 'normal',
				text_overflow: 'ellipsis',
				overflow: 'hidden',
				margin_bottom: '0',
				title: this.content?.Publisher ?? ' ',
			},
			headingProps: {
				text_align: 'left',
				font_size: '4',
				leading: 'sm',
				sm_leading: this.smHeadingLeading(),
				tracking: 'sm',
				font_weight: 'bold',
				text_color: 'winterNight',
				font_family: 'sans',
				width: 'auto',
				sm_width: 'auto',
				height: 'auto',
				sm_height: 'auto',
				z_index: '50',
				disabled_text_color: 'twilightStratus',
				text_overflow: 'ellipsis',
				overflow: 'hidden',
				margin_bottom: '0',
				title: this.content?.JournalName ?? ' ',
			},
			navIconProps: {
				width: '24px',
				height: '24px',
				icon_width: '24px',
				rounded: '4',
				icon_font_size: '5',
				bgcolor: 'transparent',
				icon_bgcolor: 'transparent',
				text_color: 'winterNight',
				hoverbg: 'transparent',
				focusbg: 'transparent',
				activebg: 'transparent',
				icon_text_color: 'winterNight',
				icon_focus_text_color: 'snow',
				icon_focus_visible_text_color: 'snow',
				padding_x: '0',
				margin_top: '0',
				padding_top: '0',
				padding_bottom: '0',
				icon_padding_x: '0',
				icon_padding_top: '0',
				icon_padding_bottom: '0',
				min_height: '0',
				icon_min_height: '0',
				icon_height: '24px',
				disabled_text_color: 'twilightStratus',
				focus_ring_color: 'transparent',
				focus_visible_ring_color: 'winterNoon',
				text_transform: 'normal',
			},
			iconLabelProps: {
				bgcolor: 'transparent',
				display: 'flex',
				placeIcon: 'before',
				gap_x: '4px',
				disabled_text_color: 'twilightStratus',
				icon_font_size: '4',
				icon_margin_left: '0',
				icon_margin_right: '1px',
				direction: 'row',
				justify_content: 'start',
				leading: '5',
				width: 'auto',
				// necessary to undo defaults in TabBase
				height: '',
				margin_top: '',
				margin_bottom: '',
				padding_top: '',
				padding_left: '',
				padding_right: '',
				overflow: '',
			},
			expandProps: {
				position: 'relative',
				top: '-10px',
				left: '0px',
				z_index: '0',
				height: 'full',
			},
		}
	},
}
</script>

<style lang="postcss" scoped>
.chevron-expander {
	transition: transform 250ms ease-in-out;
}
.toggle-chevron {
	transform: rotate(180deg);
}
.expander {
	@apply cds-rounded-bl-none;
	@apply cds-rounded-br-none;
}
</style>