<template>
    <flex-cell v-if="currentBreakpoint !== 'sm'" v-bind="boxProps">
        <primitive-card v-bind="$props" :disable="disable" class="journal-card cds-box-border" 
            :class="[openExpander, mouseOverride]"
            @keyup.down.exact="[accessibleDown($event), loseHover(), loseActive()]"
            @keyup.right.exact="[accessibleDown($event), loseHover(), loseActive()]"
            @keyup.up.exact="[accessibleUp($event), loseHover(), loseActive()]"
            @keyup.left.exact="[accessibleUp($event), loseHover(), loseActive()]"
            @keyup.self.enter.exact="toggleExpand"
            @focus="captureHover" @keydown.self.shift.tab.exact="loseHover"
            @mouseover="captureHover" @mouseout="[loseHover(), loseActive()]"
            @mousedown="captureActive" @mouseup="loseActive"
			@click.stop="toggleExpand"
        >
            <kpi-snapshot
                margin_left="2px" margin_right="24px"
                @click.stop="toggleExpand"
                @mouseover="emitHover"
                label="Violations"
                :violation_data="content?.PredatoryJournalData?.Violations ?? []"
				:tooltip_props="heatmap_tooltip_props"
            />
            <flex-cell height="100px" direction="col" margin_right="18px" margin_top="12px" @click.stop="toggleExpand" 
                class="cds-flex-grow" overflow="hidden" z_index="0"
            >
                <flex-cell justify_content="between">
					<flex-cell width="80px" direction="row" justify_content="start">
						<predatory-warning-tag class="cds-flex-center" bgcolor="winterNight" padding_top="0" id="predatoryTag">
							Predatory
						</predatory-warning-tag>
						<primary-tag bgcolor="transparent" class="cds-flex-center focus:cds-outline-none" 
							font_size="3-5" 
							text_color="nightCloud" 
							glyph="information-circle-sharp" padding_top="0"
							tabindex="0"
							:aria-labelledby="'predatoryTag ' + tooltipId"
							role="tooltip"
							v-tippy="{content: 'Do not submit your manuscript to this journal. Cabells has determined it engages in predatory practices.', placement: 'right', theme: 'standard-dark'}"
							aria-label="more information"
						/>
					</flex-cell>
					<flex-cell v-if="badge_url" width="6" height="6">
						<img :src="fullBadgeUrl" title="This journal is included in your insitution's holding list." alt="Insitution logo" />
					</flex-cell>
				</flex-cell>
                <prehead-heading
                    :prehead="content?.Publisher"
                    :preheadProps="preheadProps"
                    :preheadShorten="true"
                    :heading="content?.JournalName"
                    :headingProps="headingProps"
                    :headingShorten="true"
                />
            </flex-cell>
            <flex-cell width="216px" height="100px" margin_right="3" direction="col" justify_content="between">
                <flex-cell width="216px" direction="row" justify_content="between">
                    <primary-tag @click.stop.prevent="toggleExpand" glyph="flag-sharp" placeIcon="before" 
                        align_items="center" justify_content="start" v-bind="iconLabelProps"
                    >
                        Reviewed&nbsp;&nbsp; <month-day-year>{{ content?.PredatoryJournalData?.ReviewDate.split('T')[0] }}</month-day-year>
                    </primary-tag>
                    <flex-cell width="20px" direction="row" align_items="center" justify_content="end">
                        <journal-card-kabob-menu :item_props="navIconProps" :kabob_menu_items="kabob_menu_items" 
                            @mouseover.stop="widgetCaptureHover" @mouseout.stop="widgetLoseHover" 
                            @mousedown.stop="emitHover" @keydown.self.tab.exact="emitHover"
                            tooltip_face="down" tooltip_text="more options"
                        />
                    </flex-cell>
                </flex-cell>
                <flex-cell direction="row" justify_content="end" padding_bottom="6px" width="216px">
                    <secondary-button v-if="content?.WebsiteURL.length" width="216px" display="flex" @click.stop="toggleExpand"
                        direction="row" justify_content="center" align_items="center" 
                        v-bind="viewReportProps" glyph="warning-sharp"
                        @mouseover="widgetCaptureHover" @mouseout="widgetLoseHover"
                        @keydown.self.tab.exact="loseHover"
                        @keyup.self.shift.tab.exact="captureHover"
                    >
                        View Predatory Report
                    </secondary-button>
                </flex-cell>
            </flex-cell>
        </primitive-card>
        <transition name="cds-journal-card-expand">
            <predatory-journal-card-expand v-if="showing" v-bind="expandProps" :content="JSON.parse(JSON.stringify(content))" 
                :nav_menu_items="nav_menu_items" :nav_menu_props="nav_menu_props" @tabItemClick="tabItemClicked"
                @zTop="emitHover" @collapseCard="toggleExpand"
                @cardHover="captureHover" @cardActive="captureActive"
                @loseHover="loseHover" @loseActive="loseActive"
				:api_key="api_key" :api_url="api_url"
            />
        </transition>
    </flex-cell>
    <predatory-journal-card-small v-else :nav_menu_items="nav_menu_items" :nav_menu_props="nav_menu_props" 
        :content="content" :expanded_data="expandedData" :kabob_menu_items="kabob_menu_items" @tabItemClick="tabItemClicked"
        @zTop="emitHover" @cardToggle="$emit('cardToggle')"
		:badge_url="badge_url" :api_key="api_key" :api_url="api_url"
    />
</template>

<script>
import JournalCardBase from './lib/JournalCardBase';
import HeadingsBase from '../../typography/1.0.0/HeadingsBase';
import HoverBase from '../../lib/1.0.0/HoverBase';
import { defineAsyncComponent, ref, computed, inject } from 'vue';
const PrimitiveCard = defineAsyncComponent(() => import('./PrimitiveCard'));
const KpiSnapshot = defineAsyncComponent(() => import('./snapshots/KpiSnapshot'));
const PreheadHeading = defineAsyncComponent(() => import('../../typography/1.0.0/PreheadHeading'));
const PrimaryTag = defineAsyncComponent(() => import('../../tags/1.0.0/PrimaryTag'));
const SecondaryButton = defineAsyncComponent(() => import('../../buttons/1.0.0/secondary/SecondaryButton'));
const FlexCell = defineAsyncComponent(() => import('../../flex/1.0.0/cell/FlexCell'));
const PredatoryWarningTag = defineAsyncComponent(() => import('../../tags/1.0.0/PredatoryWarningTag'));
const PredatoryJournalCardExpand = defineAsyncComponent(() => import('../../cards/1.0.0/PredatoryJournalCardExpand'));
const MonthDayYear = defineAsyncComponent(() => import('../../data/1.0.0/MonthDayYear'));
const PredatoryJournalCardSmall = defineAsyncComponent(() => import('./PredatoryJournalCardSmall'));
const JournalCardKabobMenu = defineAsyncComponent(() => import('./JournalCardKabobMenu'));
export default {
    name: 'predatory-journal-card',
    components: {
        PrimitiveCard,
        KpiSnapshot,
        PreheadHeading,
        PrimaryTag,
        SecondaryButton,
        FlexCell,
        PredatoryJournalCardExpand,
        PredatoryWarningTag,
        MonthDayYear,
        PredatoryJournalCardSmall,
        JournalCardKabobMenu,
    },
    mixins: [JournalCardBase, HeadingsBase, HoverBase],
    emits: ['tabItemClick', 'zTop', 'collapseCard', 'cardToggle'],
    setup(props) {
        const current_section = props.current_section ? ref(props.current_section) : ref('PredatoryOverviewSection');
        return {
            current_section,
        }
    },
    provide() {
        return {
            current_section: computed(() => this.current_section),
            website_url: computed(() => ref(this.content?.WebsiteURL)),
            cardHover: computed(() => ref(this.hovering)),
            cardActive: computed(() => ref(this.active)),
        }
    },
    methods: {
        emitHover() {
            this.$emit('zTop', this.content?.JournalName);
        },
        toggleExpand() {
            this.showing = !this.showing;
            if (!this.showing) {
                this.current_section = 'PredatoryOverviewSection';
            }
			this.$emit('cardToggle');
        },
        viewPredatoryReport(event) {
            event.stopPropagation();
            window.open(this.content.WebsiteURL, '_blank').focus();
            return false;
        },
        tabItemClicked(section) {
            this.current_section = section;
            this.$emit('tabItemClick', section);
        },
    },
    computed: {
		fullBadgeUrl() {
			let cdn_url = process.env.VUE_APP_CDN_URL;
			if (cdn_url.endsWith('/'))
				cdn_url = cdn_url.slice(0,-1);
			let badge_path = this.badge_url;
			if (badge_path.startsWith('/'))
				badge_path = badge_path.slice(1);
			return cdn_url + '/' + badge_path;
		},
        openExpander() {
            return this.showing ? 'expander' : '';
        },
        mouseOverride() {
            if (this.active && !this.widget_hovering) {
                return 'cds-bg-' + this.card_activebg;
            }
            if (this.hovering && !this.widget_hovering) {
                return 'cds-bg-' + this.card_hoverbg;
            }
            return 'cds-bg-' + this.card_bgcolor;
        },
        reviewDate() {
            const reviewDate = this.content?.PredatoryJournalData?.ReviewDate;
            if (reviewDate) {
                return reviewDate.split('T')[0];
            }
            return null;
        },
    },
    props: {
        kabob_menu_items: { default: [] },
		badge_url: { default: null },
        heatmap_tooltip_props: { default: {} },
        position: { default: 'relative' },
        card_bgcolor: { default: 'dustJacket' },
        hoverbg: { default: '' },
        focusbg: { default: '' },
        activebg: { default: '' },
        card_hoverbg: { default: 'dustJacket' }, // values to use via js events not css
        card_activebg: { default: 'twilightStratus' },
        width: { default: 'full' },
        height: { default: '102px' },
        min_height: { default: '102px' },
        border_color: { default: 'transparent' },
        hover_border_color: { default: 'transparent' },
        hover_shadow: { default: 'md' },
        cursor: { default: 'pointer' },
		api_key: String,
		api_url: String,
    },
    data() {
        return {
            currentBreakpoint: inject('currentBreakpoint'),
            showing: false,
            expandedData: this.expanded_data,
            tooltipId: this.getId('predatory-preview-tooltip'),
            preheadProps: {
                text_align: 'left',
                font_size: '3-25',
                leading: '5',
                tracking: 'tiny',
                font_weight: 'normal',
                text_color: 'winterNight',
                width: 'full',
                whitespace: 'nowrap',
                disabled_text_color: 'twilightStratus',
                text_transform: 'normal',
            },
            headingProps: {
                text_align: 'left',
                font_size: '4',
                leading: '8',
                md_leading: '5',
                lg_leading: '5',
                tracking: 'sm',
                font_weight: 'bold',
                text_color: 'winterNight',
                font_family: 'sans',
                width: 'full',
                xxl_height: '82px',
                xl_height: '82px',
                height: 'auto',
                z_index: '50',
                disabled_text_color: 'twilightStratus',
                text_transform: 'normal',
                md_margin_top: '-4px',
                md_padding_bottom: '4px',
                lg_margin_top: '-4px',
				limit_lines: '1',
            },
            navIconProps: {
                width: '20px',
                height: '20px',
                icon_width: '20px',
                rounded: '4',
                icon_font_size: '5',
                bgcolor: 'transparent',
                icon_bgcolor: 'transparent',
                text_color: 'winterNight',
                hover_text_color: 'midnightMatter',
                hoverbg: 'transparent',
                focusbg: 'transparent',
                activebg: 'transparent',
                icon_text_color: 'winterNight',
                icon_hover_text_color: 'midnightMatter',
                icon_focus_text_color: 'snow',
                icon_focus_visible_text_color: 'snow',
                padding_x: '0',
                padding_top: '0',
                padding_bottom: '0',
                icon_padding_x: '0',
                icon_padding_top: '0',
                icon_padding_bottom: '0',
                min_height: '0',
                icon_min_height: '0',
                icon_height: '20px',
                disabled_text_color: 'twilightStratus',

                focus_ring_color: 'transparent',
                focus_visible_ring_color: 'winterNoon',
            },
            iconLabelProps: {
                bgcolor: 'transparent',
                display: 'flex',
                placeIcon: 'before',
                gap_x: '16px',
                disabled_text_color: 'twilightStratus',
            },
            expandProps: {
                position: 'relative',
                top: '-10px',
                left: '0px',
                z_index: '0',
            },
            viewReportProps: {
                icon_padding_right: '4',
                icon_text_color: 'red',
                icon_hover_text_color: 'red',
            },
            boxProps: {
                position: 'relative',
                direction: 'col',
                width: 'full',
                height: 'auto',
                z_index: '0',
            },
        }
    },
}
</script>

<style lang="postcss" scoped>
.expander {
    @apply cds-rounded-bl-none;
    @apply cds-rounded-br-none;
}
</style>