<template>
    <primitive-card v-bind="$props" :bgcolor="card_bgcolor" :disable="disable" tabindex="-1" sm_width="full" sm_max_width="full">
        <predatory-journal-card-nav :nav_menu_items="getNavMenuItems" :nav_menu_props="nav_menu_props" 
            @tabItemClick="tabItemClicked" :current_section="kebabToPascal(getCurrentSection.name)"
            :style="zIndexStyle" @zTop="changeZIndex($event)" 
            @mouseleave="()=>{window.setTimeout(()=>{changeZIndex(false)}, 350)}"
        />

        <flex-cell v-bind="cardProps" z_index="1">
            <component :is="getCurrentSection" :content="content" @click="($event) => $event.stopPropagation" :api_key="api_key" :api_url="api_url" />
        </flex-cell>
        
        <flex-cell width="full" height="auto" min_height="44px" sm_min_height="auto" z_index="2" 
            justify_content="between" align_items="center" sm_gap_x="4px" sm_margin_bottom="8px" sm_margin_top="-8px"
        >
			<flex-cell
				v-if="currentBreakpoint != 'sm'"
				font_size="3-25"
                leading="5"
                sm_leading="3-25"
                tracking="tiny"
				class="cds-flex-center-row"
				gap="1"
			>
				<div id="reportLabel" role="presentation">
                    {{currentBreakpoint === 'sm' ? 'About reports' : 'How is the Predatory Report determined?'}}
                </div>
				<flex-cell position="relative">
					<icon
						glyph="information-circle-sharp"
                        :aria-labelledby="'reportLabel ' + tooltipId"
                        tabindex="0"
                        role="tooltip"
						v-tippy="{content: 'This Predatory Report is determined by a published set of criteria by which all suspected journals are evaluated objectively. Learn more in the Policies pages.', placement: 'right', theme: 'standard-dark'}"
					/>
				</flex-cell>
			</flex-cell>
            <secondary-button @click.stop="visitWebsite" class="cds-flex-center cds--z-1 sm:cds-z-0" 
                :disabled="content?.WebsiteURL?.length < 1"
            >
                Visit Website
            </secondary-button>
        </flex-cell>
    </primitive-card>
</template>

<script>
import { defineAsyncComponent, inject } from 'vue';
import JournalCardExpandBase from './lib/JournalCardExpandBase';
import PrimitiveCard from './PrimitiveCard';
import UtilityBase from '../../lib/1.0.0/UtilityBase';
import HeadingsBase from '../../typography/1.0.0/HeadingsBase';
import * as JournalCardSections from './sections/index';
const FlexCell = defineAsyncComponent(() => import('../../flex/1.0.0/cell/FlexCell'));
const SimpleDivider = defineAsyncComponent(() => import('../../dividers/1.0.0/SimpleDivider'));
const Icon = defineAsyncComponent(() => import('../../icons/1.0.0/Icon'));
const TooltipHelpText = defineAsyncComponent(() => import('../../tooltips/1.0.0/TooltipHelpText'));
const ButtonGroup = defineAsyncComponent(() => import('../../buttons/1.0.0/group/ButtonGroup'));
const PredatoryJournalCardNav = defineAsyncComponent(() => import('./PredatoryJournalCardNav'));
const SecondaryButton = defineAsyncComponent(() => import('../../buttons/1.0.0/secondary/SecondaryButton'));

export default {
    name: 'predatory-journal-card-expand',
    components: {
        PrimitiveCard,
        FlexCell,
        SimpleDivider,
        ButtonGroup,
        ...JournalCardSections,
        PredatoryJournalCardNav,
        SecondaryButton,
		Icon,
		TooltipHelpText,
    },
    mixins: [JournalCardExpandBase, HeadingsBase, UtilityBase],
    emits: ['tabItemClick', 'zTop', 'collapseCard'],
    props: {
        card_bgcolor: { default: 'dustJacket' },
        padding_top: { default: '10px' },
        sm_padding_top: { default: '0' },
        padding_x: { default: '16px' },
        overflow_x: { default: 'visible' },
        overflow_y: { default: 'visible' },
        sm_min_width: { default: '272px' },
        width: { default: 'full' },
        max_width: { default: 'full' },
        height: { default: 'full' },
        border_color: { default: 'transparent' },
        hover_border_color: { default: 'transparent' },
        active_border_color: { default: 'transparent' },
        focus_border_color: { default: 'transparent' },
        hover_shadow: { default: 'md' },
		api_key: String,
		api_url: String,
    },
    computed: {
        getCurrentSection() {
            if (this.currentSection in this.globalSections) {
                return this.globalSections[this.currentSection];
            }
            return this.currentSection;
        },
        getNavMenuItems() {
            return this.nav_menu_items;
        },
        getWebsiteUrl() {
            return this.content.WebsiteURL;
        },
        zIndexStyle() {
            return 'z-index: ' + this.nav_z + ';';
        },
    },
    methods: {
        /**
         * Open the journal's site in a new window
         * 
         * @param location string   The URL to open
         */
        visitWebsite() {
            window.open(this.getWebsiteUrl, '_blank').focus();
        },
        tabItemClicked(section) {
            this.changeSection(section);
            this.$emit('tabItemClick', section);
        },
        changeSection(section) {
            this.currentSection = section;
        },
        changeZIndex(event) {
            this.nav_z = event ? '1' : '0';
        },
    },
    watch: {
        injectedSection() {
            this.changeSection(this.injectedSection);
        },
    },
    data() {
        return {
            injectedSection: inject('current_section'), // allows MetricSnapshots in JournalCard to change the section
            currentSection: inject('current_section').value,
            globalSections: inject('global_sections'),
            nav_z: '0',
            cardProps: {
                width: 'full',
                height: 'auto',
                sm_height: 'full',
            },
            tooltipId: this.getId('predatory-report-tooltip'),
        }
    },
}
</script>