<template>
    <flex-cell width="full" @mouseup="$emit('zTop', true)" margin_top="16px">
        <button-tab-group
            tab_color="snow"
            :buttons="getNav"
            :item_props="getButtonItemStyles()"
            :group_props="buttonGroupProps"
            :navbar_props="navBarProps"
            :navcursor_props="navCursorProps"
            :navcursor_box_props="{hover_top: '60px'}"
            @mouseover="captureHover"
            @mouseout="loseZIndex"
            @zTop="$emit('zTop', $event)"
        />
    </flex-cell>
</template>

<script>
import { defineAsyncComponent, inject } from 'vue';
import ComponentBase from '../../lib/1.0.0/ComponentBase';
const FlexCell = defineAsyncComponent(() => import('../../flex/1.0.0/cell/FlexCell'));
const ButtonTabGroup = defineAsyncComponent(() => import('../../buttons/1.0.0/group/ButtonTabGroup'));
export default {
    name: 'predatory-journal-card-nav',
    components: {
        FlexCell,
        ButtonTabGroup,
    },
    mixins: [ComponentBase],
    emits: ['tabItemClick', 'zTop'],
    props: {
        nav_menu_props: Object,
        nav_menu_items: Object,
        current_section: String,
    },
    methods: {
        loseZIndex() {
            setTimeout(() => {
                if (!this.hovering) {
                    this.$emit('zTop', false);
                }
            }, 350);
        },
        getButtonItemStyles() {
            return Object.assign(this.menuProps(), this.nav_menu_props);
        },
        menuProps() {
            return {
                font_family: 'sans',
                font_weight: 'bold',
                font_size: '4',
                leading: '24',
                tracking: 'sm',
                text_align: 'center',
                text_color: 'winterEvening',
                disabled_text_color: 'twilightStratus',
                selected_text_color: 'winterDusk',
                height: '44px',
                display: 'flex',
                direction: 'col',
                justify_content: 'center',
                align_items: 'center',
                width: '128px',
                min_width: '128px',
                max_width: '128px',
                sm_width: '116px',
                sm_min_width: '116px',
                sm_max_width: '116px',
                rounded: '4',
                icon_padding_x: '2',
                icon_font_size: '3',
                z_index: '1',
                cursor: 'pointer',
                margin_right: '1-5',
                top: '0',
                hover_text_color: 'winterNight',
                hover_height: '36px',
                hover_min_height: '36px',
            }
        },
        changeSection(section) {
            this.currentSection = section !== 'MoreSection' ? section : this.currentSection;
        },
        makeCallback(section) {
            return () => {
                this.changeSection(section);
                this.$emit('tabItemClick', section);
            };
        },
        isCurrentTab(section, lastItems, lastItem = false) {
            const currentSection = this.getCurrentSection;
            if (currentSection === section) return true;
            const sections = [];
            for (const i in lastItems) {
                sections.push(lastItems[i].Section);
            }
            return sections.includes(currentSection) && lastItem;
        },
    },
    computed: {
        getTabLimit() {
            let limit = 10;
            switch (this.currentBreakpoint) {
                case 'sm': {
                    limit = 2;
                    break;
                }
                case 'md': {
                    limit = 4;
                    break;
                }
                case 'lg': {
                    limit = 6;
                    break;
                }
                case 'xl': {
                    limit = 9;
                    break;
                }
                case 'xxl': {
                    limit = 10; 
                    break;
                }
                default:
                    break;
            }
            return limit;
        },
        getCurrentSection() {
            return this.currentSection ?? this.current_section ?? 'DashboardSection';
        },
        getNav() {
            const navItems = [];
            const defaultNav = JSON.parse(JSON.stringify(this.nav_menu_items));
            const limit = this.getTabLimit - 1;
            const lastItems = JSON.parse(JSON.stringify(defaultNav)).splice(limit);

            for (let nav in defaultNav) {
                nav = parseInt(nav);
                const lastItem = nav === limit && this.nav_menu_items.length > 2;
                let item = {
                    component: 'TextButton',
                    content: lastItem ? 'More' : defaultNav[nav].Text,
                    controls: defaultNav[nav].Section, 
                    glyph: lastItem ? 'caret-down-sharp' : null,
                    placeIcon: 'after',
                    disabled: false,
                    item_styles: this.getButtonItemStyles(),
                    is_current_tab: this.isCurrentTab(defaultNav[nav].Section, lastItems, lastItem),
                    callback: lastItem ? () => {this.changeSection('MoreSection')} : this.makeCallback(defaultNav[nav].Section),
                    lastItem,
                };
                
                if (lastItem && this.nav_menu_items.length > 2) {
                    const subMenuItems = [];
                    for (const i in lastItems) {
                        let subItem = {
                            component: 'TextButton',
                            controls: lastItems[i].Section, 
                            content: lastItems[i].Text,
                            item_styles: {
                                width: '220px',
                            },
                            is_current_tab: this.isCurrentTab(lastItems[i].Section, lastItems, lastItem),
                            callback: this.makeCallback(lastItems[i].Section),
                            lastItem: i === lastItems.length - 1,
                        };
                        subMenuItems.push(subItem);
                    }
                    item.sub_menu_items = subMenuItems;
                }
                navItems.push(item);
                if (lastItem) {
                    break;
                }
            }
            return navItems;
        },
    },
    watch: {
        injectedSection() {
            this.changeSection(this.injectedSection);
        },
    },
    data() {
        return {
            currentBreakpoint: inject('currentBreakpoint'),
            injectedSection: inject('current_section'), // allows MetricSnapshots in JournalCard to change the section
            currentSection: this.current_section ?? '',
            buttonGroupProps: {
                gap_x: '5',
                width: 'full',
                align_items: 'start',
            },
            navBarProps: {
                border_color: 'twilightStratus',
                width: 'full',
            },
            navCursorProps: {
                border_color: 'winterEvening',
                width: 'full',
                sm_margin_right: '4px',
                top: '-22px',
            },
        }
    },
}
</script>