<template>
    <flex-cell v-bind="boxProps">
        <primitive-card v-bind="$props" :disable="disable" class="journal-card cds-box-border" 
            :class="openExpander"
            @keyup.down.exact="[accessibleDown($event), loseHover(), loseActive()]"
            @keyup.right.exact="[accessibleDown($event), loseHover(), loseActive()]"
            @keyup.up.exact="[accessibleUp($event), loseHover(), loseActive()]"
            @keyup.left.exact="[accessibleUp($event), loseHover(), loseActive()]"
            @keyup.enter.exact="toggleExpand"
            @focus="captureHover" @keydown.self.shift.tab.exact="loseHover"
            @mouseover="captureHover" @mouseout="[loseHover(), loseActive()]"
            @mousedown="captureActive" @mouseup="loseActive"
			@click.stop="toggleExpand"
        >
            <flex-cell direction="row" width="full" height="auto" max_height="116px" padding_x="1" padding_y="2">
                <flex-cell direction="row" width="full" height="auto" align_items="start" justify_content="between">
                    <flex-cell direction="row" align_items="start" width="full" height="full" min_width="0">
						<kpi-snapshot
                            max_height="62px"
                            margin_right="12px"
                            @click.stop="toggleExpand"
                            :violation_data="content?.PredatoryJournalData?.Violations ?? []"
							grow="0"
                        />
                        <flex-cell class="cds-flex-grow" height="auto" direction="col" margin_right="4px" align_items="start" margin_top="-2" @click.stop="toggleExpand" grow="1" overflow="hidden">
                            <flex-cell width="full" direction="row" justify_content="start" align_items="start" height="32px">
                                <predatory-warning-tag class="cds-flex-center" bgcolor="winterNight" padding_top="0">
                                    {{ content?.WarningTag ?? 'Predatory' }}
                                </predatory-warning-tag>
                                <primary-tag bgcolor="transparent" class="cds-flex-center" font_size="3-5" text_color="nightCloud" 
                                    padding_top="0" @click="toggleExpand" 
                                    @mouseover="emitHover()"
                                    @focus="emitHover()"
                                    tabindex="0"
									v-tippy="{content: 'Do not submit your manuscript to this journal. Cabells has determined it engages in predatory practices.', placement: 'bottom', theme: 'standard-dark'}"
									aria-label="more information"
                                />
                            </flex-cell>
                            <flex-cell max_height="full" width="full" direction="col">
								<flex-cell v-bind="preheadProps">
									{{ content?.Publisher }}
								</flex-cell>
								<flex-cell v-bind="headingProps">
									{{ content?.JournalName }}
								</flex-cell>
								<!--prehead-heading
                                    :prehead="content?.Publisher"
                                    :preheadProps="preheadProps"
                                    :heading="content?.JournalName"
                                    :headingProps="headingProps"
                                /-->
                            </flex-cell>
                        </flex-cell>
                    </flex-cell>
					<flex-cell direction="row" align_items="center" justify_content="center" padding_right="2px">
						<flex-cell v-if="badge_url" width="6" height="6" margin_right="2">
							<img :src="fullBadgeUrl" title="This journal is included in your insitution's holding list." alt="Insitution logo" />
						</flex-cell>
						<journal-card-kabob-menu :item_props="navIconProps" :kabob_menu_items="kabob_menu_items" 
							@mouseover="widgetCaptureHover" @mouseout="widgetLoseHover" 
							@mousedown="emitHover" @keydown.self.tab.exact="emitHover"
							class="cds-flex-center" 
						/>
					</flex-cell>
                </flex-cell>
            </flex-cell>
            <flex-cell width="full" height="48px" direction="col" justify_content="start" padding_x="2" margin_top="-1">
                <secondary-button v-if="content?.WebsiteURL.length" width="full" display="flex"
                    direction="row" justify_content="center" align_items="center" 
                    v-bind="viewReportProps" glyph="warning-sharp">
                    View Predatory Report
                </secondary-button>
            </flex-cell>
        </primitive-card>
        <transition name="cds-journal-card-expand">
            <predatory-journal-card-expand v-if="isShowing" v-bind="expandProps" :content="JSON.parse(JSON.stringify(content))" 
                :nav_menu_items="nav_menu_items" :nav_menu_props="nav_menu_props" @tabItemClick="tabItemClicked"
                @zTop="emitHover"
                @cardHover="captureHover" @cardActive="captureActive"
                @loseHover="loseHover" @loseActive="loseActive"
				:api_key="api_key" :api_url="api_url"
            />
        </transition>
    </flex-cell>
</template>

<script>
import { defineAsyncComponent, ref, computed } from 'vue';
import JournalCardBase from './lib/JournalCardBase';
import HeadingsBase from '../../typography/1.0.0/HeadingsBase';
import HoverBase from '../../lib/1.0.0/HoverBase';
const PrimitiveCard = defineAsyncComponent(() => import('./PrimitiveCard'));
const KpiSnapshot = defineAsyncComponent(() => import('./snapshots/KpiSnapshot'));
//const PreheadHeading = defineAsyncComponent(() => import('../../typography/1.0.0/PreheadHeading'));
const PrimaryTag = defineAsyncComponent(() => import('../../tags/1.0.0/PrimaryTag'));
const SecondaryButton = defineAsyncComponent(() => import('../../buttons/1.0.0/secondary/SecondaryButton'));
const FlexCell = defineAsyncComponent(() => import('../../flex/1.0.0/cell/FlexCell'));
const PredatoryWarningTag = defineAsyncComponent(() => import('../../tags/1.0.0/PredatoryWarningTag'));
const PredatoryJournalCardExpand = defineAsyncComponent(() => import('../../cards/1.0.0/PredatoryJournalCardExpand'));
const JournalCardKabobMenu = defineAsyncComponent(() => import('./JournalCardKabobMenu'));

/**
 * PredatoryJournalCardSmall is the journal card to be rendered in small (sm) screen breakpoints.
 * It is separated here because the structure for the small breakpoint is significantly different,
 * and the code to render a journal card is significantly verbose.
 */
export default {
    name: 'predatory-journal-card-small',
    components: {
        PrimitiveCard,
        KpiSnapshot,
        //PreheadHeading,
        PrimaryTag,
        PredatoryWarningTag,
        SecondaryButton,
        FlexCell,
        PredatoryJournalCardExpand,
        JournalCardKabobMenu,
    },
    mixins: [JournalCardBase, HeadingsBase, HoverBase],
    emits: ['tabItemClick', 'zTop', 'cardToggle'],
    setup(props) {
        const current_section = props.current_section ? ref(props.current_section) : ref('PredatoryOverviewSection');
        return {
            current_section,
        }
    },
    provide() {
        return {
            current_section: computed(() => this.current_section),
            website_url: computed(() => ref(this.content?.WebsiteURL)),
            cardHover: computed(() => ref(this.hovering)),
            cardActive: computed(() => ref(this.active)),
        }
    },
    methods: {
        emitHover() {
            this.$emit('zTop', this.content?.JournalName);
        },
        toggleExpand() {
            this.showing = !this.showing;
            if (!this.showing) {
                this.current_section = 'PredatoryOverviewSection';
            }
			this.$emit('cardToggle');
        },
        viewPredatoryReport(event) {
            event.stopPropagation();
            window.open(this.content.WebsiteURL, '_blank').focus();
            return false;
        },
        tabItemClicked(section) {
            this.current_section = section;
            this.$emit('tabItemClick', section);
        },
    },
    computed: {
		fullBadgeUrl() {
			let cdn_url = process.env.VUE_APP_CDN_URL;
			if (cdn_url.endsWith('/'))
				cdn_url = cdn_url.slice(0,-1);
			let badge_path = this.badge_url;
			if (badge_path.startsWith('/'))
				badge_path = badge_path.slice(1);
			return cdn_url + '/' + badge_path;
		},
        isShowing() {
            return this.showing;
        },
        rotateChevron() {
            return this.showing ? 'toggle-chevron' : '';
        },
        openExpander() {
            return this.showing ? 'expander' : '';
        },
    },
    props: {
		badge_url: { default: null },
        kabob_menu_items: { default: [] },
        position: { default: 'relative' },
        bgcolor: { default: 'dustJacket' },
        card_bgcolor: { default: 'dustJacket' },
        width: { default: 'full' },
        height: { default: '116px' },
        min_width: { default: '272px' },
        sm_width: { default: 'full' },
        sm_min_width: { default: '272px' },
        sm_height: { default: '116px' },
        sm_min_height: { default: '116px' },
        direction: { default: 'col' },
        justify_content: { default: 'center' },
        align_items: { default: 'center' },
        border_color: { default: 'transparent' },
        hover_border_color: { default: 'transparent' },
		api_key: String,
		api_url: String,
    },
    data() {
        return {
            showing: false,
            expandedData: this.expanded_data,
            preheadProps: {
                text_align: 'left',
                font_size: 'sm',
                leading: '5',
                tracking: 'tiny',
                font_weight: 'normal',
                text_color: 'winterNight',
                width: 'full',
                sm_width: 'full',
                whitespace: 'nowrap',
                disabled_text_color: 'twilightStratus',
                text_transform: 'normal',
                text_overflow: 'ellipsis',
                height: '16px',
                max_height: '16px',
                title: this.content?.Publisher ?? ' ',
            },
            headingProps: {
                text_align: 'left',
                font_size: '4',
                leading: '8',
                tracking: 'sm',
                font_weight: 'bold',
                text_color: 'winterNight',
                font_family: 'sans',
                height: 'auto',
				width: 'full',
                z_index: '50',
                disabled_text_color: 'twilightStratus',
                text_transform: 'normal',
                text_overflow: 'ellipsis',
				overflow: 'hidden',
                whitespace: 'nowrap',
                max_height: '24px',
                title: this.content?.JournalName ?? ' ',
            },
            navIconProps: {
                width: '20px',
                height: '20px',
                icon_width: '20px',
                rounded: '4',
                icon_font_size: '5',
                
                bgcolor: 'transparent',
                icon_bgcolor: 'transparent',
                text_color: 'winterNight',
                hoverbg: 'transparent',
                focusbg: 'transparent',
                activebg: 'transparent',

                icon_text_color: 'winterNight',
                icon_focus_text_color: 'snow',
                icon_focus_visible_text_color: 'snow',
                padding_x: '0',
                padding_top: '0',
                padding_bottom: '0',
                icon_padding_x: '0',
                icon_padding_top: '0',
                icon_padding_bottom: '0',
                min_height: '0',
                icon_min_height: '0',
                icon_height: '20px',
                disabled_text_color: 'twilightStratus',

                focus_ring_color: 'transparent',
                focus_visible_ring_color: 'winterNoon',
            },
            iconLabelProps: {
                bgcolor: 'transparent',
                display: 'flex',
                placeIcon: 'before',
                gap_x: '16px',
                disabled_text_color: 'twilightStratus',
                height: '',
                margin_top: '',
                margin_bottom: '',
                padding_top: '',
                padding_left: '',
                padding_right: '',
                overflow: '',
            },
            expandProps: {
                position: 'relative',
                top: '-10px',
                left: '0px',
                z_index: '0',
            },
            viewReportProps: {
                icon_padding_right: '4',
                icon_text_color: 'red', // retina (red-600)
                icon_hover_text_color: 'red', // retina (red-600)
            },
            boxProps: {
                position: 'relative',
                direction: 'col',
                width: 'full',
                sm_width: 'full',
                min_height: '116px',
                height: 'auto',
                z_index: '0',
                padding: '0',
            },
        }
    },
}
</script>

<style lang="postcss" scoped>
.chevron-expander {
    transition: transform 250ms ease-in-out;
}
.toggle-chevron {
    transform: rotate(180deg);
}
.expander {
    @apply cds-rounded-bl-none;
    @apply cds-rounded-br-none;
}
</style>