<template>
    <flex-cell 
        @mouseup="loseFocus"
        @mouseout="loseFocus"
        class="focus:cds-outline-none cds-box-border"
        v-bind="$props"
        :disabled="false"
    >
        <slot />
    </flex-cell>
</template>

<script>
import CardBase from './lib/CardBase';
import FlexCell from '../../flex/1.0.0/cell/FlexCell';
export default {
    name: 'primitive-card',
    components: {
        FlexCell,
    },
    mixins: [FlexCell, CardBase],
    props: {
        content: Object,
        disable: Boolean,
        disabled: { default: false },
    },
    data() {    
        return {
            // getDisabled: this.disable ? 'disable' : false,
        }
    },
}
</script>