<template>
    <div :id="componentId">
        <flex-cell v-bind="boxProps">
            <flex-cell v-bind="chartProps" class="cds-flex-center">
                <flex-cell v-bind="scoreProps">{{ scoreText }}</flex-cell>
                <flex-cell>
                    <svg transform="rotate(-90)" :width="svgWidth" :height="svgWidth" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <circle fill="none" :stroke="bgStrokeColor()" :stroke-width="stroke_width"
                                :r="(widthInt - 2) / 2" :cy="svgWidth / 2" :cx="svgWidth / 2" />
                            <circle :class="animationClass" fill="none"
                                :r="(widthInt - 2) / 2" :cy="svgWidth / 2" :cx="svgWidth / 2" 
                                :stroke-dasharray="circumference" :stroke-dashoffset="circumference"
                                :stroke-width="stroke_width" :stroke="strokeColor()" stroke-opacity="0.9" />
                        </g>
                    </svg>
                </flex-cell>
            </flex-cell>
            <flex-cell><slot /></flex-cell>
        </flex-cell>
    </div>
</template>

<script>
import { defineAsyncComponent, ref } from 'vue';
import UtilityBase from '../../lib/1.0.0/UtilityBase';
const FlexCell = defineAsyncComponent(() => import('../../flex/1.0.0/cell/FlexCell'));
export default {
    name: 'donut-chart',
    components: {
        FlexCell,
    },
    mixins: [FlexCell, UtilityBase],
    setup(props) {
        const componentId = 'donut-' + Math.ceil(Math.random() * Math.floor(99999));
        const width = ref(props.width);
        const widthInt = width.value.replace('px', '');
        const circumference = Math.round((widthInt - 2) * Math.PI);
        const content = ref(props.content);
        const contentValue = content.value;
        const Scores = contentValue?.Scores;
        let score = null;
        if (Scores?.length) {
            score = Scores[0]?.AdjustedSnapshotScore ?? Scores[0]?.Score;
        }
        
        if (score > .999 && score < 100) {
            score = score / 100;
        }
        const offsetScore = score === 100 ? 1 : score;
        const offset = circumference - Math.round(circumference * offsetScore);
        const animationClass = 'circle-animation-' + componentId;
        const svgWidth = parseInt(widthInt) + 4; // adjust for width of stroke so it doesn't clip

        let style = document.createElement('style');
        const keyframe = '@keyframes ' + componentId + ' { to { stroke-dashoffset: ' + offset + '; } }';
        const webkitKeyframe = '@-webkit-keyframes ' + componentId + ' { to { stroke-dashoffset: ' + offset + '; } }';
        const animation = '.circle-animation-' + componentId + ' { animation: ' + componentId + ' 1s ease-out forwards 1s;  -webkit-animation: ' + componentId + ' 1s ease-out forwards 1s; }';
        document.head.appendChild(style);
        const stylesheet = style.sheet;
        stylesheet.insertRule(keyframe);
        stylesheet.insertRule(webkitKeyframe);
        stylesheet.insertRule(animation);

        return {
            componentId,
            animationClass,
            circumference,
            widthInt,
            svgWidth,
            score,
        }
    },
    props: {
        content: Object,
        stroke_width: { default: '3' },
        stroke_color: { default: 'fullFathom' },
        bg_stroke_color: { default: 'naturalGray' },
        width: { default: '38px' },
        height: { default: '38px' },
    },
    methods: {
        strokeColor() {
            return this.getColorHex(this.stroke_color, '#1F2F6F'); // fullFathom
        },
        bgStrokeColor() {
            return this.getColorHex(this.bg_stroke_color, '#FAFAFA'); // naturalGray
        },
    },
    computed: {
        scoreText() {
            let score = Number(this.score);
            if (score < 1) {
                score = Math.floor(score * 100);
            }
            return score + '%';
        },
    },
    data() {
        return {
            boxProps: {
                gap_x: '16px', 
                direction: 'row', 
                justify_content: 'start', 
                align_items: 'start', 
                width: 'full', 
                height: 'full',
            },
            chartProps: {
                width: 'auto', 
                height: 'auto', 
                position: 'relative',
                cursor: 'default',
            },
            scoreProps: {
                margin_left: '2px',
                position: 'absolute',
                width: 'auto',
                height: 'auto',
                text_align: 'center',
                text_color: 'winterNight',
                font_size: '3-25',
                leading: '5',
                tracking: 'tiny',
                cursor: 'default',
            },
        }
    },
}
</script>