<template>
    <div class="cds-flex-layout cds-overflow-hidden" :class="classStyles">
        <slot></slot>
    </div>
</template>

<script>
import ComponentBase from '../../../lib/1.0.0/ComponentBase';
export default {
    name: 'flexbox',
    mixins: [ComponentBase],
    data() {
        return {
            classStyles: [
                ...this.getFlexStyles(),
                ...this.getDimensionStyles(),
                ...this.getBorderStyles(),
                ...this.getOpacityStyles(),
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getBgStyles(),
                ...this.getPositionStyles(),
                ...this.getSpacingStyles(),
            ],
        }
    },
}
</script>