<template>
    <primitive-div class='cds-self-stretch cds-overflow-hidden' v-bind="$props">
        <slot></slot>
    </primitive-div>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import { defineAsyncComponent } from 'vue';
const PrimitiveDiv = defineAsyncComponent(() => import('../../lib/1.0.0/PrimitiveDiv'));
export default {
    name: 'flex-stretch',
    components: {PrimitiveDiv},
    mixins: [ComponentBase],
}
</script>