@layer utilities {
    
    .cds-border-default {
        @apply cds-border;
        @apply cds-border-opacity-100;
        @apply cds-border-nightCloud;
        @apply cds-border-solid;
        @apply cds-rounded;
    }

    .cds-border-input-text {
        @apply cds-border-default;
    }

    .cds-border-card {
        @apply cds-border-default;
        @apply cds-border-none;
        @apply cds-rounded-card;
    }

    .cds-border-header {
        @apply cds-border-default;
    }

    .cds-border-button-secondary {
        @apply cds-border-default;
        @apply cds-border-2;
        @apply cds-border-winterEvening;
    }

    .cds-border-wells {
        @apply cds-border-default;
        @apply cds-border-dashed;
        @apply cds-border-2;
        @apply cds-border-nightCloud;
    }

    .cds-border-decor-sm {
        @apply cds-border-default;
        @apply cds-border-2;
    }

    .cds-border-decor-md {
        @apply cds-border-default;
        @apply cds-border-4;
    }

    .cds-border-decor-lg {
        @apply cds-border-default;
        @apply cds-border-8;
    }

    .cds-border-ring {
        @apply cds-outline-none;
        @apply cds-rounded; 
        @apply cds-ring;
        @apply cds-ring-twilightStratus;
        @apply cds-border-opacity-0;
    }
}