@layer components {

/* Works on Firefox */
ul.cds-dropdown {
    scrollbar-width: 4px;
    scrollbar-color: #AEAEAE #FFFFFF; /* thumb, track */
}

/* Works on Chrome, Edge, and Safari */
ul.cds-dropdown::-webkit-scrollbar {
    @apply cds-w-4px;
    @apply cds-h-80px;
}

ul.cds-dropdown::-webkit-scrollbar-track {
    @apply cds-bg-snow;
}

ul.cds-dropdown::-webkit-scrollbar-thumb {
    @apply cds-bg-twilightStratus;
    @apply cds-border-snow;
    @apply cds-border-solid;
    @apply cds-border;
    @apply cds-rounded-16;
}

}