@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

@layer utilities {
@font-face{
    font-family: "CarterOne";
    /* src: url("../../../fonts/CarterOne-Regular.ttf") format('truetype'); */
    src: url("https://cabellsdatastorage.blob.core.windows.net/resources/cabells_design_system/fonts/1.0.0/CarterOne-Regular.ttf") format('truetype');
}
@font-face{
    font-family: "Snowbird Sharp";
    /* src: url("../../../fonts/snowbird-sharp.woff2") format('woff2'); */
    src: url("https://cabellsdatastorage.blob.core.windows.net/resources/cabells_design_system/fonts/1.0.0/snowbird-sharp-v105.woff2") format('woff2');
}
}