@layer utilities {

    .cds-bg-gradient-medicine-dark {
        @apply cds-to-oceanic;
        @apply cds-from-fullFathom;
        @apply cds-bg-gradient-to-r;
        /* linear-gradient(270deg, #314BAF 0%, #1F2F6F 100%); */
    }

    .cds-bg-gradient-medicine-light {
        background-image: radial-gradient(100% 100% at 0% 0%, #FFFFFF 0%, #EFF1FB 100%);
    }

    .cds-bg-gradient-snow-gray {
        @apply cds-to-naturalGray;
        @apply cds-from-snow;
        @apply cds-bg-gradient-to-r;
    }

    .cds-bg-gradient-arctic-nights {
        @apply cds-to-nightCloud;
        @apply cds-from-midnightMatter;
    }

    .cds-bg-gradient-arctic-dawn {
        @apply cds-to-midnightMatter;
        @apply cds-from-nightCloud;
    }

    .cds-text-clip {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .cds-gradient-medicine-light-text-clip {
        @apply cds-text-clip;
        @apply cds-bg-gradient-medicine-light;
    }

    .cds-gradient-medicine-light-text-dark {
        @apply cds-text-clip;
        @apply cds-bg-gradient-medicine-dark;
    }

    .cds-gradient-medicine-light-text-snow-gray {
        @apply cds-text-clip;
        @apply cds-bg-gradient-snow-gray;
    }

}