@import './keyframes/dropdown.css';
@import './keyframes/journal-card-preview.css';
@import './keyframes/spinners.css';

@layer components {
    .cds-dropdown-enter-active {
        @apply cds-animate-dropdown-enter-active;
    }
    .cds-dropdown-leave-active {
        @apply cds-animate-dropdown-leave-active;
    }

    .cds-journal-card-expand-enter-active {
        @apply cds-animate-journal-card-expand;
    }

    .cds-journal-card-expand-leave-active {
        @apply cds-animate-journal-card-collapse;
    }

    .spinny {
		@apply cds-animate-spinner;
	}

}