@layer components {
	.tippy-box[data-theme~='standard-dark'] {
		@apply cds-bg-winterNight;
		color: white;
	}
	.tippy-box[data-theme~='standard-dark'][data-placement^='top'] > .tippy-arrow::before {
		border-top-color: #4D4D4D;
	}
	.tippy-box[data-theme~='standard-dark'][data-placement^='bottom'] > .tippy-arrow::before {
		border-bottom-color: #4D4D4D;
	}
	.tippy-box[data-theme~='standard-dark'][data-placement^='left'] > .tippy-arrow::before {
		border-left-color: #4D4D4D;
	}
	.tippy-box[data-theme~='standard-dark'][data-placement^='right'] > .tippy-arrow::before {
		border-right-color: #4D4D4D;
	}
	
	.tippy-box[data-theme~='standard-white'] {
		@apply cds-bg-snow;
		@apply cds-shadow-tooltip_sm;
		color: #4D4D4D;
	}
	.tippy-box[data-theme~='standard-white'][data-placement^='top'] > .tippy-arrow::before {
		border-top-color: #FFFFFF;
	}
	.tippy-box[data-theme~='standard-white'][data-placement^='bottom'] > .tippy-arrow::before {
		border-bottom-color: #FFFFFF;
	}
	.tippy-box[data-theme~='standard-white'][data-placement^='left'] > .tippy-arrow::before {
		border-left-color: #FFFFFF;
	}
	.tippy-box[data-theme~='standard-white'][data-placement^='right'] > .tippy-arrow::before {
		border-right-color: #FFFFFF;
	}
	
	.tippy-box[data-theme~='outline-white'] {
		@apply cds-bg-snow;
		@apply cds-shadow-tooltip_sm;
		color: #4D4D4D;
		@apply cds-ring-1;
		@apply cds-ring-twilightStratus;
	}
	.tippy-box[data-theme~='outline-white'][data-placement^='top'] > .tippy-arrow::before {
		border-top-color: #FFFFFF;
	}
	.tippy-box[data-theme~='outline-white'][data-placement^='bottom'] > .tippy-arrow::before {
		border-bottom-color: #FFFFFF;
	}
	.tippy-box[data-theme~='outline-white'][data-placement^='left'] > .tippy-arrow::before {
		border-left-color: #FFFFFF;
	}
	.tippy-box[data-theme~='outline-white'][data-placement^='right'] > .tippy-arrow::before {
		border-right-color: #FFFFFF;
	}
	
	.cds-tooltip-pointer-x-25:after {
		left: calc(25% - 7px);
	}
	.cds-tooltip-pointer-x-50:after {
		left: calc(50% - 6px);
	}
	.cds-tooltip-pointer-x-75:after {
		left: calc(75% - 7px);
	}
	
	.cds-tooltip-pointer-y-25:after {
		top: calc(25% - 7px);
	}
	.cds-tooltip-pointer-y-50:after {
		top: calc(50% - 7px);
	}
	.cds-tooltip-pointer-y-75:after {
		top: calc(75% - 7px);
	}
	.cds-tooltip-pointer-y-kpi-snapshot:after {
		top: 75px;
	}

	.cds-tooltip-face-disabled:after {
		border-left-color: transparent;
		border-top-color: transparent;
		border-bottom-color: transparent;
		border-right-color: transparent;
	}
	.cds-tooltip-face-up:after {
		@apply cds--top-8px;
		border-left-color: currentColor;
		border-top-color: currentColor;
		border-bottom-color: transparent;
		border-right-color: transparent;
	}
	.cds-tooltip-face-down:after {
		@apply cds--bottom-8px;
		border-left-color: transparent;
		border-top-color: transparent;
		border-bottom-color: currentColor;
		border-right-color: currentColor;
	}
	.cds-tooltip-face-left:after {
		@apply cds--left-8px;
		border-left-color: currentColor;
		border-top-color: transparent;
		border-bottom-color: currentColor;
		border-right-color: transparent;
	}
	.cds-tooltip-face-right:after {
		@apply cds--right-8px;
		border-left-color: transparent;
		border-top-color: currentColor;
		border-bottom-color: transparent;
		border-right-color: currentColor;
	}
	
	.cds-tooltip-pointer:after {
		content: "";
		@apply cds-absolute;
		@apply cds-border;
		@apply cds-border-solid;
		@apply cds-w-14px;
		@apply cds-h-14px;
		@apply cds-transform;
		@apply cds-rotate-45;
		@apply cds-z-0;
	}
	
	.cds-tooltip-pointer-winterNight:after {
		@apply cds-bg-winterNight;
		@apply cds-text-winterNight;
	}
	
	.cds-tooltip-pointer-snow:after {
		@apply cds-bg-snow;
		@apply cds-text-snow;
	}
	
	.cds-tooltip-pointer-snow-twilight:after {
		@apply cds-bg-snow;
		@apply cds-text-twilightStratus;
	}
}