@layer utilities {
    .cds-blocktxt {
        @apply cds-font-sans;
        @apply cds-not-italic;
        @apply cds-font-normal;
    }

    .cds-heading {
        @apply cds-blocktxt;
        @apply cds-font-bold;
        @apply cds-leading-6;
        @apply cds-text-winterNight;
    }

    .cds-btn-label {
        @apply cds-blocktxt;
        @apply cds-font-bold;
        @apply cds-text-4;
        @apply cds-leading-6;
        @apply cds-text-center;
        @apply cds-tracking-sm;
    }
}

@layer components {

    .cds-blockquote-bar {
        @apply cds-border-retroBlue;
        @apply cds-pl-4;
        @apply cds-font-light;
        @apply cds-leading-36;
        @apply cds-tracking-blockquote;
        @apply cds-my-6;
    }

    .cds-blockquote-l-bar {
        @apply cds-border-l-4;
        @apply cds-blockquote-bar;
    }

    .cds-blockquote-r-bar {
        @apply cds-border-r-4;
        @apply cds-blockquote-bar;
    }
  
    .cds-display-space-sm {
        @apply cds-leading-6-28;
        @apply cds-tracking;
    }

    .cds-display-space-lg {
        @apply cds-leading-6;
        @apply cds-tracking-lg;
    }

    .cds-display-text {
        @apply cds-font-display;
        @apply cds-not-italic;
        @apply cds-font-normal;
    }

    .cds-display-subhead {
        @apply cds-blocktxt;
        @apply cds-font-bold;
        @apply cds-uppercase;
    }

    @screen sm {
        .cds-display-text {
            @apply cds-display-space-sm;
            @apply cds-text-5-76;
            word-spacing: 0.192em;
            @apply cds-mb-48px;
        }
        .cds-display-subhead {
            @apply cds-text-5-76;
            @apply cds-leading-24;
            @apply cds-tracking-sm;
            word-spacing: 0.16em;
            @apply cds-mb-48px;
        }
    }

    @screen md {
        .cds-display-text {
            @apply cds-display-space-sm;
            @apply cds-text-6-912;
            word-spacing: 0.277em;
            @apply cds-mb-56px;
        }
        .cds-display-subhead {
            @apply cds-text-4-8;
            @apply cds-leading-h5;
            @apply cds-tracking-md;
            word-spacing: 0.134em;
            @apply cds-mb-40px;
        }
    }

    @screen lg {
        .cds-display-text {
            @apply cds-display-space-lg;
            @apply cds-text-9-92;
            word-spacing: 0.399em;
            @apply cds-mb-80px;
        }
        .cds-display-subhead {
            @apply cds-text-5-76;
            @apply cds-leading-24;
            @apply cds-tracking-sm;
            word-spacing: 0.231em;
            @apply cds-mb-48px;
        }
    }

    .cds-text-divider {
        @apply cds-block;
        @apply cds-text-center;
        @apply cds-overflow-hidden;
        @apply cds-whitespace-nowrap;
    }

    .cds-text-divider > span {
        @apply cds-relative;
        @apply cds-inline-block;
    }
	
    .cds-text-divider > span:before,
    .cds-text-divider > span:after {
        content: "";
        @apply cds-absolute;
        @apply cds-top-4-8;
        @apply cds-w-fuller; /* width 100% is shortened, this pushes the full width */
        @apply cds-h-px;
        @apply cds-bg-twilightStratus;
    }

    .cds-text-divider > span:before {
        @apply cds-right-full;
        @apply cds-mr-4;
    }

    .cds-text-divider > span:after {
        @apply cds-left-full;
        @apply cds-ml-4;
    }

    .cds-caption-divider {
        @apply cds-text-divider;
    }

    .cds-caption-divider > span:before,
    .cds-caption-divider > span:after {
        @apply cds-top-3-6;
    }

    .cds-caption-divider > span:before {
        @apply cds-mr-3;
    }

    .cds-caption-divider > span:after {
        @apply cds-ml-3;
    }
}

@layer base {

    body {
        @apply cds-blocktxt;
        @apply cds-text-4;
        @apply cds-leading-6;
        @apply cds-tracking-sm;
        @apply cds-font-sans;
        @apply cds-antialiased;
        @apply cds-bg-drift;
        @apply cds-text-winterNight;
    }

    h1.legacy {
        @apply cds-heading;
        @apply cds-text-40px;
        @apply cds-tracking-h1;
        @apply cds-mb-80px;
        @apply cds-leading-60;
        word-spacing: 0.399em;
    }
    
    h2.legacy {
        @apply cds-heading;
        @apply cds-text-33px;
        @apply cds-leading-6-32;
        @apply cds-tracking-h2;
        @apply cds-mb-68px;
        word-spacing: 0.332em;
    }
    
    h3.legacy {
        @apply cds-heading;
        @apply cds-font-semibold;
        @apply cds-text-6-912;
        @apply cds-tracking-h3;
        @apply cds-mb-56px;
        word-spacing: 0.277em;
        @apply cds-leading-42;
    }
    
    h4.legacy {
        @apply cds-heading;
        @apply cds-font-normal;
        @apply cds-text-5-76;
        @apply cds-leading-6-28;
        @apply cds-tracking-h4;
        word-spacing: 0.231em;
        @apply cds-mb-48px;
    }
    
    h5.legacy {
        @apply cds-heading;
        @apply cds-font-normal;
        @apply cds-text-4-8;
        @apply cds-leading-6-72;
        @apply cds-tracking-h5;
        @apply cds-mb-40px;
        word-spacing: 0.192em;
    }
    
    h6.legacy {
        @apply cds-heading;
        @apply cds-text-4;
        @apply cds-text-4;
        @apply cds-tracking-sm;
        @apply cds-mb-32px;
        word-spacing: 0.16em;
        @apply cds-leading-24;
    }
    
   h1.displaystyle {
	    @apply cds-font-display;
        font-weight: bold;
		font-size: 2.488rem;
		word-spacing: 0.399rem;
		letter-spacing: 0.056rem;
		line-height: 1.5;
    }
    
    h2.displaystyle {
	    @apply cds-font-display;
        font-weight: bold;
		font-size: 1.728rem;
        word-spacing: 0.277rem;
		letter-spacing: 0.0392rem;
		line-height: 1.333333;
    }
    
    h3.displaystyle {
	    @apply cds-font-display;
        @apply cds-font-semibold;
        @apply cds-leading-42;
		font-size: 1.44rem;
        word-spacing: 0.192rem;
		letter-spacing: 0.0322rem;
		line-height: 1.565217;
    }
    
    h4.displaystyle {
        @apply cds-font-sans;
		font-weight: 700;
		font-size: 1.44rem;
        word-spacing: 0.231rem;
		letter-spacing: 0.0322rem;
		line-height: 1.565217;
    }
    
    h5.displaystyle {
        @apply cds-font-sans;
		font-weight: 700;
        @apply cds-leading-6-72;
		font-size: 1.2rem;
        word-spacing: 0.134rem;
		letter-spacing: 0.0266rem;
    }
    
    h6.displaystyle {
	    @apply cds-font-sans;
		font-weight: 700;
		font-size: 1rem;
        word-spacing: 0.16rem;
		letter-spacing: 0.0192rem;
		line-height: 1.5;
    }
	
	h1.standardstyle {
        font-weight: bold;
		font-size: 2.488rem;
		word-spacing: 0.399rem;
		letter-spacing: 0.048rem;
		line-height: 1.5;
    }
    
    h2.standardstyle {
        font-weight: bold;
		font-size: 2.074rem;
        word-spacing: 0.332rem;
		letter-spacing: 0.0396rem;
		line-height: 1.333333;
    }
    
    h3.standardstyle {
        @apply cds-font-semibold;
        @apply cds-leading-42;
		font-size: 1.728rem;
        word-spacing: 0.277rem;
		letter-spacing: 0.0336rem;
    }
    
    h4.standardstyle {
        @apply cds-font-normal;
		font-size: 1.44rem;
        word-spacing: 0.231rem;
		letter-spacing: 0.0276rem;
		line-height: 1.565217;
    }
    
    h5.standardstyle {
        @apply cds-font-normal;
        @apply cds-leading-6-72;
		font-size: 1.2rem;
        word-spacing: 0.192rem;
		letter-spacing: 0.0228rem;
    }
    
    h6.standardstyle {
		font-size: 1rem;
        word-spacing: 0.16rem;
		letter-spacing: 0.125rem;
		line-height: 1.5;
    }
	
    blockquote {
    }

    caption {
        @apply cds-blocktxt;
        @apply cds-inline-block;
        @apply cds-font-light;
        @apply cds-text-sm;
        @apply cds-leading-6-16;
        @apply cds-tracking-tiny;
        word-spacing: 0.134em;
        @apply cds-mb-28px;
        @apply cds-text-left;
    }
}