<template>
    <hero-outline-button v-bind="$props">
        <slot></slot>
    </hero-outline-button>
</template>

<script>
import HeroOutlineButton from '../hero/HeroOutlineButton';
export default {
    name: 'modal-outline-button',
    components: { HeroOutlineButton },
    mixins: [HeroOutlineButton],
    props: {
        height: { default: '10' },
    },
}
</script>