<template>
    <primitive-button v-bind="$props">
        <slot></slot>
    </primitive-button>
</template>

<script>
import PrimitiveButton from '../primitive/PrimitiveButton';
export default {
    inheritAttrs: true,
    name: 'modal-button',
    components: { PrimitiveButton },
    props: {
        rounded: { default: 'DEFAULT' },
        height: { default: '10' },
    },
}
</script>