<template>
    <ul :id="componentId" :class="classStyles" role="menu"
        class="cds-w-auto cds-overflow-x-hidden cds-overflow-y-auto focus:cds-outline-none"
    >
        <menu-item v-for="(menuItem, index) in menu_items"
            :key="index"
            :content="menuItem.content"
            :component="menuItem.component"
            :compact="menuItem?.compact"
            :menu_length="menu_items.length"
            :current_item="index"
            :dropdown_id="componentId"
            :item_props="menuItem?.item_props ?? buttonProps"
            v-bind="list_item_props"
            @click="menuItem.callback"
            @closedropdown="[$emit('closedropdown', $event)]"
            class="cds-border-none cds-border-0 cds-ring-0"
        />
    </ul>
</template>
<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import { getFocusWidth } from './lib/DropdownBaseLib';
import { defineAsyncComponent } from 'vue';
const MenuItem = defineAsyncComponent(() => import('./MenuItem'));

export default {
    name:'dropdown',
    components: { MenuItem },
    mixins: [ComponentBase],
    emits:['closedropdown', 'tabItemClick'],
    props: {
        /* According to design system, width may increase in increments of 44px */
        menu_items: Array,
        width: { default: '264px' },
        max_width: { default: '264px' },
        min_width: { default: '' },
        height: { default: 'auto' },
        max_height: { default: '440px' },
        min_height: { default: '' },
        bgcolor: { default: 'snow' },
        rounded: { default: 'DEFAULT' },
        shadow: { default: 'lg' },
        position: { default: 'relative' },
        display: { default: 'block' },
        margin: { default: '2px' },

        item_props: { default: {} },
        list_item_props: { default: {} },
    },
    methods: {
        getFocusWidth,
        itemProps() {
            return {
                width: '264px',
                max_width: '264px',
                min_width: '',
                focus_visible_width: this.getFocusWidth(this.menu_items),
            }
        },
    },
    data() {
        return {
            componentId: this.getId('ul'),
            classStyles: [
                ...this.getBgStyles(),
                ...this.getMarginStyles(),
                ...this.getDimensionStyles(),
                ...this.getBorderStyles(),
                ...this.getPositionStyles(),
                ...this.getOpacityStyles(),
                ...this.getPaddingStyles(),
                ...this.getSpacingStyles(),
            ],
            buttonProps: this.objectHasProps(this.item_props) ? Object.assign(this.itemProps(), this.item_props) : this.itemProps(),
        }
    },
}

export {
    getFocusWidth,
}
</script>