<template>
    <li class="focus:cds-outline-none cds-w-auto cds-h-auto">
        <component :is="itemType" v-bind="buttonProps" 
            tabindex="0" @keydown="checkMenuItem"
            padding_top="0" padding_bottom="0"
            class="cds-flex-left-center cds-ring-inset"
            @keyup.down.exact.stop="[accessibleDown($event)]"
            @keyup.up.exact.stop="[accessibleUp($event)]"
            :aria-controls="content?.controls"
            :aria-current="selected"
            role="menuitem"
        >
            {{itemContent}}
        </component>
        <menu-item-divider v-if="(current_item < (menu_length - 1))" />
    </li>
</template>

<script>
import ButtonBase from '../../buttons/1.0.0/lib/ButtonBase';
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import SelectableBase from '../../lib/1.0.0/SelectableBase';
import { defineAsyncComponent } from 'vue';
const MenuItemDivider = defineAsyncComponent(() => import('../../dividers/1.0.0/MenuItemDivider'));
const TextButton = defineAsyncComponent(() => import('../../buttons/1.0.0/text/TextButton'));
const TextCompactButton = defineAsyncComponent(() => import('../../buttons/1.0.0/text/TextCompactButton'));
import { getMenuItemComponent, getMenuItemContent, getMenuItemHeight } from '../../dropdown/1.0.0/lib/MenuItemBase';
export default {
    name: 'menu-item',
    components: { 
        TextButton, 
        TextCompactButton, 
        MenuItemDivider,
    },
    mixins: [ButtonBase, ComponentBase, SelectableBase],
    emits:['closedropdown', 'tabItemClick', 'contactModal'],
    props: {
        item_props: Object,
        list_item_props: Object,
        dropdown_id: String,
        component: String,
        content: String,
        compact: Boolean,
        menu_length: Number,
        current_item: Number,

        li_width: String,

        width: { default: '264px' },
        max_width: { default: '264px' },
        min_width: { default: '' },

        max_height: { default: '' },

        margin: { default: '0' },
        active_margin_y: { default: '0' },

        text_color: { default: 'nightCloud' },
        hover_text_color: { default: 'midnightMatter' },
        focus_text_color: { default: 'midnightMatter' },
        active_text_color: { default: 'nightCloud' },
        disabled_text_color: { default: 'dustJacket' },

        bgcolor: { default: 'snow' },
        hoverbg: { default: 'drift' },
        focusbg: { default: 'drift' },
        activebg: { default: 'drift' },
        disabledbg: { default: 'snow' },

        rounded: { default: 'none' },
        hover_rounded: { default: 'none' },
        focus_rounded: { default: '4' },
        focus_visible_rounded: { default: '4' },
        active_rounded: { default: 'none' },
        disabled_rounded: { default: 'none' },

        padding_top: { default: '12px' },
        padding_bottom: { default: '12px' },
        padding_x: { default: '12px' },

        position: { default: 'relative' },

        border_style: { default: 'solid' },
        hover_border_style: { default: 'solid' },
        focus_border_style: { default: 'solid' },
        active_border_style: { default: 'none' },
        disabled_border_style: { default: 'solid' },

        ring_color: { default: 'snow' },
        hover_ring_color: { default: 'snow' },
        focus_ring_color: { default: 'transparent' },
        focus_visible_ring_color: { default: 'winterNoon' },
        active_ring_color: { default: 'transparent' },
        disabled_ring_color: { default: 'transparent' },

        ring_width: { default: '0' },
        hover_ring_width: { default: '0' },
        focus_ring_width: { default: '4' },
        active_ring_width: { default: '0' },
        disabled_ring_width: { default: '0' },
    },
    setup(props) {
        return {
            itemType: getMenuItemComponent(props.component),
            itemContent: getMenuItemContent(props.content),
            itemHeight: getMenuItemHeight(props.component, props.compact),
        }
    },
    methods: {
        accessibleDown(event) {
            const next = event.currentTarget.parentElement?.nextSibling;
            if (!next?.getElementsByClassName)  return;
            next.getElementsByTagName('button')[0]?.focus();
        },
        accessibleUp(event) {
            const prev = event.currentTarget.parentElement?.previousSibling;
            if (!prev?.getElementsByClassName)  return;
            prev.getElementsByTagName('button')[0]?.focus();
        },
        /**
         * Check if the menu item is the first or last in the dropdown.
         * Depending on whether the shift key is also pressed, emit
         * event to close the dropdown.
         * 
         * @emits closedropdown
         */
        checkMenuItem(e) {
            if (e.key === 'Tab') {
                if ((!e.shiftKey && this.lastItem) || (e.shiftKey && this.firstItem)) {
                    if (e.shiftKey && this.firstItem) {
                        e.preventDefault();
                    }
                    this.$emit('closedropdown', e);
                }
            }
        },
        itemProps() {
            return {
                width: '264px',
                max_width: '264px',
                min_width: '',
                
                height: this.height ?? (this.itemHeight - 1) + 'px',
                max_height: '',
                min_height: this.min_height ?? (this.itemHeight - 1) + 'px',

                margin: '0',

                text_color: 'nightCloud',
                hover_text_color: 'midnightMatter',
                focus_text_color: 'midnightMatter',
                active_text_color: 'nightCloud',
                disabled_text_color: 'dustJacket',

                bgcolor: 'snow',
                hoverbg: 'drift',
                focusbg: 'drift',
                activebg: 'drift',
                disabledbg: 'snow',

                rounded: '',
                hover_rounded: '',
                focus_rounded: '4',
                focus_visible_rounded: '4',
                active_rounded: '4',
                disabled_rounded: '',

                padding_top: '0',
                padding_bottom: '0',
                padding_x: '12px',

                position: 'relative',

                border_style: 'solid',
                hover_border_style: 'solid',
                focus_border_style: 'none',
                focus_visible_border_style: 'solid',
                active_border_style: 'none',
                disabled_border_style: 'solid',

                ring_color: 'transparent',
                hover_ring_color: 'drift',
                focus_ring_color: '',
                focus_visible_ring_color: 'winterNoon',
                active_ring_color: '',
                disabled_ring_color: 'transparent',

                ring_width: '0',
                hover_ring_width: '0',
                focus_ring_width: '0',
                focus_visible_ring_width: '4',
                active_ring_width: '0',
                disabled_ring_width: '0',
            }
        },
    },
    computed: {
        buttonProps() { return Object.assign(this.itemProps(), this.item_props) },
    },
    data() {
        return {
            firstItem: this.current_item === 0,
            lastItem: this.current_item === (this.menu_length - 1),
        }
    },
}
export {
    getMenuItemComponent, getMenuItemContent, getMenuItemHeight,
}
</script>