<template>
    <primitive-button v-bind="$props" class="cds-box-border">
        <slot></slot>
    </primitive-button>
</template>

<script>
import PrimitiveButton from '../primitive/PrimitiveButton';
export default {
    name: 'hero-outline-button',
    components: { PrimitiveButton },
    mixins: [PrimitiveButton],
    props: {
        height: { default: "12" },
        rounded: { default: "DEFAULT" },
        bgcolor: { default: "snow" },
        text_color: { default: "winterEvening" },
        ring_color: { default: "winterEvening" },
        ring_width: { default: "1" },
        border_style: { default: "solid" },
        hoverbg: { default: "blueIce" },
        hover_ring_width: { default: "1" },
        hover_border_width: { default: "" },
        hover_border_style: { default: "solid" },
        hover_ring_color: { default: "winterEvening" },
        hover_text_color: { default: "winterDusk" },
        focusbg: { default: "blueIce" },
        focus_ring_width: { default: "" },
        focus_visible_ring_width: { default: "4" },
        focus_border_style: { default: "solid" },
        focus_ring_color: { default: "" },
        focus_visible_ring_color: { default: "winterNoon" },
        focus_text_color: { default: "winterDusk" },
        activebg: { default: "blueIce" },
        active_text_color: { default: "winterEvening" },
        active_ring_color: { default: "winterEvening" },
        active_ring_width: { default: "1" },
        active_border_style: { default: "solid" },
        disabledbg: { default: "naturalGray" },
        disabled_text_color: { default: "twilightStratus" },
        disabled_ring_color: { default: "twilightStratus" },
        disabled_ring_width: { default: "1" },
        disabled_border_style: { default: "solid" },
    },
}
</script>