<template>
    <primitive-button v-bind="$props">
        <slot></slot>
    </primitive-button>
</template>

<script>
import PrimitiveButton from '../primitive/PrimitiveButton';
export default {
    name: 'hero-button',
    components: { PrimitiveButton },
    mixins: [PrimitiveButton],
    props: {
        rounded: { default: 'DEFAULT' },
        height: { default: '12' },
    },
}

</script>