@layer utilities {
    @keyframes Journal-card-preview-1__height__2 {
        from {
            @apply cds-h-0;
        }
        to {
            @apply cds-h-full;
        }
    }
    @keyframes Journal-card-preview-1__height__4 {
        from {
            @apply cds-h-full;
        }
        to {
            @apply cds-h-0;
        }
    }
}