<template>
    <primitive-compact-button v-bind="$props">
        <slot></slot>
    </primitive-compact-button>
</template>

<script>
import PrimitiveCompactButton from '../primitive/PrimitiveCompactButton';
export default {
    components: { PrimitiveCompactButton },
    mixins: [PrimitiveCompactButton],
    name: 'primary-compact-button',
    props: {
        rounded: { default: 'DEFAULT' },
        focus_ring_width: { default: '4' },
    },
}
</script>