<template>
    <primitive-button v-bind="$props">
        <slot></slot>
    </primitive-button>
</template>

<script>
import PrimitiveButton from '../primitive/PrimitiveButton';
export default {
  methods: {
  },
    name: 'primary-button',
    components: { PrimitiveButton },
    mixins: [PrimitiveButton],
    props: {
        rounded: { default: 'DEFAULT' },
    },
}
</script>