<template>
    <primitive-div v-bind="$props" :height="height" :width="width" z_index="1" position="relative" 
        class="img-gradient" :class="classStyles">
        <primitive-image v-bind="$props" :src="src" :alt="getImgAlt(alt)"
            :width="width" :height="height" :loading="loading" z_index="1" />
        <primitive-div v-bind="$props" class="img-gradient cds-bg-opacity-50" :class="getGradient()" position="absolute" top="0"
             :height="height" :width="width" z_index="2" :bg_blend="bg_blend" opacity="50" >&nbsp;</primitive-div>
    </primitive-div>
</template>

<script>
import ImgBase from './lib/ImgBase';
import ImageBase from '../../lib/1.0.0/ImageBase';
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import BgBase from '../../lib/1.0.0/BgBase';
import { defineAsyncComponent } from 'vue';
const PrimitiveDiv = defineAsyncComponent(() => import('../../lib/1.0.0/PrimitiveDiv'));
const PrimitiveImage = defineAsyncComponent(() => import('./PrimitiveImage'));
export default {
    name: 'image-gradient',
    components: {
        PrimitiveImage,
        PrimitiveDiv,
    },
    mixins: [ComponentBase, ImageBase, ImgBase, BgBase],
    props: {
        gradient: { default: 'snow-gray' },
        bg_blend: { default: 'multiply' },
        position: { default: 'relative' },
        gradient_opacity: { default: '100' }, // off by default
    },
    methods: {
        /**
         * Get the gradient overlay style for the image
         */
        getGradient() {
            const allowed = ['medicine-light', 'medicine-dark', 'snow-gray'];
            const gradient = (!allowed.includes(this.gradient)) ? 'snow-gray' : this.gradient;
            return 'cds-bg-gradient-' + gradient;
        },
    },
    data() {
        return {
            classStyles: [
                this.getGradient(),
                ...this.getFontStyles(),
                ...this.getDimensionStyles(),
                ...this.getBgStyles(),
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getPositionStyles(),
                ...this.getOpacityStyles(),
                ...this.getBorderStyles(),
                ...this.getSpacingStyles(),
            ],
        }
    },
}
</script>

<style scoped>

/** define gradients that can be used on this image's gradient overlay */

</style>