<template>
    <img :class="classStyles" :src="src" :alt="getImgAlt(alt)" :loading="loading" />
</template>

<script>
import ImgBase from './lib/ImgBase';
import ImageBase from '../../lib/1.0.0/ImageBase';
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import FlexCellBase from '../../flex/1.0.0/cell/FlexCellBase';
export default {
    name: 'primitive-image',
    mixins: [ImageBase, ImgBase, ComponentBase, FlexCellBase],
    props: {
        width: { default: 'full' },
    },
    data() {
        return {
            classStyles: [
                ...this.getFontStyles(),
                ...this.getDimensionStyles(),
                ...this.getBgStyles(),
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getPositionStyles(),
                ...this.getOpacityStyles(),
                ...this.getBorderStyles(),
                ...this.getSpacingStyles(),
                ...this.getFlexStyles(),
                ...this.getFlexCellStyles(),
            ],
        }
    },
}
</script>