<template>
    <primitive-card v-bind="segment" @blur="$emit('accessible', false)" :tabindex="tabindex">
        <flex-cell direction="row" justify_content="between" align_items="center" width="full" 
            :key="currentBreakpoint + currentFace"
        >
            <flex-cell v-if="isSm" v-bind="labelProps" class="cds-flex-center">{{ label }}</flex-cell>
            <icon-text v-else :label="label" :tooltip_props="tooltipProps" width="full" :face="currentFace"
                :access_tooltip="accessTooltip" @accessible="$emit('accessible', $event)"
                @focusin="[$emit('zTop', true), $emit('accessible', true)]"
                :icon_props="icon_props"
            >
                {{ tooltipText }}
            </icon-text>
            <flex-cell v-if="topIcon" width="full" direction="row" justify_content="end">
                <icon :glyph="glyph" v-bind="smGlyphProps" @mouseover="$emit('zTop', true)" @mouseout="$emit('zTop', false)" />
            </flex-cell>
        </flex-cell>
        <flex-cell direction="row" justify_content="between" align_items="center" height="full" @focusin="$emit('accessible', false)">
            <flex-cell class="cds-flex-left-center" v-bind="segmentDataStyles">
                <slot />
            </flex-cell>
            <flex-cell class="cds-flex-center md:cds-flex-center-right-row" width="1/3" height="full" v-if="!topIcon">
                <icon-4 :glyph="glyph" v-bind="glyphProps" @mouseover="$emit('zTop', true)" @mouseout="$emit('zTop', false)" />
            </flex-cell>
        </flex-cell>
    </primitive-card>
</template>

<script>
import { defineAsyncComponent, inject } from 'vue';
const FlexCell = defineAsyncComponent(() => import('../../../../flex/1.0.0/cell/FlexCell'));
const PrimitiveCard = defineAsyncComponent(() => import('../../PrimitiveCard'));
const IconText = defineAsyncComponent(() => import('../../../../icons/1.0.0/IconText'));
const Icon = defineAsyncComponent(() => import('../../../../icons/1.0.0/Icon'));
const Icon4 = defineAsyncComponent(() => import('../../../../icons/1.0.0/Icon4'));
export default {
    name: 'icon-segment-right',
    components: {
        PrimitiveCard,
        FlexCell,
        IconText,
        Icon,
        Icon4,
    },
    emits: ['zTop', 'accessible'],
    props: {
        tabindex: { default: null }, // accessibility focus should show tooltip
        access_tooltip: { default: true }, // accessibility focus should show tooltip
        icon_props: { default: {} },
        tooltip_props: { default: {} },
        tooltip_text: { default: '' },
        tooltip_label: { default: '' },
        face: { default: 'up' }, // tooltip pointer direction facing
        glyph: { default: 'information-circle-sharp' },
        segmentData: { default: {} },
        segmentProps: { default: {} },
        segmentDataProps: { default: {} },
        segmentDataType: { default: 'default' },
        top_icon: { default: false },
    },
    computed: {
        tooltipProps() {
            return this.tooltip_props;
        },
        topIcon() {
            return this.top_icon;
        },
        segment() {
            return Object.assign({
                direction: 'col',
                min_height: '122px',
                max_height: '150px',
                sm_height: '115px',
                sm_min_height: '115px',
                bgcolor: 'naturalGray',
                hoverbg: 'naturalGray',
                focusbg: 'naturalGray',
                activebg: 'naturalGray',
                border_color: 'dustJacket',
                border_width: '1px',
                rounded: 'DEFAULT',
                wrap: 'nowrap',
                width: 'full',
                sm_width: 'auto',
                shadow: '',
                hover_shadow: '',
                active_shadow: '',
                focus_shadow: '',
                padding_x: '20px',
                padding_y: '10px',
                z_index: '1',
                focus_visible_ring_color: 'none',
                focus_visible_ring_width: '0',
            }, this.segmentProps);
        },
        segmentDataStyles() {
            return Object.assign({
                width: '2/3',
                sm_width: 'full',
                height: 'auto',
                sm_max_height: '80px',
            }, this.segmentDataProps);
        },
        currentFace() {
            return this.face;
        },
        isSm() {
            return this.currentBreakpoint === 'sm';
        },
        accessTooltip() {
            return this.access_tooltip;
        },
    },
    data() {
        return {
            currentBreakpoint: inject('currentBreakpoint'),
            label: this.tooltip_label,
            tooltipText: this.tooltip_text,
            glyphProps: {
                leading: '15',
                tracking: 'h1',
            },
            smGlyphProps: {
                font_size: '6',
                leading: '6',
                tracking: 'h1',
            },
            labelProps: {
                text_transform: 'uppercase',
                font_weight: 'bold',
                font_size: '3-25',
                leading: '5-252',
                tracking: 'mini',
                whitespace: 'nowrap',
                height: '20px',
                width: 'auto',
            },
        }
    },
}
</script>