<template>
    <div class="cds-w-full">
        <flex-cell v-bind="aboutGroupingProps">
            <heading v-bind="headingProps">Emails</heading>
            <anchor v-bind="aboutAnchorProps" :external="true" target="_blank" :href="'mailto:' + email"
                focus_visible_ring_color="winterNoon" focus_visible_ring_width="4px" rounded="DEFAULT" width="7/8"
                v-for="(email, idx) in contactEmails" :key="idx" tabindex="0" >
                {{ email ?? def }}
            </anchor>
        </flex-cell>
    </div>
</template>

<script>
import { defineAsyncComponent } from 'vue';
const FlexCell = defineAsyncComponent(() => import('../../../../flex/1.0.0/cell/FlexCell'));
const Heading = defineAsyncComponent(() => import('../../../../typography/1.0.0/Heading'));
const Anchor = defineAsyncComponent(() => import('../../../../anchors/1.0.0/Anchor'));
export default {
    name: 'journal-stat-anchor-grouping',
    components: {
        FlexCell,
        Heading,
        Anchor,
    },
    props: {
        contact_emails: { default: [] },
    },
    data() {
        return {
            def: '—',
            contactEmails: [...this.contact_emails ?? []],
            aboutGroupingProps: {
                width: 'full',
                direction: 'col',
                height: 'auto',
                justify_content: 'start',
                min_height: '32px',
                wrap: 'wrap',
                whitespace: 'wrap',
            },
            headingProps: {
                tag: 'h6',
                font_weight: 'bold',
                font_size: '4',
                leading: '6',
                tracking: 'sm',
                font_family: 'sans',
                text_align: 'left',
                width: 'auto',
                height: 'auto',
                whitespace: 'nowrap',
            },
            aboutAnchorProps: {
                text_color: 'winterEvening',
                font_size: '3-25',
                font_weight: 'bold',
                leading: '5',
                tracking: 'tiny',
            },
        }
    },
}

</script>