<template>
    <div class="cds-w-full">
        <flex-cell v-bind="aboutRowGroupProps">
            <slot />
        </flex-cell>
    </div>
</template>

<script>
import { defineAsyncComponent } from 'vue';
const FlexCell = defineAsyncComponent(() => import('../../../../flex/1.0.0/cell/FlexCell'));
export default {
    name: 'journal-stat-row-grouping',
    components: {
        FlexCell,
    },
    data() {
        return {
            aboutRowGroupProps: {
                width: 'full',
                direction: 'row',
                md_direction: 'col',
                sm_direction: 'col',
                height: 'auto',
                justify_content: 'between',
                min_height: '32px',
            },
        }
    },
}
</script>