<template>
    <div v-bind="$attrs" :id="id" class="cds-flex" :class="classStyles"><slot></slot></div>
</template>

<script>
import ComponentBase from '../../../lib/1.0.0/ComponentBase';
import FlexCellBase from './FlexCellBase';
export default {
    name: 'flex-cell',
    mixins: [ComponentBase, FlexCellBase],
    computed: {
        classStyles() { 
            return [
                ...this.getFlexStyles(),
                ...this.getFlexCellStyles(),
                ...this.getDimensionStyles(),
                ...this.getBorderStyles(),
                ...this.getOpacityStyles(),
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getBgStyles(),
                ...this.getPositionStyles(),
                ...this.getSpacingStyles(),
                ...this.getFontStyles(),
            ]
        },
    },
}
</script>