<template>
    <div :class="tooltipWrapperStyles" class="cds-flex cds-pointer-events-none">
        <div
            :id="componentId"
            :class="tooltipStyles"
			:style="'transform: translate(' + horizontal_shift + ', ' + vertical_shift + ');'"
            class="cds-subpixel-antialiased cds-cursor-default cds-flex cds-flex-col cds-tooltip-pointer"
            aria-hidden="false"
            aria-live="polite"
            role="tooltip"
        >
            <slot />
        </div>
    </div>
</template>

<script>
import TooltipBase from './lib/TooltipBase';
import FlexCellBase from '../../flex/1.0.0/cell/FlexCellBase';
export default {
    name: 'primitive-tooltip',
    mixins: [TooltipBase, FlexCellBase],
    props: {
        pointer_disabled: { default: false },
        width: { default: '64px' },
        height: { default: 'auto' },
        bgcolor: { default: 'winterNight' },
        pointer_bg: { default: 'winterNight' },
        ring_color: { default: 'winterNight' },
        ring_width: { default: '1' },
        border_color: { default: '' },
        border_width: { default: '' },
        border_style: { default: 'solid' },
        rounded: { default: null },
		outer_padding_x: { default: '' },
		vertical_shift: { default: '0%' },
		horizontal_shift: { default: '0%' },
        // tooltip pointer positioning (%)
        pointer_position: { default: '50' },
        justify_content: { default: 'center' },
        align_items: { default: 'center' },
    },
    computed: {
        tooltipStyles() {
            let pointerPos = '';
            if (this.face === 'up' || this.face === 'down') {
                pointerPos = 'x-' + this.pointer_position;
            } else if (this.face === 'left' || this.face === 'right') {
                pointerPos = 'y-' + this.pointer_position;
            }
            return [
                this.getId('tooltip'),
                this.getPointerStyle('', this.pointer_disabled, this.pointer_bg, 'winterNight'),
                this.getPointerStyle('', this.pointer_disabled, pointerPos),
                this.getPointerFacing(this.face, this.pointer_disabled),
				this.getPaddingX('', this.outer_padding_x, '0'),
                ...this.getBgStyles(),
                ...this.getFlexStyles(),
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getFontStyles(),
                ...this.getDimensionStyles(),
                ...this.getBorderStyles(),
                ...this.getPositionStyles(),
                ...this.getOpacityStyles(),
                ...this.getSpacingStyles(),
                ...this.getFlexCellStyles(),
            ];
        }
    },
    data() {
        return  {
            tooltipWrapperStyles: [
                this.getPosition('', this.position, 'relative'),
                ...this.getDimensionStyles(),
                // problem styles...
                // ...this.getBgStyles(),
                // ...this.getPositionStyles(),
                // ...this.getBorderStyles(),
                // ...this.getPaddingStyles(),
            ],
        }
    },
}
</script>
