<template>
    <primitive-tooltip v-bind="$props" class="cds-flex-top-left cds-bg-opacity-90">
        <flex-cell v-bind="label_props" class="cds-whitespace-pre-line cds-tracking-normal">
            <caption :class="labelStyles">{{peekLabel}}</caption>
        </flex-cell>
        <flexbox width="full"
            margin_top="0" margin_bottom="0" padding_left="0" padding_right="0">
			<flex-cell v-bind="tagGroupProps">
				<flex-cell
					v-for="(tag, index) in peekTags"
					:key="index"
					grow="1"
					style="flex-basis: 0;">
					<component  v-bind="tagProps"
						:is="tag.component"
						:severity="tag?.severity ?? null"
					>{{tag.content}}</component>
				</flex-cell>
            </flex-cell>
        </flexbox>
        <flex-cell v-bind="descrProps"><slot /></flex-cell>
        <flex-center v-if="link_destination && link_text" class="cds-z-10">
            <text-button @click="link_destination" class="cds-z-10" font_size="4" text_color="nightCloud">
                {{ link_text }}
            </text-button>
        </flex-center>
    </primitive-tooltip>
</template>

<script>
import PrimitiveTooltip from './PrimitiveTooltip';
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import { defineAsyncComponent } from 'vue';
const Flexbox = defineAsyncComponent(() => import('../../flex/1.0.0/box/Flexbox'));
const FlexCell = defineAsyncComponent(() => import('../../flex/1.0.0/cell/FlexCell'));
const FlexCenter = defineAsyncComponent(() => import('../../flex/1.0.0/FlexCenter'));
const TextButton = defineAsyncComponent(() => import('../../buttons/1.0.0/text/TextButton'));

import { 
    PrimitiveTag, PrimitiveCompactTag,
    PrimaryTag, PrimaryCompactTag, 
    PredatoryTag, PredatoryCompactTag, 
    PredatoryWarningTag, PredatoryWarningCompactTag, 
    SecondaryTag, SecondaryCompactTag,
} from '../../tags/1.0.0';

export default {
    name: 'tooltip-peek',
    components: { 
        PrimitiveTooltip, Flexbox, FlexCell, FlexCenter, TextButton,
        PrimitiveTag, PrimitiveCompactTag,
        PrimaryTag, PrimaryCompactTag,
        PredatoryTag, PredatoryCompactTag,
        PredatoryWarningTag, PredatoryWarningCompactTag,
        SecondaryTag, SecondaryCompactTag,
    },
    mixins: [PrimitiveTooltip, ComponentBase],
    props: {
        tags: Array,
        label: String,
        link_text: { default: 'Read More' },
        link_destination: String,
        label_text_color: String,
        label_text_align: String,
        label_font_family: String,
        label_font_size: String,
        label_font_weight: String,
        label_leading: String,
        label_tracking: String,
        label_width: { default: 'full' },
        label_props: { default: {} },

        descr_italic: Boolean,
        descr_font_style: String,
        descr_font_weight: String,
        descr_font_size: String,
        descr_font_family: String,
        descr_text_color: String,
        descr_text_align: String,
        descr_leading: String,
        descr_tracking: String,
        descr_margin_bottom: String,
        descr_margin_top: String,

        tag_props: Object,
        tag_group_props: Object,
        descr_props: Object,

        rounded: { default: 'DEFAULT' },
        width: { default: '236px' },
        height: { default: 'auto' },
        min_height: { default: '264px' },
        bgcolor: { default: 'snow' },
        text_color: { default: 'winterNight' },
        border_style: { default: 'solid' },
        border_width: { default: '' },
        border_color: { default: '' },
        ring_width: { default: '1' },
        ring_color: { default: 'twilightStratus' },
        shadow: { default: 'DEFAULT' },
        padding_left: { default: '2' },
        padding_right: { default: '2' },
        pointer_bg: { default: 'snow-twilight' },
    },
    methods: {
        getTagGroupProps() {
            return {
                direction: 'column',
				align_items: 'end',
				justify_content: 'evenly',
                width: 'full',
                height: 'full',
            }
        },
        getTagProps() {
            return {
                margin_top: '0',
                margin_bottom: '4',
            }
        },
        getDescrProps() {
            return {
                font_family: 'sans',
                font_size: '3-25',
                font_weight: 'normal',
                text_color: 'winterNight',
                text_align: 'left',
                margin_top: '8px',
                margin_bottom: '8px',
                height: 'auto',
                leading: '5',
                tracking: 'tiny',
            }
        },
    },
    computed: {
        peekTags() {
            return this.tags ?? [];
        },
    },
    data() {
        return {
            peekLabel: this.label ?? '',
            labelStyles: [
                this.getFontFamily('', this.label_font_family, 'sans'),
                this.getFontSize('', this.label_font_size,  '14px'),
                this.getFontWeight('', this.label_font_weight, 'bold'),
                this.getTextColor('', this.label_text_color, 'winterNight'),
                this.getItalicStyle('', this.italic),
                this.getTextAlign('', this.label_text_align, 'left'),
                this.getLeading('', this.label_leading, '5'),
                this.getTracking('', this.label_tracking, 'mini'),
                this.getMarginBottom('', '0'),
                this.getWidth('', this.label_width),
                this.getTextTransform('', 'uppercase'),
            ],
            descrProps: Object.assign(this.getDescrProps(), this.descr_props),
            tagGroupProps: Object.assign(this.getTagGroupProps(), this.tag_group_props),
            tagProps: Object.assign(this.getTagProps(), this.tag_props),
        }
    },
}
</script>