<template>
    <primitive-tooltip v-bind="$props">
        <slot></slot>
    </primitive-tooltip>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import { defineAsyncComponent } from 'vue';
const PrimitiveTooltip = defineAsyncComponent(() => import('./PrimitiveTooltip'));
export default {
    components: { PrimitiveTooltip },
    mixins: [ComponentBase],
    name: 'tooltip-icon-label',
    props: {
        rounded: { default: '2' },
		width: {default: 'auto' },
		whitespace: {default: 'nowrap' },
    },
}
</script>