<template>
    <primitive-tooltip v-bind="$props"><slot></slot></primitive-tooltip>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
// import PrimitiveTooltip from './PrimitiveTooltip';
import { defineAsyncComponent } from 'vue';
const PrimitiveTooltip = defineAsyncComponent(() => import('./PrimitiveTooltip'));
export default {
    components: { PrimitiveTooltip },
    mixins: [ComponentBase],
    name: 'tooltip-kpi',
    props: {
        rounded: { default: 'DEFAULT' },
        width: { default: '150' },
        bgcolor: { default: 'snow' },
        pointer_bg: { default: 'snow' },
        ring_color: { default: 'snow' },
        ring_width: { default: '1' },
        text_color: { default: 'winterNight' },
        border_style: { default: 'solid' },
    },
}
</script>