<template>
    <primitive-tooltip v-bind="$props" class="cds-pointer-events-none"><slot></slot></primitive-tooltip>
</template>

<script>
import PrimitiveTooltip from './PrimitiveTooltip';
export default {
    components: { PrimitiveTooltip },
    mixins: [PrimitiveTooltip],
    name: 'tooltip-help-text',
    props: {
        rounded: { default: '2' },
        width: { default: '192px' },
        text_align: { default: 'left' },
    },
}
</script>