<template>
    <primitive-tooltip v-bind="$props"><slot></slot></primitive-tooltip>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
// import PrimitiveTooltip from './PrimitiveTooltip';
import { defineAsyncComponent } from 'vue';
const PrimitiveTooltip = defineAsyncComponent(() => import('./PrimitiveTooltip'));
export default {
    components: { PrimitiveTooltip },
    mixins: [ComponentBase],
    name: 'tooltip-external-link',
    props: {
        rounded: { default: 'DEFAULT' },
        width: { default: '192px' },
        text_align: { default: 'left' },
    },
}
</script>