<template>
    <div class="cds-caption-divider">
        <span>
            <caption>
                <slot></slot>
            </caption>
        </span>
    </div>
</template>

<script>
export default {
    name: 'caption-divider',
}
</script>