<template>
    <simple-divider v-bind="$props"></simple-divider>
</template>

<script>
// import SimpleDivider from '../../dividers/1.0.0/SimpleDivider';
import { defineAsyncComponent } from 'vue';
const SimpleDivider = defineAsyncComponent(() => import('../../dividers/1.0.0/SimpleDivider'));
export default {
    components: { SimpleDivider },
    name: 'menu-item-divider',
    props: {
        width: { default: '220px' },
        margin_bottom: { default: '0' },
        border_color: { default: 'dustJacket' },
        border_width: { default: '1' },
    },
}
</script>