<template>
    <hr :class="classStyles" tabindex="-1" class="cds-border-t-0">
</template>

<script>
import FlexCell from '../../flex/1.0.0/cell/FlexCell';
export default {
    name: 'simple-divider',
    mixins: [FlexCell],
    props: {
        disabled: Boolean,
        border_width: { default: 'DEFAULT' },
        border_side: { default: 'b' },
        border_color: { default: 'twilightStratus' },
        border_style: { default: 'solid' },
        border_opacity: { default: '100' },
        width: { default: 'full' },
        margin_bottom: { default: '3' },
    },
    data() {
        return {
            classStyles: [
                ...this.getPositionStyles(),
                ...this.getDimensionStyles(),
                ...this.getBorderStyles(),
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getSpacingStyles(),
                ...this.getFlexStyles(),
                ...this.getFlexCellStyles(),
                ...this.getOpacityStyles(),
            ],
        }
    },
}
</script>