<template>
    <div class="cds-text-divider">
        <span>
            <h4>
                <slot></slot>
            </h4>
        </span>
    </div>
</template>

<script>
export default {
    name: 'title-divider',
}
</script>