<template>
    <div 
        class="
            cds-border-twilightStratus
            cds-ml-3
            cds-border-solid
            cds-border-opacity-100
            cds-border-l
            cds-h-full
            cds-w-px
            cds-relative
        "
    >&nbsp;</div>
</template>

<script>
export default {
    name: 'vertical-divider',
}
</script>
