<template>
    <div 
        :id="gridId"
        class="
            cds-grid-layout
            cds-overflow-hidden
        "
        :class="[gridLayoutCols, gridLayoutRows]"
    >
        <slot></slot>
    </div>
</template>

<script>
export default {
    name: 'grid-layout',
    props: [
        'rows',
        'columns',
        'gridStyle',
        'id',
    ],
    provide() {
        return {
            currentCols: this.currentCols,
            currentRows: this.currentRows,
        };
    },
    data() {
        return {
            gridLayoutCols: this.getGridLayoutCols(),
            gridLayoutRows: this.getGridLayoutRows(),
            gridId: 'grid-' + Math.ceil(Math.random() * Math.floor(99999)),
            currentCols: this.columns,
            currentRows: this.rows,
        }
    },
    methods: {
        getGridLayoutCols() {
            if (typeof this.columns == 'undefined') {
                return '';
            }
            return 'cds-grid-cols-' + this.columns;
        },
        getGridLayoutRows() {
            if (typeof this.rows == 'undefined') {
                return '';
            }
            return 'cds-grid-rows-' + this.rows;
        },
    },
    mounted() {
        let thisGridStyle = window.getComputedStyle(document.getElementById(this.gridId));
        let currentColumns = thisGridStyle.getPropertyValue('grid-template-columns').split(" ").length;
        let currentRows = thisGridStyle.getPropertyValue('grid-template-rows').split(" ").length;

        if (typeof this.rows == 'undefined' || this.rows < 1) {
            this.currentRows = currentRows;
        }

        if (typeof this.columns != 'undefined' && this.columns < 1) {
            this.currentCols = currentColumns;
        }

    },
}
</script>