<template>
    <div :id="gridId" :class="classStyles"><slot></slot></div>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import { getGridLayoutCols, getGridLayoutRows } from './lib/GridBaseLib';
export default {
    name: 'grid', // alias this name when importing
    mixins: [ComponentBase],
    props: {
        rows: { default: '' },
        sm_rows: { default: '' },
        md_rows: { default: '' },
        lg_rows: { default: '' },
        xl_rows: { default: '' },
        xxl_rows: { default: '' },
        xxxl_rows: { default: '' },

        columns: { default: '' },
        sm_columns: { default: '' },
        md_columns: { default: '' },
        lg_columns: { default: '' },
        xl_columns: { default: '' },
        xxl_columns: { default: '' },
        xxxl_columns: { default: '' },
    },
    data() {
        return {
            gridId: 'grid-' + Math.ceil(Math.random() * Math.floor(99999)),
            currentCols: this.columns,
            classStyles: [
                'cds-grid',
                this.getGridLayoutCols('', this.columns),
                this.getGridLayoutCols('sm', this.sm_columns),
                this.getGridLayoutCols('md', this.md_columns),
                this.getGridLayoutCols('lg', this.lg_columns),
                this.getGridLayoutCols('xl', this.xl_columns),
                this.getGridLayoutCols('xxl', this.xxl_columns),
                this.getGridLayoutCols('xxxl', this.xxxl_columns),
                this.getGridLayoutRows('', this.rows),
                this.getGridLayoutRows('sm', this.sm_rows),
                this.getGridLayoutRows('md', this.md_rows),
                this.getGridLayoutRows('lg', this.lg_rows),
                this.getGridLayoutRows('xl', this.xl_rows),
                this.getGridLayoutRows('xxl', this.xxl_rows),
                this.getGridLayoutRows('xxxl', this.xxxl_rows),
                ...this.getSpacingStyles(),
                ...this.getFontStyles(),
                ...this.getDimensionStyles(),
                ...this.getBorderStyles(),
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getPositionStyles(),
                ...this.getOpacityStyles(),
                ...this.getBgStyles(),
            ],
        }
    },
    methods: {
        getGridLayoutCols,
        getGridLayoutRows,
    },
}
export {
    getGridLayoutCols, getGridLayoutRows,
}
</script>