<template>
    <div :class="classStyles"><slot /></div>
</template>

<script>
import GridCellBase from './lib/GridCellBase';
export default {
    name: 'grid-cell',
    mixins: [GridCellBase],
    data() {
        return {
            classStyles: [
                ...this.getGridCellStyles(),
                ...this.getFontStyles(),
                ...this.getDimensionStyles(),
                ...this.getBorderStyles(),
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getPositionStyles(),
                ...this.getOpacityStyles(),
                ...this.getBgStyles(),
                ...this.getFlexStyles(),
                ...this.getSpacingStyles(),
            ],
        }
    },
}
</script>