<template>
	<button
		:type="type"
		:id="componentId"
		:form="formId"
		@mouseout="loseHover"
		@mouseover="captureHover"
		:autofocus="autoFocus"
		:aria-disabled="ariaDisabled"
		:disabled="ariaDisabled"
		:aria-label="ariaLabel"
		:class="buttonStyles"
		class="cds-subpixel-antialiased cds-flex cds-flex-row focus:cds-outline-none 
				cds-whitespace-nowrap disabled:cds-cursor-default cds-relative cds-justify-center cds-min-w-6 cds-min-h-6"
	>
		<flex-cell class="cds-items-center cds-justify-center" :direction="placeIcon === 'before'? 'row':'row-reverse'">
			<icon 
				v-if="glyph"
				:glyph="glyph"
				v-bind="iconProps"
				:class="iconTextColor"
				class="cds-self-center"
				:aria-labelledby="tooltipId"
				v-tippy="{content: tooltip_text, placement: 'auto', theme: 'standard-dark'}"
			/>
			<!-- progress indicator -->
			<div class="cds-flex cds-flex-row">
				<div v-if="showSpinner" :class="spinClass('l')"><progress-indicator v-bind="spinner_props" /></div>
				<slot>{{buttonContent}}</slot>
				<div v-if="showSpinner" :class="spinClass('r')"><progress-indicator v-bind="spinner_props" /></div>
			</div>
		</flex-cell>
	</button>
</template>

<script>
import ButtonBase from '../lib/ButtonBase';
import { defineAsyncComponent } from 'vue';
const FlexCell = defineAsyncComponent(() => import('../../../flex/1.0.0/cell/FlexCell'));
const Icon = defineAsyncComponent(() => import('../../../icons/1.0.0/Icon'));
const ProgressIndicator = defineAsyncComponent(() => import('../../../lib/1.0.0/ProgressIndicator'));
export default {
	inheritAttrs: true,
	mixins: [ButtonBase],
	name: 'primitive-button',
	components: { 
		Icon, 
		FlexCell,
		ProgressIndicator,
	},
	data() {
		return {
			tooltipId: this.getId('button-tooltip'),
			show_tooltip: false,
			iconProps: this.objectHasProps(this.icon_props) ? Object.assign(this.getIconProps(), this.icon_props) : this.getIconProps(),
		}
	},
	computed: {
		/**
		 * Swap icon color based on hovered or disabled states.
		 * Makes the icon match the button colors for all mouse states.
		 */
		iconTextColor() {
			let icon_text_color = this.hovering ? this?.icon_hover_text_color : this?.icon_text_color;
			icon_text_color = this.disabled ? this.icon_disabled_text_color : icon_text_color;
			icon_text_color = icon_text_color ?? this.text_color;
			return icon_text_color;
		},
		showSpinner() {
			return this.spinner;
		},
		getTooltipFace() //TODO: add direction overwrite for when tooltip would be off the screen
		{
			return this.tooltip_face;
		},
	},
	methods:
	{
		getTooltipLocation()
		{
			let face = this.getTooltipFace;
			let ret = {};
			if (face=='left')
			{
				ret.right = "-15px"; // how much gap between the tooltip and button (not including arrow)
				ret.top = "50%"; // where on the button the tooltip will point to (the 50% mark)
				ret.transform = "translate(100%, -50%)"; // anchor movements by the arrow instead of corner
			}
			if (face=='right')	// ditto
			{
				ret.left = "-15px";
				ret.top = "50%";
				ret.transform = "translate(-100%, -50%)";
			}
			if (face=='up')	// etc
			{
				ret.bottom = "-15px";
				ret.left = "50%";
				ret.transform = "translate(-50%, 100%)";
			}
			if (face=='down') // . . .
			{
				ret.top = "-15px";
				ret.left = "50%";
				ret.transform = "translate(-50%, -100%)";
			}
			return ret;
		},
		spinClass(direction) { // dad joke
			let spinClass = '';
			if (this.spinner) {
				spinClass = 'cds-flex-center';
				if (direction === 'left' || direction === 'l') {
					spinClass += ' cds-pr-10px ';
					spinClass += this.progress_indicator_left && this.loading ? '' : 'cds-invisible';
				} 
				if (direction === 'right' || direction === 'r') { 
					spinClass += ' cds-pl-10px ';
					spinClass += this.progress_indicator_right && this.loading ? '' : 'cds-invisible';
				}
			}
			return spinClass;
		},
		getIconProps() {
			return {
				bgcolor: this.icon_bgcolor,
				disabled: this.ariaDisabled,
				font_size: this.icon_font_size,
				font_weight: this.icon_font_weight,
				border_width: this.icon_border_width,
				border_style: this.icon_border_style,
				border_color: this.icon_border_color,
				width: this.icon_width,
				height: this.icon_height,
				margin: this.icon_margin,
				margin_top: this.icon_margin_top,
				margin_bottom: this.icon_margin_bottom,
				margin_right: this.icon_margin_right,
				margin_left: this.icon_margin_left,
				margin_x: this.icon_margin_x,
				margin_y: this.icon_margin_y,
				padding: this.icon_padding,
				padding_top: this.icon_padding_top,
				padding_bottom: this.icon_padding_bottom,
				padding_right: this.icon_padding_right,
				padding_left: this.icon_padding_left,
				padding_x: this.icon_padding_x,
				padding_y: this.icon_padding_y,
				rounded: this.icon_rounded,
				position: this.icon_position,
				top: this.icon_top,
				bottom: this.icon_bottom,
				left: this.icon_left,
				right: this.icon_right,
				text_color: this.icon_text_color,
				hover_text_color: this.icon_hover_text_color,
				active_text_color: this.icon_active_text_color,
				focus_text_color: this.icon_focus_text_color,
				disabled_text_color: this.icon_disabled_text_color,
			}
		},
    },
    props: {
		icon_props: { default: {} },
		loading: { default: false },
		progress_indicator_left: { default: false },
		progress_indicator_right: { default: false },
		spinner: { default: false },
		spinner_props: {
			default: {
				stroke_width: "1",
				stroke_color: "naturalGray",
				bg_stroke_color: "transparent",
				width: "16px",
			},
		},
        placeIcon: { default: 'before' },
        glyph: String,
        icon_bgcolor: { default: '' },
        icon_text_color: String,
        icon_hover_text_color: { default: '' },
        icon_focus_text_color: { default: '' },
        icon_active_text_color: { default: '' },
        icon_disabled_text_color: { default: 'twilightStratus' },
        icon_font_size: { default: '4' },
        icon_font_weight: { default: 'normal' },
        icon_leading: { default: '18px' },
        icon_tracking: String,
        icon_border_width: String,
        icon_border_style: String,
        icon_border_color: String,
        icon_width: String,
        icon_height: String,
        icon_margin: String,
        icon_margin_top: { default: '' },
        icon_margin_bottom: String,
        icon_margin_right: { default: '' },
        icon_margin_left: String,
        icon_margin_x: String,
        icon_margin_y: String,
        icon_padding: String,
        icon_padding_top: String,
        icon_padding_bottom: String,
        icon_padding_right: { default: '' },
        icon_padding_left: { default: '' },
        icon_padding_x: String,
        icon_padding_y: String,
        icon_rounded: String,
        icon_position: String,
        icon_top: String,
        icon_bottom: String,
        icon_left: String,
        icon_right: String,
		tooltip_text: { default: '' },
		tooltip_face: { default: 'up'},
    },
}
</script>