<template>
    <primitive-button v-bind="$props">
        <slot></slot>
    </primitive-button>
</template>

<script>
import PrimitiveButton from '../primitive/PrimitiveButton';
export default {
    inheritAttrs: true,
    name: 'primitive-compact-button',
    components: { PrimitiveButton },
    mixins: [PrimitiveButton],
    props: {
        height: { default: '6' },
    },
}
</script>