<template style="border: 1px solid red">
    <primitive-card v-bind="segmentProps" tabindex="0" @focus.self="[$emit('accessible', false)]">
        <flex-cell v-bind="helpTextProps">
            <flex-cell direction="row" width="auto" height="24px" justify_content="start" wrap="nowrap" tabindex="-1">
                <icon-text md_position="relative" :label="label" :tooltip_props="tooltip_props" 
                    :access_tooltip="accessTooltip" @accessible="$emit('accessible', $event)"
                    @focusin="$emit('accessible', true)"
                >
                    <slot name="segmentHelpTooltipText" />
                </icon-text>
            </flex-cell>
            <flex-cell direction="row" width="auto" height="24px" justify_content="end" @focusin="$emit('accessible', false)">
                <flex-cell direction="row" align_items="center" width="full" height="full" gap="4px">
                    <flex-cell v-bind="iconTextProps" aria-hidden="true">{{ iconText }}</flex-cell>
                    <slot name="segmentIcon" class="cds-max-w-60px cds-max-h-60px" />
                </flex-cell>
            </flex-cell>
        </flex-cell>
        <slot name="segmentContent" @focusin="$emit('accessible', false)" />
    </primitive-card>
</template>

<script>
import { defineAsyncComponent, inject } from 'vue';
const FlexCell = defineAsyncComponent(() => import('../flex/1.0.0/cell/FlexCell'));
const PrimitiveCard = defineAsyncComponent(() => import('../cards/1.0.0/PrimitiveCard'));
const IconText = defineAsyncComponent(() => import('../icons/1.0.0/IconText'));
export default {
    name: 'dashboard-segment',
    components: {
        PrimitiveCard,
        FlexCell,
        IconText,
    },
    emits: ['accessible'],
    props: {
        tooltip_props: { default: {} },
        access_tooltip: { default: true }, // accessibility focus should show tooltip
        label: String,
        iconText: String,
    },
    computed: {
        accessTooltip() {
            return this.access_tooltip;
        },
    },
    data() {
        return {
            currentBreakpoint: inject('currentBreakpoint'),
            help_hovering: false,
            segmentProps: {
                rounded: 'DEFAULT',
                border_width: '1px',
                border_color: 'green-200',
                width: '254px',
				sm_width: 'full',
                sm_min_width: '250px',
                sm_max_width: 'full',
                height: '115px',
                min_height: '115px',
                sm_min_height: '115px',
                sm_max_height: '115px',
                shadow: '',
                hover_shadow: '',
                active_shadow: '',
                focus_shadow: '',
                direction: 'col',
                padding: '6px',
                z_index: '1',
            },
            helpTextProps: {
                bgcolor: 'transparent',
                sm_margin_bottom: '-16px',
                direction: 'row',
                justify_content: 'between',
                gap: '4px',
            },
            iconTextProps: {
                font_size: '3-25',
                text_align: 'right',
                leading: '5',
                tracking: 'tiny',
                font_weight: 'light',
            },
        }
    },
}
</script>