<template>
	<flex-cell v-bind="aboutBoxProps" class="cds-overflow-y-auto cds-overflow-x-hidden focus:cds-outline-none" tabindex="-1">
		<flex-cell direction="col" wrap="wrap" width="full" :xl_width="xl_width" :xxl_width="xxl_width" gap_y="12px">
			<pre-head v-if="prehead" v-bind="preheadProps">{{ prehead }}</pre-head>

			<slot name="OpenAccessFeeDetails" />

			<slot name="Copyrights" />

			<slot name="ReuseRights" />

			<slot name="ReaderRights" />

			<slot name="AuthorPostingRights" />

			<slot name="AutomaticPosting" />

			<slot name="MachineReadability" />

			<slot name="PredatoryClaims" />

			<slot name="TimeOfSubmissionToPublication" />
			
			<slot name="TimeOfSubmissionToFirstDecision" />
			
			<slot name="Disciplines" />

			<slot name="Sponsor" />

			<!-- when you want to show just the ISSN in the left column -->
			<slot name="ISSN" />

			<slot name="PublisherNotes" />

		</flex-cell>

		<flex-cell direction="col" wrap="wrap" width="full" xl_width="1/2" xxl_width="1/2" gap_y="12px">
			<slot name="AcceptanceRate" />
			
			<slot name="LaunchYear" />

			<!-- when you want to show just the EISSN in the right column -->
			<slot name="ESSN" />

			<!-- when you want to show both ISSN and EISSN split in the right column -->
			<slot name="ISSNS" />

			<slot name="JournalEditors" />

			<slot name="ContactEmails" />
		</flex-cell>
	</flex-cell>
</template>

<script>
import { defineAsyncComponent } from 'vue';
const FlexCell = defineAsyncComponent(() => import('../flex/1.0.0/cell/FlexCell'));
const PreHead = defineAsyncComponent(() => import('../typography/1.0.0/PreHead'));

export default {
	name: 'journal-stat-segment',
	components: {
		FlexCell,
		PreHead,
	},
	props: {
		prehead: { default: 'About This Journal' },
		xl_width: { default: '1/2' },
		xxl_width: { default: '1/2' },
	},
	data() {
		return {
			aboutBoxProps: {
				bgcolor: 'snow',
				direction: 'col',
				align_items: 'start',
				justify_content: 'start',
				width: 'full',
				wrap: 'wrap',
				lg_wrap: 'nowrap',
				md_wrap: 'nowrap',
				sm_wrap: 'nowrap',
				sm_width: '288px',
				lg_min_height: 'auto',
				md_min_height: 'auto',
				sm_min_height: 'auto',
				max_height: '250px',
				lg_max_height: 'auto',
				md_max_height: 'auto',
				sm_max_height: 'auto',
				rounded: 'DEFAULT',
				border_color: 'dustJacket',
				border_width: '1px',
				padding: '2',
				gap_y: '8px',
				gap_x: '24px',
			},
			preheadProps: {
				tag: 'div',
				font_weight: 'bold',
				font_size: '3-25',
				leading: 'h2',
				tracking: 'mini',
				font_family: 'sans',
				text_align: 'left',
				text_color: 'winterNight',
				width: 'auto',
				height: 'auto',
				whitespace: 'nowrap',
			},		
		}
	},
}
</script>