<template>
    <div class="cds-w-full">
        <flex-cell v-bind="aboutGroupingProps">
            <flex-cell class="cds-flex-left-center-row" height="24px" width="auto" gap_x="4px">
                <heading v-bind="headingProps">{{ heading_text }}</heading>
                <icon glyph="information-circle-sharp" font_size="4" font_weight="semibold" tabindex="0"
                    v-if="tooltip_text?.length && currentBreakpoint != 'sm'"
                    role="tooltip"
                    aria-hidden="false"
                    :aria-label="tooltip_text"
					v-tippy="{content: tooltip_text, placement: 'right', theme: 'standard-dark'}"
                />
            </flex-cell>
            <paragraph v-bind="getTextPropType()"><slot /></paragraph>
        </flex-cell>
    </div>
</template>

<script>
import { defineAsyncComponent } from 'vue';
const FlexCell = defineAsyncComponent(() => import('../flex/1.0.0/cell/FlexCell'));
const Heading = defineAsyncComponent(() => import('../typography/1.0.0/Heading'));
const Paragraph = defineAsyncComponent(() => import('../typography/1.0.0/Paragraph'));
const Icon = defineAsyncComponent(() => import('../icons/1.0.0/Icon'));
export default {
    name: 'journal-stat-grouping',
    components: {
        FlexCell,
        Heading,
        Paragraph,
        Icon,
    },
    props: {
        heading_text: { default: '' },
        tooltip_text: { default: '' },
        tooltip_type: { default: 'default' },
        textprop_type: { default: 'default' },
    },
    methods: {
        getTooltipType() {
            if (!this.tooltip_text) return;
            switch (this.tooltip_type) {
                case 'sm': {
                    return this.helpTooltipPropsSm;
                }
                case 'x': {
                    return this.helpTooltipPropsX;
                }
                default: {
                    return this.helpTooltipProps;
                }
            }
        },
        getTextPropType() {
            switch (this.textprop_type) {
                case 'alt': {
                    return this.altTextProps;
                }
                default: {
                    return this.aboutTextProps;
                }
            }
        },
    },
    data() {
        return {
            altTextProps: {
                font_size: '4',
                leading: '6',
                tracking: 'sm',
                font_family: 'sans',
                text_align: 'left',
                width: 'full',
                height: 'auto',
                margin_top: '2',
            },
            aboutTextProps: {
                font_size: '3-25',
                leading: '5',
                tracking: 'tiny',
                font_family: 'sans',
                text_align: 'left',
                width: 'auto',
                height: 'auto',
                margin_top: '2',
            },
            aboutGroupingProps: {
                width: 'full',
                direction: 'col',
                height: 'auto',
                justify_content: 'start',
                min_height: '32px',
                wrap: 'wrap',
                whitespace: 'wrap',
            },
            headingProps: {
                tag: 'h6',
                font_weight: 'bold',
                font_size: '4',
                leading: '6',
                tracking: 'sm',
                font_family: 'sans',
                text_align: 'left',
                width: 'auto',
                height: 'auto',
                whitespace: 'nowrap',
            },
            helpTooltipPropsX: {
                display: 'flex',
                cursor: 'default',
                z_index: '9999',
                width: '250px',
                padding_x: '16px',
                padding_y: '8px',
                rounded: '4',
                position: 'absolute',
                vertical_shift: '-50%',
                horizontal_shift: '80%',
                font_size: '3-25',
                font_weight: 'semibold',
                leading: '5',
                tracking: 'tiny',
                border_width: '1px',
                border_color: 'winterNight',
                text_align: 'left',
            },
            helpTooltipPropsSm: {
                display: 'flex',
                cursor: 'default',
                z_index: '9999',
                width: 'full',
                min_width: '100px',
                max_width: '250px',
                rounded: '4',
                position: 'relative',
                font_size: '3-25',
                font_weight: 'semibold',
                leading: '5',
                tracking: 'tiny',
                border_width: '1px',
                border_color: 'winterNight',
                text_align: 'left',
                vertical_shift: '0%',
                horizontal_shift: '10%',
            },
            helpTooltipProps: {
                display: 'flex',
                cursor: 'default',
                z_index: '9999',
                width: 'full',
                min_width: 'full',
                rounded: '4',
                position: 'relative',
                font_size: '3-25',
                font_weight: 'semibold',
                leading: '5',
                tracking: 'tiny',
                border_width: '1px',
                border_color: 'winterNight',
                text_align: 'left',
                vertical_shift: '0%',
                horizontal_shift: '6%',
            },
        }
    },
}
</script>