<template>
    <flex-cell v-bind="$props" margin_bottom="4">
        <slot :content="content" />
    </flex-cell>
</template>

<script>
import { defineAsyncComponent } from 'vue';
const FlexCell = defineAsyncComponent(() => import('../flex/1.0.0/cell/FlexCell'));
export default {
    name: 'primitive-journal-card-section',
    components: {
        FlexCell,
    },
    props: {
        content: Object,
    },
}
</script>