<template>
<div class="cds-w-full cds-h-auto">
    <medicine-header class="cds-relative cds-z-50" />
	<div style="width: 60%;">
	<text-input
		class="cds-flex-grow"
		id="search_form"
		autocomplete="none"
		input_padding_left="48px"
		width="full"
		face="up"
		smd_face="right"
		label_height='auto'
		label=""
		optional=""
		input_name="main_search_input"
		placeholder="Search for journals by title, discipline, ISSN, etc."
		help="Find journals by entering your terms"
		tooltip_text="Start with search terms that are useful to you. You may wish to custom sort and filter the results in detailed meaningful ways to meet your publishing goals. You can also include or exclude the search terms, and view only Journalytics or Predatory reports."
		:key="search_key"
		:helpIcon="currentBreakpoint!='sm'"
		:input_value="search_data"
		@input="($event) => search_data = $event.target.value"
		z_index="0"
		padding_right="6px"
		@keyup.enter="goSearch"
	/>
	</div>
    
    <div class="cds-w-full cds-h-auto cds-min-h-1080px cds-mx-auto cds-bg-snow
        cds-flex cds-items-stretch cds-flex-col cds-overflow-hidden cds-justify-start cds-gap-y-4 cds-py-8"
    >

        <div style="max-width: 64em; margin: auto; width: 90%; display: flex; flex-direction: column; gap: 12px;">
			<component v-for="(card, idx) in journalCards" :key="idx" 
				:is="card.IsPredatory ? 'PredatoryJournalCard' : 'JournalCard'"
				:isAcademic="true"
				:journal_card_nav_props="{button_limit_default: 10, button_limit_sm: 2, button_limit_md: 4, button_limit_lg: 6, button_limit_xl: 6, button_limit_xxl: 10}"
				:content="card" 
				:nav_menu_items="card.IsPredatory ? currentPredatoryNavItems : currentNavItems"
				:advisory="true"
				:kabob_menu_items="getKabobItems(card)"
				:style="zIndexStyle(idx)"
				:heatmap_tooltip_props="currentHeatmapTooltipProps"
				badge_url="/account_logos/cabells.png"
				@zTop="[changeZIndex($event, card.JournalName, idx)]"
				@contactModal="console.log('contact modal!')"
				@cardToggle="console.log('card toggle')"
				@tabItemClick="(a)=>{console.log('at tabItemClick:', a);}"
				class="cds-w-full"
				api_key="https://cabells-search-facade-medicine-dev.azurewebsites.net/api/journalytics/"
				api_url="lAU9G2wBL2s5k9zfc64z8fvvoV6dUXmXkPew8oqqRVAPAzFuuZl2jQ=="
			/>
			<component v-for="(card, idx) in journalCards" :key="idx" 
				:is="card.IsPredatory ? 'PredatoryJournalCard' : 'JournalCard'"
				:content="card" 
				:nav_menu_items="card.IsPredatory ? currentPredatoryNavItems : currentNavItems"
				:kabob_menu_items="getKabobItems(card)"
				:style="zIndexStyle(idx)"
				:heatmap_tooltip_props="currentHeatmapTooltipProps"
				@zTop="[changeZIndex($event, card.JournalName, idx)]"
				@contactModal="console.log('contact modal!')"
				@cardToggle="console.log('card toggle')"
				@tabItemClick="(a)=>{console.log('at tabItemClick:', a);}"
				class="cds-w-full"
				api_key="https://cabells-search-facade-medicine-dev.azurewebsites.net/api/journalytics/"
				api_url="lAU9G2wBL2s5k9zfc64z8fvvoV6dUXmXkPew8oqqRVAPAzFuuZl2jQ=="
			/>
			{{ currentHeatmapTooltipProps }}
		</div>
        <div class="cds-w-full cds-h-300px cds-flex-center"></div>
    </div>
</div>
</template>

<script>
import './assets/css/ds/1.0/twglobal.css';
const screens = require('../design-system-config/1.0.0/screens.config.js');
import { defineAsyncComponent, computed } from 'vue';
const JournalCard = defineAsyncComponent(() => import('./components/ds/1.0/cards/1.0.0/JournalCard'));
const PredatoryJournalCard = defineAsyncComponent(() => import('./components/ds/1.0/cards/1.0.0/PredatoryJournalCard'));
const PrimitiveDiv = defineAsyncComponent(() => import('./components/ds/1.0/lib/1.0.0/PrimitiveDiv'));
const Icon = defineAsyncComponent(() => import('./components/ds/1.0/icons/1.0.0/Icon'));
const TextInput = defineAsyncComponent(() => import('./components/ds/1.0/inputs/1.0.0/TextInput'));
const HeroButton = defineAsyncComponent(() => import('./components/ds/1.0/buttons/1.0.0/hero/HeroButton'));
const MedicineHeader = defineAsyncComponent(() => import('./MedicineHeader'));
const FlexCell = defineAsyncComponent(() => import('./components/ds/1.0/flex/1.0.0/cell/FlexCell'));
const SegmentedControl = defineAsyncComponent(() => import('./components/ds/1.0/buttons/1.0.0/group/SegmentedControl'));
const PrimitiveButton = defineAsyncComponent(() => import('./components/ds/1.0/buttons/1.0.0/primitive/PrimitiveButton'));

import * as JournalCardSections from '../sections/index';

export default {
    name: 'App',
    components: {
        JournalCard,
        PredatoryJournalCard,
        PrimitiveDiv,
        Icon,
        TextInput,
        HeroButton,
        MedicineHeader,
        FlexCell,
        // Sorter,
		SegmentedControl,
		PrimitiveButton,
    },
    emits: ['tabItemClick', 'zTop', 'contactModal'],
    props: {
        z_index: { default: '0' },
    },
    async mounted() {
        let i;
        for (i in screens) {
            const min = screens[i].min;
            const max = screens[i]?.max;
            let mediaQuery = '(min-width:' + min + ')';
            mediaQuery += (max) ? ' and (max-width:' + max + ')' : '';
            const mediaQueryList = window.matchMedia(mediaQuery);
            this.breakpointCallback(mediaQueryList, i);
            mediaQueryList.addEventListener('change', this.breakpointCallback.bind(mediaQueryList, mediaQueryList, i));
        }

this.journalCards = [
	{
        "@search.score": 4.2693563,
        "JournalId": "2865483000109740122",
        "JournalName": "Journal with 2 discs",
        "Publisher": "MediNews (Cardiology) Ltd and other things",
        "IsPredatory": false,
        "ScoreDataStatus": null,
        "WebsiteURL": "https://bjcardio.co.uk/",
        "Disciplines": [
			{
				"DisciplineName": "aa",
				"Trendline": 0,
				"Scores": [{
					"Year": 2021,
					"Score": 22,
					"AdjustedSnapshotScore": 22,
					"trending": 0
				}]
			},
            {
                "DisciplineName": "Anesthesiology",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 58,
                        "AdjustedSnapshotScore": 58,
                        "trending": 0
                    },
                    {
                        "Year": 2020,
                        "Score": 83,
                        "AdjustedSnapshotScore": 100,
                        "trending": 0
                    },
                    {
                        "Year": 2019,
                        "Score": 28,
                        "AdjustedSnapshotScore": 0,
                        "trending": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 46,
                        "AdjustedSnapshotScore": 100,
                        "trending": 0
                    },
                    {
                        "Year": 2017,
                        "Score": 42,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 55,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 36,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 41,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 36,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 33,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 37,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 26,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
        ],
        "AcceptanceRate": {Display: "Really long acceptence rate"},
        "FrequencyOfIssue": {
            "FrequencyDisplay": "Quarterly"
        },
        "OpenAccess": {
            "OpenAccessType": "Diamond / Platinum",
            "GreenOpenAccess": false
        },
        "SciteIndex": {
            "Index_Lifetime": null
        },
        "Altmetric": {
            "MedianMentionsPerArticle": 10
        },
        "PredatoryJournalData": null
    },
	{
        "@search.score": 4.2693563,
        "JournalId": "2865483000109740122",
        "JournalName": "Journal with only one disc",
        "Publisher": "MediNews (Cardiology) Ltd and other things",
        "IsPredatory": false,
        "ScoreDataStatus": null,
        "WebsiteURL": "https://bjcardio.co.uk/",
        "Disciplines": [
            {
                "DisciplineName": "Anesthesiology",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 58,
                        "AdjustedSnapshotScore": 58,
                        "trending": 0
                    },
                    {
                        "Year": 2020,
                        "Score": 83,
                        "AdjustedSnapshotScore": 100,
                        "trending": 0
                    },
                    {
                        "Year": 2019,
                        "Score": 28,
                        "AdjustedSnapshotScore": 0,
                        "trending": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 46,
                        "AdjustedSnapshotScore": 100,
                        "trending": 0
                    },
                    {
                        "Year": 2017,
                        "Score": 42,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 55,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 36,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 41,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 36,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 33,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 37,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 26,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
        ],
        "AcceptanceRate": null,
        "FrequencyOfIssue": {
            "FrequencyDisplay": "Quarterly"
        },
        "OpenAccess": {
            "OpenAccessType": "Diamond / Platinum",
            "GreenOpenAccess": false
        },
        "SciteIndex": {
            "Index_Lifetime": null
        },
        "Altmetric": {
            "MedianMentionsPerArticle": 10
        },
        "PredatoryJournalData": null
    },
    {
        "@search.score": 20.07006,
        "JournalId": "2863483000010752304",
        "JournalName": "Scottish Medical Shahid Beheshti University of Medical Sciences, National Research Institute of Tuberculosis and Lung Disease (NRITLD)",
        "Publisher": "Shahid Beheshti University of Medical Sciences, National Research Institute of Tuberculosis and Lung Disease (NRITLD)",
        "IsPredatory": false,
        "ScoreDataStatus": null,
        "WebsiteURL": "https://journals.sagepub.com/home/scm",
        "Disciplines": [
            {
                "DisciplineName": "Anesthesiology",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 58,
                        "AdjustedSnapshotScore": 58,
                        "trending": 0
                    },
                    {
                        "Year": 2020,
                        "Score": 83,
                        "AdjustedSnapshotScore": 100,
                        "trending": 0
                    },
                    {
                        "Year": 2019,
                        "Score": 28,
                        "AdjustedSnapshotScore": 0,
                        "trending": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 46,
                        "AdjustedSnapshotScore": 100,
                        "trending": 0
                    },
                    {
                        "Year": 2017,
                        "Score": 42,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 55,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 36,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 41,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 36,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 33,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 37,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 26,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Intensive Care Medicine",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 55,
                        "AdjustedSnapshotScore": 55,
                        "trending": 0
                    },
                    {
                        "Year": 2020,
                        "Score": 83,
                        "AdjustedSnapshotScore": 100,
                        "trending": 0
                    },
                    {
                        "Year": 2019,
                        "Score": 26,
                        "AdjustedSnapshotScore": 0,
                        "trending": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 52,
                        "AdjustedSnapshotScore": 100,
                        "trending": 0
                    },
                    {
                        "Year": 2017,
                        "Score": 47,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 57,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 40,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 44,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 41,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 37,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 43,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 27,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Cardiology & Cardiovascular Medicine",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 48,
                        "AdjustedSnapshotScore": 48,
                        "trending": 0
                    },
                    {
                        "Year": 2020,
                        "Score": 79,
                        "AdjustedSnapshotScore": 100,
                        "trending": 0
                    },
                    {
                        "Year": 2019,
                        "Score": 20,
                        "AdjustedSnapshotScore": 0,
                        "trending": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 40,
                        "AdjustedSnapshotScore": 100,
                        "trending": 0
                    },
                    {
                        "Year": 2017,
                        "Score": 35,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 47,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 29,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 33,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 32,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 28,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 29,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 20,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Gastroenterology & Hepatology",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 51,
                        "AdjustedSnapshotScore": 51,
                        "trending": 0
                    },
                    {
                        "Year": 2020,
                        "Score": 77,
                        "AdjustedSnapshotScore": 100,
                        "trending": 0
                    },
                    {
                        "Year": 2019,
                        "Score": 26,
                        "AdjustedSnapshotScore": 0,
                        "trending": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 44,
                        "AdjustedSnapshotScore": 100,
                        "trending": 0
                    },
                    {
                        "Year": 2017,
                        "Score": 39,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 50,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 31,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 38,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 34,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 30,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 35,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 24,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "General & Internal Medicine",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 53,
                        "AdjustedSnapshotScore": 53
                    },
                    {
                        "Year": 2020,
                        "Score": 80,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2019,
                        "Score": 24,
                        "AdjustedSnapshotScore": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 45,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2017,
                        "Score": 40,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 52,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 32,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 37,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 34,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 29,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 34,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 26,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Immunology",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 36,
                        "AdjustedSnapshotScore": 36
                    },
                    {
                        "Year": 2020,
                        "Score": 63,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2019,
                        "Score": 18,
                        "AdjustedSnapshotScore": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 30,
                        "AdjustedSnapshotScore": 78
                    },
                    {
                        "Year": 2017,
                        "Score": 27,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 35,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 21,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 25,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 22,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 20,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 24,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 17,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Infectious Diseases",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 42,
                        "AdjustedSnapshotScore": 42
                    },
                    {
                        "Year": 2020,
                        "Score": 68,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2019,
                        "Score": 22,
                        "AdjustedSnapshotScore": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 37,
                        "AdjustedSnapshotScore": 97
                    },
                    {
                        "Year": 2017,
                        "Score": 32,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 42,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 24,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 30,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 25,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 23,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 25,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 18,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Laboratory Medicine",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 46,
                        "AdjustedSnapshotScore": 46
                    },
                    {
                        "Year": 2020,
                        "Score": 75,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2019,
                        "Score": 19,
                        "AdjustedSnapshotScore": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 34,
                        "AdjustedSnapshotScore": 94
                    },
                    {
                        "Year": 2017,
                        "Score": 30,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 41,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 26,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 28,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 27,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 22,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 24,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 14,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Medical Education",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 66,
                        "AdjustedSnapshotScore": 66
                    },
                    {
                        "Year": 2020,
                        "Score": 88,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2019,
                        "Score": 25,
                        "AdjustedSnapshotScore": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 53,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2017,
                        "Score": 47,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 63,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 41,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 49,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 46,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 42,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 41,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 28,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Nephrology",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 57,
                        "AdjustedSnapshotScore": 57
                    },
                    {
                        "Year": 2020,
                        "Score": 84,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2019,
                        "Score": 30,
                        "AdjustedSnapshotScore": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 48,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2017,
                        "Score": 46,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 58,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 37,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 45,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 41,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 37,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 41,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 29,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Neurology",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 40,
                        "AdjustedSnapshotScore": 40
                    },
                    {
                        "Year": 2020,
                        "Score": 72,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2019,
                        "Score": 18,
                        "AdjustedSnapshotScore": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 29,
                        "AdjustedSnapshotScore": 73
                    },
                    {
                        "Year": 2017,
                        "Score": 26,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 36,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 23,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 27,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 24,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 22,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 24,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 19,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Obstetrics & Gynecology",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 55,
                        "AdjustedSnapshotScore": 55
                    },
                    {
                        "Year": 2020,
                        "Score": 83,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2019,
                        "Score": 25,
                        "AdjustedSnapshotScore": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 46,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2017,
                        "Score": 41,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 52,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 34,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 39,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 35,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 32,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 31,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 22,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Oncology",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 42,
                        "AdjustedSnapshotScore": 42
                    },
                    {
                        "Year": 2020,
                        "Score": 71,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2019,
                        "Score": 12,
                        "AdjustedSnapshotScore": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 33,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2017,
                        "Score": 28,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 39,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 24,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 27,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 26,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 23,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 25,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 17,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Orthopedics, Rehabilitation & Sports Medicine",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 56,
                        "AdjustedSnapshotScore": 56
                    },
                    {
                        "Year": 2020,
                        "Score": 84,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2019,
                        "Score": 21,
                        "AdjustedSnapshotScore": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 41,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2017,
                        "Score": 36,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 50,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 30,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 37,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 33,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 27,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 32,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 21,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Otolaryngology",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 59,
                        "AdjustedSnapshotScore": 59
                    },
                    {
                        "Year": 2020,
                        "Score": 86,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2019,
                        "Score": 29,
                        "AdjustedSnapshotScore": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 48,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2017,
                        "Score": 42,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 54,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 35,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 41,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 36,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 32,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 35,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 22,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Pediatrics",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 56,
                        "AdjustedSnapshotScore": 56
                    },
                    {
                        "Year": 2020,
                        "Score": 85,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2019,
                        "Score": 23,
                        "AdjustedSnapshotScore": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 42,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2017,
                        "Score": 39,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 52,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 30,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 34,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 33,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 28,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 29,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 19,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Pharmacology & Pharmacy",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 37,
                        "AdjustedSnapshotScore": 37
                    },
                    {
                        "Year": 2020,
                        "Score": 70,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2019,
                        "Score": 16,
                        "AdjustedSnapshotScore": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 30,
                        "AdjustedSnapshotScore": 86
                    },
                    {
                        "Year": 2017,
                        "Score": 26,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 35,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 22,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 24,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 22,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 23,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 20,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 14,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Pulmonology & Respiratory Medicine",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 57,
                        "AdjustedSnapshotScore": 57
                    },
                    {
                        "Year": 2020,
                        "Score": 82,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2019,
                        "Score": 28,
                        "AdjustedSnapshotScore": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 48,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2017,
                        "Score": 43,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 55,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 37,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 42,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 39,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 34,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 37,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 25,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Radiology & Imaging",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 44,
                        "AdjustedSnapshotScore": 44
                    },
                    {
                        "Year": 2020,
                        "Score": 77,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2019,
                        "Score": 16,
                        "AdjustedSnapshotScore": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 32,
                        "AdjustedSnapshotScore": 96
                    },
                    {
                        "Year": 2017,
                        "Score": 30,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 40,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 24,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 28,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 25,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 25,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 24,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 17,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Rheumatology",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 55,
                        "AdjustedSnapshotScore": 55
                    },
                    {
                        "Year": 2020,
                        "Score": 79,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2019,
                        "Score": 29,
                        "AdjustedSnapshotScore": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 43,
                        "AdjustedSnapshotScore": 99
                    },
                    {
                        "Year": 2017,
                        "Score": 42,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 53,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 35,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 39,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 38,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 34,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 39,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 26,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Surgery",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 58,
                        "AdjustedSnapshotScore": 58
                    },
                    {
                        "Year": 2020,
                        "Score": 89,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2019,
                        "Score": 18,
                        "AdjustedSnapshotScore": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 41,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2017,
                        "Score": 35,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 51,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 30,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 33,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 32,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 27,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 28,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 20,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Urology",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 59,
                        "AdjustedSnapshotScore": 59
                    },
                    {
                        "Year": 2020,
                        "Score": 86,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2019,
                        "Score": 29,
                        "AdjustedSnapshotScore": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 51,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2017,
                        "Score": 47,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 58,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 38,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 46,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 41,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 38,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 42,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 30,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Dermatology",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 58,
                        "AdjustedSnapshotScore": 58
                    },
                    {
                        "Year": 2020,
                        "Score": 86,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2019,
                        "Score": 27,
                        "AdjustedSnapshotScore": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 49,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2017,
                        "Score": 45,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 53,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 36,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 40,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 35,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 32,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 36,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 23,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Ophthalmology & Optometry",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 55,
                        "AdjustedSnapshotScore": 55
                    },
                    {
                        "Year": 2020,
                        "Score": 82,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2019,
                        "Score": 22,
                        "AdjustedSnapshotScore": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 45,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2017,
                        "Score": 40,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 53,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 30,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 40,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 36,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 30,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 33,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 21,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
            {
                "DisciplineName": "Proctology",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 67,
                        "AdjustedSnapshotScore": 67
                    },
                    {
                        "Year": 2020,
                        "Score": 85,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2019,
                        "Score": 33,
                        "AdjustedSnapshotScore": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 53,
                        "AdjustedSnapshotScore": 100
                    },
                    {
                        "Year": 2017,
                        "Score": 51,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 66,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 44,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 53,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 49,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 43,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 47,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 33,
                        "AdjustedSnapshotScore": null
                    }
                ]
            }
        ],
        "AcceptanceRate": null,
        "FrequencyOfIssue": {
            "FrequencyDisplay": "Quarterly"
        },
        "OpenAccess": {
            "OpenAccessType": "Hybrid",
            "GreenOpenAccess": true
        },
        "SciteIndex": {
            "Index_Lifetime": "0.864"
        },
        "Altmetric": {
            "MedianMentionsPerArticle": 20
        },
        "PredatoryJournalData": null
    },
    {
        "@search.score": 12.911194,
        "JournalId": "PR_19517",
        "JournalName": "Scottish Journal of Arts, Social Sciences and Scientific Studies Scottish Journal of Arts, Social Sciences and Scientific Studies and Scientific Studies",
        "Publisher": "Scottish Journal pants are not for dogs but they always keep stealing them",
        "IsPredatory": true,
        "ScoreDataStatus": null,
        "WebsiteURL": "https://www.scottishjournal.co.uk",
        "Disciplines": [],
        "AcceptanceRate": null,
        "FrequencyOfIssue": null,
        "OpenAccess": null,
        "SciteIndex": null,
        "Altmetric": null,
        "PredatoryJournalData": {
            "ReviewDate": "2022-04-12T00:00:00Z",
            "Violations": [
                {
                    "CategoryName": "Peer Review",
                    "Severity": "Severe"
                },
                {
                    "CategoryName": "Publication Practices",
                    "Severity": "Severe"
                },
                {
                    "CategoryName": "Website",
                    "Severity": "Minor"
                },
                {
                    "CategoryName": "Access & Copyright",
                    "Severity": "Moderate"
                }
            ]
        }
    },
    {
        "@search.score": 4.2693563,
        "JournalId": "2863483000009740128",
        "JournalName": "The British Journal of Cardiology and other things about lots of things and things that aren't even related but maybe by someone's standard The British Journal of Cardiology and other things about lots of things and things that aren't even related but maybe by someone's standardThe British Journal of Cardiology and other things about lots of things and things that aren't even related but maybe by someone's standard",
        "Publisher": "MediNews (Cardiology) Ltd and other things",
        "IsPredatory": false,
        "ScoreDataStatus": null,
        "WebsiteURL": "https://bjcardio.co.uk/",
        "Disciplines": [
			{
				"DisciplineName": "aa",
				"Trendline": 0,
				"Scores": [{
					"Year": 2021,
					"Score": 22,
					"AdjustedSnapshotScore": 22,
					"trending": 0
				}]
			},
			{
				"DisciplineName": "cc",
				"Trendline": 0,
				"Scores": [{
					"Year": 2021,
					"Score": 92,
					"AdjustedSnapshotScore": 92,
					"trending": 0
				}]
			},
            {
                "DisciplineName": "Anesthesiology",
                "Trendline": 0,
                "Scores": [
                    {
                        "Year": 2021,
                        "Score": 58,
                        "AdjustedSnapshotScore": 58,
                        "trending": 0
                    },
                    {
                        "Year": 2020,
                        "Score": 83,
                        "AdjustedSnapshotScore": 100,
                        "trending": 0
                    },
                    {
                        "Year": 2019,
                        "Score": 28,
                        "AdjustedSnapshotScore": 0,
                        "trending": 0
                    },
                    {
                        "Year": 2018,
                        "Score": 46,
                        "AdjustedSnapshotScore": 100,
                        "trending": 0
                    },
                    {
                        "Year": 2017,
                        "Score": 42,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2016,
                        "Score": 55,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2015,
                        "Score": 36,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2014,
                        "Score": 41,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2013,
                        "Score": 36,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2012,
                        "Score": 33,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2011,
                        "Score": 37,
                        "AdjustedSnapshotScore": null
                    },
                    {
                        "Year": 2010,
                        "Score": 26,
                        "AdjustedSnapshotScore": null
                    }
                ]
            },
        ],
        "AcceptanceRate": null,
        "FrequencyOfIssue": {
            "FrequencyDisplay": "Quarterly"
        },
        "OpenAccess": {
            "OpenAccessType": "Diamond / Platinum",
            "GreenOpenAccess": false
        },
        "SciteIndex": {
            "Index_Lifetime": null
        },
        "Altmetric": {
            "MedianMentionsPerArticle": 10
        },
        "PredatoryJournalData": null
    }
]
this.predatoryCardNav = [
    {
        "_id": "618ae7cdc32cbe001ec30684",
        "Text": "Overview",
        "Section": "PredatoryOverviewSection",
        "__v": 0,
        "id": "618ae7cdc32cbe001ec30684"
    },
    {
        "_id": "618ae7cdc32cbe001ec30686",
        "Text": "Violations",
        "Section": "ViolationsSection",
        "__v": 0,
        "id": "618ae7cdc32cbe001ec30686"
    }
]
this.journalCardNav = [ { "_id": "618ae7cdc32cbe001ec30678", "Section": "DashboardSection", "Text": "Dashboard", "__v": 0, "id": "618ae7cdc32cbe001ec30678" }, { "_id": "618ae7cdc32cbe001ec30679", "Text": "Disciplines", "Section": "DisciplinesSection", "__v": 0, "id": "618ae7cdc32cbe001ec30679" }, { "_id": "61c0d9de111399001e8810ea", "Text": "Topics", "Section": "TopicsSection", "__v": 0, "id": "61c0d9de111399001e8810ea" }, { "_id": "618ae7cdc32cbe001ec3067a", "Text": "Smart Citations™", "Section": "CitationsSection", "__v": 0, "id": "618ae7cdc32cbe001ec3067a" }, { "_id": "618ae7cdc32cbe001ec3067b", "Text": "Attention", "Section": "AttentionSection", "__v": 0, "id": "618ae7cdc32cbe001ec3067b" }, { "_id": "618ae7cdc32cbe001ec3067c", "Text": "Open Access", "Section": "OpenAccessSection", "__v": 0, "id": "618ae7cdc32cbe001ec3067c" }, { "_id": "6196b3988f4436001ed73649", "Text": "Submissions", "Section": "SubmissionsSection", "__v": 0, "id": "6196b3988f4436001ed73649" }, { "_id": "6196b3988f4436001ed7364a", "Text": "Peer Review", "Section": "ReviewSection", "__v": 0, "id": "6196b3988f4436001ed7364a" } ]
        try {
        this.auth0.getTokenSilently().then((token) => {
            this.auth_token = token;
            this.auth0.getUser();
            const apiTokenRequest = {
                audience: process.env.VUE_APP_AUTH_API_AUDIENCE,
                client_id: process.env.VUE_APP_AUTH_API_CLIENT_ID,
                client_secret: process.env.VUE_APP_AUTH_API_CLIENT_SECRET,
                grant_type: 'client_credentials'
            };
            const tokenResult = this.axios.post(this.auth0.domainUrl + '/oauth/token', apiTokenRequest);
            tokenResult.then(async (api_token) => {
                let headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + api_token?.data?.access_token
                };
                headers[process.env.VUE_APP_AUTH_KEY_NAME] = process.env.VUE_APP_AUTH_KEY;
                this.apiTokenHeaders = {headers: headers};
            
				//let selectFields = '';
				//2863483000009738059
				// predatory
				// PR_18305,PR_18304,PR_18303,PR_18301,PR_18300,PR_18299

				// get Disciplines
				/*selectFields += 'Disciplines/DisciplineName,Disciplines/Scores,Disciplines/Trendline,';
				selectFields += 'Altmetric/MedianMentionsPerArticle,AcceptanceRate,';
				selectFields += 'OpenAccess/OpenAccessType,OpenAccess/GreenOpenAccess,';
				selectFields += 'SciteIndex/Index_Lifetime,FrequencyOfIssue/FrequencyDisplay,';
				selectFields += 'JournalId,JournalName,Publisher,WebsiteURL,';
				selectFields += 'IsPredatory,PredatoryJournalData/ReviewDate,PredatoryJournalData/Violations/Severity,';
				selectFields += 'PredatoryJournalData/Violations/CategoryName,ScoreDataStatus';*/

				//let filter = '';
				// filter += 'IsPredatory eq true';
				// filter += "Disciplines/any(d: d/DisciplineName eq 'Immunology')";
				// filter += "OpenAccess/OpenAccessType eq 'Bronze'";

				//let post = {
				//	queryType: 'full',
				//	search: 'immunology',
				//	select: selectFields,
				//	count: true,
				//	top: 10,
				//	skip: 0,
				//	filter,
					// filter: 'Disciplines,sort:count',
					// orderby: '',
				//};

				/*const data = await this.axios.post(this.apiUrl + 'search/', post, this.apiTokenHeaders);

				this.journalCards = data?.data?.value ?? [];
				console.log('journal cards', this.journalCards);

				let journalCardConfig = await this.axios.get(this.cmsApiUrl + '/pages?slug=search');
				const configData = journalCardConfig?.data[0]?.Sections[0]?.parts[0];
				this.journalCardNav = configData?.JournalCardNav ?? [];
				this.journalCardKabobMenu = configData?.JournalCardKabobMenu ?? [];
				this.predatoryCardNav = configData?.PredatoryCardNav ?? [];
				this.predatoryCardKabobMenu = configData?.PredatoryCardKabobMenu ?? [];
				this.HeatmapTooltipLabel = configData?.HeatmapTooltipLabel ?? '';
				this.HeatmapTooltipDescription = configData?.HeatmapTooltipDescription ?? '';*/	
            });
        })
        } catch (err) {
            console.error(err);
        }
    },
    provide() {
        return {
            currentBreakpoint: computed(() => this.currentBreakpoint),
            global_sections: computed(() => JournalCardSections.sections),
            apiTokenHeaders: computed(() => this.apiTokenHeaders),
        }
    },
    computed: {
        apiUrl() {
            return '';//process.env.VUE_APP_SEARCH_API;
        },
        cmsApiUrl() {
            return process.env.VUE_APP_CMS_API_URL;
        },
        currentNavItems() {
            return this.journalCardNav;
        },
        currentPredatoryNavItems() {
            return this.predatoryCardNav;
        },
        currentHeatmapTooltipProps() {
            return {
                label: this.HeatmapTooltipLabel,
                description: this.HeatmapTooltipDescription,
                tags: [],
                width: '140px',
                min_height: '260px',
                face: 'right',
                pointer_disabled: true,
                shadow: 'md',
				adjustments: {
					'cci': {
						'left': -45,
						'right': 0,
					},
					'kpi': {
						'left': -70,
						'right': 0,
					}
				},
            };
        },
        routePath() {
            return this.$route.path;
        },
    },
    data() {
        return {
            auth_token: null,
            currentBreakpoint: '',
            journalCards: [],
            journalCardNav: [],
            predatoryCardNav: [],
            journalCardKabobMenu: [],
            predatoryCardKabobMenu: [],
            HeatmapTooltipLabel: "Medical Specialty Citation Index",
            HeatmapTooltipDescription: 'The MedSCI ranks this journal’s influence on these subjects based on citation data.',

            tooltipText: "Start with search terms that are useful to you. You may wish to custom sort and filter the results in detailed meaningful ways to meet your publishing goals. You can also include or exclude the search terms, and view only Journalytics or Predatory reports.",
            helpText: "Find journals by entering your terms",
            placeholderText: "Search for journals by title, discipline, ISSN, etc.",
            searchButtonText: 'Search',
            search_key: "",
            search_data: "",
            active_modal: false,
            hoveringZ: false,
            apiTokenHeaders: null,
        }
    },
    methods: {
        zIndexStyle(index) {
            let style = 'z-index: ';
            if (this.hoveringZ === index) {
                style += String(9999 - index) + ';';
            } else {
                style += '10;';
            }
            return style;
        },
        breakpointCallback(mediaQueryList, breakpointName) {
            if (mediaQueryList.matches) {
                this.currentBreakpoint = breakpointName;
            }
        },
        getKabobItems(card) {
            const nav = card.IsPredatory ? this.predatoryCardKabobMenu : this.journalCardKabobMenu;
            const kabob = [];
            for (const i in nav) {
                let item = {
                    component: 'TextButton',
                    content: nav[i]?.LinkText ?? '',
                };
                let destination = nav[i]?.LinkDestination ?? '';
                destination = destination.trim();

                if (destination.startsWith('http')) {
                    item.callback = (event) => {
                        event.stopPropagation();
                        if (destination?.length) {
                            window.open(destination, '_blank').focus();
                        }
                    };
                } else if (destination === 'external') {
                    item.callback = (event) => {
                        event.stopPropagation();
                        const url = card?.WebsiteURL ?? '';
                        if (url?.length) {
                            window.open(url, '_blank').focus();
                        }
                    };
                } else {
                    item.callback = (event) => {
                        event.stopPropagation();
                        this.$router.push('/' + destination);
                    };
                }
                kabob.push(item);
            }
            return kabob;
        },
        goSearch() {
            const search_text = document.getElementById('search_form').value.trim();
            this.$router.replace({path: this.$route.path, query: {search: search_text}});
        },
        changeZIndex(journalName, currentJournalName, idx) {
            if (journalName === currentJournalName) {
                this.hoveringZ = idx;
            } else {
                this.hoveringZ = -1;
            }
        },
    },
}
</script>