<template>
    <medicine-header-icon
        class="cds-flex cds-items-end cds-justify-self-end"
        v-bind="$props"
        tabindex="0"
        :on="toggle_override"
    />
</template>

<script>
import SelectableBase from './components/ds/1.0/lib/1.0.0/SelectableBase';
import { defineAsyncComponent } from 'vue';
const MedicineHeaderIcon = defineAsyncComponent(() => import('./MedicineHeaderIcon'));
export default {
    name: 'medicine-header-menu-icon',
    components: {
        MedicineHeaderIcon,
    },
    mixins: [SelectableBase],
    props: {
        glyph: { default: 'cog-sharp' },
        text_color: { default: 'snow' },
        sm_text_color: { default: 'naturalGray' },
        hoverbg: { default: 'fullFathom' },
        focusbg: { default: 'fullFathom' },
        focusvisiblebg: { default: 'fullFathom' },
        activebg: { default: 'liquidWisdom' },
        active_ring_color: { default: 'transparent' },
        active_ring_width: { default: '0' },
        focus_border_color: { default: 'transparent' },
        focus_ring_color: { default: 'transparent' },
        focus_border_width: { default: '4' },
        focus_ring_width: { default: '4' },
        focus_visible_ring_color: { default: 'liquidWisdom' },
        focus_visible_ring_width: { default: '4' },
        focus_visible_border_color: { default: 'transparent' },
        focus_visible_border_width: { default: '4' },   
        disabled_text_color: { default: 'twilightStratus' },
        
        selected_bgcolor: { default: 'fullFathom' },
        selected_border_color: { default: 'tranquilSea' },
        selected_border_width: { default: '1px' },
        selected_ring_color: { default: 'transparent' },
        selected_ring_width: { default: '0' },

        rounded: { default: '4' },
        position: { default: 'relative' },
        top: { default: '1px' },
        width: { default: '44px' },
        height: { default: '44px' },
        min_width: { default: '44px' },
        min_height: { default: '44px' },
        toggle_override: { default: false },
    },
}
</script>