<template>
    <flex-center v-bind="$props"><slot></slot></flex-center>
</template>

<script>
import { defineAsyncComponent } from 'vue';
const FlexCenter = defineAsyncComponent(() => import('./components/ds/1.0/flex/1.0.0/FlexCenter'));
export default {
    name: 'medicine-header-title',
    components: {
        FlexCenter,
    },
    props: {
        width: { default: 'full' },
        height: { default: '52px' },
        font_size: { default: '13px' },
        font_family: { default: 'sans' },
        font_weight: { default: 'normal' },
        leading: { default: '24px' },
        tracking: { default: 'header-title' },
        text_color: { default: 'snow' },
        text_transform: { default: 'uppercase' },
        whitespace: { default: 'nowrap' },
        wrap: { default: 'nowrap' },
        align_self: { default: 'stretch' },
        valign: { default: 'baseline' },
    },
}
</script>