<template>
    <flex-grid class="cds-bg-gradient-medicine-dark"
        id="medicine-header" wrap="nowrap" shadow="lg" z_index="50" position="relative"
        width="full" max_height="52px" height="52px" sm_direction="row"
    >
        <medicine-header-item id="header-nav-icon" class="cds-flex-center">
            <medicine-nav-icon @click="goHome" class="cds-cursor-pointer" />
        </medicine-header-item>
        <medicine-header-item id="header-title" class="sm:cds-invisible sm:cds-w-1px cds-mr-24px">
            <medicine-header-title>{{ navTitle }}</medicine-header-title>
        </medicine-header-item>
        <medicine-header-item margin_top="2px" class="sm:cds-hidden" sm_width="1px" id="header-button-group">
            <medicine-header-button-group :nav_menu_items="navItems" />
        </medicine-header-item>
        <flex-cell id="header-icon-group" v-bind="iconContainerStyles" v-if="showIcons">
            <flex-cell v-bind="iconFlexStyles">
                <medicine-header-menu-icon class="cds-invisible" id="cog" top="3px" position="relative"
                    @click="[$emit('cog_icon_press'), window.alert('Cog Pressed')]" />
                <medicine-header-menu-icon
                    id="menu"
                    position="relative"
                    top="3px"
                    @click="$emit('menu_icon_press')"
                    glyph="menu-sharp" 
                    visibility="invisible" 
                    md_visibility="visible"
                    sm_visibility="visible"
                    text_color="naturalGray"
                    :toggle_override="navso_toggle"
                />
            </flex-cell>
        </flex-cell>
    </flex-grid>
</template>

<script>
import ComponentBase from './components/ds/1.0/lib/1.0.0/ComponentBase';
import { defineAsyncComponent, inject } from 'vue';
const MedicineHeaderButtonGroup = defineAsyncComponent(() => import('./MedicineHeaderButtonGroup'));
const MedicineHeaderItem = defineAsyncComponent(() => import('./MedicineHeaderItem'));
const MedicineNavIcon = defineAsyncComponent(() => import('./MedicineNavIcon'));
const MedicineHeaderTitle = defineAsyncComponent(() => import('./MedicineHeaderTitle'));
const MedicineHeaderMenuIcon = defineAsyncComponent(() => import('./MedicineHeaderMenuIcon'));

const FlexGrid = defineAsyncComponent(() => import('./components/ds/1.0/flex/1.0.0/grid/FlexGrid'));
const FlexCell = defineAsyncComponent(() => import('./components/ds/1.0/flex/1.0.0/cell/FlexCell'));

export default {
    name: 'medicine-header',
    components: {
        MedicineHeaderItem, 
        MedicineNavIcon,
        MedicineHeaderMenuIcon,
        MedicineHeaderTitle,
        MedicineHeaderButtonGroup,

        FlexGrid,
        FlexCell,
    },
	mixins: [ComponentBase],
	emits: ['menu_icon_press', 'cog_icon_press'],
    setup() {
        const navso_toggle = false;
        return {
            navso_toggle,
        }
    },
    methods: {
        goHome(event) {
            event.stopPropagation();
            this.$router.push('/');
            return false;
        },
    },
    computed: {
        navItems() {
            return [
                {
                    "_id": "60abd2c17c502d0633289a75",
                    "LinkDestination": "start",
                    "Text": "Start",
                    "Link": [],
                    "__v": 0,
                    "PageTitle": "Journalytics Medicine",
                    "id": "60abd2c17c502d0633289a75"
                },
                {
                    "_id": "60abd2c17c502d0633289a76",
                    "Text": "About",
                    "LinkDestination": "about",
                    "Link": [
                        {
                            "_id": "60abd2c17c502d0633289a7a",
                            "LinkText": "Journalytics",
                            "LinkDestination": "about/journalytics-medicine",
                            "__v": 0,
                            "PageTitle": "Journalytics - Journalytics Medicine",
                            "id": "60abd2c17c502d0633289a7a"
                        },
                        {
                            "_id": "60abd2c17c502d0633289a7b",
                            "LinkText": "Predatory Reports",
                            "LinkDestination": "about/predatory-reports",
                            "__v": 0,
                            "id": "60abd2c17c502d0633289a7b"
                        },
                        {
                            "_id": "60abd2c17c502d0633289a7e",
                            "LinkText": "Our Privacy Policy",
                            "LinkDestination": "privacy-policy",
                            "__v": 0,
                            "id": "60abd2c17c502d0633289a7e"
                        }
                    ],
                    "__v": 1,
                    "PageTitle": "About Us - Journalytics Medicine",
                    "id": "60abd2c17c502d0633289a76"
                },
                {
                    "_id": "61981e0c8f4436001ed736a0",
                    "Text": "Our News",
                    "LinkDestination": "our-news",
                    "PageTitle": "Our News - Journalytics Medicine",
                    "Link": [],
                    "__v": 0,
                    "id": "61981e0c8f4436001ed736a0"
                },
                {
                    "_id": "60abd2c17c502d0633289a78",
                    "LinkDestination": "contact",
                    "Text": "Contact",
                    "Link": [],
                    "__v": 0,
                    "PageTitle": "Contact Us - Journalytics Medicine",
                    "id": "60abd2c17c502d0633289a78"
                }
            ];
        },
        navTitle() {
            return 'Journalytics Medicine';
        },
        showIcons() {
            return this.currentBreakpoint === 'sm' || this.currentBreakpoint === 'md';
        }
    },
    data() {
        return {
            currentBreakpoint: inject('currentBreakpoint'),
            iconContainerStyles: {
                width: "full",
                wrap: "nowrap",
                align_items: "end",
                direction: "col",
                padding_right: "100px",
                sm_padding_right: "24px",
                md_padding_right: "24px",
            },
            iconFlexStyles: {
                direction: 'rrev',
                sm_direction: 'row',
                md_direction: 'row',
                width: '88px',
                height: '44px',
                wrap: 'nowrap',
            },
        }
    },
}
</script>