<template>
    <primitive-image :src="src" :width="width" :height="height" :alt="altText" :loading="loading" />
</template>

<script>
import ImgBase from './components/ds/1.0/images/1.0.0/lib/ImgBase';
import { defineAsyncComponent } from 'vue';
const PrimitiveImage = defineAsyncComponent(() => import('./components/ds/1.0/images/1.0.0/PrimitiveImage'));
export default {
    name: 'medicine-nav-icon',
    mixins: [ImgBase],
    components: {
        PrimitiveImage,
    },
    props: {
        padding_x: { default: '2px' },
        padding_y: { default: '4px' },
        width: { default: '162px' },
        height: { default: '44px' },
        src: { default: process.env.VUE_APP_CDN_URL + 'cabells_design_system/images/cabells-logo-trans.svg' },
    },
    data() {
        return {
            altText: this.getImgAlt(this.alt),
        }
    },
}
</script>