<template>
    <button-group v-bind="$props" :buttons="navMenuItems" :group_props="{gap: '4'}" />
</template>

<script>
import { isCurrentPage } from './NavBase';
import SelectableBase from './components/ds/1.0/lib/1.0.0/SelectableBase';
import { defineAsyncComponent } from 'vue';
const ButtonGroup = defineAsyncComponent(() => import('./components/ds/1.0/buttons/1.0.0/group/ButtonGroup'));


export default {
    name: 'medicine-header-button-group',
    mixins: [SelectableBase],
    components: {
        ButtonGroup,
    },
    props: {
        margin: { default: '0' },
        sm_margin: { default: '0' },
        xxl_margin: { default: '0' },
        margin_top: { default: '4px' },
        sm_margin_top: { default: '4px' },
        xxl_margin_top: { default: '4px' },
        margin_bottom: { default: '4px' },
        sm_margin_bottom: { default: '4px' },
        xxl_margin_bottom: { default: '4px' },
        padding_left: { default: '4px' },
        padding_right: { default: '4px' },
        sm_padding_left: { default: '4px' },
        sm_padding_right: { default: '4px' },
        xxl_padding_left: { default: '4px' },
        xxl_padding_right: { default: '4px' },
        nav_menu_items: { default: [] },
    },
    methods: {
        getButtonItemStyles() {
            return {
                font_family: 'sans',
                font_weight: 'bold',
                font_size: '16px',
                leading: '24',
                tracking: 'sm',
                text_align: 'center',
                text_color: 'snow',
                hover_text_color: 'snow',
                active_text_color: 'snow',
                focus_text_color: 'snow',
                focus_visible_text_color: 'snow',
                disabled_text_color: 'twilightStratus',
                bgcolor: 'transparent',
                hoverbg: 'oceanic',
                focusbg: 'oceanic',
                activebg: 'liquidWisdom',
                selected_bgcolor: 'fullFathom',
                border_color: 'transparent',
                border_width: '1px',
                border_style: 'solid',
                hover_ring_color: 'transparent',
                hover_border_color: 'transparent',
                hover_border_width: '1px',
                hover_ring_width: '0',
                hover_border_style: 'solid',
                focus_visible_border_color: "transparent",
                selected_border_color: 'tranquilSea',
                selected_border_width: '1px',
                text_transform: 'uppercase',
                padding_top: '3px',
                active_border_color: '',
                active_ring_color: '',
                active_border_style: '',
            };
        },
    },
    computed: {
        navMenuItems() {
            const items = [];
            const componentName = 'TextButton';
            for (const i in this.nav_menu_items) {
                const sub_items = [];
                const link_destination = this.nav_menu_items[i].LinkDestination;
                const slugs = ['/' + link_destination];
                if (link_destination == 'search') {
                    slugs.push('/');
                }
                const subMenuItems = 
                    Array.isArray(this.nav_menu_items[i].Link) && this.nav_menu_items[i].Link.length > 0 
                    ? this.nav_menu_items[i].Link 
                    : [];
                let subMenuIsCurrentPage = false;
                if (subMenuItems.length) {
                    for (const j in subMenuItems) {
                        if (isCurrentPage(['/' + subMenuItems[j].LinkDestination])) {
                            subMenuIsCurrentPage = true;
                        }
                        const subMenuButtonItemType = {
                            component: componentName, // Strapi can support making the button type a choice if we like
                            content: subMenuItems[j].LinkText,
                            glyph: null, // Strapi can support putting icons in nav menu buttons if we like
                            disabled: false, // Strapi can disable any nav item if we like
                            callback: () => {
                                if (isCurrentPage(['/' + subMenuItems[j].LinkDestination])) {
                                    return false;
                                }
                                this.$router.push('/' + subMenuItems[j].LinkDestination);
                            },
                        };
                        sub_items.push(subMenuButtonItemType);
                    }
                }
                
                const buttonItemType = {
                    component: componentName, // Strapi can support making the button type a choice if we like
                    content: this.nav_menu_items[i].Text,
                    glyph: null, // Strapi can support putting icons in nav menu buttons if we like
                    disabled: false, // Strapi can disable any nav item if we like
                    item_styles: this.getButtonItemStyles(),
                    is_current_page: isCurrentPage(slugs) || subMenuIsCurrentPage,
                    sub_menu_items: sub_items,
                    callback: () => {
                        if (isCurrentPage(slugs)) {
                            return false;
                        }
                        this.$router.push('/' + link_destination);
                    },
                };
                items.push(buttonItemType);
            }
            return items;
        },
    },
}
</script>