<template>
    <icon-xl v-bind="$props" @mousedown="toggle" />
</template>

<script>
import SelectableBase from './components/ds/1.0/lib/1.0.0/SelectableBase';
import IconXl from './components/ds/1.0/icons/1.0.0/IconXl';

export default {
    name: 'medicine-header-icon',
    mixins: [IconXl, SelectableBase],
    components: {
        IconXl,
    },
    props: {
        width: { default: '44px' },
        height: { default: '44px' },
        cursor: { default: 'pointer' },
    }
}
</script>