<template>
    <flex-cell v-bind="$props"><slot></slot></flex-cell>
</template>

<script>
import { defineAsyncComponent } from 'vue';
const FlexCell = defineAsyncComponent(() => import('./components/ds/1.0/flex/1.0.0/cell/FlexCell'));
export default {
    name: 'medicine-header-item',
    components: {
        FlexCell,
    },
    props: {
        id: String,
        height: { default: '52px' },
        align_items: { default: 'start' },
        justify_content: { default: 'start' },
        shrink: { default: '0' },
    },
}
</script>