@layer utilities {
    @keyframes dropdown__y__1 {
        from {
            /* @apply cds--top-250px; */
            @apply cds--top-400px;
        }
    
        to {
            /* @apply cds-top-230px; */
            @apply cds-top-0;
        }
    }
    @keyframes dropdown__y__2 {
        from {
            @apply cds-top-230px;
        }
    
        to {
            @apply cds-top-230px;
        }
    }
    @keyframes dropdown__y__3 {
        from {
            /* @apply cds-top-230px; */
            @apply cds-top-0;
        }
    
        to {
            /* @apply cds--top-250px; */
            @apply cds--top-400px;
        }
    }

    /* reveal slowly by height */
    @keyframes dropdown__y__1A {
        0% {
            @apply cds-h-0;
        }
        100% {
            @apply cds-h-full;
        }
    }
    @keyframes dropdown__y__3A {
        0% {
            @apply cds-h-full;
        }
        100% {
            @apply cds-h-0;
        }
    }
}