<template>
    <div 
        class="
            cds-display-subhead 
            sm:cds-display-subhead 
            md:cds-display-subhead 
            lg:cds-display-subhead
        "
    >
        <slot></slot>    
    </div>
</template>

<script>
export default {
    name: 'display-subhead',
}

</script>