<template>
    <div 
        class="
            cds-display-text 
            sm:cds-display-text 
            md:cds-display-text 
            lg:cds-display-text
        "
    >
        <slot></slot>    
    </div>
</template>

<script>
export default {
    name: 'display-text',
}

</script>