<template>
    <heading v-if='heading != ""' :tag="headingTag" v-bind="headingProps" :shorten="headingShorten" :textLimit="headingTextLimit">
        {{heading}}
    </heading>
    <supporting-text v-if='supportText != ""' :tag="supportTextTag" v-bind="supportTextProps">{{supportText}}</supporting-text>
</template>

<script>
import { defineAsyncComponent } from 'vue';
const Heading = defineAsyncComponent(() => import('./Heading'));
const SupportingText = defineAsyncComponent(() => import('./SupportingText'));
export default {
    name: 'heading-support',
    components: {
        Heading, 
        SupportingText,
    },
    props: {
        heading:  { default: '' },
        headingTag:  { default: 'h1' },
        headingProps:  { default: {} },
        headingShorten: { default: false },
        headingTextLimit: { default: 0 },
        supportText:  { default: '' },
        supportTextTag:  { default: 'h5' },
        supportTextProps:  { default: {} },
    },
}
</script>