<template>
    <primitive-div v-bind="$props" v-html="markedDown" />
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import PrimitiveDiv from '../../lib/1.0.0/PrimitiveDiv';
export default {
    name: 'marked-down',
    mixins: [ComponentBase],
    components: {
        PrimitiveDiv,
    },
    props: {
        content: Object,
        headerPrefix: { default: '' },
        base_url: String,
    },
    data() {
        this.marked.use({
            renderer: new this.marked.Renderer(),
            smartypants: true,
            smartLists: true,
            gfm: true,
            breaks: true, // not working ??
            baseUrl: this.base_url ?? process.env.VUE_APP_CMS_API_URL, // makes images work
            headerPrefix: this.headerPrefix,
        });
        return {
            markedDown: this.marked.parse(this.content?.Markdown ?? this.content?.Body?.Markdown ?? ''),
        }
    },
}
</script>