<template>
    <p :class="classStyles"><slot /></p>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import FlexCellBase from '../../flex/1.0.0/cell/FlexCellBase';
export default {
    name: 'paragraph',
    mixins: [ComponentBase, FlexCellBase],
    data() {
        return {
            classStyles: [
                ...this.getFontStyles(),
                ...this.getDimensionStyles(),
                ...this.getBorderStyles(),
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getPositionStyles(),
                ...this.getOpacityStyles(),
                ...this.getBgStyles(),
                ...this.getFlexStyles(),
                ...this.getSpacingStyles(),
                ...this.getFlexCellStyles(),
            ],
        }
    },
}
</script>