<template>
    <pre-head v-if='prehead != ""' v-bind="preheadProps" :tag="getPreheadTag()" 
        :shorten="preheadShorten" :textLimit="preheadTextLimit"
    >
        {{prehead}}
    </pre-head>
    <heading v-if='heading != ""' v-bind="headingProps" :tag="getHeadingTag()" 
        :shorten="headingShorten" :textLimit="headingTextLimit"
    >
        {{heading}}
    </heading>
    <supporting-text v-if='supportText != ""' v-bind="supportTextProps" :tag="getSupportTextTag()">
        {{supportText}}
    </supporting-text>
</template>

<script>
import { defineAsyncComponent } from 'vue';
const PreHead = defineAsyncComponent(() => import('./PreHead'));
const Heading = defineAsyncComponent(() => import('./Heading'));
const SupportingText = defineAsyncComponent(() => import('./SupportingText'));
export default {
    name: 'prehead-heading-support',
    components: {
        PreHead, 
        Heading, 
        SupportingText,
    },
    methods: {
        getPreheadTag() {
            return (this.preheadProps?.tag && this.preheadProps.tag.length) ? this.preheadProps.tag : this.preheadTag;
        },
        getHeadingTag() {
            return (this.headingProps?.tag && this.headingProps.tag.length) ? this.headingProps.tag : this.headingTag;
        },
        getSupportTextTag() {
            return (this.supportTextProps?.tag && this.supportTextProps.tag.length) ? this.supportTextProps.tag : this.supportTextTag;
        },
    },
    props: {
        prehead: { default: '' },
        preheadTag:  { default: 'h4' },
        preheadProps: { default: {} },
        preheadShorten: { default: false },
        preheadTextLimit: { default: 0 },
        heading:  { default: '' },
        headingTag:  { default: 'h1' },
        headingProps:  { default: {} },
        headingShorten: { default: false },
        headingTextLimit: { default: 0 },
        supportText:  { default: '' },
        supportTextTag:  { default: 'h5' },
        supportTextProps:  { default: {} },
    },
}
</script>