<template>
    <pre-head v-if='prehead != ""' v-bind="preheadProps" :tag="preheadTag" :shorten="preheadShorten" :textLimit="preheadTextLimit">
        {{prehead}}
    </pre-head>
    <div style="display: flex; gap: 0.2em; align-items: start;">
    <icon v-if="headingIconGlyph" :glyph="headingIconGlyph" :text_color="headingIconColor" margin_top="5px" v-tippy="iconTooltip" />
    <heading v-if='heading != ""' v-bind="headingProps" :tag="headingTag" :shorten="headingShorten" :textLimit="headingTextLimit">
        {{heading}}
    </heading>
    </div>
</template>

<script>
import { defineAsyncComponent } from 'vue';
const PreHead = defineAsyncComponent(() => import('./PreHead'));
const Heading = defineAsyncComponent(() => import('./Heading'));
const Icon = defineAsyncComponent(() => import('../../icons/1.0.0/Icon'));
export default {
    name: 'prehead-heading',
    components: {
        PreHead, 
        Heading,
		Icon,
    },
    props: {
        prehead: { default: '' },
        preheadTag:  { default: 'h4' },
        preheadProps: { default: {} },
        preheadShorten: { default: false },
        preheadTextLimit: { default: 0 },
        heading:  { default: '' },
        headingTag:  { default: 'h1' },
        headingProps:  { default: {} },
        headingShorten: { default: false },
        headingTextLimit: { default: 0 },
		headingIconGlyph: { default: '' },
		headingIconColor: { default: 'transparent' },
		iconTooltip: { default: null },
    },
}
</script>