<template>
    <component :is="tag" :class="classStyles" :style="limit_lines != 0 ? ('overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: '+limit_lines+';') : ''">
        <short-text v-if="shorten"><slot /></short-text>
        <span v-else >{{slotText}}</span>
    </component>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import UtilityBase from '../../lib/1.0.0/UtilityBase';
import { defineAsyncComponent } from 'vue';
const ShortText = defineAsyncComponent(() => import('../../data/1.0.0/ShortText'));
export default {
    name: 'pre-head',
    components: {
        ShortText,
    },
    mixins: [ComponentBase, UtilityBase],
    props: {
		limit_lines: { default: 0 },
        shorten: { default: false },
        textLimit: { default: 0 },
        text_color: { default: 'fullFathom' },
        text_align: { default: 'center' },
        text_transform: { default: 'uppercase' },
        width: { default: '1216px' },
        height: { default: '24px' },
        font_size: { default: '1' }, // 1em ~16px
        font_family: { default: 'sans' },
        font_weight: { default: 'bold' },
        leading: { default: '24' },
        tracking: { default: 'h6' },
        tag: { default: 'h1' },
        whitespace: { default: 'pre-line' },
    },
    computed: {
        slotText() {
            let text = this.getSlotContent();
            const textLongerThanLimit = text.length > (this.textLimit + 3);
            let sample = text.slice(0, 16);
            const longWord = !sample.includes(' ');
            if (this.textLimit && this.textLimit > 0) {
                if (textLongerThanLimit) {
                    text = this.truncateText(text, this.textLimit);
                } else if (longWord) {
                    text = this.truncateText(text, 16);
                }
            }
            return text;
        },
    },
    data() {
        return {
            classStyles: [
                ...this.getFontStyles(),
                ...this.getDimensionStyles(),
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getPositionStyles(),
                ...this.getOpacityStyles(),
                ...this.getBorderStyles(),
                ...this.getFlexStyles(),
                ...this.getSpacingStyles(),
            ],
        }
    },
}
</script>