<template>
    <component :is="tag" v-bind="$props" :class="classStyles">
        <marked-down :headerPrefix="header_prefix" :content="{Markdown: supportText}" />
    </component>
</template>

<script>
import FlexCell from '../../flex/1.0.0/cell/FlexCell';
import MarkedDown from './MarkedDown';
export default {
    name: 'supporting-text',
    components: {
        MarkedDown,
    },
    mixins: [FlexCell],
    props: {
        xl_font_size: { default: '' },
        text_color: { default: 'winterNight' },
        leading: { default: '24px' },
        tracking: { default: 'sm' },
        padding_top: { default: '6px' },
        text_align: { default: 'center' },
        tag: { default: 'h5' },
        header_prefix: String,
    },
    data() {
        return {
            supportText: this.getSlotContent(),
            classStyles: [
                ...this.getFontStyles(),
                ...this.getDimensionStyles(),
                ...this.getPaddingStyles(),
                ...this.getMarginStyles(),
                ...this.getPositionStyles(),
                ...this.getBgStyles(),
                ...this.getBorderStyles(),
                ...this.getOpacityStyles(),
                ...this.getFlexStyles(),
                ...this.getFlexCellStyles(),
                ...this.getSpacingStyles(),
            ],
        }
    },
}
</script>