<template>
    <primitive-icon v-bind="$props"></primitive-icon>
</template>
<script>
import PrimitiveIcon from './PrimitiveIcon';
export default {
    name: 'icon-8',
    components: { PrimitiveIcon },
    mixins: [PrimitiveIcon],
    props: {
        font_size: { default: '24' },
    },
}
</script>