<template>
    <flex-cell direction="row" width="auto" height="auto" gap="8px"
        justify_content="start" md_justify_content="between" sm_justify_content="between"
        :key="currentBreakpoint + currentFace + widget_hovering"
    >
        <flex-cell :id="labelId" role="heading" aria-hidden="false" v-bind="labelProps" class="cds-flex-center">
            {{ label }}
        </flex-cell>
        <flex-cell class="cds-flex-center" height="20px" width="24px" v-if="currentBreakpoint != 'sm'">
			<tippy placement="bottom" theme="standard-dark">
				<icon v-bind="icon_props" class="cds-icon-text"
					:tabindex="tabIndex"
					:glyph="currentGlyph" 
					font_size="4" 
					font_weight="semibold"
					@keyup.self.tab.exact="tabKeyup(true)"
					@keyup.shift.tab.self.exact="tabKeyup(true)"
					@keydown.shift.tab.self.exact="tabKeyup(false)"
					:aria-hidden="true"
					:aria-labelledby="labelId + ' ' + tooltipId"
				/>
				<template #content>
					<slot />
				</template>
			</tippy>
        </flex-cell>
    </flex-cell>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import HoverBase from '../../lib/1.0.0/HoverBase';
import { defineAsyncComponent, inject } from 'vue';
const FlexCell = defineAsyncComponent(() => import('../../flex/1.0.0/cell/FlexCell'));
const Icon = defineAsyncComponent(() => import('../../icons/1.0.0/Icon'));
export default {
    name: 'icon-text',
    components: {
        FlexCell,
        Icon,
    },
    mixins: [ComponentBase, HoverBase],
    emits: ['accessible'],
    created() {
        window.addEventListener('keyup', this.tabNav);
    },
    unmounted() {
        window.addEventListener('keyup', this.tabNav);
        document.title = this.docTitle;
    },
    props: {
        face: String,
        icon_props: { default: {} },
        tooltip_props: { default: {} },
        access_tooltip: { default: true }, // accessibility focus should show tooltip
        label: String,
        glyph: { default: 'information-circle-sharp' },
    },
    methods: {
        tabNav(event) {
            if (!Array.from(event.target.classList).includes('cds-icon-text')) {
                this.widget_hovering = false;
                this.icon_tabindex = '0';
                // forgive this screenreader hack, it's not likely to get noticed
                // during tab navigation of nested tabindex elements, the body takes focus
                // at this time, the screenreader will read the document title instead
                // so we want to reset it asap
                document.title = this.docTitle;
            } else {
                this.icon_tabindex = null;
            }
        },
        tabKeyup(hovering) {
            this.widget_hovering = hovering;
            this.$emit('accessible', hovering);
            if (hovering) {
                document.title = this.tooltipText;
            } else {
                document.title = this.docTitle;
            }
        },
    },
    computed: {
        currentFace() {
            return this.face;
        },
        currentGlyph() {
            return this.glyph;
        },
        accessTooltip() {
            return this.access_tooltip;
        },
        tabIndex() {
            if (this.icon_tabindex?.length) {
                return this.icon_tabindex;
            }
            return this.widget_hovering ? null : '0';
        },
    },
    data() {
        return {
            currentBreakpoint: inject('currentBreakpoint'),
            icon_tabindex: null,
            tooltipId: this.getId('icon-text-tooltip'),
            labelId: this.getId('icon-text-label'),
            docTitle: document.title,
            tooltipText: null,
            labelProps: {
                text_transform: 'uppercase',
                font_weight: 'bold',
                font_size: '3-25',
                leading: '5-252',
                tracking: 'mini',
                whitespace: 'nowrap',
                height: '20px',
                width: 'auto',
            },
        }
    },
    watch: {
        access_tooltip() {
            if (!this.access_tooltip) {
                this.widget_hovering = false;
            }
        },
    },
    mounted() {
        if (this.tooltipText === null) {
            this.tooltipText = this.getSlotContent();
        }
    },
}
</script>