<template>
    <span style="speak:never;" class="cds-font-snowbird-sharp" :class="iconClass"></span>
</template>

<script>
import IconBase from './lib/IconBase';
export default {
    name: 'icon font-text',
    mixins: [IconBase],
    data() {
        return {
            iconClass: [
                this.getIconClass(this.glyph),
            ],
        }
    },
}
</script>