<template>
    <primitive-icon 
        @mouseup="loseFocus"
        @mouseleave="loseFocus"
        v-bind="$props"
    ></primitive-icon>
</template>
<script>
import PrimitiveIcon from './PrimitiveIcon';
export default {
    name: 'icon',
    components: { PrimitiveIcon },
    mixins: [PrimitiveIcon],
}
</script>