<template>
    <primitive-icon v-bind="$props"></primitive-icon>
</template>
<script>
import PrimitiveIcon from './PrimitiveIcon';
export default {
    name: 'icon-xs',
    components: { PrimitiveIcon },
    mixins: [PrimitiveIcon],
    props: {
        font_size: { default: '3' },
        width: { default: '3' },
    },
}
</script>