<template>
    <flex-cell margin_left="16px" margin_right="-16px" z_index="50" class="cds-pointer-events-none"
        position="absolute" sm_position="relative" md_position="relative"
    >
        <tooltip-help-text v-bind="helpTextTooltipProps" :face="currentFace" :key="currentBreakpoint && currentFace" 
            class="cds--mb-full cds--mt-full"
        >
            <slot aria-live="polite" role="tooltip" />
        </tooltip-help-text>
    </flex-cell>
</template>

<script>
import { defineAsyncComponent, inject } from 'vue';
const FlexCell = defineAsyncComponent(() => import('../../flex/1.0.0/cell/FlexCell'));
const TooltipHelpText = defineAsyncComponent(() => import('../../tooltips/1.0.0/TooltipHelpText'));
export default {
    name: 'icon-tooltip',
    components: {
        FlexCell,
        TooltipHelpText,
    },
    props: {
        tooltip_props: { default: {} },
        face: String,
    },
    methods: {
        toggleHover(hovering) {
            this.help_hovering = hovering;
        },
    },
    computed: {
        currentFace() {
            if (['up', 'down', 'left', 'right'].includes(this.face)) return this.face;
            if (!['sm', 'md'].includes(this.currentBreakpoint)) {
                return 'left';
            }
            return 'up';
        },
        helpTextTooltipProps() {
            return Object.assign(this.tooltipProps, this.tooltip_props);
        },
    },
    data() {
        return {
            currentBreakpoint: inject('currentBreakpoint'),
            help_hovering: false,
            tooltipProps: {
                cursor: 'default',
                z_index: '99999',
                width: '210px',
                max_width: '210px',
                padding_x: '16px',
                padding_y: '8px',
                rounded: '4',
                bgcolor: 'winterNight',
                font_size: '3-25',
                font_weight: 'semibold',
                leading: '5',
                tracking: 'tiny',
                position: 'absolute',
                top: '-38px',
                left: '8px',
                md_top: '16px',
                md_left: '-122px',
                sm_top: '24px',
                sm_left: '-122px',
            },
        }
    },
}
</script>