<template>
    <div class="cds-flex-center focus:cds-outline-none" :aria-hidden="aria_hidden" :class="classStyles" style="speak:never;"></div>
</template>
<script>
import IconBase from './lib/IconBase';
import { ref } from 'vue';
export default {
    name: 'primitive-icon',
    mixins: [IconBase],
    setup(props) {
        let textColor = ref(props.text_color);
        let hoverTextColor = ref(props.hover_text_color);
        let focusTextColor = ref(props.focus_text_color);
        let activeTextColor = ref(props.active_text_color);
        if (props.disabled) {
            textColor = props.disabled_text_color ?? props.text_color;
            hoverTextColor = props.disabled_text_color ?? props.hover_text_color;
            focusTextColor = props.disabled_text_color ?? props.focus_text_color;
            activeTextColor = props.disabled_text_color ?? props.active_text_color;
        }
        return {
            text_color: textColor,
            hover_text_color: hoverTextColor,
            focus_text_color: focusTextColor,
            active_text_color: activeTextColor,
        }
    },
    data() {
        return { 
            classStyles: [
                this.getIconClass(this.glyph),
                ...this.getFontStyles(),
                ...this.getDimensionStyles(),
                ...this.getBorderStyles(),
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getPositionStyles(),
                ...this.getOpacityStyles(),
                ...this.getBgStyles(),
                ...this.getSpacingStyles(),
                'cds-no-underline',
                'cds-antialiased',
            ]
        }
    }
}
</script>