<template>
    <div :id="id" v-bind="$attrs" :class="classStyles" :title="el_title"><slot></slot></div>
</template>

<script>
import ComponentBase from './ComponentBase';
export default {
    name: 'primitive-div',
    mixins: [ComponentBase],
    data() {
        return {
            classStyles: [
                ...this.getFontStyles(),
                ...this.getDimensionStyles(),
                ...this.getBorderStyles(),
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getPositionStyles(),
                ...this.getOpacityStyles(),
                ...this.getBgStyles(),
                ...this.getFlexStyles(),
                ...this.getSpacingStyles(),
            ],
        }
    },
}
</script>