<template>
	<svg class="spinny cds-object-none" :width="svgWidth" :height="svgWidth"
		xmlns="http://www.w3.org/2000/svg"  fill="none">
		<g>
			<circle fill="none" :stroke="bgStrokeColor()" :stroke-width="stroke_width"
				:r="(widthInt - 2) / 2" :cy="svgWidth / 2" :cx="svgWidth / 2" />
			<circle fill="none"
				:r="(widthInt - 2) / 2" :cy="svgWidth / 2" :cx="svgWidth / 2" 
				:stroke-dasharray="circumference" :stroke-dashoffset="offset"
				:stroke-width="stroke_width" :stroke="strokeColor()" />
		</g>
	</svg>
</template>

<script>
import { ref } from 'vue';
import ComponentBase from './ComponentBase';
export default {
    name: 'progress-indicator',
	mixins: [ComponentBase],
	setup(props) {
		const width = ref(props.width);
        const widthInt = width.value.replace('px', '');
        const circumference = Math.round((widthInt - 2) * Math.PI);
		const offset = circumference - Math.round(circumference * .8);
        const svgWidth = parseInt(widthInt) + 4; // adjust for width of stroke so it doesn't clip
		return {
            circumference,
            widthInt,
            svgWidth,
			offset,
        }
	},
	props: {
		width: { default: '16px' },
		height: { default: '16px' },
		stroke_width: { default: '1' },
        stroke_color: { default: 'naturalGray' },
        bg_stroke_color: { default: 'transparent' },
	},
	methods: {
        strokeColor() {
            return this.getColorHex(this.stroke_color, '#FAFAFA'); // naturalGray
        },
        bgStrokeColor() {
            return this.getColorHex(this.bg_stroke_color, '#FFFFFF'); // snow
        },
    },
	data() {
		return {
			viewBox: '0 0 ' + this.widthInt + ' ' + this.widthInt,
		}
	},
}
</script>