<template>
	<primitive-pill v-bind="$props">
		<slot />
	</primitive-pill>
</template>

<script>
	import PrimitivePill from './PrimitivePill';
	
	export default
	{
		name: 'filter-pill',
		mixins: [PrimitivePill],
		components:
		{
			PrimitivePill,
		},
		props:
		{
			glyph: {default: 'close-circle-sharp'},
			icon_font_size: {default: '12px'},
			focusable: {default: 'icon'},
			bgcolor: {default: 'winterEvening'},
			hoverbg: {default: 'winterEvening'},
			focusbg: {default: 'winterEvening'},
			activebg: {default: 'winterEvening'},
			disabledbg: {default: 'twilightStratus'},
			icon_bgcolor: { default: 'winterEvening' },
			icon_hoverbg: { default: 'winterDusk' },
			icon_focusbg: { default: 'winterDusk' },
			icon_activebg: { default: 'winterNoon' },
			icon_disabledbg: { default: 'twilightStratus' },
			icon_focus_ring_color: { default: 'winterNoon' },
			icon_focus_ring_width: { default: '2' },
			icon_click_function: Function,
		}
	}
</script>