<template>
    <div 
		v-bind="$attrs"
		:class="classStyles"
		class="cds-flex cds-items-center focus:cds-outline-none"
		:style="'flex-direction: row' + (icon_first?'-reverse;':';')"
		@click="body_click_function"
		@keydown.enter.exact="body_click_function"
		:tabindex="(focusable === 'whole' ? '0' : '-1')"
	>
		<div :class="getPaddingStyles()"><slot>{{ content }}</slot></div>
		<primitive-div v-if="glyph"
			width="18px" height="18px"
			:rounded="icon_rounded"
			:margin_y="icon_minimum_y_margin"
			class="cds-flex-center focus:cds-outline-none"
			:bgcolor="icon_bgcolor"
			:hoverbg="icon_hoverbg"
			:focusbg="icon_focusbg"
			:activebg="icon_activebg"
			:disabledbg="icon_disabledbg"
			:focus_visible_ring_color="icon_focus_ring_color"
			:focus_visible_ring_width="icon_focus_ring_width"
			@click="icon_click_function"
			@keydown.enter.exact="icon_click_function"
			:tabindex="(focusable === 'icon' ? '0' : '-1')"
		>
			<icon :glyph="glyph"
				:font_size = "icon_font_size"
				:font_weight = "icon_font_weight"
			/>
		</primitive-div>
		<div v-if="glyph" :style="'width: ' + icon_edge_margin + ';'" />
	</div>
</template>
<script>
import PillBase from './lib/PillBase';
import { defineAsyncComponent } from 'vue';
const Icon = defineAsyncComponent(() => import('../../icons/1.0.0/Icon'));
const PrimitiveDiv = defineAsyncComponent(() => import('../../lib/1.0.0/PrimitiveDiv'));
export default {
    name: 'primitive-pill',
    mixins: [PillBase],
	components:
	{
		Icon,
		PrimitiveDiv,
	},
	props:
	{
		body_click_function: Function,
		icon_click_function: Function,
		focusable: { default: 'whole' },
		glyph: String,
		icon_first: { default: false },
		icon_font_size: { default: '4' },
		icon_font_weight: {default: 'bold'},
		icon_edge_margin: { default: '4px' },
		icon_minimum_y_margin: { default: '3px' },
		icon_bgcolor: { default: 'transparent' },
        icon_hoverbg: { default: 'transparent' },
        icon_focusbg: { default: 'transparent' },
        icon_activebg: { default: 'transparent' },
        icon_disabledbg: { default: 'transparent' },
		icon_rounded: { default: '4px' },
		icon_focus_ring_color: { default: '' },
		icon_focus_ring_width: { default: '' },
	},
    data() {
		return { 
            classStyles: [
                ...this.getFontStyles(),
                ...this.getDimensionStyles(),
                ...this.getBorderStyles(),
                ...this.getMarginStyles(),
                //...this.getPaddingStyles(), // the padding goes around just the text, not the whole thing
                ...this.getPositionStyles(),
                ...this.getOpacityStyles(),
                ...this.getBgStyles(),
                ...this.getSpacingStyles(),
            ],
        };
    },
}
</script>