<template>
    <span v-show="false"><slot></slot></span>
    <span v-bind="$attrs" :class="classStyles">{{ timeAbs }}</span>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import { formatAbsTime } from './Format';
export default {
    mixins: [ComponentBase],
    name: 'abs-time',
    methods: {
        absTime(time) {
            if (!time || time.length < 1) {
                return this.defaultTimeContent;
            }
            return formatAbsTime(time);
        },
    },
    computed: {
        timeAbs() {
            return this.absTime(this.getSlotContent());
        },
    },
    data() {
        return {
            classStyles: [
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getDimensionStyles(),
                ...this.getPositionStyles(),
                ...this.getFontStyles(),
            ],
        }
    },
}
export { formatAbsTime }
</script>