<template>
    <span v-show="false"><slot></slot></span>
    <span v-bind="$attrs" :class="classStyles">{{ distPast }}</span>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import { formatDistantPast } from './Format';
export default {
    mixins: [ComponentBase],
    name: 'distant-past',
    methods: {
        distantPast(date) {
            if (!date || date.length < 1) {
                return this.defaultTimeContent;
            }
            return formatDistantPast(date);
        },
    },
    computed: {
        distPast() {
            return this.distantPast(this.getSlotContent());
        },
    },
    data() {
        return {
            classStyles: [
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getDimensionStyles(),
                ...this.getPositionStyles(),
                ...this.getFontStyles(),
            ],
        }
    },
}
export { formatDistantPast }
</script>