<template>
    <span v-show="false"><slot></slot></span>
    <span v-bind="$attrs" :class="classStyles">{{ monthDayYearFormat }}</span>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import { formatMonthDayYear } from './Format';
export default {
    mixins: [ComponentBase],
    name: 'month-day-year',
    methods: {
        monthDayYear(date) {
            if (!date || date.length < 1) {
                return this.defaultTimeContent;
            }
            return formatMonthDayYear(date);
        },
    },
    computed: {
        monthDayYearFormat() {
            return this.monthDayYear(this.getSlotContent());
        },
    },
    data() {
        return {
            classStyles: [
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getDimensionStyles(),
                ...this.getPositionStyles(),
                ...this.getFontStyles(),
            ],
        }
    },
}
export { formatMonthDayYear }
</script>