<template>
    <span v-show="false"><slot></slot></span>
    <span v-bind="$attrs" :class="classStyles">{{ dateRel }}</span>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import { formatRelDate } from './Format';
export default {
    mixins: [ComponentBase],
    name: 'rel-date',
    methods: {
        relDate(date) {
            if (!date || date.length < 1) {
                return this.defaultTimeContent;
            }
            return formatRelDate(date);
        },
    },
    computed: {
        dateRel() {
            return this.relDate(this.getSlotContent());
        },
    },
    data() {
        return {
            classStyles: [
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getDimensionStyles(),
                ...this.getPositionStyles(),
                ...this.getFontStyles(),
            ],
        }
    },
}
export { formatRelDate }
</script>