<template>
    <span v-show="false"><slot></slot></span>
    <span v-bind="$attrs" :class="classStyles">{{ timeRel }}</span>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import { formatRelTime } from './Format';
export default {
    mixins: [ComponentBase],
    name: 'rel-time',
    methods: {
        relTime(time) {
            if (!time || time.length < 1) {
                return this.defaultTimeContent;
            }
            return formatRelTime(time);
        },
    },
    computed: {
        timeRel() {
            return this.relTime(this.getSlotContent());
        },
    },
    data() {
        return {
            classStyles: [
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getDimensionStyles(),
                ...this.getPositionStyles(),
                ...this.getFontStyles(),
            ],
        }
    },
}
export { formatRelTime }
</script>