<template>
    <div :title="longText" :class="classStyles" class="cds-overflow-ellipsis">
       <slot />
    </div>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
export default {
    mixins: [ComponentBase],
    name: 'short-text',
    props: {
        overflow: { default: 'hidden' },
        whitespace: { default: 'nowrap' },
    },
    computed: {
        longText() {
            return this.getSlotContent();
        },
    },
    data() {
        return {
            classStyles: [
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getDimensionStyles(),
                ...this.getPositionStyles(),
                ...this.getFontStyles(),
                ...this.getFlexStyles(),
                ...this.getBorderStyles(),
                ...this.getBgStyles(),
                ...this.getOpacityStyles(),
                ...this.getSpacingStyles(),
            ],
        }
    },
}
</script>