<template>
    <span v-show="false"><slot></slot></span>
    <span v-bind="$attrs" :class="classStyles">{{ abbrevMonth }}</span>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import { formatAbbrevMonth } from './Format';
export default {
    mixins: [ComponentBase],
    name: 'short-month',
    methods: {
        shortMonth(date) {
            if (!date || date.length < 1) {
                return this.defaultTimeContent;
            }
            return formatAbbrevMonth(date);
        },
    },
    computed: {
        abbrevMonth() {
            return this.shortMonth(this.getSlotContent());
        },
    },
    data() {
        return {
            classStyles: [
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getDimensionStyles(),
                ...this.getPositionStyles(),
                ...this.getFontStyles(),
            ],
        }
    },
}
export { formatAbbrevMonth }
</script>