<template>
    <span v-show="false"><slot></slot></span>
    <span v-bind="$attrs" :class="classStyles">{{ abbrevDayTime }}</span>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import { formatAbbrevDayTime } from './Format';
export default {
    mixins: [ComponentBase],
    name: 'short-day-time',
    methods: {
        shortDayTime(date) {
            if (!date || date.length < 1) {
                return this.defaultTimeContent;
            }
            return formatAbbrevDayTime(date);
        },
    },
    computed: {
        abbrevDayTime() {
            return this.shortDayTime(this.getSlotContent());
        },
    },
    data() {
        return {
            classStyles: [
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getDimensionStyles(),
                ...this.getPositionStyles(),
                ...this.getFontStyles(),
            ],
        }
    },
}
export { formatAbbrevDayTime }
</script>