<template>
    <span v-show="false"><slot></slot></span>
    <span v-bind="$attrs" :class="classStyles">{{ abbrevDay }}</span>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import { formatAbbrevDay } from './Format';
export default {
    mixins: [ComponentBase],
    name: 'short-day',
    methods: {
        shortDay(date) {
            if (!date || date.length < 1) {
                return this.defaultTimeContent;
            }
            return formatAbbrevDay(date);
        },
    },
    computed: {
        abbrevDay() {
            return this.shortDay(this.getSlotContent());
        },
    },
    data() {
        return {
            classStyles: [
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getDimensionStyles(),
                ...this.getPositionStyles(),
                ...this.getFontStyles(),
            ],
        }
    },
}
export { formatAbbrevDay }
</script>