<template>
    <span v-show="false"><slot></slot></span>
    <span v-bind="$attrs" :class="classStyles">{{ abbrevDate }}</span>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import { formatAbbrevDate } from './Format';
export default {
    mixins: [ComponentBase],
    name: 'short-date',
    methods: {
        shortDate(date) {
            if (!date || date.length < 1) {
                return this.defaultTimeContent;
            }
            return formatAbbrevDate(date);
        },
    },
    computed: {
        abbrevDate() {
            return this.shortDate(this.getSlotContent());
        },
    },
    data() {
        return {
            classStyles: [
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getDimensionStyles(),
                ...this.getPositionStyles(),
                ...this.getFontStyles(),
            ],
        }
    },
}
export { formatAbbrevDate }
</script>