<template>
    <span v-show="false"><slot></slot></span>
    <span v-bind="$attrs" :class="classStyles">{{ abbrev24HDayTime }}</span>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import { formatAbbrev24HDayTime } from './Format';
export default {
    mixins: [ComponentBase],
    name: 'short-24h-day-time',
    methods: {
        short24HDayTime(date) {
            if (!date || date.length < 1) {
                return this.defaultTimeContent;
            }
            return formatAbbrev24HDayTime(date);
        },
    },
    computed: {
        abbrev24HDayTime() {
            return this.short24HDayTime(this.getSlotContent());
        },
    },
    data() {
        return {
            classStyles: [
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getDimensionStyles(),
                ...this.getPositionStyles(),
                ...this.getFontStyles(),
            ],
        }
    },
}
export { formatAbbrev24HDayTime }
</script>