<template>
    <span v-show="false"><slot></slot></span>
    <span v-bind="$attrs" :class="classStyles">{{ timeSimple }}</span>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import { formatTime } from './Format';
export default {
    mixins: [ComponentBase],
    name: 'simple-time',
    methods: {
        simpleTime(time) {
            if (!time || time.length < 1) {
                return this.defaultTimeContent;
            }
            return formatTime(time);
        },
    },
    computed: {
        timeSimple() {
            return this.simpleTime(this.getSlotContent());
        },
    },
    data() {
        return {
            classStyles: [
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getDimensionStyles(),
                ...this.getPositionStyles(),
                ...this.getFontStyles(),
            ],
        }
    },
}
export { formatTime }
</script>