<template>
    <span v-show="false"><slot></slot></span>
    <span v-bind="$attrs" :class="classStyles">{{ timeSimple }}</span>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import { format24HTime } from './Format';
export default {
    mixins: [ComponentBase],
    name: 'simple-24h-time',
    methods: {
        simple24HTime(time) {
            if (!time || time.length < 1) {
                return this.defaultTimeContent;
            }
            return format24HTime(time);
        },
    },
    computed: {
        timeSimple() {
            return this.simple24HTime(this.getSlotContent());
        },
    },
    data() {
        return {
            classStyles: [
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getDimensionStyles(),
                ...this.getPositionStyles(),
                ...this.getFontStyles(),
            ],
        }
    },
}
export { format24HTime }
</script>