<template>
    <span v-show="false"><slot></slot></span>
    <span v-bind="$attrs" :class="classStyles">{{ wkday }}</span>
</template>

<script>
import ComponentBase from '../../lib/1.0.0/ComponentBase';
import { formatWeekday } from './Format';
export default {
    extends: ComponentBase,
    name: 'weekday',
    methods: {
        weekDay(date) {
            if (!date || date.length < 1) {
                return this.defaultTimeContent;
            }
            return formatWeekday(date);
        },
    },
    computed: {
        wkday() {
            return this.weekDay(this.getSlotContent());
        },
    },
    data() {
        return {
            classStyles: [
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getDimensionStyles(),
                ...this.getPositionStyles(),
                ...this.getFontStyles(),
            ],
        }
    },
}
export { formatWeekday }
</script>