<template>
	<select :class="[(error ? errorClassStyles : classStyles), shortenedStyles]" 
		class="cds-box-border focus:cds-outline-none cds-subpixel-antialiased"
	>
		<option v-for="option_object in option_list" :key="option_object" 
			:value="option_object.OptionName" 
			:title="short ? option_object.OptionName : ' '"
		>
			{{ option_object.OptionName }}
		</option>
	</select>
</template>

<script>
import SelectInputBase from './lib/SelectInputBase';
export default {
    name: 'primitive-select-input',
    mixins: [SelectInputBase],
	props:
	{
		short: {default: false},
		error: {default: false},
		width: {default: 'full'},
		height: {default: '48px'},
		shadow: {default: 'inner'},
		padding_left: {default: '13px'},
		border_style: {default: 'solid'},
		border_width: {default: '1px'},
		border_color: {default: 'twilightStratus'},
		hover_border_color: {default: 'midnightMatter'},
		error_border_color: {default: 'winterDusk'},
		focus_border_color: {default: 'winterDusk'},
		focus_ring_width: {default: '4'},
		focus_ring_color: {default: 'winterNoon'},
		error_ring_width: {default: '4'},
		error_ring_color: {default: 'firesideDrink'},
		rounded: {default: '4'},
		focus_rounded: {default: '4'},
		option_list: {default: []},
	},
	data() {
		return {
			shortenedStyles: this.short ? [
				'cds-overflow-ellipsis', 
				'cds-overflow-hidden', 
				'cds-whitespace-nowrap',
			] : [],
		}
	},
}
</script>