<template>
    <label :for="label_for" :form="form" :class="classStyles"><slot></slot></label>
</template>

<script>
import InputLabelBase from './lib/InputLabelBase';
export default {
    name: 'primitive-input-label',
    mixins: [InputLabelBase],
    props: {
        height: { default: '18px' },
        max_width: { default: '230px' },
        font_family: { default: 'sans' },
        font_weight: { default: 'normal' },
        font_size: { default: '16px' },
        leading: { default: '24px' },
        tracking: { default: 'sm' },
        text_color: { default: 'winterNight' },
        text_align: { default: 'left' },
    },
}
</script>