<template>
    <button 
        v-bind="$attrs"
        type="button"
        :id="componentId"
        :form="formId"
        :autofocus="autoFocus"
        :aria-disabled="ariaDisabled"
        :disabled="ariaDisabled"
        @click="toggle"
        :class="[classStyles, bgStyles]"
        class="cds-inline-flex cds-cursor-pointer 
            cds-transition-colors cds-ease-in-out cds-duration-200 
            focus:cds-outline-none" 
            role="switch" 
            aria-checked="false"
        >
        <span class="cds-sr-only">{{sr_only}}</span>
        <span 
            aria-hidden="true" 
            :class="[switchStyles, translateStyle]"
            @click="toggle"
            class="cds-translate-x-0 cds-pointer-events-none cds-transform
                    cds-transition cds-ease-in-out cds-duration-200"></span>
        </button>
</template>

<script>
import ToggleInputBase from './lib/ToggleInputBase';
import { getFlexAnimatable } from '../../flex/1.0.0/lib/FlexCellLib';
import { ref } from 'vue';

export default {
    name: 'primitive-toggle-input',
    mixins: [ToggleInputBase],
    setup(props) {
        const error_ring_color = props.error_ring_color ? ref(props.error_ring_color) : ref('firesideDrink');

        const ringColor = props.ring_color ? ref(props.ring_color) : ref('transparent');
        const ring_color = props.error ? ref(error_ring_color) : ref(ringColor);

        const hoverRingColor = props.hover_ring_color ? ref(props.hover_ring_color) : ref('transparent');
        const hover_ring_color = props.error ? ref(error_ring_color) : ref(hoverRingColor);

        // error does not override focus
        const focus_ring_color = props.focus_ring_color ? ref(props.focus_ring_color) : ref('transparent');
        const focus_visible_ring_color = props.focus_visible_ring_color ? ref(props.focus_visible_ring_color) : ref('winterNoon');

        const activeRingColor = props.active_ring_color ? ref(props.active_ring_color) : ref('transparent');
        const active_ring_color = props.error ? ref(error_ring_color) : ref(activeRingColor);

        const ringWidth = props.ring_width ? ref(props.ring_width) : ref('0');
        const ring_width = props.error ? ref('4px') : ref(ringWidth);

        const hoverRingWidth = props.hover_ring_width ? ref(props.hover_ring_width) : ref('0');
        const hover_ring_width = props.error ? ref('4px') : ref(hoverRingWidth);

        // error does not override focus
        const focus_ring_width = props.focus_ring_width ? ref(props.focus_ring_width) : ref('0');
        const focus_visible_ring_width = props.focus_visible_ring_width ? ref(props.focus_visible_ring_width) : ref('4px');

        const activeRingWidth = props.active_ring_width ? ref(props.active_ring_width) : ref('0');
        const active_ring_width = props.error ? ref('4px') : ref(activeRingWidth);

        const switchDisabledBg = props.switch_disabledbg ?? 'twilightStratus';
        const switchBgColor = props.switch_bgcolor ? props.switch_bgcolor : 'snow';
        const switch_bgcolor = props.disabled ? ref(switchDisabledBg) : ref(switchBgColor);

        return {
            ring_color, hover_ring_color, focus_ring_color, focus_visible_ring_color,
            active_ring_color, error_ring_color,
            ring_width, hover_ring_width, focus_ring_width, focus_visible_ring_width, active_ring_width,
            switch_bgcolor,
        }
    },
    props: {
        position: { default: 'relative' },
        width: { default: '44px' },
        height: { default: '24px' },
        rounded: { default: '12px' },
        padding: { default: '2px' },
        disabledbg: { default: 'dustJacket' },
        disabled_ring_width: { default: '0' },
        disabled_ring_color: { default: 'transparent' },

        bgcolor: { default: 'twilightStratus' },
        hoverbg: { default: 'twilightStratus' },
        focusbg: { default: 'twilightStratus' },
        activebg: { default: 'winterNoon' },

        selected_bgcolor: { default: 'winterEvening' },
        selected_hoverbg: { default: 'winterDusk' },
        selected_focusbg: { default: 'winterDusk' },
        selected_activebg: { default: 'winterNoon' },

        switch_height: { default: '20px' },
        switch_width: { default: '20px' },
        switch_rounded: { default: '100' },

        switch_ring_width: { default: '0' },
        switch_shadow:  { default: 'sm' },
        switch_display:  { default: 'inline-block' },

        disabled: Boolean,
        error: Boolean,
        sr_only: { default: 'Toggle' },
    },
    computed: {
        translateStyle() {
            return this.selected ? 'cds-translate-x-5' : 'cds-translate-x-0';
        },
        bgStyles() {            
            const bgcolor = this.selected ? this.selected_bgcolor : this.bgcolor;
            const hoverbg = this.selected ? this.selected_hoverbg : this.hoverbg;
            const focusbg = this.selected ? this.selected_focusbg : this.focusbg;
            const activebg = this.selected ? this.selected_activebg : this.activebg;
            return [
                this.getBgColor('', false, bgcolor),
                this.getBgColor('hover', false, hoverbg),
                this.getBgColor('focus', false, focusbg),
                this.getBgColor('active', false, activebg),
            ];
        },
    },
    data() {
        return {
            componentId: this.getId('toggle'),
            formId: this.form_id ?? '',
            autoFocus: this.autofocus,
            ariaDisabled: this.disabled,
            classStyles: [
                ...this.getFontStyles(),
                ...this.getBorderStyles(),
                ...this.getBgStyles(),
                ...this.getMarginStyles(),
                ...this.getPaddingStyles(),
                ...this.getDimensionStyles(),
                ...this.getPositionStyles(),
                ...this.getSpacingStyles(),
                // ...this.getBgStyles(), // don't call here
                getFlexAnimatable('', 'shrink', '0'),
            ],
            switchStyles: [
                this.getWidth('', this.switch_width),
                this.getHeight('', this.switch_height),
                this.getBgColor('', false, this.switch_bgcolor),
                this.getBorderRadius('', this.switch_rounded),
                this.getBorderRingWidth('', this.disabled, this.switch_ring_width),
                this.getDisplay('', this.disabled, this.switch_display),
                this.getBoxShadow('', this.disabled, this.switch_shadow),
            ],
        }
    },
}
export { getFlexAnimatable }
</script>