<template>
    <input
        :id="componentId"
        :form="formId"
        :name="input_name"
        :type="type"
        :required="required"
        :size="input_size"
        :maxlength="maxlength"
        :minlength="minlength"
        :placeholder="placeholder"
        :readonly="readonly"
        :pattern="pattern"
        :autofocus="autofocus"
        :aria-disabled="disabled"
        :aria-readonly="readonly"
        :aria-placeholder="placeholder"
        :disabled="disabled"
        :aria-label="ariaLabel"
        :aria-autocomplete="autocomplete"
        :autocomplete="autocomplete"
        :aria-required="required"
        :class="classStyles"
        :value="input_value"
        class="cds-box-border focus:cds-outline-none form-text-input"
		:style="'padding-left: ' + input_padding_left + ';'"
    />
</template>

<script>
import TextInputBase from './lib/TextInputBase';
import { ref } from 'vue';
export default {
    name: 'primitive-text-input',
    mixins: [TextInputBase],
    setup(props) {
        const error_ring_color = props.error_ring_color ? ref(props.error_ring_color) : ref('firesideDrink');

        const ringColor = props.ring_color ? ref(props.ring_color) : ref('transparent');
        const ring_color = props.error ? ref(error_ring_color) : ref(ringColor);

        const hoverRingColor = props.hover_ring_color ? ref(props.hover_ring_color) : ref('transparent');
        const hover_ring_color = props.error ? ref(error_ring_color) : ref(hoverRingColor);

        // error does not override focus
        const focus_ring_color = props.focus_ring_color ? ref(props.focus_ring_color) : ref('transparent');
        const focus_border_color = props.focus_border_color ? ref(props.focus_border_color) : ref('transparent');
        const focus_visible_ring_color = props.focus_visible_ring_color ? ref(props.focus_visible_ring_color) : ref('winterNoon');

        const activeRingColor = props.active_ring_color ? ref(props.active_ring_color) : ref('transparent');
        const active_ring_color = props.error ? ref(error_ring_color) : ref(activeRingColor);

        const ringWidth = props.ring_width ? ref(props.ring_width) : ref('0');
        const ring_width = props.error ? ref('4px') : ref(ringWidth);

        const hoverRingWidth = props.hover_ring_width ? ref(props.hover_ring_width) : ref('0');
        const hover_ring_width = props.error ? ref('4px') : ref(hoverRingWidth);

        // error does not override focus
        const focus_ring_width = props.focus_ring_width ? ref(props.focus_ring_width) : ref('0');
        const focus_visible_ring_width = props.focus_visible_ring_width ? ref(props.focus_visible_ring_width) : ref('4px');

        const activeRingWidth = props.active_ring_width ? ref(props.active_ring_width) : ref('0');
        const active_ring_width = props.error ? ref('4px') : ref(activeRingWidth);

        const hover_border_color = props.readonly ? ref(props.border_color) : ref(props.hover_border_color);

        return {
            ring_color, hover_ring_color, focus_ring_color, focus_visible_ring_color,
            active_ring_color, active_ring_width, error_ring_color,
            ring_width, hover_ring_width, focus_ring_width, focus_visible_ring_width, 
            hover_border_color, focus_border_color,
        }
    },
	props:
	{
		input_padding_left: {default: '13px'},
	}
}
</script>