<template>
	<select :class="(error ? errorClassStyles : classStyles)" class="cds-box-border focus:cds-outline-none cds-subpixel-antialiased">
		<option v-for="option_object in option_list" :key="option_object">
			{{ option_object?.OptionName ?? option_object }}
		</option>
	</select>
</template>

<script>
import SelectInputBase from './lib/SelectInputBase';
export default {
    name: 'select-text-input',
    mixins: [SelectInputBase],
	props:
	{
		error: {default: false},
		padding_x: {default: '16px'},
		padding_top: {default: '2px'},
		padding_bottom: {default: '4px'},
		height: {default: '32px'},
		option_list: {default: []},
		
		font_weigh: {default: "bold"},
		font_size: {default: 4},
		tracking: {default: "sm"},
		text_align: {default: "center"},
		hover_cursor: {default:"pointer"},
		
		
        text_color: { default: 'winterEvening' },
        ring_color: { default: 'none' },
        border_style: { default: 'none' },
        ring_width: { default: '0' },
        rounded: { default: 'card' },
        bgcolor: { default: 'transparent' },
        shadow: { default: 'none' },
        hoverbg: { default: 'blueIce' },
        hover_text_color: { default: 'winterDusk' },
        hover_ring_color: { default: 'none' },
        hover_border_style: { default: 'none' },
        hover_ring_width: { default: '0' },
        focusbg: { default: 'blueIce' },
        focus_text_color: { default: 'winterDusk' },
        focus_ring_color: { default: '' },
        focus_visible_ring_color: { default: 'winterNoon' },
        focus_border_style: { default: 'solid' },
        focus_ring_width: { default: '' },
        focus_visible_ring_width: { default: '4' },
        activebg: { default: 'retroBlue' },
        active_text_color: { default: 'winterEvening' },
        active_ring_width: { default: '0' },
        active_ring_color: { default: 'none' },
        active_border_style: { default: 'solid' },
        disabledbg: { default: 'transparent' },
        disabled_border_style: { default: 'none' },
        disabled_ring_width: { default: '0' },
        disabled_text_color: { default: 'twilightStratus' },
        disabled_ring_color: { default: 'none' },
    },
}
</script>