<template>
	<div>
		<!-- text above (label) box -->
		<primitive-input-label
			v-if="label_text?.length"
			:id="label_id"
			:label_for="componentId"
			:form="formId"
			:height="label_height"
			:max_width="label_max_width"
			:font_family="label_font_family"
			:font_weight="label_font_weight"
			:font_size="label_font_size"
			:leading="label_leading"
			:tracking="label_tracking"
			:text_color="label_text_color"
			:text_align="label_text_align"
			:margin_bottom="label_margin_bottom"
			:display="label_display"
		>
			{{ label_text }}
		</primitive-input-label>
		<!-- select box -->
		<primitive-div position="relative" padding_y="4px">
			<primitive-select-input v-bind="$props" />
			<!-- arrow for custom box -->
			<icon-xl
				v-bind="iconProps"
				style="transform: translate(0, -50%);"
				class="cds-pointer-events-none"
			/>
		</primitive-div>
		<!-- text below (help) box-->
		<primitive-div
			v-if="error || help_text?.length"
			:font_size="help_font_size"
			:leading="help_leading"
			:tracking="help_tracking"
			:text_color="help_text_color"
			:padding_top="help_padding_top"
		>
			{{ error ? error_text : help_text }}
		</primitive-div>
	</div>
</template>

<script>
import PrimitiveSelectInput from './PrimitiveSelectInput';
import { defineAsyncComponent } from 'vue';
const PrimitiveDiv = defineAsyncComponent(() => import('../../lib/1.0.0/PrimitiveDiv'));
const PrimitiveInputLabel = defineAsyncComponent(() => import('../../inputs/1.0.0/PrimitiveInputLabel'));
const IconXl = defineAsyncComponent(() => import('../../icons/1.0.0/IconXl'));

export default {
	name: 'select-input',
	components: {
		PrimitiveDiv,
		IconXl,
		PrimitiveSelectInput,
		PrimitiveInputLabel,
	},
	mixins: [PrimitiveSelectInput],
	props: {
		short: {default: false},
		error: {default: false},
		label_id: String,
		label_text: {default: ''},
		option_list: {default: []},
		help_text: {default: ''},
		error_text: String,
		help_font_size: {default: '3-25'},
		help_leading: {default: '5'},
		help_tracking: {default: 'tiny'},
		help_text_color: {default: 'winterNight'},
		help_padding_top: {default: '2px'},

		label_height: { default: '24px' },
		label_max_width: { default: '230px' },
		label_font_family: { default: 'sans' },
		label_font_weight: { default: 'normal' },
		label_font_size: { default: '16px' },
		label_leading: { default: '24px' },
		label_tracking: { default: 'sm' },
		label_text_color: { default: 'winterNight' },
		label_text_align: { default: 'left' },
		label_margin_bottom: { default: '0' },
		label_display: { default: 'block' },
		label: { default: ' ' },
		icon_props: { default: {} },
	},
	methods: {
		getIconProps() {
			return {
				glyph: 'chevron-down',
				position: 'absolute',
				top: '1/2',
				right: '4',
			}
		},
	},
	data() {
		return {
			iconProps: this.objectHasProps(this.icon_props) ? Object.assign(this.getIconProps(), this.icon_props) : this.getIconProps(),
		}
	},
 }
</script>