<template>
	<div :class="flexGridStyles">
		<div class="cds-flex">
			<component
				:is="label_full_width ? 'flex-cell' : 'flex-grid-five-sixths'"
				text_align="left">
				<primitive-input-label
					:label_for="componentId"
					:form="formId"
					:height="label_height"
					:max_width="label_max_width"
					:font_family="label_font_family"
					:font_weight="label_font_weight"
					:font_size="label_font_size"
					:leading="label_leading"
					:tracking="label_tracking"
					:text_color="label_text_color"
					:text_align="label_text_align"
					:margin_bottom="label_margin_bottom"
					:display="label_display"
				>
					{{label}}
				</primitive-input-label>
			</component>
			<flex-grid-sixth
				v-if="!label_full_width"
				text_align="right"
				:height="label_height"
			>
				<primitive-div
					v-if="!required" 
					class="corner-hint cds-font-sans cds-text-winterNight cds-text-13px cds-text-right cds-whitespace-nowrap"
					:leading="label_leading"
				>
					{{ optional }}
				</primitive-div>
			</flex-grid-sixth>
		</div>
		<flex-grid-full position="relative">
			<primitive-text-input
				v-bind="$props"
				tabindex="0"
				position="relative"
				@mouseover="captureHover"
				@mouseout="loseHover"
				@keyup.self.tab="captureHover"
				@keydown.self.tab="loseHover"
				@mousedown="captureActive"
				@mouseup="loseActive"
				style="z-index: 0"
			/>
			<div
				v-if="helpIcon && currentBreakpoint != 'sm'"
				class="cds-inset-y-0"
				:class="'cds-pt-' + iconPaddingTop"
				tabindex="0"
				style="display: flex; position: absolute; right: 1rem; top: 50%; transform: translate(0, -50%); align_items: center; width: 14px; height: 1px; z-index: 2;"
				v-tippy="{content: tooltip_text, placement: 'auto', theme: 'standard-dark'}"
			/>
			<primitive-icon
				@mouseover="$emit('helphover', true)" 
				@mouseout="$emit('helphover', false)"
				@keyup.self.tab="$emit('helphover', true)"
				@keydown.self.tab="$emit('helphover', false)"
				v-if="helpIcon && currentBreakpoint != 'sm'" 
				class="cds-cursor-default cds-inset-y-0"
				display="flex"
				position="absolute"
				right="4"
				align_items="center"
				:padding_top="iconPaddingTop"
				:font_size="font_size"
				:text_color="icon_color"
				:hover_text_color="icon_color"
				:focus_text_color="focus_icon_color"
				:focus_visible_text_color="focus_visible_icon_color"
				:active_text_color="icon_color"
				:disabled_text_color="disabled_text_color"
				:glyph="glyph" 
				:disabled="disabled"
				style="z-index: 1"
			/>
		</flex-grid-full>
		<primitive-div
			v-if="help||errorText||link"
			class="cds-flex cds-justify-between"
			width="full"
		>
			<primitive-div
				text_align="left"
				:min_height="label_height"
			>
				<primitive-div
					v-if="!error"
					v-bind="helpTextStyles"
					:text_color="help_text_color"
					class="cds-whitespace-normal"
					style="word-spacing: 0.134em;"
				>
					{{ help }}
				</primitive-div>
				<primitive-div
					v-else
					v-bind="helpTextStyles"
					text_color="firesideDrink"
					class="cds-whitespace-normal word-spacing: 0.134em;"
				>
					{{ errorText }}
				</primitive-div>
			</primitive-div>
			<primitive-div :class="linkContainerStyles" :min_height="label_height">
				<anchor
					margin_top="4px"
					v-if="link && linkRoute"
					:href="linkRoute"
					:class="[underlineLink, linkButtonStyles]"
				>
					{{ link }}
				</anchor>
				<!--If you leave out the linkRoute, the link will instead emit 'linkclick' for the parent to deal with-->
				<div v-else-if="link" :class="linkButtonStyles" @click="$emit('linkclick')">{{ link }}</div>
				<div v-else >&nbsp;</div>
			</primitive-div>
		</primitive-div>
	</div>
</template>

<script>
import { defineAsyncComponent, ref, inject } from 'vue';
import PrimitiveTextInput from './PrimitiveTextInput';
const Anchor = defineAsyncComponent(() => import('../../anchors/1.0.0/Anchor'));
const PrimitiveDiv = defineAsyncComponent(() => import('../../lib/1.0.0/PrimitiveDiv'));
const PrimitiveInputLabel = defineAsyncComponent(() => import('./PrimitiveInputLabel'));
const PrimitiveIcon = defineAsyncComponent(() => import('../../icons/1.0.0/PrimitiveIcon'));
const FlexGridFull = defineAsyncComponent(() => import('../../flex/1.0.0/grid/FlexGridFull'));
const FlexGridSixth = defineAsyncComponent(() => import('../../flex/1.0.0/grid/FlexGridSixth'));
const FlexGridFiveSixths = defineAsyncComponent(() => import('../../flex/1.0.0/grid/FlexGridFiveSixths'));
const TooltipHelpText = defineAsyncComponent(() => import('../../tooltips/1.0.0/TooltipHelpText'));

export default {
	name: 'text-input',
	mixins: [PrimitiveTextInput],
	components: { 
		PrimitiveTextInput, 
		PrimitiveInputLabel,
		FlexGridFull,
		FlexGridSixth,
		FlexGridFiveSixths,
		PrimitiveIcon,
		TooltipHelpText,
		PrimitiveDiv,
		Anchor,
	},
	setup(props) {
		let glyph = props.glyph ?? 'information-circle-sharp';
		if (props.error) {
			glyph = 'alert-circle-sharp';
		}
		const error_icon_color = props.error_ring_color ? ref(props.error_ring_color) : ref('firesideDrink');

		const iconColor = props.text_color ? ref(props.text_color) : ref('transparent');
		const icon_color = props.error ? ref(error_icon_color) : iconColor;

		const hoverIconColor = props.hover_text_color ? ref(props.hover_text_color) : ref('transparent');
		const hover_icon_color = props.error ? ref(error_icon_color) : hoverIconColor;

		// error does not override focus
		const focus_icon_color = props.focus_text_color ? ref(props.focus_text_color) : ref('transparent');
		const focus_visible_icon_color = props.focus_visible_text_color ? focus_icon_color : ref('winterNight');

		const activeIconColor = props.active_text_color ? ref(props.active_text_color) : ref('transparent');
		const active_icon_color = props.error ? ref(error_icon_color) : activeIconColor;

		const hover_border_color = props.readonly ? ref(props.border_color) : ref(props.hover_border_color);

		const height = props.compact ? ref('36px') : ref(props.height);

		const iconTop = props.compact ? ref('-64px') : ref('-100px');
		const iconPaddingTop = props.compact ? ref('22px') : ref('29px');

		const helpTextTop = ref('');

		return {
			glyph, height, iconTop, iconPaddingTop, helpTextTop,
			hover_border_color, icon_color,
			hover_icon_color, focus_icon_color, focus_visible_icon_color, active_icon_color,
		}
	},
	props: {
		width: { default: 'full' },
		padding_top: { default: '0' },
		padding_bottom: { default: '0' },
		padding_right: {default: '0' },
		padding_left: {default: '0' },
		margin_top: { default: '4px' },
		margin_left: { default: '0' },
		margin_right: { default: '4px' },
		margin_bottom: { default: '4px' },

		label_height: { default: '24px' },
		label_max_width: { default: '230px' },
		label_font_family: { default: 'sans' },
		label_font_weight: { default: 'normal' },
		label_font_size: { default: '16px' },
		label_leading: { default: '24px' },
		label_tracking: { default: 'sm' },
		label_text_color: { default: 'winterNight' },
		label_text_align: { default: 'left' },
		label_margin_bottom: { default: '0' },
		label_display: { default: 'block' },
		label: { default: ' ' },
		label_full_width: { default: false },

		help: { default: '' },
		helpIcon: { default: false },
		help_text_color: { default: 'winterNight' },
		error: { default: false },
		tooltip_text: { default: '' },
		errorText: { default: '' },
		tooltip_z_index: { default: '999999' },

		flexgrid_width: { default: '' },
		flexgrid_max_width: { default: '' },
		flexgrid_sm_width: { default: '' },
		flexgrid_sm_max_width: { default: '' },
		flexgrid_position: { default: 'relative' },

		link: String,
		linkRoute: String,
		optional: { default: 'optional' },

		compact: Boolean,
		face: String,
		smd_face: {default: "none"},

	},
	emits: [
		'linkclick',
		'helphover',
	],
	computed: {
		underlineLink() {
			return this.active || this.hovering ? 'cds-underline' : '';
		},
		
	},
	data() {
		return {
			currentBreakpoint: inject('currentBreakpoint'),
			helpTextLeft: '',
			helpTextMr: '',
			inputId: this.getNewId('input'),
			helpTextStyles: {
				font_family: 'sans',
				font_size: '3-25',
				text_align: 'left',
				tracking: 'tiny',
			},
			flexGridStyles: [
				this.getWidth('', this.flexgrid_width),
				this.getWidth('sm', this.flexgrid_sm_width),
				this.getMaxWidth('', this.flexgrid_max_width),
				this.getMaxWidth('sm', this.flexgrid_sm_max_width),
				this.getPosition('', this.flexgrid_position),
				this.getDisplay('', false, 'flex'),
				this.getFlexDirection('', 'col'),
				this.getPaddingRight('', this.padding_right),
			],
			linkContainerStyles: [
				this.getDisplay('', false, 'inline-block'),
				this.getBorderRingColor('focus', this.focus_ring_color),
				this.getBorderRingColor('focus-visible', this.focus_visible_ring_color),
				this.getBorderRingWidth('focus', this.focus_ring_width),
				this.getBorderRingWidth('focus-visible', this.focus_visible_ring_width),

				this.getBorderColor('focus', this.focus_border_color),
				this.getBorderColor('focus-visible', this.focus_visible_border_color),
				this.getBorderWidth('focus', this.focus_border_width),
				this.getBorderWidth('focus-visible', this.focus_visible_border_width),

				this.getFontSize('', '13px'),
				this.getFontWeight('', 'bold'),
			],
			linkButtonStyles: [
				'cds-whitespace-nowrap',
				'cds-cursor-pointer',
				this.getFontFamily('', this.font_family, 'sans'),
				this.getTextColor('', 'winterEvening'),
				this.getFontSize('', '13px'),
				this.getFontWeight('', 'bold'),
				this.getLeading('', '20px'),
				this.getTracking('', 'tiny'),
				this.getTextDecoration('hover', 'underline'),
				this.getTextDecoration('focus-visible', 'underline'),
				this.getDisplay('', false, 'inline-block'),
			],
			//TODO: cornerHintStyles (and configurable)
			//TODO: make linkButtonStyles configurable (link_font_family, etc)
		}
	},
}
</script>

